{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Householder' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p>Improvements to the process that was developed and released. Brings householder in line with design changes made in the time since release.</p>

    {{ govukInsetText({
      html: '<p><a href="https://miro.com/app/board/uXjVPAIID7s=/?share_link_id=748467977892">Design Miro board</a> with notes from review of live and suggestions to changes.</p>'
    }) }}

    {# <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>refactor save and return so it isn't reliant on browser storage, allowing the user to move between devices</li>
      <li>build the missing multiple appeals dashboard</li>
      <li>add a route in from before you start to return to your appeals</li>
      <li>
        change email confirmation journey to also use a security code rather than a link in the email
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>change resend function</li>
          <li>remove confirmed page</li>
        </ul>
      </li>
      <li>remove save button on question pages and add link to return to task list</li>
      <li>
        move save button on task list to top (also change to link)
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>would be nice to refactor the HAS and Full task lists too…</li>
        </ul>
      </li>
      <li>
        copy and UI changes throughout
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
          <li>error message review</li>
        </ul>
      </li>
    </ul> #}

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/task-list',
      isStartButton: true
    }) }}

    {# <ul class="govuk-list govuk-list--bullet">
      <li><a href="v{{version}}/email--saved">Email: Your appeal has been saved</a></li>
      <li><a href="v{{version}}/email--code">Email: Your security code</a></li>
      <li><a href="v{{version}}/appeal-unavailable">Appeal unavailable</a></li>
      <li><a href="v{{version}}/no-appeals">No appeals</a></li>
      <li><a href="v{{version}}/your-appeals">Your appeals</a></li>
    </ul> #}

  </div>
</div>
{% endblock %}
