{% extends '_layouts/layout-main.html' %}

{% block pageTitle %}
  Interested party full planning notification - Appeal a planning decision - GOV.UK
{% endblock %}

{% if data['appealCode'] != "true" %}
  {% set appealCode = "1345264" %}
{% endif %}

{% set title = "Notice of a planning appeal" %}

{% set applicationRef = "21/04125/FUL" %}

{% block content %}
<!-- faux email header -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
  <div class="govuk-grid-column-full">

    {% include "_includes/appeal-content/lpa-appeal-notice-meta.html" %}
    <section>
      <!-- <p class="govuk-body">
        <img src="{{ asset_path }}images/pi-logo.png" width="150"/>
      </p> -->
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </section>

  </div>
  <div class="govuk-grid-column-two-thirds">

    <section class="govuk-!-margin-bottom-9">
      <!-- <p class="govuk-body">
        Dear householder,
      </p> -->

      <p class="govuk-body">
        An appeal has been made to The Secretary of State. It will be dealt with by The Planning Inspectorate.
      </p>

      <!-- <p class="govuk-body">
        As you may have an interest in this planning decision, you can have your say and add a comment to the appeal (this is also known as a ‘written representation’).
      </p> -->

      <!-- <h2 class="govuk-heading-m">
        Who we are
      </h2>

      <p class="govuk-body">
        The Planning Inspectorate is an independent organisation who review all the evidence and make the final decision.
      </p> -->

      <h2 class="govuk-heading-m">
        What you can do
      </h2>

      <p class="govuk-body">
        You can have your say and add a comment to the appeal (this is also known as a ‘written representation’).
      </p>

      <p class="govuk-body">
        You must submit your comment by 11:59pm on {{ 7 | daysInFuture }}.
      </p>
<!--
      <p class="govuk-body">
        If you made a comment on the application, they have been sent to the planning inspector. You do not need to send them again.
      </p> -->

      <h2 class="govuk-heading-m">
        How to comment on the appeal
      </h2>

      <p class="govuk-body">
        You can use the Planning Inspectorate’s website to submit a comment on this appeal. If you commented on the original application, it has already been sent to the planning inspector.
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>Go to <span class="govuk-!-font-weight-bold" style="text-decoration: underline;">
          https://comment-on-planning-appeals.service.gov.uk/
        </span></li>
        <li>Search for application number <span class="govuk-!-font-weight-bold">{{ appealCode }}</span>.</li>
        <li>View more details and add your comment.</li>
      </ol>

      <!-- <p class="govuk-body">
        You must submit your comment by 11:59pm on {{ '14' | daysInFuture }}.
      </p> -->

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p class="govuk-body">
        The Planning Inspectorate will review all the information from the application, comments on the appeal and may do a site visit. They will then make their decision. We will publish the decision on our website.
      </p>

      <p class="govuk-body">
        Bristol City Council<br>
      </p>

    </section>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="window.print()">
      Print this notice
    </button>

  </div>
</div>

{% endblock %}
