{% extends '_layouts/layout-main.html' %}

{% set title = "Appeal "+data['appealCode'] %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back to planning appeals",
    href: "/manage/appeals/v3/?action="
  }) }}
{% endblock %}

{% block content %}

<!-- SECTION -->
<!-- title and decision if there is one -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['action'] == 'notified' %}

      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Interested parties notified
        </h3>
        <p class="govuk-body">
          {% if data['email'] and data['post'] %}
            Notice for this appeal has been sent to 6 recipients.
          {% else %}
            Notice for this appeal has been sent to 3 recipients.
          {% endif %}
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}

    {% endif %}

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>

  <div class="govuk-grid-column-full">
    {% include "_includes/appeal-content/lpa-full-appeal-meta.html" %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Your action is required
    </h2>

    <p class="govuk-body">
      You have until 11:59pm on {{ 3 | daysInFuture }}, to complete the following actions:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/manage/notify/v2/notify-interested-parties?action=">Notify interested parties</a>
      </li>
      <li>
        <a href="/manage/questionnaire/v11/task-list&action=">Submit questionnaire</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>

  <div class="govuk-grid-column-full">
    {% include "_includes/appeal-content/full-appeal-data.html" %}
  </div>

</div>

{% endblock %}
