<h2 class="govuk-heading-l">
  Your appeal
</h2>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Was the application made in your name?',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: 'Yes'
      }
    },
    {
      key: {
        html: 'Contact details'
      },
      value: {
        html: 'Mariella Bidbod<br>mariellabidbod@email.com'
      }
    },
    {
      key: {
        html: 'Phone number'
      },
      value: {
        html: '07733555212'
      }
    },
    {
      key: {
        html: 'What is the address of the appeal site?'
      },
      value: {
        html: 'Haggis Farm Cottage<br>Cambridge Rd<br>Barton<br>Cambridge<br>CB23 7AT'
      }
    },
    {
      key: {
        html: 'What is the area of the appeal site?'
      },
      value: {
        html: '22m²'
      }
    },
    {
      key: {
        html: 'Is the appeal site in a green belt?'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'Do you own all of the land involved in the appeal?'
      },
      value: {
        html: 'Yes'
      }
    },
    
    {
      key: {
        html: 'Is the appeal site part of an agricultural holding?'	
      },
      value: {
        html: 'No'
      }
    },

    {
      key: {
        html: 'Will an inspector need to access your land or property?'
      },
      value: {
        html: 'No'
      }
    },
    
    {
      key: {
        html: 'Are there any health and safety issues on the appeal site?'
      },
      value: {
        html: 'Yes<br>Cattle'
      }
    },
    {
      key: {
        html: 'What is your application number?'
      },
      value: {
        html: '23/04125/FUL'
      }
    },
    {
      key: {
        html: 'What date did you submit your application?'
      },
      value: {
        html: 45 | daysAgo
      }
    },
    {
      key: {
        html: 'Was your application for a major or minor development?'
      },
      value: {
        html: 'Minor'
      }
    },
    {
      key: {
        html: 'Was your application about any of the following?'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'Enter the description of development that you submitted in your application'
      },
      value: {
        html: 'New facia to 3rd floor dorma and change of roof material'
      }
    },
    {
      key: {
        html: 'Did the local planning authority change the description of development?'
      },
      value: {
        html: 'No'
      }
    },
    
    {
      key: {
        html: 'Are there other appeals linked to your development?'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'How would you prefer us to decide your appeal?'
      },
      value: {
        html: 'Written representations'
      }
    }

  ]
}) }}

<h2 class="govuk-heading-l">
  Your documents
</h2>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Application form',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal-application.pdf</a>'
      }
    },
    {
      key: {
        html: 'Agreement to change the description of development',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">agreement-lpa.pdf</a>'
      }
    },

    {
      key: {
        html: 'Decision letter from the local planning authority',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">decision-lpa.pdf</a>'
      }
    },

    {
      key: {
        html: 'What is the status of your planning obligation?'
      },
      value: {
        html: 'Finalised'
      }
    },

    {
      key: {
        html: 'Planning obligation',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">planning-obligation.pdf</a>'
      }
    },

    {
      key: {
        html: 'Did you submit a separate ownership certificate and agricultural land declaration with your application?'
      },
      value: {
        html: 'No'
      }
    },

    {
      key: {
        html: 'Do you need to apply for an award of appeal costs?'
      },
      value: {
        html: 'No'
      }
    },

    {
      key: {
        html: 'Did you submit a design and access statement with your application?'
      },
      value: {
        html: 'No'
      }
    },
    

    {
      key: {
        html: 'Plans, drawings and supporting documents'
      },
      value: {
        html: '<a href="#" class="govuk-link">Site plan outline.pdf</a><br>
               <a href="#" class="govuk-link">Detailed plan of the site.pdf</a><br>
               <a href="#" class="govuk-link">Appeal outline diagram.pdf</a><br>'
      }
    },
   
   
    
   
    {
      key: {
        html: 'Do you have any new plans or drawings that support your appeal?	'
      },
      value: {
        html: 'No'
      }
    },

    {
      key: {
        html: 'Do you have any other new documents that support your appeal?'
      },
      value: {
        html: 'Yes'
      }
    },
   
    {
      key: {
        html: 'Other new supporting documents'
      },
      value: {
        html: '<a href="#" class="govuk-link">Local petition for development.pdf</a>'
      }
    }
    

  ]
}) }}
