<h3 class="govuk-heading-l">
  Your appeal
</h3>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Agent name',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: 'Jani Mikkonen<br>Mikkonenonian Co. Ltd'
      }
    },
    {
      key: {
        html: 'Named on the application'
      },
      value: {
        html: 'Mariella Bidbod'
      }
    },
    {
      key: {
        html: 'Application reference'
      },
      value: {
        html: '23/04125/FUL'
      }
    },
    {
      key: {
        html: 'Site address'
      },
      value: {
        html: 'Haggis Farm Cottage<br>Cambridge Rd<br>Barton<br>Cambridge<br>CB23 7AT'
      }
    },
    {
      key: {
        html: 'Site fully owned'
      },
      value: {
        html: 'Yes'
      }
    },
    {
      key: {
        html: 'Agricultural holding'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'Visibility'
      },
      value: {
        html: 'No<br>On private land'
      }
    },
    {
      key: {
        html: 'Site health and safety issues'
      },
      value: {
        html: 'Yes<br>Cattle'
      }
    },
    {
      key: {
        html: 'Preferred procedure'
      },
      value: {
        html: 'Hearing'
      }
    }

  ]
}) }}

<h3 class="govuk-heading-l">
  Your documents
</h3>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Application form',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal-application.pdf</a>'
      }
    },
    {
      key: {
        html: 'New description of developement',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: 'Application for approval of details reserved by condition 17(renewable energy) of permission 20/02137/FB Proposed residential development (Use Class C3). Two and three storey new buildings (total of 34 units) with access, parking, landscaping and open space.'
      }
    },
    {
      key: {
        html: 'Plans, drawings and supporting documents'
      },
      value: {
        html: '<a href="#" class="govuk-link">Site plan outline.pdf</a><br>
               <a href="#" class="govuk-link">Detailed plan of the site.pdf</a><br>
               <a href="#" class="govuk-link">Appeal outline diagram.pdf</a><br>'
      }
    },
    {
      key: {
        html: 'Separate ownership certificate in application'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'Design and access statement in application'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal DA.pdf</a><br>'
      }
    },
    {
      key: {
        html: 'Decision letter'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal decision 2023.pdf</a><br>'
      }
    },
    {
      key: {
        html: 'Appeal statement'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal statement 2023.pdf</a><br>'
      }
    },
    {
      key: {
        html: 'New plans or drawings'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'Planning obligation'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'New supporting documents'
      },
      value: {
        html: '<a href="#" class="govuk-link">Local petition for development.pdf</a>'
      }
    },
    {
      key: {
        html: 'Draft statement of common ground'
      },
      value: {
        html: '<a href="#" class="govuk-link">Statement of common ground 11.08.2024.doc</a>'
      }
    }

  ]
}) }}
