{% set pageref = "" %}
{% extends location+"_layout.html" %}

{% set serviceName = "Manage your planning inspectorate appeals" %}

{% set title = "Manage account users" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% if data['appeals'] == "yes" %}
    {{ govukBackLink({
      text: "Back to your planning appeals",
      href: "appeals"
    }) }}
  {% else %}
    {{ govukBackLink({
      text: "Back to your planning appeals",
      href: "no-appeals?banner="
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-grid-column-two-thirds-from-desktop">

      {# {% if data['users'] > 0 %}
        <div class="govuk-inset-text">
          <p class="govuk-l">
            {% if data['users'] == 1 %}
              You have added {{ data['users'] }} user </a>
            {% else %}
              You have added {{ data['users'] }} users </a>
            {% endif %}
          </p>
        </div>
      {% endif %} #}

      {% set added %}
        <mark role="alert">
          <h3 class="govuk-notification-banner__heading">
            {{ data['email']+'@leeds.gov.uk' or 'example' }} has been added to the account
          </h3>
          <p>They will receive an email with a link to the service.</p>
        </mark>
      {% endset %}

      {% set removed %}
        <mark role="alert">
          <h3 class="govuk-notification-banner__heading">
            {{ data['email'] or 'example@leeds.gov.uk' }} has been removed
          </h3>
        </mark>
      {% endset %}

      {% if data['action'] == "added" %}
        {{ govukNotificationBanner({
          html: added,
          type: 'success'
        }) }}
      {% endif %}

      {% if data['action'] == "removed" %}
        {{ govukNotificationBanner({
          html: removed,
          type: 'success'
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
{#
      {% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

      {{ mojPageHeaderActions({
        heading: {
          text: title,
          classes: 'govuk-heading-l govuk-!-margin-bottom-0'
        },
        items: [
          {
            text: 'Add a user',
            href: 'give-access'
          }
        ],
        classes: 'govuk-!-margin-bottom-6'
      }) }} #}

      <p class="govuk-body">
        All users can add information to appeals and will receive email notifications about new appeals.
      </p>

      <p class="govuk-body">
        <a href="give-access">
          Add a user
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-half">

      <dl class="govuk-summary-list">
        {% for user in data['users'] %}
          {% if user != null %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ user.email }}
              </dt>
              <dd class="govuk-summary-list__actions">
                {% if loop.last != true %}
                <a href="confirm-remove?id={{ loop.index0 }}&email={{ user.email }}">
                  Remove<span class="govuk-visually-hidden"> {{ user.email }}</span>
                </a>
                {% endif %}
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>

    </div>
  </div>
{% endblock %}
