{% set pageref = "" %}
{% extends location+"_layout.html" %}

{% set serviceName = "Manage your planning inspectorate appeals" %}

{% set title = "Leeds planning appeals" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {# {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }} #}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {# <p class="govuk-body">
      <a href="access?action=&shared=1" class="govuk-link">
        People who can manage these appeals
      </a>
    </p> #}

    <p class="govuk-body-m">
      You can <a href="access?action=" class="govuk-link">add and remove account users</a>.
    </p>

  </div>

  <div class="govuk-grid-column-full">

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application number</th>
          {# <th scope="col" class="govuk-table__header">Type of application</th> #}
          {% if data['appealref'] == true %}
            <th scope="col" class="govuk-table__header">Appeal reference</th>
          {% endif %}
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1287330
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120024/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 1 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1287330
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120024/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 2 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            {# <a href="/lpa-questionnaire/v10/task-list?non-determination=true" class="govuk-link govuk-link--no-visited-state">
              Complete questionnaire
            </a><br> #}
            <a href="/lpa-statement/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Submit statement
            </a><br>
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>

          </td>
        </tr>


        {% if data['quest-status'] == "finished" %}
        {% else %}
          <tr class="govuk-table__row">

            <th scope="row" class="govuk-table__cell">
              APP/Q9999/D/21/1345264
            </th>

            {% if data['appealref'] == true %}
              <td class="govuk-table__cell">
                21/05058/FUL
              </td>
            {% endif %}

            <td class="govuk-table__cell">
              {{ 6 | daysInFuture }}
            </td>

            <td class="govuk-table__cell">
              <a href="/lpa-questionnaire/v10/task-list?non-determination=false" class="govuk-link govuk-link--no-visited-state">
                Complete questionnaire
              </a>
            </td>
          </tr>
        {% endif %}

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1287330
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120024/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 7 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-statement/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Submit statement
            </a><br>
            <a href="/lpa-questionnaire/v10/task-list?non-determination=true" class="govuk-link govuk-link--no-visited-state">
              Complete questionnaire
            </a><br>
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1247241
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0119982/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 7 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-questionnaire/v10/task-list?non-determination=true" class="govuk-link govuk-link--no-visited-state">
              Complete questionnaire
            </a><br>
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1279920
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120182/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 8 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-statement/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Submit statement
            </a><br>
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1287251
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120021/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 12 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-statement/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Submit statement
            </a><br>
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/12869204
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120011/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 19 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1287229
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120008/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 20 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-statement/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Submit statement
            </a><br>
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1286996
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120028/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 20 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1288156
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120030/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 21 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            APP/Q9999/D/21/1286912
          </th>

          {% if data['appealref'] == true %}
            <td class="govuk-table__cell">
              22/0120032/FUL
            </td>
          {% endif %}

          <td class="govuk-table__cell">
            {{ 22 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <a href="/lpa-statement/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Submit statement
            </a><br>
            <a href="/lpa-final-comments/v1/enter-code" class="govuk-link govuk-link--no-visited-state">
              Final comments
            </a>
          </td>
        </tr>



        {# {% for appeals in data['appeals'] %}
          {% if appeals != null %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ appeals.email }}
              </dt>
              <dd class="govuk-summary-list__actions">
                {% if loop.last != true %}
                <a href="confirm-remove?id={{ loop.index0 }}&email={{ appeals.email }}">
                  Remove<span class="govuk-visually-hidden"> {{ appeals.email }}</span>
                </a>
                {% endif %}
              </dd>
            </div>

            <tr class="govuk-table__row">

              <th scope="row" class="govuk-table__cell">
                {{ appeals.applicationref }}
              </th>

              <td class="govuk-table__cell">
                {{ appeals.appealsref }}
              </td>

              <td class="govuk-table__cell">
                {{ appeals.deadline }}
              </td>
              <td class="govuk-table__cell">

                {% if appeals.questionnaire == false %}
                  <a href="/lpa-questionnaire/v10/task-list?non-determination=true" class="govuk-link govuk-link--no-visited-state">
                    Complete questionnaire
                  </a><br>
                {% endif %}

                {% if appeals.statement == false %}
                  <a href="/lpa-questionnaire/v10/task-list?non-determination=true" class="govuk-link govuk-link--no-visited-state">
                    Submit statement
                  </a><br>
                {% endif %}

                {% if appeals.statement == false %}
                  <a href="/lpa-questionnaire/v10/task-list?non-determination=true" class="govuk-link govuk-link--no-visited-state">
                    Submit final comments
                  </a><br>
                {% endif %}

              </td>
            </tr>



          {% endif %}
        {% endfor %} #}

      </tbody>
    </table>
  </div>

</div>

{% endblock %}

{% set prototypeLinks = [{
  href: 'no-appeals?appeals=',
  text: 'Empty the table'}]
%}
