{% extends "layout-email.html" %}

{% block pageTitle %}
  You’re invite to manage appeals
{% endblock %}

{% block content %}
<!-- faux email header -->
<section>
    <p>
    <strong>Subject:</strong> You’re invite to manage appeals
  </p>
  <p>
    <strong>To:</strong> {{ data['email']+'@leeds.gov.uk' or 'added.user@leeds.gov.uk'}}<br>
    <strong>From:</strong> info@planninginspectorate.gov.uk
  </p>
  <p>
    <img src="{{ asset_path }}images/pi-logo.png" width="150" alt="Planning Inspectorate logo, Royal coat of arms of the United Kingdom in black and white. A lion wearing a crown and a unicorn dance either side of a crest with a crown on it."/>
  </p>
  <hr>
</section>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      You’ve been added to the Leeds City Council account to manage planning appeals.
    </p>

    <p class="govuk-body">
      You can use the Planning Inspectorate’s ‘Manage your appeals’ service to:
    </p>

    <ol class="govuk-list govuk-list--number">
      <li>
        add information to appeal questionnaires
      </li>
      <li>
        add and remove users
      </li>

      {# <li>
        invite someone else to complete an appeal questionnaire
      </li> #}
      {# <li>
        invite someone else to view and edit an appeal questionnaire
      </li> #}

    </ol>

    <p class="govuk-body">
      To view your account, follow the link to receive a secure access code:<br>
      <a href="enter-code?start=added" class="govuk-link">https://manage-appeals.planninginspectorate.gov.uk/enter-code</a>
    </p>

    <p class="govuk-body">
      Thank you,
    </p>

    <p class="govuk-body">
      The Planning Inspectorate
    </p>

  </div>
</div>
{% endblock %}
