{% extends '_layouts/layout-main.html' %}
{% set prototypeLinks = [{href: 'errors/certain-types', text: 'Advertisement and DN not included yet'}] %}

{% set title = 'What do you want to appeal?' %}

{% block questions %}

  {{ govukRadios({
    idPrefix: 'appeal-type',
    name: 'appeal-type',
    classes: '',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'A planning application',
        value: 'planning application',
        checked: checked('appeal-type','planning application')
      },
      {
        html: 'An enforcement notice',
        value: 'enforcement notice',
        checked: checked('appeal-type','enforcement notice')
      },
      {
        html: 'A lawful development certificate (LDC)',
        value: 'lawful development certificate',
        checked: checked('appeal-type','lawful development certificate')
      },
      {
        html: 'An advertisement application',
        value: 'advertisement application',
        checked: checked('appeal-type','advertisement application')
      },
      {
        html: 'A discontinuance notice (DN)',
        value: 'discontinueance notice',
        checked: checked('appeal-type','discontinueance notice')
      }
    ]
  }) }}

{% endblock %}
