{% extends '_layouts/layout-main.html' %}

{% set title = 'Does your appeal involve a listed building, including already approved listed building consent (LBC)?' %}

{% block questions %}

  {{ govukRadios({
    idPrefix: 'lbcStatus',
    name: 'lbcStatus',
    classes: '',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      text: "This includes changing your last name or spelling your name differently."
    },
    items: [
      {
        html: 'Yes, a listed building is involved as part of this appeal',
        value: 'Yes',
        checked: checked('lbcStatus','Yes')
      },
      {
        html: 'No, a listed building is not involved as part of this appeal',
        value: 'No',
        checked: checked('lbcStatus','No')
      }
    ]
  }) }}

{% endblock %}
