{% extends '_layouts/layout-main.html' %}

{% set title = 'Is the description of development on your application form still correct?' %}

{% block questions %}
  {% set newDesc %}
    {{ govukTextarea({
      name: 'application-desc-new',
      id: 'application-desc-new',
      value: data['application-desc-new'],
      label: {
        html: 'New description'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'application-desc-correct',
    name: 'application-desc-correct',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes, the description of development is still correct',
        value: 'Yes',
        checked: checked('application-desc-correct','Yes')
      },
      {
        html: 'No, I agreed a new one with the local planning department',
        value: 'No',
        checked: checked('application-desc-correct','No'),
        conditional: {
          html: newDesc
        }
      }
    ]
  }) }}
{% endblock %}