<div class="govuk-grid-column-one-third">
  <aside class="pins-return-sidebar">
    <form action="/save-return-check" method="post" novalidate>
      <fieldset class="govuk-fieldset" aria-describedby="return-input-label">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Return to a saved appeal
          </h3>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="return-input" id="return-input-label">
            Enter the reference code
          </label>
          <input class="govuk-input" id="return-input" name="return-input" type="text">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </fieldset>
    </form>
  </aside>
</div>