
<ul class="govuk-list govuk-list--bullet">
  <li>
    comments relating to children
  </li>
  <li>
    personal data revealing racial or ethnic origin
  </li>
  <li>
    personal data revealing political opinions
  </li>
  <li>
    personal data revealing religious or philosophical beliefs
  </li>
  <li>
    personal data revealing trade union membership
  </li>
  <li>
    genetic data
  </li>
  <li>
    biometric data (where used for identification purposes)
  </li>
  <li>
    data concerning health
  </li>
  <li>
    data concerning a person’s sex life
  </li>
  <li>
    data concerning a person’s sexual orientation
  </li>
  <li>
    criminal convictions and offences
  </li>
</ul>
