{% extends '_layouts/layout-pins.html' %}

{% set nav = true %}
{% set title = 'Planning appeals' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>


    <section class="govuk-!-margin-bottom-6">

      {% set version = "3" %}
      <h2 class="govuk-heading-m">
        Version {{version}}
        {{ govukTag({
          classes: 'govuk-tag--yellow govuk-!-margin-left-2',
          text: 'Work in progress'
        }) }}
      </h2>

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>addition of notify interested parties journey</li>
        <li>some content updates</li>
        <li>adding metadata</li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    </section>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--green govuk-!-margin-left-2',
        text: 'Researched'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">
      <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1074954255/Uganda+Usability+Testing+-+Discussion+guide+draft" class="govuk-link">
        Discussion guide for research
      </a><br>
      <a href="https://miro.com/app/board/uXjVP-SH1uo=/" class="govuk-link">
        Miro board for UR feedback
      </a>
    </p>

    <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>moved the work to the new prototype (<a href="https://pins-appeals.herokuapp.com/lpa/v1/no-appeals" class="govuk-link govuk-link--no-visited-state" title="Link to version 1">see version 1</a>)</li>
      <li>changed to one link per task</li>
      <li>appeal statement link not shown till questionnaire is done</li>
      <li>completed questionnaire drops to the foot of the list with statement action</li>
      <li>completed final comments appeal in the 2nd row disappears</li>
      <li>completed statetment appeal in the 5th row disappears</li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/',
      classes: "govuk-button--secondary",
      isStartButton: false
    }) }}

    {% set lpaForm %}
      <form method="get" action="v{{version}}/">

        {{ govukInput({
          id: 'dashboard-lpa',
          name: 'dashboard-lpa',
          value: data['dashboard-lpa'],
          label: {
            html: 'LPA&rsquo;s name'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'lpa-email',
          name: 'lpa-email',
          value: data['lpa-email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'user-account',
          name: 'users[0][email]',
          value: data['users']['0']['email'],
          label: {
            html: 'Admin account email'
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: 'Add to URL',
          classes: 'govuk-!-margin-bottom-0'
        }) }}

      </form>
    {% endset -%}

    {{ govukDetails({
      summaryHtml: 'Change LPA details',
      html: lpaForm
    }) }}

  </div>
</div>
{% endblock %}
