{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Local appeals' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Moved version 2 of this here (<a href="https://pins-appeals.herokuapp.com/lpa/v1/no-appeals" class="govuk-link govuk-link--no-visited-state" title="Link to version 1">see version 1</a>)</li>
      <li>UI update</li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/',
      isStartButton: true
    }) }}

  </div>
</div>
{% endblock %}
