{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'S78 questionnaire' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "15" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--green govuk-!-margin-left-2',
        text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        S78 expedited variant
      </li>
      <li>
        additional section, ‘Original evidence’
      </li>
       <li>
        updated logic for the 'View prototype' button to clear your cached answers if you are coming from the index page (which is this page)
      </li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/task-list?clear=true',
      isStartButton: true
    }) }}

    {% set v14HTML %}

      {% set version = "14" %}

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          content updates following user research
        </li>
        <li>
          simplification of Planning officer’s report section title
        </li>
        <li>
          removed environmental impact assessment site notice and responses questions
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list?clear=true',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v13HTML %}

      {% set version = "13" %}

      <p class="govuk-body">
        Researched October 2023<br>
        <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1281359873">
          View the research outputs on Confluence
        </a>
      </p>

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          changes to listed building questions to ask for Historic England list entry numbers, returning records from Historic England to check and add
        </li>
        <li>
          changes to nearby appeals to make the data more useful
        </li>
        <li>
          additional ‘Is this appeal type approopriate’ question to align this with HAS
        </li>
        <li>
          removed question about site visibility
        </li>
        <li>
          added question about neighbour access
        </li>
        <li>
          content updates
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/access/email-appeal-started?clear=true',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v12HTML %}

      {% set version = "12" %}

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          changes to listed building questions to ask for Historic England list entry numbers
        </li>
        <li>
          updated ‘ancient’ monument to ‘scheduled’ monument
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list?clear=true',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v11HTML %}

      {% set version = "11" %}

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>minor content updates</li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list?clear=true',
        isStartButton: true
      }) }}

      <p class="govuk-!-margin-bottom-2">Jump to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="v{{version}}/task-list?non-determination=false">task list (regular)</a></li>
        <li><a href="v{{version}}/task-list?non-determination=true">task list (non-determination)</a></li>
        <li><a href="v{{version}}/confirmation">confirmation</a></li>
      </ul>
    {% endset -%}

    {% set v10HTML %}
      {% set version = "10" %}

      <p class="govuk-body">
        Researched October 2024<br>
        <a href="https://miro.com/app/board/uXjVPJrQJJo=/">
          View the research outputs on Miro
        </a>
      </p>

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Updated work done by previous team to bring layout and design direction inline with latest work.</li>
        <li>Merged the task list and check your answers so that users can get an overview of all questions and jump between them if they can&rsquo;t answer everything at once.</li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list?clear=true',
        isStartButton: true
      }) }}

      <p class="govuk-!-margin-bottom-2">Jump to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="v{{version}}/task-list?non-determination=false">task list (regular)</a></li>
        <li><a href="v{{version}}/task-list?non-determination=true">task list (non-determination)</a></li>
        <li><a href="v{{version}}/confirmation">confirmation</a></li>
      </ul>
    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [
        {
          heading: {
            html: 'Version 14 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v14HTML
          }
        },
        {
          heading: {
            html: 'Version 13 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
          },
          content: {
            html: v13HTML
          }
        },
        {
          heading: {
            html: 'Version 12 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v12HTML
          }
        },
        {
          heading: {
            html: 'Version 11 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v11HTML
          }
        },
        {
          heading: {
            html: 'Version 10 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
          },
          content: {
            html: v10HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
