{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Please complete | Appeal a planning decision
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">Components</h1>

<ul class="govuk-list">
  <li>
    <a href="/components/select-council" title="">Accessible autocomplete</a> (select a council)
  </li>
  <li>
    <a href="/components/search-council" title="">search for a council</a>
  </li>
    <a href="/components/loading-page" title="">Loading page</a>
  </li>
</ul>

<h2 class="govuk-heading-s">File upload</h2>
<ul class="govuk-list">
  <li>
    <a href="/components/file-upload" title="">file upload</a> (MOJ multiple file upload)
  </li>
  <li>
    <a href="/components/file-upload/error" title="">error message - invalid file</a>
  </li> 
  <li>
    <a href="/components/file-upload/error-in-progress" title="">error message - upload in progress</a>
  </li> 

</ul>
{% endblock %}



