<!--Custom styling-->
<style>
    .govuk-details__summary::before {
        clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
        background-color: black;
        width: 3px;
        height: 3px;
    }

    .govuk-details[open]>.govuk-details__summary::before {
        clip-path: polygon(0% 71.88%, 49.5% 22.63%, 98.5% 71.88%, 91.63% 78.71%, 50% 36.88%, 7.37% 79.29%);
        width: 3px;
        height: 3px;
    }
</style>

<!--Filter HTML-->

<details class="govuk-details govuk-!-margin-top-3" id="filter-panel">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Filter appeals
        </span>
    </summary>
    <div style="background-color:#F3F2F1; padding:20px;">
        <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary">
                <h3 class="govuk-heading-s">
                    Appeal type
                    </span>
            </summary>
            <div style="padding-left:30px;">
                <form class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-grid-row">
                            <div class="">
                                <fieldset class="govuk-fieldset" aria-describedby="type-of-application-hint">
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="type-3" name="type"
                                                type="checkbox"
                                                value="Approval of reserved matters following outline approval">
                                            <label class="govuk-label govuk-checkboxes__label" for="type-3">
                                                Planning
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="type-4" name="type"
                                                type="checkbox"
                                                value="Planning permission and listed building consent (LBC)">
                                            <label class="govuk-label govuk-checkboxes__label" for="type-4">
                                                Householder
                                            </label>

                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="type-2" name="type"
                                                type="checkbox"
                                                value="Outline planning permission with some matters reserved">
                                            <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                Enforcement
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="type-2" name="type"
                                                type="checkbox"
                                                value="Outline planning permission with some matters reserved">
                                            <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                                Enforcement listed building
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="type-1" name="type"
                                                type="checkbox" value="Planning permission">
                                            <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                Adevertisement
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="type-1" name="type"
                                                type="checkbox" value="Planning permission">
                                            <label class="govuk-label govuk-checkboxes__label" for="type-1">
                                                Commercial advertisement (CAS)
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </details>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-padding-0 govuk-!-margin-bottom-0"
            id="filter-panel">
            <summary class="govuk-details__summary">
                <h3 class="govuk-heading-s">Procedure type</h3>
            </summary>
            <div style="padding-left:30px;">
                <form class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-grid-row">
                            <div class="">
                                <fieldset class="govuk-fieldset" aria-describedby="stage-hint">
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="stage-accepted" name="stage"
                                                type="checkbox" value="Accepted">
                                            <label class="govuk-label govuk-checkboxes__label" for="stage-accepted">
                                                Hearing
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="stage-consultation" name="stage"
                                                type="checkbox" value="Consultation">
                                            <label class="govuk-label govuk-checkboxes__label" for="stage-consultation">
                                                Inquiry
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="stage-procedure" name="stage"
                                                type="checkbox" value="Procedure choice">
                                            <label class="govuk-label govuk-checkboxes__label" for="stage-procedure">
                                                Written representations
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="govuk-grid-column-one-third"></div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </details>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


        <details class="govuk-details govuk-!-margin-top-3 govuk-!-margin-padding-0 govuk-!-margin-bottom-0"
            id="filter-panel">
            <summary class="govuk-details__summary">
                <h3 class="govuk-heading-s">Action required</h3>
            </summary>
            <div style="padding-left:30px;">
                <form class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-grid-row">
                            <div class="">
                                <fieldset class="govuk-fieldset" aria-describedby="stage-hint">
                                    <div class="govuk-checkboxes govuk-checkboxes--small">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="stage-accepted" name="stage"
                                                type="checkbox" value="Accepted">
                                            <label class="govuk-label govuk-checkboxes__label" for="stage-accepted">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="stage-consultation" name="stage"
                                                type="checkbox" value="Consultation">
                                            <label class="govuk-label govuk-checkboxes__label" for="stage-consultation">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>

        </details>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <button class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0" type="submit">
            Apply
        </button>
    </div>
</details>