{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'Did Appellant agree to new description from the Local Planning Authority?' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block questions %}

  <span class="govuk-caption-l">Upload documents</span>

  {{ govukRadios({
    idPrefix: 'description-check',
    name: 'description-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('description-check','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('description-check','No')
      }
    ]
  }) }}

{% endblock %}
{% block afterContent %}

  <p class="govuk-body govuk-!-margin-bottom-6">
     <a href="/your-appeal">Return to your appeal</a>
    </p>

{% endblock %}