{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'Upload your draft statement of common ground' %}
{% set uploadDataKey = 'draft-statement-common-ground' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>
 
  {% from "govuk/components/details/macro.njk" import govukDetails %}

  <h2 class="govuk-heading-m">Upload files</h2>
  <p class="govuk-hint">The file must be a DOC, DOCX, PDF, TIF, JPG or PNG and be smaller than 25MB</p>

  {% include '_includes/common/multiple-document-upload.html' %}

{% endblock %}


{% block pageScripts %}
{% endblock %}
