{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'What is the status of your planning obligation?' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block questions %}

  <span class="govuk-caption-l">Upload documents</span>

  {{ govukRadios({
    idPrefix: 'planning-obligation-status',
    name: 'planning-obligation-status',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Finalised and ready to submit',
        value: 'Finalised and ready to submit',
        checked: checked('planning-obligation-status','Finalised and ready to submit')
      },
      {
        html: 'Not started yet',
        value: 'Not started yet',
        checked: checked('planning-obligation-status','Not started yet')
      }
    ]
  }) }}

{% endblock %}
{% block afterContent %}

  <p class="govuk-body govuk-!-margin-bottom-6">
     <a href="../prepare-appeal/your-appeal">Return to your appeal</a>
    </p>

{% endblock %}