{% extends '_layouts/layout-pins.html' %}

{% set title = 'Statement of case' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>
  <p>The deadline to submit a statement of case is {{ '6' | daysInFuture }}.</p>

  <p>To submit your statement, email <a href=:mailto:CaseOfficers@planninginspectorate.gov.uk">CaseOfficers@planninginspectorate.gov.uk</a>.</p>

  {{ govukRadios({
    idPrefix: 'statement-of-case',
    name: 'statement-of-case',
    fieldset: {
      legend: {
        html: 'Are you planning to submit a statement of case for this appeal?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('statement-of-case','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('statement-of-case','No')
      }
    ]
  }) }}
{% endblock %}