{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'What is the date on the decision letter from the local planning authority?' %}

{% block questions %}

{{ govukDateInput({
  id: "date",
  fieldset: {
    legend: {
      text: title,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "For example, 31 3 2025"
  },
  items: [
    {
      name: "date",
      label: "Day",
      value: data.day,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Month",
      value: data.month,
      classes: "govuk-input--width-2"
    },
    {
      name: "date",
      label: "Year",
      value: data.year,
      classes: "govuk-input--width-4"
    }
  ]
}) }}
{% endblock %}
