{% extends '_layouts/layout-main.html' %}

{% set title = 'Your appeals' %}
{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p class="govuk-body">
        Manage your appeals or <a href="#0" class="govuk-link--no-visited-state">start a new appeal</a>.
      </p>

    </div>

    {% set ref = 123 %}

    <div class="govuk-grid-column-full">

      <style>
        .govuk-table__header {
          font-variant-numeric: tabular-nums;
        }
      </style>




      {{ govukTable({
        classes: 'govuk-!-margin-top-3',
        caption: 'Unsubmitted appeals',
        captionClasses: 'govuk-table__caption--m govuk-!-padding-top-6 app-border-top-big',
        firstCellIsHeader: false,
        head: [
          {
            text: 'Local planning authority'
          },
          {
            html: 'Appeal type',
            classes: 'govuk-!-width-one-half'
          },
          {
            html: 'Due'
          },
          {
            html: '<span class="govuk-visually-hidden">Action</span>',
            format: 'numeric'
          }
        ],
        rows: [
          [
            {
              text: 'Bradford Council'
            },
            {
              html: 'Householder planning'
            },
            {
              html: '20' | daysInFutureShort
            },
            {
              html: '<a href="#0">Continue</a>',
              format: 'numeric'
            }
          ],
          [
            {
              text: 'Bradford Council'
            },
            {
              html: 'Enforcement notice'
            },
            {
              html: '27' | daysInFutureShort
            },
            {
              html: '<a href="#0">Continue</a>',
              format: 'numeric'
            }
          ],
          [
            {
              text: 'Greater Manchester Combined Authority'
            },
            {
              html: 'Lawful development certificate: Section 26H'
            },
            {
              html: 'Not applicable'
            },
            {
              html: '<a href="#0">Continue</a>',
              format: 'numeric'
            }
          ]
        ]
      }) }}


















      {{ govukTable({
        classes: 'govuk-!-margin-top-9',
        caption: 'Appeals to action',
        captionClasses: 'govuk-table__caption--m',
        firstCellIsHeader: true,
        head: [
          {
            html: 'Appeal number'
          },
          {
            html: 'Local planning authority',
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html: 'Appeal type',
            classes: 'govuk-!-width-one-half'
          },
          {
            html: 'Due',
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html: '<span class="govuk-visually-hidden">Action</span>',
            format: 'numeric'
          }
        ],
        rows: [
          [
            {
              html: ref+22225
            },
            {
              text: 'Bradford Council'
            },
            {
              html: 'Listed building consent'
            },
            {
              html: '7' | daysInFutureShort
            },
            {
              html: '<a href="#0">Add final comments</a>',
              format: 'numeric'
            }
          ],
          [
            {
              html: ref+21116
            },
            {
              text: 'Bradford Council'
            },
            {
              html: 'Full planning'
            },
            {
              html: '16' | daysInFutureShort
            },
            {
              html: '<a href="#0">Provide statement</a>',
              format: 'numeric'
            }
          ]
        ]
      }) }}
















      {{ govukTable({
        classes: 'govuk-!-margin-top-9',
        caption: 'Appeals in progress',
        captionClasses: 'govuk-table__caption--m',
        firstCellIsHeader: true,
        head: [
          {
            html: 'Appeal number',
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html: 'Local planning authority',
            classes: 'govuk-!-width-one-third'
          },
          {
            html: 'Appeal type',
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html: 'Due',
            classes: 'govuk-!-width-one-third'
          }
        ],
        rows: [
          [
            {
              html: ref+19005
            },
            {
              text: 'Bradford Council'
            },
            {
              html: 'Full planning'
            },
            {
              html: '33' | daysInFutureShort
            }
          ]
        ]
      }) }}












      {{ govukTable({
        classes: 'govuk-!-margin-top-9',
        caption: 'Submitted appeal',
        captionClasses: 'govuk-table__caption--m',
        firstCellIsHeader: true,
        head: [
          {
            html: 'Appeal number'
          },
          {
            html: 'Local planning authority',
            classes: 'govuk-!-width-one-third'
          },
          {
            html: 'Appeal type',
            classes: 'govuk-!-width-one-third'
          },
          {
            html: 'Decision made',
            classes: 'govuk-!-width-one-third'
          }
        ],
        rows: [
          [
            {
              html: ref+12345
            },
            {
              text: 'Bradford Council'
            },
            {
              html: 'Full planning'
            },
            {
              html: '26' | daysInFutureShort
            }
          ],
          [
            {
              html: ref+11234
            },
            {
              text: 'Bradford Council'
            },
            {
              html: 'Full planning'
            },
            {
              html: '46' | daysInFutureShort
            }
          ]
        ]
      }) }}






    </div>
  </div>
{% endblock %}
