{% extends '_layouts/layout-main.html' %}

{% set title = 'Do you have additional documents to support your comment?' %}

{% set nav = true %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{ caption }}
      </span>

      <form method="post">

        {{ govukRadios({
          idPrefix: 'documents-check',
          name: 'documents-check',
          fieldset: {
            legend: {
              html: title,
              classes: 'govuk-fieldset__legend--l',
              isPageHeading: true
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('documents-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('documents-check','No')
            }
          ]
        }) }}

        {{ govukButton({
          html: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

<!-- hint: {
  text: 'You must not add new evidence to the appeal'
}, -->
