{% extends '_layouts/layout-pins.html' %}

{% set nav = true %}
{% set title = 'Accessing the LPA account' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "2" %}

    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--green govuk-!-margin-left-2',
        text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">
      Changes:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        content updates
      </li>
      <li>
        help for not receiving the code
      </li>
      <li>
        change of service name
      </li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
      Access to the service
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/manage/access/v2/service-invite">
          Invite to the service
        </a>
      </li>
      <li>
        <a href="/manage/access/v2/access-email">
          Enter your email address - accessing the LPA service (visiting the service with no session)
        </a>
      </li>
      <li>
        <a href="/manage/access/v2/enter-code?start=access-email">
          Enter your code
        </a>
      </li>
      <!-- <li>
        <a href="/manage/access/v2/email--code">
          Email with secure code
        </a>
      </li> -->
    </ul>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


    {% set v1HTML %}

      {% set version = "1" %}

      <p class="govuk-body">
        Researched November 2022<br>
        <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1066336287" class="govuk-link">
          Link to Confluence research notes
        </a>
      </p>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/start',
        isStartButton: true
      }) }}

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [

        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}







    {% set lpaForm %}
      <form method="get" action="v{{version}}/">

        {{ govukInput({
          id: 'dashboard-lpa',
          name: 'dashboard-lpa',
          value: data['dashboard-lpa'],
          label: {
            html: 'LPA&rsquo;s name'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'lpa-email',
          name: 'lpa-email',
          value: data['lpa-email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'user-account',
          name: 'users[0][email]',
          value: data['users']['0']['email'],
          label: {
            html: 'Admin account email'
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: 'Add to URL',
          classes: 'govuk-!-margin-bottom-0'
        }) }}

      </form>
    {% endset -%}

    {{ govukDetails({
      summaryHtml: 'Change LPA details',
      html: lpaForm
    }) }}

  </div>
</div>
{% endblock %}
