{% extends '_layouts/layout-pins.html' %}

{% set title = 'Upload a plan showing the extent of the order' %}
{% set uploadDataKey = 'tree-order-upload' %}
{% set initialFiles = ['27_Maple_Close_Arboricultural_Report.pdf',
'27_Maple_Close_DSC_0001.png'
] %}


{% block questions %}

  <span class="govuk-caption-l">
    Constraints, designations and other issues
  </span>

  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  <h2 class="govuk-heading-m">Upload files</h2>
  <p class="govuk-hint">The files must be a DOC, DOCX, PDF, TIF, JPG or PNG and be smaller than 25MB</p>
  {% include '_includes/common/multiple-document-upload.html' %}
{% endblock %}
