@import "components/autocomplete";
@import "components/header";
@import "components/footer";
@import "components/upload";

@import "pins/pins_tables";

// Top border for headers to draw attention to areas
.app-border-top-big {
	border-top: 5px solid $govuk-brand-colour;
	padding-top: 15px;
}

.app-border-bottom-big {
	border-bottom: 5px solid $govuk-brand-colour;
	padding-bottom: 15px;
}

.internal .app-border-top-big,
.internal .app-border-bottom-big {
	border-color: govuk-colour("turquoise");
}
