@import "components/autocomplete";
@import "components/header";
@import "components/footer";
@import "components/upload";

@import "pins/pins_tables";
@import "pins/pins_print-styles";

// Top border for headers to draw attention to areas
.app-border-top-big {
	border-top: 5px solid $govuk-brand-colour;
	padding-top: 15px;
}

.app-border-bottom-big {
	border-bottom: 5px solid $govuk-brand-colour;
	padding-bottom: 15px;
}

.internal .app-border-top-big,
.internal .app-border-bottom-big {
	border-color: govuk-colour("turquoise");
}




// align text on multi line checkboxes
.checkboxes-long-text {
	.govuk-checkboxes__input,
	.govuk-checkboxes__label::before {
		top: 50%;
		transform: translateY(-50%);
	}
	.govuk-checkboxes__label::after {
		top: calc(50% - 3px);
		transform: translateY(-50%) rotate(-45deg);
	}
}
