@import "components/autocomplete";
@import "components/header";
@import "components/footer";
@import "components/upload";


// Top border for headers to draw attention to areas
.app-border-top-big {
	border-top: 5px solid govuk-colour("turquoise");
	padding-top: 15px;
}

.app-border-bottom-big {
	border-bottom: 5px solid govuk-colour("turquoise");
	padding-bottom: 15px;
}