{% extends location+"_layout.html" %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'appellant-check',
    name: 'appellant-check',
    classes: '',
    fieldset: {
      legend: {
        html: 'Who is the applicant on the planning application you are appealing?',
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'You',
        value: 'You',
        checked: checked('appellant-check','You')
      },
      {
        html: 'Another individual',
        value: 'Another individual',
        checked: checked('appellant-check','Another individual')
      },
      {
        html: 'A company',
        value: 'A company',
        checked: checked('appellant-check','A company')
      }
    ]
  }) }}
{% endblock %}

{% block pageScripts %}{% endblock %}