{% extends "layout-email.html" %}

{% block pageTitle %}
  14 Fox Lane, Upper Brushton, LA12 6UX - review these comments from interested parties
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      text: "Back to Inbox",
      href: "javascript:history.go(-1);"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h1 class="govuk-heading-m">
      We've received your final comments
    </h1>

    <p class="govuk-body">
      <strong>From: </strong>Appeal a planning decision &lt;noreply@planninginspectorate.co.uk&gt;
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <img src="{{ asset_path }}images/pi-logo.png" width="150"/>

    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          Dear City of Bradford Metropolitan District Council
        </p>
        <p class="govuk-body">
          We've received your final comments for appeal 1345264. They're now available for the Inspector to review when considering the appeal.
        </p>
        <p class="govuk-body">
          Site address: 14 Fox Lane, Upper Brushton, LA12 6UX<br>
          Application reference: 21/05058/FUL
        </p>

        <h2 class="govuk-heading-m">
          File submitted:
        </h2>
        <p class="govuk-body">
          final-comments-f1234567.pdf
        </p>
        <p class="govuk-body">
          You can download a copy of the file at: <a href="javascripot:preventDefault();">https://docs.appeals.planninginspectorate.gov.uk/2105058FUL/final-comments-f1234567.pdf</a>
        </p>

        <h2 class="govuk-heading-m">
          Submitted on:
        </h2>
        <p class="govuk-body">
          {{ 0 | daysAgo }} at {{ 2 | minutesAgo }}
        </p>

        <h2 class="govuk-heading-m">
          What happens next
        </h2>
        <p class="govuk-body">
          We'll review your comments and forward them to the appellant for their information.
        </p>
        <p class="govuk-body">
          Once the deadline for final comments has passed, the Inspector will begin considering the appeal.
        </p>

        <br>
        <p class="govuk-body">
          Thank you,
        </p>
        <p class="govuk-body">
          Chris Smith
          <br>
          caseteam@planning inspectorate.gov.uk
        </p>

      </div>
    </div>
{% endblock %}
