{% extends "layout-email.html" %}

{% block pageTitle %}
  14 Fox Lane, Upper Brushton, LA12 6UX - full appeal started
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      text: "Back to Inbox",
      href: "javascript:history.go(-1);"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h1 class="govuk-heading-m">
      14 Fox Lane, Upper Brushton, LA12 6UX - full appeal started
    </h1>

    <p class="govuk-body">
      <strong>From: </strong>Appeal a planning decision &lt;noreply@planninginspectorate.co.uk&gt;
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <img src="{{ asset_path }}images/pi-logo.png" width="150"/>

    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          Appeal site: 14 Fox Lane, Upper Brushton, LA12 6UX<br>
          Planning appeal reference: 1345264
        </p>

        <p class="govuk-body">
          Dear City of Bradford Metropolitan District Council
        </p>

        <p class="govuk-body">We've started a full appeal against the refusal of planning application <strong>21/05058/FUL</strong>.</p>

        <p class="govuk-body">We'll decide the appeal by written representations.</p>

        <h2 class="govuk-heading-m">
          Appeal timeline
        </h2>
        <p class="govuk-body">
          Appeal start date:  {{ 30 | daysAgo }}<br>
          Questionnaire deadline:  {{ 23 | daysAgo }}<br>
          Statement of case deadline:  {{ 5 | daysInFuture }}<br>
          Final comments deadline: {{ 19 | daysInFuture }}
        </p>

        <h2 class="govuk-heading-m">
          Case officer
        </h2>
        <p class="govuk-body">
          <strong>Chris Smith</strong><br>
          ChrisSmith@planninginspectorate.gov.uk
        </p>

        <h2 class="govuk-heading-m">What you need to do</h2>

        <h3 class="govuk-heading-s">Notify interested parties about the appeal</h3>
        <p class="govuk-body">You must do this as soon as possible. Interested parties have until {{ 5 | daysInFuture }} to submit their comments.</p>
        <p class="govuk-body">They should email their comments to ChrisSmith@planninginspectorate.gov.uk</a></p>

        <h3 class="govuk-heading-s">Submit your questionnaire</h3>
        <p class="govuk-body">Your deadline is {{ 23 | daysAgo }}.</p>
        <p class="govuk-body">Complete the questionnaire by following this link: [submit questionnaire]</p>
        <p class="govuk-body">Once you've submitted your questionnaire, you need to email a copy to the appellant at: appellant@email.com</p>

        <h3 class="govuk-heading-s">Submit your statement of case</h3>
        <p class="govuk-body">Your deadline is {{ 5 | daysInFuture }}.</p>
        <p class="govuk-body">This is optional. It is your opportunity to respond to arguments in the appellant's appeal statement. You do not need to repeat information that is in the Planning Officer's report.</p>
        <p class="govuk-body">Submit your statement of case by following this link: [<a href="/statement-of-case/v1/">submit statement of case</a>]</p>

        <br><br>
        <p class="govuk-body">
          Thank you,<br>
          The Planning Inspectorate<br>
          CaseOfficers@PlanningInspectorate.gov.uk
        </p>

      </div>
    </div>

  </div>
</div>
{% endblock %}
