{% extends "layout-email.html" %}

{% block pageTitle %}
  14 Fox Lane, Upper Brushton, LA12 6UX - full appeal started
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      text: "Back to Inbox",
      href: "javascript:history.go(-1);"
    }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h1 class="govuk-heading-m">
      14 Fox Lane, Upper Brushton, LA12 6UX - full appeal started
    </h1>

    <p class="govuk-body">
      <strong>From: </strong>Appeal a planning decision &lt;noreply@planninginspectorate.co.uk&gt;
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <img src="{{ asset_path }}images/pi-logo.png" width="150"/>

    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          Appeal site: 14 Fox Lane, Upper Brushton, LA12 6UX<br>
          Planning appeal reference: 1345264
        </p>
        <br>

        <p class="govuk-body">
          Dear City of Bradford Metropolitan District Council
        </p>

        <p class="govuk-body">We've started a full appeal against the refusal of planning application 21/05058/FUL.</p>

        <p class="govuk-body">We'll decide the appeal by written representations.</p>

        <h2 class="govuk-heading-m">
          Appeal timeline
        </h2>
        <p class="govuk-body">
          Appeal start date:  {{ 0 | daysInFuture }}<br>
          Questionnaire deadline:  {{ 7 | daysInFuture }}<br>
          Statement of case deadline:  {{ 35 | daysInFuture }}<br>
          Final comments deadline: {{ 49 | daysInFuture }}
        </p>

        <h2 class="govuk-heading-m">
          Case officer
        </h2>
        <p class="govuk-body">
          <strong>Chris Smith</strong><br>
          ChrisSmith@planninginspectorate.gov.uk
        </p>

        <h2 class="govuk-heading-m">Submit your questionnaire</h2>
        <p class="govuk-body">Your deadline is {{ 7 | daysInFuture }}.</p>
        <p class="govuk-body">Complete the questionnaire by following this link: [submit questionnaire]</p>
        <p class="govuk-body">Once you've submitted your questionnaire, you need to email a copy to the appellant at: appellant@email.com</p>

        <h2 class="govuk-heading-m">Notify interested parties about the appeal</h2>
        <p class="govuk-body">You must do this as soon as possible using a copy of this template: [<a href="/local-planning-department/v1/householder-appeal-first-notice-template">link to template</a>]</p>
        <p class="govuk-body">Interested parties have until {{ 35 | daysInFuture }} to submit their comments.</p>

        <h2 class="govuk-heading-m">Submit your statement of case</h2>
        <p class="govuk-body">This is optional. You do not need to repeat information that is in the Planning Officer's report.</p>
        <p class="govuk-body">Your deadline is {{ 35 | daysInFuture }}.</p>
        <p class="govuk-body">Submit your statement by following this link: [<a href="/statement-of-case/v1/">submit statement of case</a>]</p>

        <br><br>
        <p class="govuk-body">
          Thank you,
        </p>
        <p class="govuk-body">
          The Planning Inspectorate<br>
          CaseOfficers@PlanningInspectorate.gov.uk
        </p>

      </div>
    </div>

  </div>
</div>
{% endblock %}
