{% extends "_layouts/layout-main.html" %}

{% set title = "Which statements apply to your case?" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="reasons-v5" method="post">

        <span class="govuk-caption-l">
          Choose your grounds of appeal
        </span>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <p class="govuk-hint">
              Select all that apply.
            </p>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-1" name="grounds-1" type="checkbox" value="groundA">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-1">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground A</span> -->
                  Ground A: Planning permission should be granted for the alleged breach in the enforcement notice.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-2" name="grounds-2" type="checkbox" value="groundB">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-2">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground B</span> -->
                  Ground B: The alleged breach of planning permission has not happened.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-3" name="grounds-3" type="checkbox" value="groundC">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-3">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground C</span> -->
                  Ground C: The alleged breach does not require planning permission.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-4" name="grounds-4" type="checkbox" value="groundD">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-4">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground D</span> -->
                  Ground D: It’s too late for the local authority to serve the enforcement notice.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-5" name="grounds-5" type="checkbox" value="groundE">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-5">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground E</span> -->
                  Ground E: Copies of the enforcement notice were not legally served to the right people.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-6" name="grounds-6" type="checkbox" value="groundF">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-6">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground F</span> -->
                  Ground F: The steps to comply with the enforcement notice are excessive.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-7" name="grounds-7" type="checkbox" value="groundG">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-7">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground G</span> -->
                  Ground G: I need more time to comply with the enforcement notice.
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            href: "",
            text: "Save and come back later",
            classes: "govuk-button--secondary"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}
