{% extends "layouts/inspector/v5.html" %}

{% block pageTitle %}
  Amend site visit - My planning appeals
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "/inspector/"+version+"/appeal-scheduled"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Amend site visit
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter content-list__sticky">
      <aside class="govuk-!-margin-bottom-8">
        {% include "includes/inspector/"+version+"/_appeal-summary.html" %}
      </aside>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <form action="" method="post">
   
        <!-- loop through data from availableAppeals.json -->
        {% for item in data['availableAppeals'] %}
          <!-- match selected appeal by ref in data and show -->
          {% if item.ref == data["inspector-"+version+"-currentappeal"] %}

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  Type of site visit
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="inspector-{{version}}-schedule-type" name="inspector-{{version}}-schedule-type" type="radio" value="Access required"
                      {% if item.siteVisitType == "Access required" %}
                        checked
                      {% endif %}
                    >
                    <label class="govuk-label govuk-radios__label" for="inspector-{{version}}-schedule-type">
                      Access required
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="inspector-{{version}}-schedule-type-2" name="inspector-{{version}}-schedule-type" type="radio" value="Accompanied"
                      {% if item.siteVisitType == "Accompanied" %}
                        checked
                      {% endif %}
                    >
                    <label class="govuk-label govuk-radios__label" for="inspector-{{version}}-schedule-type-2">
                      Accompanied
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="inspector-{{version}}-schedule-type-3" name="inspector-{{version}}-schedule-type" type="radio" value="Unaccompanied"
                      {% if item.siteVisitType == "Unaccompanied" %}
                        checked
                      {% endif %}
                    >
                    <label class="govuk-label govuk-radios__label" for="inspector-{{version}}-schedule-type-3">
                      Unaccompanied
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

          {% endif %}
        {% endfor %}
        
        {% set detailsHtml %}
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header app-custom-class"></th>
                <th scope="col" class="govuk-table__header app-custom-class">Local planning department&apos;s answer</th>
                <th scope="col" class="govuk-table__header app-custom-class">Appellant&apos;s answer</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Can the site been seen from public land?</th>
                <td class="govuk-table__cell">No<br>The extension is to the rear of the property, and the garden has high hedges.</td>
                <td class="govuk-table__cell">No<br>I&apos;ve got big hedges.</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Does the inspector need to enter the site?</th>
                <td class="govuk-table__cell">Yes<br>The proposed development can only be viewed from the appellant&apos;s garden.</td>
                <td class="govuk-table__cell">(not asked)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Does the inspector need to access aneighbour&apos;s land?</th>
                <td class="govuk-table__cell">Yes<br>54 Butcher Street</td>
                <td class="govuk-table__cell">(not asked)</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Does the appellant own the whole site?</th>
                <td class="govuk-table__cell">(not asked)</td>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Are there any health and safety issues?</th>
                <td class="govuk-table__cell">Yes<br>A defensive dog</td>
                <td class="govuk-table__cell">No</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header remove-bottom-border">Appeals in the immediate area still being considered</th>
                <td class="govuk-table__cell remove-bottom-border">893482, 372839</td>
                <td class="govuk-table__cell remove-bottom-border">(not asked)</td>
              </tr>
            </tbody>
          </table>
        {% endset -%}

        {{ govukDetails({
          classes: "govuk-!-margin-bottom-5",
          summaryText: "Site visit details",
          html: detailsHtml
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
  
</div>


{% endblock %}
