{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About you</span>
        <h1 class="govuk-heading-l">
          Your email has been confirmed
        </h1>

        <p>We have sent you a second email with a link that will allow you to return to your appeal. </p>

        <p><a class="govuk-button" href="/appellant-submission/v7/task-list">Continue to householder planning appeal</a></p>



        <br><br><br><br><br><br>
        <p><a href="return-email" target="_blank">(View return email)</a></p>

        </div>
  </div>

{% endblock %}
