
{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if verificationError %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: verificationMessage,
            href: "#verification-code"
          }
        ]
      }) }}
      {% endif %}


        <h1 class="govuk-heading-l">
          Reset your password
        </h1>

        <p>We've sent an email with a password reset link to: <strong>{{ data['recovery-email'] }}</strong></p>

        <h4 class="govuk-heading-s">If you're having problems</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Check the email hasn't gone into your spam/bulk folder.</li>
          <li><a class="govuk-link" href="#">Email our customer support team</a> or call them on 0303 44 5000.</li>
        </ul>

        <br><br><br><br><br><br>
        <p><a href="verification-email">(View verification email)</a></p>
        </div>
  </div>

{% endblock %}
