{% extends '_layouts/layout-main.html' %}

{% set title = 'Before you start' %}


{% block questions %}

  {% set html %}
    <p class="govuk-notification-banner__heading">
      On Tuesday 13 December between 6-8pm, the appeal a planning decision service will be unavailable due to planned maintenance.
    </p>
  {% endset %}
  {{ govukNotificationBanner({
    html: html
  }) }}

  <h1 class="govuk-heading-l">
    {{title}}
  </h1>
  <p>This is a new service. Before you start, we&rsquo;ll check if you can use this service by asking some questions about your appeal.</p>

  <p>If you cannot use this service, you can still appeal using the existing service.</p>
{% endblock %}
