{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Householder questionnaire' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "4" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <!-- <p>
      Researched July 2023<br>
      <a href="https://pins-ds.atlassian.net/l/cp/m5xUUVAn" class="govuk-link">
        Confluence user research notes
      </a>
    </p> -->

    <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Change to neighbours addresses following research
      </li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/task-list',
      isStartButton: true
    }) }}

    {% set v3HTML %}

      {% set version = "3" %}

      <p>
        Researched August 2023<br>
        <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1245478913" class="govuk-link">
          Confluence user research notes
        </a>
      </p>

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Content updates following user research
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v2HTML %}

      {% set version = "2" %}

      <p>
        Researched July 2023<br>
        <a href="https://pins-ds.atlassian.net/l/cp/m5xUUVAn" class="govuk-link">
          Confluence user research notes
        </a>
      </p>

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Updates following review with Case Officers
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v1HTML %}

      {% set version = "1" %}

      <!-- <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          (updates since the last version)
        </li>
      </ul> -->

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list',
        isStartButton: true
      }) }}

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-5',
      items: [

        {
          heading: {
            html: 'Version 3 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
          },
          content: {
            html: v3HTML
          }
        },
        {
          heading: {
            html: 'Version 2 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
          },
          content: {
            html: v2HTML
          }
        },
        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-left-2">In progress</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
