{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        <h1 class="govuk-heading-l">Are you sure you want to cancel?</h1>

        {{ govukWarningText({
          html: 'You will lose any updates you&rsquo;ve made to your appeal statement.',
          iconFallbackText: 'Warning'
        }) }}

        {{ govukButton ({
          html: 'Yes, cancel the update',
          classes: 'govuk-button--warning govuk-!-margin-bottom-3'
        }) }}
        <p>or <a onclick="history.go(-1); return false;" href="#0">no, go back</a></p>

      </form>
    </div>
  </div>
{% endblock %}
