{% extends "layout.html" %}

{# {% block beforeContent %}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %} #}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Update your statement
      </h1>

      <p>You can change which grounds of appeal are associated with your case (apart from ground A) as well as uploading additional documents to support them.</p>



      <h2 class="govuk-heading-m">
        Current grounds of appeal
      </h2>

      {{ govukTable({
        caption: 'Current grounds of appeal',
        captionClasses: 'govuk-table__caption--m',
        firstCellIsHeader: false,
        head: [
          {
            html: 'Ground',
            classes: 'govuk-!-width-one-half'
          },
          {
            html: 'Evidence',
            classes: 'govuk-!-width-one-quarter'
          },
          {
            html: 'Actions',
            classes: 'govuk-!-width-one-quarter',
            format: 'numeric'
          }
        ],
        rows: [
          [
            {
              html: 'A: Planning permission should be granted for the alleged breach in the enforcement notice'
            },
            {
              html: ''
            },
            {
              html: ''
            }
          ]
        ]
      }) }}




      <div class="team-questions">
        <ul class="govuk-list govuk-list--bullet">
          <li>What data do we need to ask for here?</li>
          <li>If the link in the email is a magic link do we need to ask them anything?</li>
          <li>Is there a way to navigate to this without the email? For example, is there a return link on GOV.UK?</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}{% endblock %}