{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'Before you start' %}

{% set back = false %}
{% set return = false %}


{% extends '_layouts/layout-appellant-main.html' %}

{% block questions %}

  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  <p class="govuk-body">
    You must submit your documents before the deadline or we cannot review them with the appeal.
  </p>

  <p class="govuk-body">
    You’ll need your planning application form.
  </p>

  <p class="govuk-body">
    If you have any of the following documents, you’ll also need to upload your:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      decision letter from the local authority
    </li>
    <li>
      your reasons for appealing, or an appeal statement
    </li>
    <li>
      planning obligation
    </li>
    <li>
      information related to ownership of the land
    </li>
    <li>
      an environmental statement
    </li>

  </ul>

{% endblock %}

{% block buttons %}

  {{ govukButton({
    text: 'Continue',
    href: 'task-list'
  }) }}

  <p class="govuk-body">
    <a href="/appeal/save-and-return/v6/appeal-saved" class="govuk-link--no-visited-state">
      Save and come back later
    </a>
  </p>

{% endblock %}
