{% extends "layout.html" %}

{% block pageTitle %}
  Uploaded files - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Uploaded files
      </h1>

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Files</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="javascript:preventDefault();" class="govuk-link">supporting_document_one.pdf</a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a class="govuk-link" href="delete">
                Delete<span class="govuk-visually-hidden"> supporting_document_one.pdf</span>
              </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="javascript:preventDefault();" class="govuk-link">supporting_document_two.pdf</a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a class="govuk-link" href="delete">
                Delete<span class="govuk-visually-hidden"> supporting_document_two.pdf</span>
              </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="javascript:preventDefault();" class="govuk-link">supporting_document_three.pdf</a>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a class="govuk-link" href="delete">
                Delete<span class="govuk-visually-hidden"> supporting_document_three.pdf</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-button-group">
        {{ govukButton({
          href: "upload",
          text: "Upload more",
          classes: "govuk-button--secondary"
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include "./_nav.html" %}

    </div>
  </div>

{% endblock %}
