{% extends '_layouts/layout-main.html' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to your appeals',
    href: 'your-appeals'
  }) }}
{% endblock %}

{% set title = 'Decided appeals' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

    </div>

    <div class="govuk-grid-column-full">

      {% include "/_includes/rule-6/decided-appeals.html" %}

    </div>
  </div>
{% endblock %}
