{% extends '_layouts/layout-main.html' %}

{% set prototypeLinks = [

  {
    href: 'your-appeals?current-appeals=no&submitted-appeals=no&decided-appeals=no',
    text: 'No appeals'
  } if data['current-appeals'] != 'no' else

  {
    href: 'your-appeals?current-appeals=yes&submitted-appeals=yes&decided-appeals=yes',
    text: 'Show appeals'
  }
  ]
%}

{% set title = 'Your appeals' %}
{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl">
        {{ title }}
      </h1> -->

      <!-- <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="/manage/manage-users/v3/" class="govuk-link--no-visited-state">
          Add and remove users
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-full">
      {% include "/appeal/rule-6/v1/current-appeals.html" %}
    </div>
  </div>
{% endblock %}
