{% extends '_layouts/layout-main.html' %}

{% set prototypeLinks = [

  {
    href: 'your-appeals?current-appeals=no&submitted-appeals=no&decided-appeals=no',
    text: 'No access'
  } if data['current-appeals'] != 'no' else

  {
    href: 'your-appeals?current-appeals=yes&submitted-appeals=yes&decided-appeals=yes',
    text: 'Access'
  }
  ]
%}

{% set title = 'Your appeals' %}
{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">

    {% if data['current-appeals'] == 'no' %}

      <div class="govuk-grid-column-two-thirds">

        {{ govukNotificationBanner({
          html: "You do not have rule 6 status to the appeal "+data['appealCode']+"."
        }) }}

      </div>

    {% endif %}

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>
    </div>

    <div class="govuk-grid-column-full">

      {% set currentAppeals %}
        {% include "/appeal/rule-6/v1/current-appeals.html" %}
      {% endset -%}

      {% set submittedAppeals %}
        {% include "/_includes/rule-6/submitted-appeals.html" %}
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "To do",
            id: "new-appeals",
            panel: {
              html: currentAppeals
            }
          },
          {
            label: "Waiting for review",
            id: "submitted-appeals",
            panel: {
              html: submittedAppeals
            }
          }

        ]
      }) }}

      <p class="govuk-body">
        <a href="decided-appeals" class="govuk-link">1 decided appeals</a>
      </p>

    </div>

  </div>
{% endblock %}
