{% extends "layout-new-footer-no-back.html" %}

{% block pageTitle %}
  Prototype list
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Appeal a householder planning decision</span>
      <h1 class="govuk-heading-xl">
        Prototype list
      </h1>

      <h2 class="govuk-heading-l">Footer and error pages</h2>

    </div>
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="help/accessibility-statement">accessibility statement</a></li>
          <li><a class="govuk-link" href="help/contact">contact</a></li>
          <li><a class="govuk-link" href="help/privacy">privacy</a></li>
          <li><a class="govuk-link" href="help/terms-and-conditions">terms and conditions</a></li>
          <li><a class="govuk-link" href="error/not-found">page not found - 404</a></li>
          <li><a class="govuk-link" href="error/unhandled-exception">unhandled exception - 500</a></li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s">Current version</h3>
      <p>none</p>
      <ul class="govuk-list govuk-list--bullet">

      </ul>
    </div>

  </div>
</div>
{% endblock %}
