{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'More than one appeal' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "5" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        alignment with LPA dashboard
      </li>
      <li>
        link to make a new appeal
      </li>
    </ul>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="https://miro.com/app/board/uXjVPi74MOw=/?moveToWidget=3458764549839563837&cot=14" class="govuk-body">Miro board</a>
    </p>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/your-appeals',
      isStartButton: true
    }) }}

    {% set v4HTML %}

    {% set version = "4" %}

      <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Using 3 tabs to split out appeal stages
        </li>
        <li>
          Using tags for decision status
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="https://miro.com/app/board/uXjVPi74MOw=/?moveToWidget=3458764549839563837&cot=14" class="govuk-body">Miro board</a>
      </p>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/your-appeals',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v3HTML %}

      {% set version = "3" %}

      <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Removing the temp code
        </li>
        <li>
          Include appeals that can not be actioned
        </li>
        <li>
          Show submitted appeals
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/your-appeals',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v2HTML %}

      {% set version = "2" %}

      <p class="govuk-body">
        A place for users with more than one appeal to manage their appeals.
      </p>

      <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Updates based on UR feedback
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/your-appeals',
        isStartButton: true
      }) }}

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [
        {
          heading: {
            html: 'Version 4 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v4HTML
          }
        },
        {
          heading: {
            html: 'Version 3 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v3HTML
          }
        },
        {
          heading: {
            html: 'Version 2 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v2HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
