{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'More than one appeal' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-body">
      <a href="https://miro.com/app/board/uXjVPi74MOw=/" class="govuk-body">Miro board</a>
    </p>

    {% set version = "3" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'Ready for review'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Removing the temp code
      </li>
      <li>
        Include appeals that can not be actioned
      </li>
      <li>
        Show submitted appeals
      </li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/your-appeals',
      isStartButton: true
    }) }}

    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'Ready for review'
      }) }}
    </h2>

    <p class="govuk-body">
      A place for users with more than one appeal to manage their appeals.
    </p>

    <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Updates based on UR feedback
      </li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/your-appeals',
      isStartButton: true
    }) }}

  </div>
</div>
{% endblock %}
