{% set pageref = "FUL-TL-AS15" %}
{% extends "layouts/appellant-submission/v16.html" %}

{% block pageTitle %}
  Task list - Appeal a planning decision - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Appeal a planning decision
      </h1>
      <!--h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{data['sections-completed-text']}}</h2-->
      <!--p class="govuk-body govuk-!-margin-bottom-7">You have completed {{data['sections-completed']}} of 5 sections.</p-->

      <!-- Count completed tasks -->
      {% set taskcount = 0 %}
      {% if data["appealsub-"+version+"-taskliststatus-contactdetails"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["appealsub-"+version+"-taskliststatus-appealsite"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["appealsub-"+version+"-taskliststatus-proceduretype"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["appealsub-"+version+"-taskliststatus-planningapplicationdocuments"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["appealsub-"+version+"-taskliststatus-appealdocuments"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["appealsub-"+version+"-taskliststatus-claimingcosts"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Appeal incomplete</h2>
      <p class="govuk-body">You have completed {{taskcount}} of 6 tasks.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">
        {% if data['appealsub-v16-enforcementeffectivedate-day'] %}
          Your deadline to appeal is {{ data['appealsub-v16-enforcementeffectivedate-day'] }} {{ data['bys-v11-enforcementeffectivedate-month'] | formatMonth }} {{ data['bys-v11-enforcementeffectivedate-year'] }}.
        {% else %}
          Your deadline to appeal is {{ 20 | daysInFuture }}.
        {% endif %}
      </p>

      <div class="app-task-list app-task-list--fullappeal">
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="javascript:preventDefault();" class="govuk-link--disabled">
                Provide your contact details
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-contactdetails"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-contactdetails"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="javascript:preventDefault();" class="govuk-link--disabled">
                Tell us about the appeal site
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-appealsite"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-appealsite"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="javascript:preventDefault();" class="govuk-link--disabled">
                Tell us how you would prefer us to decide your appeal
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-proceduretype"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-proceduretype"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              {% if data["appealsub-v14-bys-whatareyouappealing"] == "Removal or variation of conditions" %}
                <a href="javascript:preventDefault();" class="govuk-link--disabled">Upload documents from your planning application</a>
              {% else %}
                <a href="javascript:preventDefault();" class="govuk-link--disabled">Upload documents from your planning application</a>
              {% endif %}
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-planningapplicationdocuments"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-planningapplicationdocuments"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="javascript:preventDefault();" class="govuk-link--disabled">
                Upload documents for your appeal
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-appealdocuments"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-appealdocuments"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <!--li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="javascript:preventDefault();" class="govuk-link--disabled">
                Submit a claim for costs
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-claimingcosts"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Optional</strong>
            {% endif %}
          </li-->
          <li class="app-task-list__item">
            {% if (data["appealsub-"+version+"-taskliststatus-contactdetails"] == "Complete")
                and data["appealsub-"+version+"-taskliststatus-appealsite"] == "Complete"
                and data["appealsub-"+version+"-taskliststatus-proceduretype"] == "Complete"
                and data["appealsub-"+version+"-taskliststatus-planningapplicationdocuments"] == "Complete"
                and data["appealsub-"+version+"-taskliststatus-appealdocuments"] == "Complete"
            %}
              <span class="app-task-list__task-name">
                <a href="javascript:preventDefault();" class="govuk-link--disabled">
                  Check your answers and submit your appeal
                </a>
              </span>
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% else %}
              <span class="app-task-list__task-name">
                Check your answers and submit your appeal
              </span>
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
          </li>
        </ul>
      </div>

    </div>

  </div>

{% endblock %}
