{% extends '_layouts/layout-pins.html' %}

{% set title = "Appeal "+data['appealCode'] %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

<!-- SECTION -->
<!-- title and decision if there is one -->


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">
      Appeal {{ data['appealCode'] or '1345264' }}
    </span>
    <h1 class="govuk-heading-xl">
      Your proof of evidence
    </h1>

  </div>

  <div class="govuk-grid-column-full">
    {% include "_includes/appellant/meta-full-appeal.html" %}
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
  </div>

  <div class="govuk-grid-column-full">
    <!-- appeal submission -->
    {% include "_includes/appellant/table-appellant-proofs.html" %}

  </div>
</div>

{% endblock %}
