<dl class="govuk-summary-list">
  <h2 class="govuk-heading-m">
    Application
  </h2>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Planning application number
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["appealsub-"+version+"-applicationdocs-applicationnumber"] or '22/065313/FUL' }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
      Description of development
    </dt>
    <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
      Loft conversion of roof to existing dwelling
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Application decision notice
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#" class="govuk-link">
        Application decision 02.06.2022.doc
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Application
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#" class="govuk-class">{{ data["appealsub-"+version+"-applicationdocs-applicationform"] or 'Planning application 2022.pdf' }}</a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Plans, drawings and supporting documents
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#" class="govuk-class">
        {{ data["appealsub-"+version+"-applicationdocs-plansdrawings"] or 'Aubrey House plans.pdf' }}
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row pinswwwwww-summary-list__row--last">
    <dt class="govuk-summary-list__key">
      Design and access statement
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#" class="govuk-class">
        {{ data["appealsub-"+version+"-applicationdocs-designaccess"] or 'Aubrey House DA.pdf' }}
      </a>
    </dd>
  </div>

</dl>
