<!-- <h2 class="govuk-heading-m">Appeal details</h2> -->


<dl class="govuk-summary-list">
  <h2 class="govuk-heading-m">
    Appeal submission
  </h2>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Agent or representative
    </dt>
    <dd class="govuk-summary-list__value">
      Jane Fischold
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Site ownership
    </dt>
    <dd class="govuk-summary-list__value">
      Fully owned
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Site visible from a public road or footpath
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Health and safety issues
    </dt>
    <dd class="govuk-summary-list__value">
      Yes<br>
      The site needs to be seen from a height
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Application form
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#0" class="govuk-link">
        Aubrey House planning application 2023.pdf
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Decision letter
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#0" class="govuk-link">
        Bristol City Council - Aubrey House planning decision July 2023.pdf
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Appeal statement
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="#0" class="govuk-link">
        Aubrey House appeal - July 2023.pdf
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row pins-summary-list__row--last">
    <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
      Supporting documents
    </dt>
    <dd class="govuk-summary-list__value">
      None
    </dd>
  </div>

</dl>
