<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">
    6 interested party notices sent
  </caption>
  <!-- <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Address</th>
    </tr>
  </thead> -->

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Post</th>
      <td class="govuk-table__cell">
        22 Cheers Drive, Speedwell, Bristol BS5 7FQ
        <br>23 Cheers Drive, Speedwell, Bristol BS5 7FQ
        <br>24 Cheers Drive, Speedwell, Bristol BS5 7FQ
      </td>
    </tr>
    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Email</th>
      <td class="govuk-table__cell govuk-!-width-three-quarters">
        sam1983@peterboroughchampions.com
        <br>janinebaxter@gmail.com
        <br>jimmie123@live.com
      </td>
    </tr>

  </tbody>
</table>
