{% extends "layouts/layout-guidance.html" %}

{% block pageTitle %}
  Appeal a planning decision
{% endblock %}

{% block content %}
<img style="float: right; margin-top: -103px" src="/public/images/search.png" />
 <div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Housing and local services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Planning permission and building regulations</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Appeal a planning decision</h1>
        <aside role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
            <h2 class="govuk-body gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="overview"> Overview</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="when-you-can-appeal"> When you can appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="before-you--appeal"> Before you appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="how-to-appeal">How to appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active govuk-body-s govuk-!-margin-bottom-0" aria-current="true">The stages of an appeal
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="your-appeal-decision">Your appeal decision</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="claim-costs-for-your-appeal">Claim costs for your appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="comment-on-planning-appeal">Comment on a planning appeal</a>
              </li>
            </ol>
          </nav>
        </aside>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l" id="part-title">The stages of an appeal</h2>

        <h3 class="govuk-heading-m pins-guidance-h3">1. Submitting your appeal</h3>
        <p class="govuk-body">
          Submit your appeal statement and other documents using the <a href="#" class="govuk-link">appeal a planning decision service</a>.
        </p>
        <p class="govuk-body">
          Once you've done this, you get a PDF copy of your appeal. You must send this to the local planning department with a copy of your appeal statement.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">2. Checking your appeal</h3>

        <p class="govuk-body">
          The Planning Inspectorate checks you've submitted everything it needs to progress your appeal.
        </p>
        <p class="govuk-body">
          They contact you once they have done this. If anything is missing, they ask you to submit it.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">3. Evidence from your application</h3>

        <p class="govuk-body">
          The local planning department sends the Planning Inspectorate a copy of the case file for your planning application.
        </p>
        <p class="govuk-body">
          You get a copy of this for your information.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">4. Statements from other parties</h3>

        <p class="govuk-body">
          The local planning department can respond to your appeal with a written statement. Other interested parties can also submit statements about your appeal. For example, your neighbours.
        </p>
        <p class="govuk-body">
          You get copies of any statements for your information.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">5. Responding to the evidence</h3>

        <p class="govuk-body">
          This stage depends on how the Planning Inspectorate is deciding your appeal.
        </p>

        <p class="govuk-body">
          'Evidence' is anything that's been submitted by you, your local planning department, or another interested party.
        </p>

        <p class="govuk-body">
          Find out <a href="#" class="govuk-link">how the Planning Inspectorate can decide your appeal</a>.
        </p>

        <h4 class="govuk-heading-s">Written representations appeals</h4>

        <p class="govuk-body">
          You can respond to any statements submitted by other parties. You do this in writing. This is called your 'final comments'.
        </p>

        <p class="govuk-body">
          Your local planning department can also submit final comments.
        </p>

        <h4 class="govuk-heading-s">Hearing appeals</h4>

        <p class="govuk-body">
          The Planning Inspectorate arranges the hearing. They agree a date and a venue with you and your local planning department.
        </p>

        <p class="govuk-body">
          At the hearing, you and the local planning department answer questions about your appeal and its evidence. If other interested parties have asked to be there, they may be asked questions too.
        </p>

        <h4 class="govuk-heading-s">Public inquiry appeals</h4>

        <p class="govuk-body">
          The Planning Inspectorate arranges the inquiry. They agree a date and a venue with you and your local planning department.
        </p>

        <p class="govuk-body">
          You and your legal representative must share your arguments with the Planning Inspectorate in advance.
        </p>

        <p class="govuk-body">
          At the inquiry, your and your local planning department's legal representatives cross-examine the evidence. They question you, the local planning department, and expert witnesses.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">6. Site visit</h3>

        <p class="govuk-body">
          The Planning Inspectorate visits your appeal site to see how your development might impact the surrounding area.
        </p>

        <p class="govuk-body">
          If they can, they do this without entering your site. If they need you to give them access, they arrange this with you beforehand.
        </p>

        <p class="govuk-body">
          Sometimes, they decide the appeal does not need a site visit.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">7. Decision</h3>

        <p class="govuk-body">
          The Planning Inspectorate uses the evidence from you, the local planning department and other parties to make a decision.
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Check how long planning appeal decisions are taking</a>
        </p>

<!-- Navigation-->
        <nav class="gem-c-pagination govuk-!-margin-top-9" role="navigation" aria-label="Pagination">
          <ul class="gem-c-pagination__list" data-module="track-click">

            <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="how-to-appeal" class="gem-c-pagination__link" rel="prev">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">How to appeal</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="your-appeal-decision" class="gem-c-pagination__link" rel="next">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Next
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Your appeal decision</span>
              </a>
            </li>

          </ul>
        </nav>

        <div class="app-c-print-link">
          <a href="javascript:preventDefault();" class="app-c-print-link__link govuk-link" rel="alternate">
            Print entire guide
          </a>
        </div>

      </div>


    </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="gem-c-contextual-footer">

  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section">
        <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>
        <ul class="gem-c-related-navigation__link-list" data-module="track-click">
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Local councils and services</a></li>
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Planning permission and building regulations</a></li>
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Planning permission and appeals</a></li>
        </ul>
      </nav>

  </div>

  </div>


    </div>
  </div>
  </main>
</div>

{% endblock %}
