{% extends "layouts/layout-guidance.html" %}

{% block pageTitle %}
  Appeal a planning decision
{% endblock %}

{% block content %}
<img style="float: right; margin-top: -103px" src="/public/images/search.png" />
 <div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Housing and local services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Planning permission and building regulations</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Appeal a planning decision</h1>
        <aside role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
            <h2 class="govuk-body gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list">

              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="overview"> Overview</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active govuk-body-s govuk-!-margin-bottom-0" aria-current="true">When you can appeal
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="before-you-appeal"> Before you appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="how-to-appeal"> How to appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="stages-of-an-appeal">The stages of an appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="your-appeal-decision">Your appeal decision</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="claim-costs-for-your-appeal">Claim costs for your appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="comment-on-planning-appeal">Comment on a planning appeal</a>
              </li>
            </ol>
          </nav>
        </aside>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l" id="part-title">When you can appeal</h2>

        <h3 class="govuk-heading-m pins-guidance-h3">Refused planning application</h3>
        <p class="govuk-body">
          If your planning application has been refused for reasons you think are incorrect, you can appeal against the refusal.
        </p>
        <p class="govuk-body">
          A reason for refusal is incorrect when it goes against the local planning department's development plan and planning policies.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">Granted planning permission with conditions</h3>
        <p class="govuk-body">
          If your planning application has been granted with conditions you think are incorrect, you can appeal against the conditions.
        </p>
        <p class="govuk-body">
          A condition is incorrect when it's:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>unnecessary</li>
          <li>irrelevant to planning</li>
          <li>irrelevant to your development</li>
          <li>unenforceable</li>
          <li>vague</li>
          <li>unreasonable</li>
        </ul>
        <p class="govuk-body">
          You can appeal to have the conditions removed from your planning permission, or to change the conditions.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">No decision by the local planning department’s deadline</h3>
        <p class="govuk-body">
          If you have not got a decision on your planning application by your local planning department’s deadline, you can appeal against the late decision.
        </p>
        <p class="govuk-body">
          The local planning department’s deadline is usually 8 weeks from the day it acknowledged your application. But it can be longer if you agreed a different deadline.
        </p>

        <h2 class="govuk-heading-l pins-guidance-h2">Who can appeal</h2>
        <p class="govuk-body">
          You can only appeal if you either:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>made the planning application in your name</li>
          <li>have permission to act on behalf of the person or organisation whose name is on the application</li>
        </ul>

        <h2 class="govuk-heading-l pins-guidance-h2">Your deadline to appeal</h2>

        <h3 class="govuk-heading-m pins-guidance-h3">Appealing refusal or conditions</h3>
        <p class="govuk-body">
          Your deadline is 6 months from the decision date on the letter from your local planning department.
        </p>
        <div class="govuk-inset-text">
          <p class="govuk-body">
            Your deadline is sooner if you're appealing a refused householder planning application.
          </p>
          <p class="govuk-body">
            You made a householder planning application if you applied for:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>householder planning permission</li>
            <li>permission to vary or remove a condition on householder planning permission</li>
            <li>prior approval: larger home extension</li>
            <li>prior approval: enlargement of a dwellinghouse by construction of additional storeys</li>
          </ul>
          <p class="govuk-body">
            Find out more in the <a href="#" class="govuk-link">appeal a householder planning decision guidance</a>.
          </p>
        </div>

        <h3 class="govuk-heading-m pins-guidance-h3">Appealing if you have not got a decision by the local planning department’s deadline</h3>
        <p class="govuk-body">
          Your deadline is 6 months from the date your decision was due.
        </p>

        <h3 class="govuk-heading-m pins-guidance-h3">If you have an enforcement notice</h3>
        <p class="govuk-body">
          Your deadline may be sooner if you have an enforcement notice for the same development as your planning application - or a very similar one.
        </p>
        <p class="govuk-body">
          If you got the enforcement notice before your application was refused, your deadline is 28 days from the decision date on the letter from your local planning department.
        </p>
        {{ govukInsetText({
          text: "If you got the enforcement notice more than 2 years ago, your deadline is not affected."
        }) }}
        <p class="govuk-body">
          If you got the enforcement notice after your application was refused, your deadline is whichever is sooner from the following:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>28 days from the date you received the enforcement notice</li>
          <li>6 months from the decision date on the letter from your local planning department</li>
        </ul>

<!-- Navigation-->
        <nav class="gem-c-pagination govuk-!-margin-top-9" role="navigation" aria-label="Pagination">
          <ul class="gem-c-pagination__list" data-module="track-click">

            <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="overview" class="gem-c-pagination__link" rel="prev">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Overview</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="before-you-appeal" class="gem-c-pagination__link" rel="next">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Next
                  </span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Before you appeal</span>
              </a>
            </li>

          </ul>
        </nav>

        <div class="app-c-print-link">
          <a href="javascript:preventDefault();" class="app-c-print-link__link govuk-link" rel="alternate">
            Print entire guide
          </a>
        </div>

      </div>


    </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="gem-c-contextual-footer">

  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section">
        <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>
        <ul class="gem-c-related-navigation__link-list" data-module="track-click">
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Local councils and services</a></li>
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Planning permission and building regulations</a></li>
          <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Planning permission and appeals</a></li>
        </ul>
      </nav>

  </div>

  </div>


    </div>
  </div>
  </main>
</div>

{% endblock %}
