{% extends '_layouts/layout-main--no-beta.html' %}

{% set title = 'Give feedback on Manage your appeals' %}

{% block questions %}

  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  <h2 class="govuk-heading-m">
    Satisfaction survay
  </h2>

  <div class="govuk-form-group govuk-!-margin-bottom-6">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h3 class="govuk-fieldset__heading">
          Overall, how did you feel about the service you received today?
        </h3>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="satisfaction" name="satisfaction" type="radio" value="very-satisfied">
          <label class="govuk-label govuk-radios__label" for="satisfaction">
            Very satisfied
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="satisfaction-2" name="satisfaction" type="radio" value="satisfied">
          <label class="govuk-label govuk-radios__label" for="satisfaction-2">
            Satisfied
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="satisfaction-3" name="satisfaction" type="radio" value="neither-satisfied-nor-dissatisfied">
          <label class="govuk-label govuk-radios__label" for="satisfaction-3">
            Neither satisfied nor dissatisfied
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="satisfaction-4" name="satisfaction" type="radio" value="dissatisfied">
          <label class="govuk-label govuk-radios__label" for="satisfaction-4">
            Dissatisfied
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="satisfaction-5" name="satisfaction" type="radio" value="very-dissatisfied">
          <label class="govuk-label govuk-radios__label" for="satisfaction-5">
            Very dissatisfied
          </label>
        </div>
      </div>
    </fieldset>
  </div>


  {{ govukCharacterCount({
    name: "withHint",
    id: "with-hint",
    maxlength: 200,
    label: {
      text: "How could we improve this service?",
      classes: "govuk-label--s",
      isPageHeading: true
    },
    hint: {
      text: "Do not include personal or financial information like your National Insurance number or credit card details."
    }
  }) }}

{% endblock %}
