{% extends '_layouts/layout-pins.html' %}

{% set title = 'Choose to notify interested parties by email or post' %}

{% set prototypeLinks = [{href: 'send-new?from=appeals', text: 'Reset the list of options'} if data['from'] == 'checklist' ] %}

{% set nav = true %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
  </div>

  <div class="govuk-grid-column-full">
    {% include "_includes/appeal-content/lpa-full-appeal-meta.html" %}
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <form method="post">

      {{ govukRadios({
        idPrefix: 'sendby',
        name: 'sendby',
        fieldset: {

        },
        items: [
          {
            html: 'Email',
            value: 'email'
          },
          {
            html: 'Letters by post',
            value: 'letters'
          }
        ]
      }) }}

      {{ govukButton({
        text: 'Continue'
      }) }}

    </form>
  </div>

</div>

{% endblock %}
