<li>
  <h2 class="app-task-list__section">
    <span class="app-task-list__section-number">6. </span> Site access
    {% if data['site-access-completed'] == 'true' %}
      {{ govukTag({
        html: 'Completed'
      }) }}
    {% elif data['site-access-started'] == 'true' %}
      {{ govukTag({
        html: 'In progress',
        classes: 'govuk-tag--blue'
      }) }}
    {% else %}
      {{ govukTag({
        html: 'Not started',
        classes: 'govuk-tag--grey'
      }) }}
    {% endif %}
  </h2>
  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
      {
        key: {
          html: 'Site visible'
        },
        value: {
          html: data['site-visibility'] or 'No'
        }
        if data['site-visibility-complete'] else
        {
          html: '<span class="govuk-hint">Not started</span>'
        },
        actions: {
          items: [
            {
              href: 'site-access/site-visibility?cya=true',
              html: 'Change'
            }
            if data['site-visibility-complete'] else
            {
              href: 'site-access/site-visibility',
              html: 'Answer'
            }
          ]
        }
      },
      {
        key: {
          html: 'Inspector will need to enter the appeal site'
        },
        value: {
          html: 'Yes<br>'+data['site-entry__details'] if data['site-entry'] == 'Yes' else 'No'
        }
        if data['site-entry-complete'] else
        {
          html: '<span class="govuk-hint">Not started</span>'
        },
        actions: {
          items: [
            {
              href: 'site-access/site-entry?cya=true',
              html: 'Change'
            }
            if data['site-entry-complete'] else
            {
              href: 'site-access/site-entry',
              html: 'Answer'
            }
          ]
        }
      },
      {
        key: {
          html: 'Site health and safety issues'
        },
        value: {
          html: 'Yes<br>'+data['health-and-safety__details'] if data['health-and-safety'] == 'Yes' else 'No'
        }
        if data['health-and-safety-complete'] else
        {
          html: '<span class="govuk-hint">Not started</span>'
        },
        actions: {
          items: [
            {
              href: 'site-access/health-and-safety?cya=true',
              html: 'Change'
            }
            if data['health-and-safety-complete'] else
            {
              href: 'site-access/health-and-safety',
              html: 'Answer'
            }
          ]
        }
      }
    ]
  }) }}
</li>