{% extends "layout-email.html" %}

{% block content %}
  <p>
    <strong>Subject:</strong> Your appeal is in progress - {{ data["enforcement-site-address-line1"] or '1 Providence Avenue' }}

    {% if data["enforcement-site-address-line2"] %}
      {{ data["enforcement-site-address-line2"] }}
    {% endif %}

    {% if data["enforcement-site-address-town"] %}
      {{ data["enforcement-site-address-town"]}}
    {% else %}
      Jamton
    {% endif %}

    {% if data["enforcement-site-address-county"] %}
      {{ data["enforcement-site-address-county"] or '' }}
    {% endif %}

    {% if data["enforcement-site-address-postcode"] %}
      {{ data["enforcement-site-address-postcode"] }}
    {% else %}
      JM2 3BL
    {% endif %}
    <br>
    <strong>From:</strong> Appeal an enforcement notice
  </p>

  <img src="{{ asset_path }}images/pi-logo.png" width="150" class="govuk-!-margin-top-5"/>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-three-quarters">

      <p>
        {{ data["enforcement-site-address-line1"] or '1 Providence Avenue' }}

      {% if data["enforcement-site-address-line2"] %}
        <br>{{ data["enforcement-site-address-line2"] }}
      {% endif %}

      {% if data["enforcement-site-address-town"] %}
        <br>{{ data["enforcement-site-address-town"]}}
      {% else %}
        <br>Jamton
      {% endif %}

      {% if data["enforcement-site-address-county"] %}
        <br>{{ data["enforcement-site-address-county"] or '' }}
      {% endif %}

      {% if data["enforcement-site-address-postcode"] %}
        <br>{{ data["enforcement-site-address-postcode"] }}
      {% elseif data["enforcement-site-address-easting"] %}
        <br>{{ data["enforcement-site-address-easting"] }}
        <br>{{ data["enforcement-site-address-northing"] }}
      {% else %}
        <br>JM2 3BL
      {% endif %}</p>

      <p>Dear <!-- if there is a person's name show it -->
      {% if data['enforcement-first-name'] or data['enforcement-company-name'] %}
        {% if data['enforcement-first-name'] %}
          {{ data['enforcement-first-name'] }} {{ data['enforcement-last-name'] }},<br>
        {% endif %}

        <!-- if there is a company name show it -->
        {% if data['enforcement-company-name'] %}
          {{ data['enforcement-company-name'] }},
        {% endif %}

      {% else %}
        Nic Davies,
      {% endif %}</p>

      <p>We've checked your enforcement notice appeal and have everything we need from you.</p>

      <p>Your appeal is now in progress. This appeal will be decided by written representations.</p>

      <h2 class="govuk-heading-m">
        Appeal timeline
      </h2>
      <p>
        Receive copy of local planning authority questionnaire: {{ 14 | daysInFuture }}
        <br>
        Statement of case deadline: {{ 42 | daysInFuture }}
        <br>
        Final comments deadline: {{ 61 | daysInFuture }}
        <br>
        Planning obligation: {{ 61 | daysInFuture }}
      </p>

      <h2 class="govuk-heading-m">
        Your appeal reference
      </h2>
      <p>ENF13579F</p>

      <h2 class="govuk-heading-m">
        Your case officer
      </h2>
      <p>
        Borage Gambino
        <br>
        borage.gambino@planninginspectorate.gov.uk
      </p>

      <h2 class="govuk-heading-m">
        Appeal start date
      </h2>
      <p>{{ 0 | daysInFuture }}</p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>City of Bradford Metropolitan District Council completes a questionnaire about your enforcement notice appeal and submits their case file. They'll forward a copy of this to you, for your information. This should happen in the next week.</p>

      <p>Then the Inspector will begin considering your appeal. We’ll contact you if you need to give the Inspector access during their site visit.</p>

      <p>You can expect a decision 48 weeks from the date you submitted your appeal.</p>

      <h2 class="govuk-heading-m">
        What you need to do
      </h2>
      <p>If you are happy with your appeal, you don’t need to do anything. However, you can change your appeal statement any number of times up to 6 weeks after your appeal start date. You can change your grounds of appeal (except ground A) and add other reasons, comments and documents to support your appeal. These will be shared with your local planning authority. </p>

      <p>If you told us you intend on submitting a planning obligation, send a certified copy to us no later than 9 weeks from the date of this letter. </p>

      <p>You can apply for costs if anyone involved in your appeal behaves unreasonably, for example missing deadlines. Costs can be awarded against you too. </p>

      <p>
        <a href="return/">
          Change or update your appeal statement
        </a>
      </p>

      <p>If you contact us about your appeal, you should quote  the appeal site address and post code. </p>

      <p>
        <br>
        Thank you,
        <br>
        The Planning Inspectorate
        <br>
        north1@planninginspectorate.gov.uk
      </p>

    </div>
  </div>
{% endblock %}
