{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your reasons for Ground B
      </h1>

      <p>Tell us why you did not breach the alleged breach of planning permission has not happened. For example, you did not build the structure alleged in the enforcement notice.</p>

      <p>You do not need to repeat the local planning authority&rsquo;s reasons for issuing the enforcement notice.</p>

      <p>You can upload documents to support your statement later.</p>
    </div>

    <div class="govuk-grid-column-three-quarters">
      <form method="post">

        {{ govukTextarea({
          name: 'statement-ground-b',
          id: 'statement-ground-b',
          value: data['statement-ground-b'],
          rows: 15,
          label: {
            html: 'What are your reasons for choosing Ground B?',
            classes: 'govuk-label--m',
            isPageHeading: false
          }
        }) }}

        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}{% endblock %}