{% extends "layout-email.html" %}

{% block pageTitle %}
  Full appeal started email
{% endblock %}

{% block content %}
<p><strong>Subject:</strong> 9617 The Avenue, XM26 7YS - full appeal started </p>
<p><strong>From:</strong> Appeal a planning decision</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-three-quarters">

    <p class="govuk-body">
      Appeal site: 9617 The Avenue, Maidstone, XM26 7YS<br>
      Planning appeal reference: A/1234567
    </p>

    <p class="govuk-body">Dear [name of local planning department]</p>

    <p class="govuk-body">We've started a full appeal against the refusal of planning application <strong>21/05058/FUL</strong>.</p>

    <p class="govuk-body">We'll decide the appeal by written representations.</p>

    <h2 class="govuk-heading-m">
      Appeal timeline
    </h2>
    <p class="govuk-body">
      Appeal start date:  {{ 0 | daysInFuture }}<br>
      Questionnaire deadline:  {{ 7 | daysInFuture }}<br>
      Statement of case deadline:  {{ 35 | daysInFuture }}<br>
      Final comments deadline: {{ 49 | daysInFuture }}
    </p>

    <h2 class="govuk-heading-m">
      Case officer
    </h2>
    <p class="govuk-body">
      <strong>Chris Smith</strong><br>
      ChrisSmith@planninginspectorate.gov.uk
    </p>

    <h2 class="govuk-heading-m">What you need to do</h2>

    <h3 class="govuk-heading-s">Submit your questionnaire</h3>
    <p class="govuk-body">Your deadline is {{ 7 | daysInFuture }}.</p>
    <p class="govuk-body">Complete the questionnaire by following this link: [ <a href="../security/email">Authentication journey</a> | <a href="../task-list">Authenticated and session still valid</a> ]</p>
    <p class="govuk-body">Once you've submitted your questionnaire, you need to email a copy to the appellant at: appellant@email.com</p>

    <h3 class="govuk-heading-s">Notify interested parties about the appeal</h3>
    <p class="govuk-body">You must do this as soon as possible. Interested parties have until {{ 35 | daysInFuture }} to submit their comments.</p>
    <p class="govuk-body">They should email their comments to ChrisSmith@planninginspectorate.gov.uk</a></p>

    <br><br>
    <p class="govuk-body">
      Thank you,​<br>
      The Planning Inspectorate​<br>
      CaseOfficers@PlanningInspectorate.gov.uk
    </p>

  </div>
</div>
{% endblock %}
