{% extends '_layouts/layout-pins.html' %}

{% set title = 'Did you restrict any development rights using a planning condition?' %}

{% set prototypeLinks = [
  {
    href: 'planning-condition?titleVersion=a',
    text: 'Switch content'
  } if data['titleVersion'] == 'b' else
  {
    href: 'planning-condition?titleVersion=b',
    text: 'Switch content'
  }
] %}

{% block questions %}

  <span class="govuk-caption-l">
    Constraints, designations and other issues
  </span>

  {% if data['titleVersion'] == 'a' %}

    {{ govukRadios({
      idPrefix: 'planning-condition',
      name: 'planning-condition',
      fieldset: {
        legend: {
          html: title,
          classes: 'govuk-fieldset__legend--l',
          isPageHeading: true
        }
      },
      items: [
        {
          html: 'Yes',
          value: 'Yes',
          checked: checked('planning-condition','Yes')
        },
        {
          html: 'No',
          value: 'No',
          checked: checked('planning-condition','No')
        }
      ]
    }) }}

  {% else %}

    {{ govukRadios({
      idPrefix: 'planning-condition',
      name: 'planning-condition',
      fieldset: {
        legend: {
          html: 'Did you restrict any development rights using a planning condition?',
          classes: 'govuk-fieldset__legend--l',
          isPageHeading: true
        }
      },
      items: [
        {
          html: 'Yes',
          value: 'Yes',
          checked: checked('planning-condition','Yes')
        },
        {
          html: 'No',
          value: 'No',
          checked: checked('planning-condition','No')
        }
      ]
    }) }}

  {% endif %}

{% endblock %}
