{% extends "layouts/final-comments/v1.html" %}

{% block pageTitle %}
  Upload your final comments - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <h1 class="govuk-heading-xl">
          Upload your final comments         
        </h1>

        {% if data["finalcomments-"+version+"-appellant-upload"] and data["finalcomments-"+version+"-appellant-upload"] != "" %}
          <h3 class="govuk-heading-m govuk-!-margin-top-8">
            Uploaded final comments
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-8">
            <a href="javascript:preventDefault();" class="govuk-link">{{ data["finalcomments-"+version+"-appellant-upload"] }}</a>
          </p>
        {% endif %}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="finalcomments-{{version}}-appellant-upload">
            {% if data["finalcomments-"+version+"-appellant-upload"] and data["finalcomments-"+version+"-appellant-upload"] != "" %}
              Replace final comments
            {% else %}
              Drag and drop or choose a file
            {% endif %}
          </label>
          <input class="govuk-file-upload pins-file-upload" id="finalcomments-{{version}}-appellant-upload" name="finalcomments-{{version}}-appellant-upload" type="file">
        </div>

        {{ govukDetails({
          summaryText: "Files you can upload",
          html: '
            <p class="govuk-body">
              You can upload the following types of file:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>DOC or DOCX</li>
              <li>JPG or JPEG</li>
              <li>PDF</li>
              <li>PNG</li>
              <li>TIF or TIFF</li>
            </ul>
            <p class="govuk-body">
              Your file must be smaller than 15MB.
            </p>
          '
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

        {% set detailsHtml %}
          <p class="govuk-body">Your final comments must respond to issues in:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the statement of case from the local planning department</li>
            <li>comments from interested parties</li>
          </ul>
          <p class="govuk-body">You do not need to repeat information that is in your appeal statement.</p>
          <p class="govuk-body">Final comments are optional. It is your decision whether you submit any.</p>
          <p class="govuk-body">You cannot:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>introduce new evidence or arguments</li>
            <li>include inflammatory or abusive language</li>
            <li>include sensitive information</li>
          </ul>
          <p class="govuk-body">If you include anything you should not, we may ask you to resubmit your final comments. This would delay your appeal.</p>
          <p class="govuk-body">Sensitive information refers to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>comments from children</li>
            <li>information relating to children</li>
            <li>information relating to health</li>
            <li>information relating to crime</li>
            <li>any information relating to an individual's:
              <ul class="govuk-list govuk-list--bullet">
                <li>race</li>
                <li>ethnic origin</li>
                <li>politics</li>
                <li>religion</li>
                <li>trade union membership</li>
                <li>genetics</li>
                <li>physical characteristics</li>
                <li>sex life</li>
                <li>sexual orientation</li>
              <ul>
            </li>
          </ul>
        {% endset %}

        {{ govukDetails({
          summaryText: "What to include in your final comments",
          html: detailsHtml
        }) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "final-comments/"+version+"/_appellant-details.html" %} 

    </div>
  </div>

{% endblock %}
