{% extends "layouts/appellant-submission/v11.html" %}

{% set title = "Tell us why more time is needed to undo the supposed breach of planning control" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Choose your grounds of appeal
        </span>

        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <fieldset class="govuk-fieldset">

            <!-- <p class="govuk-body">
              It does not matter what your status was at the time the enforcement notice was served. You must tell us your status at the time of making this appeal.
            </p> -->

            {{ govukTextarea({
              name: "more-detail",
              id: "more-detail",
              label: {
                text: title,
                classes: "govuk-label--l",
                isPageHeading: true
              }
            }) }}

          </fieldset>
        </div>

        <p class="govuk-body">
          You should say what you consider to be a more reasonable period of time and why.
        </p>

        <p class="govuk-body">
          If you intend to only select this statement, you should consider negotiating the timescale with the local planning department.
        </p>

        <p class="govuk-body">
          The local planning department may be willing to extend the time period for compliance and you would not need to make an appeal.
        </p>

        <p class="govuk-body">
          <a href="groundG-file" class="govuk-link">
            Upload your reasons in a document
          </a>
        </p>


        {{ govukButton({
          href: "application",
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
