{% extends "layouts/appellant-submission/v11.html" %}

{% set title = "Tell us how you’re required to do more than is needed to undo the development" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Choose your grounds of appeal
        </span>

        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <fieldset class="govuk-fieldset">

            <!-- <p class="govuk-body">
              It does not matter what your status was at the time the enforcement notice was served. You must tell us your status at the time of making this appeal.
            </p> -->

            {{ govukTextarea({
              name: "more-detail",
              id: "more-detail",
              label: {
                text: title,
                classes: "govuk-label--l",
                isPageHeading: true
              },
              hint: {
                text: "You should say why you think that the steps are excessive and what lesser steps you consider would sort out the problem."
              }
            }) }}

          </fieldset>
        </div>

        <p class="govuk-body">
          <a href="groundF-file" class="govuk-link">
            Upload your reasons in a document
          </a>
        </p>

        <!-- route user based on what they selected -->
        {% if data['grounds-7'] %}
          {{ govukButton({
            href: "groundG-text",
            text: "Continue"
          }) }}
        {% else %}
          {{ govukButton({
            href: "application",
            text: "Continue"
          }) }}
        {% endif %}

      </form>

    </div>
  </div>

{% endblock %}
