<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "layout.html" %}

{% set title = "Did you submit a planning application after the local planning department issued the enforcement notice?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/lateapplication" method="post">

      <span class="govuk-caption-l">
        Choose your grounds of appeal
      </span>

      {{ govukRadios({
        idPrefix: "enforcement-late-application",
        name: "enforcement-late-application",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes, I submitted a planning application after the local planning department issued the enforcement notice"
          },
          {
            value: "No",
            text: "No, I did not submit a planning application after the local planning department issued the enforcement notice"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
