{% extends "layouts/case-officer/v1.html" %}

{% block pageTitle %}
  Appeal outcome
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Notify appellant of incomplete appeal
      </h1>

      <p class="govuk-body">Please review the letter that will be sent to the appellant.<p>

      <div class="govuk-inset-text">
        Dear Manish Sharma<br><br>
        At the moment we cannot progress your appeal 20/500818/FULL as the [application form/decision letter/appeal statement] is missing/incorrect.<br><br>
        <strong>What you need to do</strong><br><br>
        You will need to send us a copy of the [missing/correct] [application form / decision letter / appeal statement] by replying to this email.<br><br>
        [AD route] You can also supply the [missing/correct] information by post at [the address above/insert different address].<br><br>
        Our work on your appeal is delayed until we receive this information.<br><br>
        <strong>When we need the information by</strong><br><br>

        Send the [missing/correct] information as soon as possible so as not to further delay your appeal.<br><br>
        There is a 12 week deadline for the submission of all your outstanding appeal documents. This deadline runs from the decision date on the letter from your local planning department.<br><br>
        If we have not received all your appeal documents by the appeal deadline, we will not be able to proceed, and your appeal will be turned away.<br><br>
        Thank you,<bR> 
        The Planning Inspectorate 
      </div>
      
      {{ govukButton({
        href: "outcome-incomplete",
        text: "Save and continue"
      }) }}

      <p class="govuk-body">Or you can <a href="">change the reason why this appeal is invalid</a>.</p>

    </div>
  </div>
{% endblock %}
