{% extends "layouts/case-officer/v1.html" %}

{% block pageTitle %}
  Appeal outcome
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "appeal-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Notify LPA of invalid appeal
      </h1>

      <p class="govuk-body">
        Please review the letter that will be sent to [LPA].<p>

      <div class="govuk-inset-text">
        Dear Maidstone Borough Council<br><Br>
        The householder planning appeal against the refusal of planning application 20/500818/FULL has been deemed invalid.<br><br>
        This is because {{data["vo-v1-status-invalid"] | lower}}.<br><br>
        The Planning Inspectorate will take no further action on this appeal.<br><br>
        Thank you,<bR>
        The Planning Inspectorate 
      </div>

      <p class="govuk-body">This notification will be sent to [LPA].</p>
      
      {{ govukButton({
        href: "notify-appellant-invalid",
        text: "Accept and continue"
      }) }}

      <p class="govuk-body">Or you can <a href="">change the reason why this appeal is invalid</a>.</p>

    </div>
  </div>
{% endblock %}
