{% extends "layouts/case-officer/v1.html" %}

{% block pageTitle %}
  Appeal outcome
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: "Appeal invalid"
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">What next?</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="appeal-list" class="govuk-link">View appeal submissions for review</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
