 {% set pageref = "" %}
{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Is the development in, near or likely to affect any designated sites? - Tell us about constraints, designations and other issues - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell us about constraints, designations and other issues
        </span>
        
        {% set otherHtml %}
          {{ govukInput({
            id: "lpaq-"+version+"-constraintsdesignations-designatedsite-other",
            name: "lpaq-"+version+"-constraintsdesignations-designatedsite-other",
            label: {
              text: "Other designation(s)"
            }
          }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "lpaq-"+version+"-constraintsdesignations-designatedsite",
          name: "lpaq-"+version+"-constraintsdesignations-designatedsite",
          fieldset: {
            legend: {
              text: "Is the development in, near or likely to affect any designated sites?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select all designations that apply."
          },
          items: [
            {
              value: "SSSI",
              text: "SSSI (site of special scientific interest)",
              checked: checked("lpaq-"+version+"-constraintsdesignations-designatedsite", "SSSI")
            },
            {
              value: "cSAC",
              text: "cSAC (candidate special area of conservation)",
              checked: checked("lpaq-"+version+"-constraintsdesignations-designatedsite", "cSAC")
            },
            {
              value: "SAC",
              text: "SAC (special area of conservation)",
              checked: checked("lpaq-"+version+"-constraintsdesignations-designatedsite", "SAC")
            },
            {
              value: "pSPA",
              text: "pSPA (potential special protection area)",
              checked: checked("lpaq-"+version+"-constraintsdesignations-designatedsite", "pSPA")
            },
            {
              value: "SPA Ramsar",
              text: "SPA Ramsar (Ramsar special protection area)",
              checked: checked("lpaq-"+version+"-constraintsdesignations-designatedsite", "SPA Ramsar")
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              },
              checked: checked("lpaq-"+version+"-constraintsdesignations-designatedsite", "Other")
            },
            {
              divider: "or"
            },
            {
              value: "No, it is not in, near or likely to affect any designated sites",
              text: "No, it is not in, near or likely to affect any designated sites",
              checked: checked("lpaq-"+version+"-constraintsdesignations-designatedsite", "No, it is not in, near or likely to affect any designated sites"),
              behaviour: "exclusive"
            }
          ]
        }) }}

         <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link" href="tpo">Skip this question</a>
        </div>

      </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
  </div>
</div>

{% endblock %}
