{% extends '_layouts/layout-pins.html' %}

{% set title = 'Is the community infrastructure levy formally adopted?' %}

{% block questions %}

  <span class="govuk-caption-l">
    Planning officer’s report and supporting documents
  </span>

  {{ govukRadios({
    idPrefix: 'community-infrastructure-adopted',
    name: 'community-infrastructure-adopted',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('community-infrastructure-adopted','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('community-infrastructure-adopted','No')
      }
    ]
  }) }}
{% endblock %}
{% block afterContent %}

  <p class="govuk-body govuk-!-margin-bottom-6">
     <a href="/appeal/ldc/v4/lpaq/task-list">Return to questionnaire homepage</a>
    </p>

{% endblock %}
