{% extends '_layouts/layout-main.html' %}

{% set title = 'Will the inspector need to enter a neighbour’s land or property?' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set reasonHtml %}
{{ govukInput({
  id: "neighbour-access-reason",
  name: "neighbour-access-reason",
  type: "text",
  label: {
    text: "Enter the reason"
  }
}) }}
{% endset -%}

{% block questions %}

  <span class="govuk-caption-l">{{serviceName}}</span>

  {{ govukRadios({
    name: "inspector-enter-neighbour-site",
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: reasonHtml
        }
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}
{% endblock %}