{% extends '_layouts/layout-main.html' %}

{% set title = 'Are there any related applications?' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block questions %}

  <span class="govuk-caption-l">{{serviceName}}</span>

  {{ govukRadios({
    name: "related-applications",
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
        {
        value: "no",
        text: "No"
      }
    ]
  }) }}
{% endblock %}