{% set pageref = "" %}
{% set fromhas = "From HAS" %}
{% extends "layouts/lpa-questionnaire/fullv1.html" %}

{% block pageTitle %}
  Can the Inspector see the relevant parts of the appeal site from public land? - Tell us about access to the appeal site - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell us about access to the appeal site
        </span>

        {{ govukRadios({
          idPrefix: "lpaq-"+version+"-siteaccess-publicland",
          name: "lpaq-"+version+"-siteaccess-publicland",
          fieldset: {
            legend: {
              text: "Can the Inspector see the relevant parts of the appeal site from public land?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("lpaq-"+version+"-siteaccess-publicland", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("lpaq-"+version+"-siteaccess-publicland", "No")
            }
          ]
        }) }}

         <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="enter-site">Skip this question</a>
        </div>

      </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
  </div>
</div>

{% endblock %}
