{% if data['current-appeals'] == 'no' %}

  <h2 class="govuk-heading-l">
    My appeals
  </h2>

  <p class="govuk-body">
    There are currently no appeals in progress.
  </p>

{% else %}

  {{ govukTable({
    classes: 'govuk-!-margin-top-3',
    caption: 'My appeals',
    captionClasses: 'govuk-table__caption--l',
    firstCellIsHeader: false,
    head: [
      {
        html: 'Appeal number'
      },
      {
        html: 'Address'
      },
      {
        html: 'Appeal type'
      },
      {
        html: 'Deadline'
      },
      {
        html: 'Due in',
        format: 'numeric'
      },
      {
        html: 'To do',
        format: 'numeric'
      }
    ],
    rows: [
      [
        {
          html: '<a href="/manage/appeals/v7/appeal-details?appealCode=1345301&action=&questionnaire=overdue&statement=due">1345301</a>'
        },
        {
          html: 'Spital House, Lensfield Rd, Cambridge CB2 1ER'
        },
        {
          html: 'S78'
        },
        {
          html: '1' | daysAgo
        },
        {
          html: "<strong class='govuk-tag govuk-tag--red'>Overdue</strong>",
          format: 'numeric'
        },
        {
          html: '<a href="/manage/questionnaire/v14/task-list?appealCode=1345301&action="><span class="govuk-visually-hidden">Submit </span>Questionnaire</a>
          <br><a href="/manage/statement/v1/enter-statement?appealCode=1345301&action="><span class="govuk-visually-hidden">Submit </span>Statement</a>',
          format: 'numeric'
        }
      ],
      [
        {
          html: '<a href="/manage/appeals/v7/appeal-details?appealCode=1345264&action=&questionnaire=due&statement=due">1345264</a>'
        },
        {
          html: 'Haggis Farm Cottage, Cambridge Rd, Barton, Cambridge CB23 7AT'
        },
        {
          html: 'S78'
        },
        {
          html: '3' | daysInFuture
        },
        {
          html: '3 days',
          format: 'numeric'
        },
        {
          html: '<a href="/manage/questionnaire/v14/task-list?appealCode=1345264&action=&questionnaire=due"><span class="govuk-visually-hidden">Submit </span>Questionnaire</a><br>
          <a href="/manage/statement/v1/enter-statement?appealCode=1345264&action="><span class="govuk-visually-hidden">Submit </span>Statement</a>',
          format: 'numeric'
        }
      ] if data['questionnaire'] != 'complete',
      [
        {
          html: '<a href="/manage/appeals/v7/appeal-details?appealCode=1345273&action=&statement=due&questionnaire=">1345273</a>'
        },
        {
          html: '20 Bermuda Rd, Arbury, Cambridge CB4 3JX'
        },
        {
          html: 'S78'
        },
        {
          html: '4' | daysInFuture
        },
        {
          html: '4 days',
          format: 'numeric'
        },
        {
          html: '<a href="/manage/statement/v1/enter-statement?appealCode=1345273&action="><span class="govuk-visually-hidden">Submit </span>Statement</a>',
          format: 'numeric'
        }
      ] if data['statement'] != 'complete',
      [
        {
          html: '<a href="/manage/appeals/v7/appeal-details?appealCode=1345260&action=&statement=due">1345260</a>'
        },
        {
          html: 'Canterbury House, Weavely, Cambridge CB2 1PT'
        },
        {
          html: 'HAS'
        },
        {
          html: '6' | daysInFuture
        },
        {
          html: '6 days',
          format: 'numeric'
        },
        {
          html: '<a href="/manage/questionnaire-has/v7/task-list?appealCode=1345260&action="><span class="govuk-visually-hidden">Submit </span>Questionnaire</a>
          <br><a href="/manage/statement/v1/enter-statement?appealCode=1345260&action="><span class="govuk-visually-hidden">Submit </span>Statement</a>',
          format: 'numeric'
        }
      ],
      [
        {
          html: '<a href="/manage/appeals/v7/appeal-details?appealCode=1345176&action=">1345176</a>'
        },
        {
          html: '22 London Rd, Six Mile Bottom, Newmarket CB8 0UE'
        },
        {
          html: 'S78'
        },
        {
          html: '6' | daysInFuture
        },
        {
          html: '6 days',
          format: 'numeric'
        },
        {
          html: '<a href="/manage/questionnaire/v14/task-list?appealCode=1345176&action="><span class="govuk-visually-hidden">Submit </span>Questionnaire</a>',
          format: 'numeric'
        }
      ],
      [
        {
          html: '<a href="#">1345259</a>'
        },
        {
          html: 'Five Trees Garden, Cambridge CB4 1UA'
        },
        {
          html: 'S39'
        },
        {
          html: '16' | daysInFuture
        },
        {
          html: '16 days',
          format: 'numeric'
        },
        {
          html: '<a href="/manage/final-comments/v2/add-comments?appealCode=1345259&action="><span class="govuk-visually-hidden">Submit </span>Final comment</a>',
          format: 'numeric'
        }
      ] if data['final-comments'] != 'complete',
      [
        {
          html: '<a href="#">1345172</a>'
        },
        {
          html: '64 Rene Court, Coldham’s Rd, Cambridge CB1 3EW'
        },
        {
          html: 'S20'
        },
        {
          html: '22' | daysInFuture
        },
        {
          html: '22 days',
          format: 'numeric'
        },
        {
          html: '<a href="/manage/final-comments/v2/add-comments?appealCode=1345259&action="><span class="govuk-visually-hidden">Submit </span>Final comment</a>',
          format: 'numeric'
        }
      ],
      [
        {
          html: '<a href="/manage/appeals/v7/appeal-details?appealCode=1345264&action=&statement=due">1345264</a>'
        },
        {
          html: 'Haggis Farm Cottage, Cambridge Rd, Barton, Cambridge CB23 7AT'
        },
        {
          html: 'S78'
        },
        {
          html: '33' | daysInFuture
        },
        {
          html: '33 days',
          format: 'numeric'
        },
        {
          html: '<a href="/manage/statement/v1/enter-statement?appealCode=1345264&action="><span class="govuk-visually-hidden">Submit </span>Statement</a>',
          format: 'numeric'
        }
      ] if data['questionnaire'] == 'complete',

      [
        {
          html: '<a href="#">1345172</a>'
        },
        {
          html: 'The Old Library, 2 Wheeler St, Cambridge CB2 3QB'
        },
        {
          html: 'S78'
        },
        {

        },
        {
          html: "<strong class='govuk-tag govuk-tag--green'>New</strong>",
          format: 'numeric'
        },
        {

        }
      ],
      [
        {
          html: '<a href="#">1345172</a>'
        },
        {
          html: 'Unnamed Road, Cambridge CB2 1PZ'
        },
        {
          html: 'S174'
        },
        {

        },
        {
          html: "<strong class='govuk-tag govuk-tag--green'>New</strong>",
          format: 'numeric'
        },
        {

        }
      ]

    ]
  }) }}

{% endif %}
