{% if data['submitted-appeals'] == 'no' %}

  <h2 class="govuk-heading-l">
    Submitted appeals
  </h2>

  <p class="govuk-body">
    There are currently no submitted appeals.
  </p>

{% else %}

  {{ govukTable({
    classes: 'govuk-!-margin-top-3',
    caption: 'Submitted appeals',
    captionClasses: 'govuk-table__caption--l',
    firstCellIsHeader: false,
    head: [
      {
        html: 'Appeal number'
      },
      {
        html: 'Address'
      },
      {
        html: 'Appeal type'
      },
      {
        html: 'Status'
      }
    ],
    rows: [
      [
        {
          html: '<a href="#">1345259</a>'
        },
        {
          html: 'Five Trees Garden, Cambridge CB4 1UA'
        },
        {
          html: 'S39'
        },
        {
          html: '<strong class="govuk-tag govuk-tag--yellow">
                   Queued for checking
                 </strong>'
        }
      ] if data['final-comments'] == 'complete',
      [
        {
          html: '<a href="/manage/appeals/v7/appeal-details?appealCode=1345273&action=&questionnaire=complete&statement=complete">1345273</a>'
        },
        {
          html: '20 Bermuda Rd, Arbury, Cambridge CB4 3JX'
        },
        {
          html: 'S78'
        },
        {
          html: '<strong class="govuk-tag govuk-tag--yellow">
                   Queued for checking
                 </strong>'
        }
      ] if data['statement'] == 'complete',
      [
        {
          html: '<a href="v5/appeal-details?appealCode=1345260&action=">1345260</a>'
        },
        {
          html: 'Shelford Bottom, Heath Farm, Babraham Rd, Stapleford, Cambridge CB22 3AD'
        },
        {
          html: 'S78'
        },
        {
          html: '<strong class="govuk-tag govuk-tag--blue">
                   With case officer
                 </strong>'
        }
      ]
    ]
  }) }}

{% endif %}
