<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "_layouts/layout-main.html" %}

{% set title = "Was the enforcement notice served against you?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/whoareyou" method="post">

      <span class="govuk-caption-l">
        Provide your contact details
      </span>

      {{ govukRadios({
        idPrefix: "enforcement-identity",
        name: "enforcement-identity",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "If you are not the person that received the enforcement notice, you must have their permission to submit an appeal on their behalf."
        },
        items: [
          {
            value: "appellant",
            text: "Yes, the enforcement notice was served against me"
          },
          {
            value: "agent",
            text: "No, I'm acting on behalf of the person it was served to"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
