<!--h3 class="govuk-heading-m">Appeal details</h3-->

<dl class="govuk-summary-list govuk-summary-list-appealdetails">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Appeal reference
    </dt>
    <dd class="govuk-summary-list__value">
      APP/Q9999/D/21/1345264
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Planning application number
    </dt>
    <dd class="govuk-summary-list__value">
      21/05058/FUL    
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Site address
    </dt>
    <dd class="govuk-summary-list__value">
      9617 The Avenue<br>
      Maidstone<br>
      XM26 7YS
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Appellant Name
    </dt>
    <dd class="govuk-summary-list__value">
      Manish Sharma
    </dd>
  </div>
</dl>

<!--h4 class="govuk-heading-s govuk-!-margin-bottom-1">Planning application number</h4>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Site address</h4>
<p class="govuk-!-margin-bottom-2">
  22 Argyll Street<br>
  Maidstone
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Appellant Name</h4>
<p class="govuk-!-margin-bottom-2">Manish Sharma</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"-->


