{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Check your answers - Full planning appeal questionnaire - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>
    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        Before you submit your evidence, take a moment to make sure you're happy with the answers you've provided.
      <p>

      <h2 class="govuk-heading-l">Procedure type</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you agree that this appeal will be decided by written representations?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-proceduretype-decidedby"] }}{% if data["lpaq-"+version+"-proceduretype-decidedby"] == "No, we recommend an inquiry" %}.<br>We plan to call {{ data["lpaq-"+version+"-proceduretype-decidedby-witnesses"] }} witnesses.{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      
      </dl>

      <h2 class="govuk-heading-l">Constraints, designations and other issues</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the proposed development involve changing a listed building?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-listedbuilding"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        
        {% if data["lpaq-"+version+"-constraintsdesignations-listedbuilding"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details of the changing listed building
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-constraintsdesignations-listedbuildingdetails-grade"] }}
              </p>
              {% if data["lpaq-"+version+"-constraintsdesignations-listedbuildingdetails-upload"]|is_string %}
                <p class="govuk-body">
                  <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-constraintsdesignations-listedbuildingdetails-upload"] }}</a>
                </p>
              {% else %}
                <ul class="govuk-list">
                  {% for item in data["lpaq-"+version+"-constraintsdesignations-listedbuildingdetails-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Would the development affect the setting of a listed building?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-affectslistedbuilding"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        
        {% if data["lpaq-"+version+"-constraintsdesignations-affectslistedbuilding"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details of the affected listing building
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-constraintsdesignations-affectslistedbuilding-grade"] }}
              </p>
              {% if data["lpaq-"+version+"-constraintsdesignations-affectslistedbuilding-upload"]|is_string %}
                <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-constraintsdesignations-affectslistedbuilding-upload"] }}</a>
              {% else %}
                <ul class="govuk-list">
                  {% for item in data["lpaq-"+version+"-constraintsdesignations-affectslistedbuilding-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Would the development affect an ancient monument?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-ancientmonument"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the appeal site in or near a conservation area?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-conservationarea"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        
        {% if data["lpaq-"+version+"-constraintsdesignations-conservationarea"] != "No, it is not in or next to a conservation area" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Conservation area documentation
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% if data["lpaq-"+version+"-constraintsdesignations-conservationarea-upload"]|is_string %}
                  <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-constraintsdesignations-conservationarea-upload"] }}</a>
                {% else %}
                  {% for item in data["lpaq-"+version+"-constraintsdesignations-conservationarea-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Would the development affect a protected species?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-protectedspecies"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the appeal site in a green belt?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-greenbelt"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the appeal site in an area of outstanding natural beauty?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-aonb"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the development in, near or likely to affect any designated sites?
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for item in data["lpaq-"+version+"-constraintsdesignations-designatedsite"] %}
                <li>
                  {{ item }}
                  {% if item == "Other" %}
                    - {{ data["lpaq-"+version+"-constraintsdesignations-designatedsite-other"] }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does a tree preservation order apply to any part of the appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-tpo"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        
        {% if data["lpaq-"+version+"-constraintsdesignations-tpo"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Plan showing the extent of the order
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% if data["lpaq-"+version+"-constraintsdesignations-tpo-siteplan"]|is_string %}
                  <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-constraintsdesignations-tpo-siteplan"] }}</a>
                {% else %}
                  {% for item in data["lpaq-"+version+"-constraintsdesignations-tpo-siteplan"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the development relate to anyone claiming to be a Gypsy or Traveller?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-traveller"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Would a public right of way need to be removed or diverted?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-constraintsdesignations-rightofway"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        
        {% if data["lpaq-"+version+"-constraintsdesignations-rightofway"] == "Yes" %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Extract from the definitive map and statement
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% if data["lpaq-"+version+"-constraintsdesignations-rightofway-mapstatement"]|is_string %}
                  <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-constraintsdesignations-rightofway-mapstatement"] }}</a>
                {% else %}
                  {% for item in data["lpaq-"+version+"-constraintsdesignations-rightofway-mapstatement"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}
      
      </dl>


      <h2 class="govuk-heading-l">Environmental impact assessment</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the development a schedule 1 or 2 development?
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {{ data["lpaq-"+version+"-environmentalimpact-schedule"] }}
            </p>
            {% if data["lpaq-"+version+"-environmentalimpact-schedule"] == "Yes" %}
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-environmentalimpact-schedule-type"] }}
              </p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if (data["lpaq-"+version+"-environmentalimpact-schedule"] == "Yes") and (data["lpaq-"+version+"-environmentalimpact-schedule-type"] == "Schedule 2") %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Description of development
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Is the development in, partly in, or likely to affect a sensitive area?
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                  {{ data["lpaq-"+version+"-environmentalimpact-sensitivearea"] }}
                </p>
                {% if data["lpaq-"+version+"-environmentalimpact-sensitivearea"] == "Yes" %}
                  <p class="govuk-body">
                    {{ data["lpaq-"+version+"-environmentalimpact-sensitivearea-details"] }}
                  </p>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does the development meet or exceed the threshold or criteria in column 2?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["lpaq-"+version+"-environmentalimpact-columntwo"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

        {% endif %}

        {% if (
                (data["lpaq-"+version+"-environmentalimpact-schedule"] == "Yes") and 
                (data["lpaq-"+version+"-environmentalimpact-schedule-type"] == "Schedule 2")
              ) or
              (data["lpaq-"+version+"-environmentalimpact-schedule"] == "No")
        %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you do a screening opinion?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["lpaq-"+version+"-environmentalimpact-screeningopinion"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
          
          {% if data["lpaq-"+version+"-environmentalimpact-screeningopinion"] == "Yes" %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Screening opinion and correspondence
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["lpaq-"+version+"-environmentalimpact-screeningopinion-details"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did your screening opinion say the development needed an environmental statement?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["lpaq-"+version+"-environmentalimpact-screeningopinion-es"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

          {% endif %}
          
          {% if (data["lpaq-"+version+"-environmentalimpact-screeningopinion"] == "No") or
                (
                  (data["lpaq-"+version+"-environmentalimpact-screeningopinion"] == "Yes") and
                  (data["lpaq-"+version+"-environmentalimpact-screeningopinion-es"] == "No")
                )
          %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did the applicant submit an environmental statement?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["lpaq-"+version+"-environmentalimpact-environmentalstatement"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

          {% endif %}

        {% endif %}


        {% if (
                (data["lpaq-"+version+"-environmentalimpact-schedule"] == "Yes") and 
                (data["lpaq-"+version+"-environmentalimpact-schedule-type"] == "Schedule 2") 
              ) or 
              (
                (data["lpaq-"+version+"-environmentalimpact-screeningopinion"] == "Yes") and
                (data["lpaq-"+version+"-environmentalimpact-screeningopinion-es"] == "Yes")
              )
        %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did you do the environmental statement?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["lpaq-"+version+"-environmentalimpact-lpaenvironmentalstatement"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
          
          {% if data["lpaq-"+version+"-environmentalimpact-lpaenvironmentalstatement"] == "No" %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Screening direction
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["lpaq-"+version+"-environmentalimpact-screeningdirection"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

          {% endif %}
          
          {% if data["lpaq-"+version+"-environmentalimpact-lpaenvironmentalstatement"] == "Yes" %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Environmental statement and supporting information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["lpaq-"+version+"-environmentalimpact-environmentalstatement"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

          {% endif %}

        {% endif %}
          
        {% if (data["lpaq-"+version+"-environmentalimpact-lpaenvironmentalstatement"] == "Yes")
              or 
              (data["lpaq-"+version+"-environmentalimpact-environmentalstatement"] == "Yes") 
        %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Consultation responses for the environmental statement
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["lpaq-"+version+"-environmentalimpact-consultationresponses"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site notice and advertisement for the environmental impact assessment development
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["lpaq-"+version+"-environmentalimpact-sitenoticeadvert"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

        {% endif %}

      </dl>


      <h2 class="govuk-heading-l">How you notified people about the application</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How did you notify people about the application?
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for item in data["lpaq-"+version+"-notifiedpeople-notifyapplication"] %}
              <li>
                {{ item }}
              </li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if 'A site notice' in data["lpaq-"+version+"-notifiedpeople-notifyapplication"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site notice
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-notifiedpeople-notifyapplication-sitenotice"] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if 'Letters to the neighbours' in data["lpaq-"+version+"-notifiedpeople-notifyapplication"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Letter to the neighbours, and their addresses
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-notifiedpeople-notifyapplication-letters"] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if 'A press advert' in data["lpaq-"+version+"-notifiedpeople-notifyapplication"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Press advert
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-notifiedpeople-notifyapplication-pressadvert"] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl>


      <h2 class="govuk-heading-l">Consultation responses and representations</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did you consult all the relevant statutory consultees about the development?
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {{ data["lpaq-"+version+"-representations-consultrelevant"] }}
            </p>
            {% if data["lpaq-"+version+"-representations-consultrelevant"] == "Yes" %}
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-representations-consultrelevant-whichbodies"] }}
              </p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have any consultation responses or standing advice from statutory consultees to upload?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-representations-consultationresponses"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-representations-consultationresponses"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Consultation responses and standing advice
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["lpaq-"+version+"-representations-consultationresponses-upload"]|is_string %}
                <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-representations-consultationresponses-upload"] }}</a>
              {% else %}
                <ul class="govuk-list">
                  {% for item in data["lpaq-"+version+"-representations-consultationresponses-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did you receive representations from any other parties?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-representations-otherparties"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-representations-otherparties"] == "Yes" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Representations from other parties
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["lpaq-"+version+"-representations-otherparties-upload"]|is_string %}
                <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-representations-otherparties-upload"] }}</a>
              {% else %}
                <ul class="govuk-list">
                  {% for item in data["lpaq-"+version+"-representations-otherparties-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Letter to the interested parties, and their addresses
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["lpaq-"+version+"-representations-letter-upload"]|is_string %}
                <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-representations-letter-upload"] }}</a>
              {% else %}
                <ul class="govuk-list">
                  {% for item in data["lpaq-"+version+"-representations-letter-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

        {% endif %}

      </dl>


      <h2 class="govuk-heading-l">Planning Officer's report and relevant policies</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning Officers report
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["lpaq-"+version+"-relevantpolicies-planningofficersreport"]|is_string %}
              <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-relevantpolicies-planningofficersreport"] }}</a>
            {% else %}
              <ul class="govuk-list">
                {% for item in data["lpaq-"+version+"-relevantpolicies-planningofficersreport"] %}
                  <li>
                    <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Extracts from the relevant statutory development plan policies
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["lpaq-"+version+"-relevantpolicies-statutorydevelopment"]|is_string %}
              <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-relevantpolicies-statutorydevelopment"] }}</a>
            {% else %}
              <ul class="govuk-list">
                {% for item in data["lpaq-"+version+"-relevantpolicies-statutorydevelopment"] %}
                  <li>
                    <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have an emerging plan that's relevant to this appeal?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-relevantpolicies-emergingplan"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-relevantpolicies-emergingplan"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Emerging plan and supporting information
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["lpaq-"+version+"-relevantpolicies-emergingplan-upload"]|is_string %}
                <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-relevantpolicies-emergingplan-upload"] }}</a>
              {% else %}
                <ul class="govuk-list">
                  {% for item in data["lpaq-"+version+"-relevantpolicies-emergingplan-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other relevant policies
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["lpaq-"+version+"-relevantpolicies-other"]|is_string %}
              <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-relevantpolicies-other"] }}</a>
            {% else %}
              <ul class="govuk-list">
                {% for item in data["lpaq-"+version+"-relevantpolicies-other"] %}
                  <li>
                    <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did any supplementary planning documents inform the outcome of the application?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-relevantpolicies-supplementary"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-relevantpolicies-supplementary"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Emerging plan and supporting information
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["lpaq-"+version+"-relevantpolicies-supplementary-upload"]|is_string %}
                <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-relevantpolicies-supplementary-upload"] }}</a>
              {% else %}
                <ul class="govuk-list">
                  {% for item in data["lpaq-"+version+"-relevantpolicies-supplementary-upload"] %}
                    <li>
                      <a href="javascript:preventDefault();" class="govuk-link">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have a community infrastructure levy?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-relevantpolicies-cil"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-relevantpolicies-cil"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Community infractstructure levy details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                <a href="javascript:preventDefault();" class="govuk-link">{{ data["lpaq-"+version+"-relevantpolicies-cil-upload"] }}</a>
              </p>
              {% if data["lpaq-"+version+"-relevantpolicies-cil-upload-adopted"] == "Yes" %}
                <p class="govuk-body">
                  Formally adopted on {{ data["lpaq-"+version+"-relevantpolicies-cil-upload-adopteddate-day"] | removeLeadingZero }} {{ data["lpaq-"+version+"-relevantpolicies-cil-upload-adopteddate-month"] | formatMonth }} {{ data["lpaq-"+version+"-relevantpolicies-cil-upload-adopteddate-year"] }}
                </p>
              {% else %}
                <p class="govuk-body">
                  Anticipated to be adopted on {{ data["lpaq-"+version+"-relevantpolicies-cil-upload-futureadopteddate-day"] | removeLeadingZero }} {{ data["lpaq-"+version+"-relevantpolicies-cil-upload-futureadopteddate-month"] | formatMonth }} {{ data["lpaq-"+version+"-relevantpolicies-cil-upload-futureadopteddate-year"] }}
                </p>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl>


      <h2 class="govuk-heading-l">Site access</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Can the Inspector see the relevant parts of the appeal site from public land?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-siteaccess-publicland"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the Inspector need to enter the appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {{ data["lpaq-"+version+"-siteaccess-entersite"] }}
            </p>
            {% if data["lpaq-"+version+"-siteaccess-entersite"] == "Yes" %}
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-siteaccess-entersite-details"] }}
              </p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any health and safety issues on the appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {{ data["lpaq-"+version+"-siteaccess-healthsafety"] }}
            </p>
            {% if data["lpaq-"+version+"-siteaccess-healthsafety"] == "Yes" %}
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-siteaccess-healthsafety-details"] }}
              </p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-l">Additional information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any other appeals adjacent or close to the site still being considered?
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              {{ data["lpaq-"+version+"-additionalinfo-nearbyappeals"] }}
            </p>
            {% if data["lpaq-"+version+"-additionalinfo-nearbyappeals"] == "Yes" %}
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-additionalinfo-nearbyappeals-references"] }}
              </p>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you planning to submit a statement of case for this appeal?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-additionalinfo-statementofcase"] }}    
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        
        {% if data["lpaq-"+version+"-additionalinfo-statementofcase"] == "No" %}  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you have any extra conditions?
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {{ data["lpaq-"+version+"-additionalinfo-extraconditions"] }}
              </p>
              {% if data["lpaq-"+version+"-additionalinfo-extraconditions"] == "Yes" %}
                <p class="govuk-body">
                  {{ data["lpaq-"+version+"-additionalinfo-extraconditions-details"] }}
                </p>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl>

      {{ govukWarningText({
        text: "By submitting this questionnaire, you confirm that all details are correct to the best of your knowledge.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        href: "confirmation",
        text: "Confirm and submit"
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
    </div>
  </div>
{% endblock %}
