{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Questionnaire submitted - Full planning appeal questionnaire - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-9",
        titleText: "Questionnaire submitted"
      }) }}

      <p class="govuk-body">
        We've received your evidence and have sent a confirmation email to your.email@work.gov.uk.
      </p>

      <h2 class="govuk-heading-m">What you need to do</h2>
      <p class="govuk-body">
        You need to email a copy of your questionnaire to the appellant. This must include a copy of any documents you uploaded.
      </p>
      <p class="govuk-body">
        We've included a link to download a copy of your questionnaire in your confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body">
        We'll review your evidence and will be in touch if we need any further information.
      </p>

      <br><br><br><br><br><br>
      <p><a href="email/confirmation">(View confirmation email)</a></p>
      </div>
    
    </div>
  </div>
{% endblock %}
