{% extends location+"_layout.html" %}
{% set prototypeLinks = [{href: '../errors/no-enforcement', text: 'Yes: no enforcement appeals yet'}] %}

{% block questions %}
	{{ govukRadios({
		idPrefix: 'enforcement-check',
		name: 'enforcement-check',
		fieldset: {
			legend: {
				html: 'Have you received an enforcement notice?',
				classes: 'govuk-fieldset__legend--l',
				isPageHeading: true
			}
		},
		items: [
			{
				html: 'Yes',
				value: 'Yes',
				checked: checked('enforcement-check','Yes')
			},
			{
				html: 'No',
				value: 'No',
				checked: checked('enforcement-check','No')
			}
		]
	}) }}
{% endblock %}