{% extends location+"_layout.html" %}

{% block questions %}
	{{ govukRadios({
		idPrefix: 'planning-type',
		name: 'planning-type',
		fieldset: {
			legend: {
				html: 'What type of planning application is your appeal about?',
				classes: 'govuk-fieldset__legend--l',
				isPageHeading: true
			}
		},
		hint: {
			html: 'You can check this on your planning application form'
		},
		items: [
			{
				html: 'Full planning',
				value: 'Full planning',
				checked: checked('planning-type','Full planning')
			},
			{
				html: 'Householder planning',
				value: 'Householder planning',
				checked: checked('planning-type','Householder planning')
			},
			{
				html: 'Listed building consent',
				value: 'Listed building consent',
				checked: checked('planning-type','Listed building consent')
			},
			{
				html: 'Outline planning',
				value: 'Outline planning',
				checked: checked('planning-type','Outline planning')
			},
			{
				html: 'Prior approval',
				value: 'Prior approval',
				checked: checked('planning-type','Prior approval')
			},
			{
				html: 'Reserved matters',
				value: 'Reserved matters',
				checked: checked('planning-type','Reserved matters')
			},
			{
				html: 'Removal or variation of conditions',
				value: 'Removal or variation of conditions',
				checked: checked('planning-type','Removal or variation of conditions')
			}
		]
	}) }}
{% endblock %}