<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "_layouts/layout-main.html" %}

{% set title = "How many witnesses would you expect to give evidence at the inquiry?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="common-ground" method="post">

      <span class="govuk-caption-l">
        Tell us how you would prefer us to decide your appeal
      </span>

      {{ govukInput({
        id: "enforcement-inquiry-witnesses",
        name: "enforcement-inquiry-witnesses",
        classes: "govuk-input--width-3",
        label: {
          text: title,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        value: data["enforcement-inquiry-witnesses"]
      }) }}

      <div class="govuk-button-group">

        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          href: "../appeal-saved",
          text: "Save and come back later",
          classes: "govuk-button--secondary"
        }) }}

      </div>

    </form>

  </div>
</div>


{% endblock %}
