<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "_layouts/layout-main.html" %}

{% set title = "Have you applied for a historic building grant or loan" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <span class="govuk-caption-l">
        Tell us about the listed building
      </span>

      {{ govukRadios({
        idPrefix: "listed-building-grant-made",
        name: "listed-building-grant-made",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "This is a grant or loan made under section 3A or 4 of the Historic Monuments Act 1953."
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("listed-building-grant-made", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("listed-building-grant-made", "No")
          }
        ]
      }) }}

      <div class="govuk-button-group">

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          href: "",
          text: "Save and come back later",
          classes: "govuk-button--secondary"
        }) }}

      </div>

    </form>

  </div>
</div>
{% endblock %}
