{% extends "layouts/case-officer/v7.html" %}

{% block pageTitle %}
  Search results - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Dashboard",
        href: "/case-officer/"+version+"/"
      },
      {
        text: "Search results"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post" action="">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="search">
              Search appeals
            </label>
          </h1>
          <div id="search-hint" class="govuk-hint">
            Enter reference, site address, appellant or agent name
          </div>
          <input class="govuk-input govuk-!-width-one-third" id="search" name="search" type="text" aria-describedby="search-hint" value="{{data["search"]}}">
          <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
            Search
          </button>
        </div>
      </form>

      {# Size modifiers: xl, l, m #}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">
        Search results
      </h2>

      <table class="govuk-table" id="results">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Site address</th>
            <th scope="col" class="govuk-table__header">Appellant name</th>
            <th scope="col" class="govuk-table__header">Appeal type</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <!-- loop through the cstSearch data to display as results -->
          {% for item in data['cstSearch'] %}
            <!-- data- attributes set to help show/hide rows to mimic search funcitonality -->
            <tr
              data-ref="{{ item.ref }}"
              data-address="{{ item.address | lower }}"
              data-postcode="{{ item.postcode | lower }}"
              class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="details" class="govuk-link">APP/Q999/D/21/{{ item.ref }}</a>
                </td>
                <td class="govuk-table__cell">{{ item.address }}, {{ item.postcode }}</td>
                <td class="govuk-table__cell">{{ item.name }}</td>
                <td class="govuk-table__cell">HAS</td>
                <td class="govuk-table__cell"></td>
            </tr>
          {% endfor %}
          
          <tr id="noresults" style="display:none">
            <td>
              We couldn’t find any accounts matching your search.
            </td>
          </tr>
        </tbody>

      </table>

  </div>
</div>

{% endblock %}

{% block pageScripts %}

  <script>
    var term = "{{data['search']}}";
    //window.alert("{{data['search']}}");
    if (term != ''){
      $('#results tbody tr').hide();
    }
    var refItems = $('tr[data-ref*="' + term + '"]').length;
    var addressItems = $('tr[data-address*="' + term.toLowerCase() + '"]').length;
    var postcodeItems = $('tr[data-postcode*="' + term.toLowerCase() + '"]').length;
    var numMatches = refItems + addressItems + postcodeItems;
      //$("#searchcount").html(numMatches);
      //$("#searchterm").html(term);
    if (numMatches == 0){
      $('#results .govuk-table__head').hide();
      $('#noresults').show();
    } else {
      $('tr[data-ref*="' + term + '"]').show();
      $('tr[data-address*="' + term.toLowerCase() + '"]').show();
      $('tr[data-postcode*="' + term.toLowerCase() + '"]').show();
    }
  </script>
{% endblock %}