
{% extends "layouts/case-officer/v2.html" %}

{% block pageTitle %}
  Review appeal submission
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "appeal-list"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select if you have completed all follow-up tasks and emails",
            href: "#vo-v2-wrong-completed"
          }
        ]
      }) }}

      <h1 class="govuk-heading-xl">
        Check and confirm
      </h1>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Outcome of review 
          </dt>
          <dd class="govuk-summary-list__value">
            Something is missing or wrong
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant name
          </dt>
          <dd class="govuk-summary-list__value">
            Manish Sharma
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal reference
          </dt>
          <dd class="govuk-summary-list__value">
            APP/Q9999/D/21/1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal site
          </dt>
          <dd class="govuk-summary-list__value">
            96 The Avenue<br>
            Maidstone<br>
            XM26 7YS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason{% if (data["vo-v2-wrong-reasons"] | length) > 1 %}s{% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              {% for reason in data["vo-v2-wrong-reasons"] %}
                <li>
                  {{ reason }}
                  {% if reason == "Missing or wrong documents" %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for wrongreasons in data["vo-v2-wrong-reasons-missing"] %}
                        <li>
                          {{ wrongreasons }}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% if reason == "Other" %}
                    - {{ data["vo-v2-wrong-other"] }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </dd>
        </div>
      </dl>
      

      <form action="" method="post">
      
        {{ govukCheckboxes({
          idPrefix: "vo-v2-wrong-completed",
          name: "vo-v2-wrong-completed",
          classes: "govuk-!-margin-bottom-9",
          errorMessage: {
            text: "Select if you have completed all follow-up tasks and emails"
          },
          items: [
            {
              text: "I have completed all follow-up tasks and emails",
              value: "completed"
            }
          ]
        }) }}
          
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm and finish review"
          }) }}
          <a class="govuk-link" href="review-appeal">Change outcome</a>
        </div>

      </form>
      
    </div>
  </div>

{% endblock %}
