{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Comment on a planning appeal' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <span class="govuk-caption-l">
      Comment on planning appeals
    </span> -->
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "6" %}

    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">
      This is the on-going design work for interested parties, finding and commenting on an appeal. Includes appeals at different stages, open, closed and completed.
    </p>

    <p class="govuk-body">
      Changes:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>content updates</li>
      <li>only using tabs when there is a decision</li>
      <li>changed some language ‘Comments’ > ‘Comment’ for the find journey</li>
      <li>small updates to presentation for open/current appeals</li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'find-appeal/v'+version+'/guidance',
      isStartButton: true
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% set version = "5" %}

    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--blue govuk-!-margin-left-2',
        text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-body">
      This is the previous design work for interested parties, finding and commenting on an appeal.
    </p>

    <p class="govuk-body">
      Changes:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>moved the work to the new prototype (<a href="https://pins-appeals.herokuapp.com/interested-party/v4/guidance" class="govuk-link govuk-link--no-visited-state">see version 4</a>)</li>
      <li>invite to comment and GOVUK guidance entry points</li>
      <li>updated to align with newer service</li>
      <li>updated tag colours to align them with GDS style</li>
      <li>leads with address search</li>
      <li>added confirmation email</li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'find-appeal/v'+version+'/guidance',
      isStartButton: true
    }) }}



    <!-- below is the variables form -->

    {% set lpaForm %}

      <form method="get" action="v{{version}}/guidance">

        {{ govukInput({
          id: 'dashboard-lpa',
          name: 'dashboard-lpa',
          value: data['dashboard-lpa'],
          label: {
            html: 'LPA&rsquo;s name'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'lpa-email',
          name: 'lpa-email',
          value: data['lpa-email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'user-account',
          name: 'users[0][email]',
          value: data['users']['0']['email'],
          label: {
            html: 'Admin account email'
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: 'Add to URL',
          classes: 'govuk-!-margin-bottom-0'
        }) }}

      </form>

    {% endset -%}

    {{ govukDetails({
      summaryHtml: 'Change LPA details',
      html: lpaForm
    }) }}

  </div>
</div>
{% endblock %}
