{% set pageref = "" %}
{% extends location+"_layout.html" %}

{% set serviceName = "Manage your planning inspectorate appeals" %}

{% set title = "Manage users" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {% if data['appeals'] == "yes" %}
    {{ govukBackLink({
      text: "Back to your planning appeals",
      href: "appeals"
    }) }}
  {% else %}
    {{ govukBackLink({
      text: "Back to your planning appeals",
      href: "no-appeals"
    }) }}
  {% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set added %}
      <mark role="alert">
        <h3 class="govuk-notification-banner__heading">
          {% if data['email'] %}
            {{ data['email']+"@leeds.gov.uk" }}
          {% else %}
            sam.aye@leeds.gov.uk
          {% endif %} has been added to the account
        </h3>
        <p class="govuk-body">They will receive an email with a link to the service.</p>
      </mark>
    {% endset %}

    {% set removed %}
      <mark role="alert">
        <h3 class="govuk-notification-banner__heading">
          {% if data['email'] %}
            {{ data['email']+"@leeds.gov.uk" }}
          {% else %}
            sam.aye@leeds.gov.uk
          {% endif %} has been removed
        </h3>
        {# <p class="govuk-body">If they accept the invite they will appear in the list below and will be able to access all appeals.</p> #}
      </mark>
    {% endset %}

    {% if data['action'] == "added" %}
      {{ govukNotificationBanner({
        html: added,
        type: 'success'
      }) }}
    {% endif %}

    {% if data['action'] == "removed" %}
      {{ govukNotificationBanner({
        html: removed,
        type: 'success'
      }) }}
    {% endif %}

    <label class="govuk-label govuk-label--l" for="email">
      {{ title }}
    </label>

    <p class="govuk-body">
      Added users can add information to appeals. All users will receive notifications about new appeals.
    </p>

    <p class="govuk-body">
      <a href="give-access" class="govuk-link">
        Add a user
      </a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half">

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header govuk-table__cell--numeric govuk-!-width-one-quarter"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

        {% if data['shared'] %}

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if data['email'] %}
                {{ data['email']+"@leeds.gov.uk" }}
              {% else %}
                sam.aye@leeds.gov.uk
              {% endif %}
            </td>

            <td class="govuk-table__cell govuk-table__cell--numeric">
              <a href="confirm-remove" class="govuk-link govuk-link--no-visited-state">
                Remove<span class="visually-hidden"> this user</span>
              </a>
            </td>
          </tr>

        {% endif %}

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {% if data['myemail'] %}
              {{ data['myemail'] }}
            {% else %}
              your.name@leeds.gov.uk
            {% endif %}
          </td>

          <td class="govuk-table__cell">
            {# <a href="confirm-remove" class="govuk-link govuk-link--no-visited-state">
              Remove<span class="visually-hidden"> this user</span>
            </a> #}
          </td>
        </tr>

      </tbody>
    </table>

    {% if data['shared'] %}
    {% else %}
      <!-- this is a prototype only link -->
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9 govuk-!-margin-top-9">
        <p class="govuk-body-s pins-prototype-only">
          <a href="access?action=newuser&shared=1">
            User accepts an invite
          </a>
        </p>
      </div>
    {% endif %}

  </div>
</div>

{% endblock %}
