{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Manage Planning Inspectorate appeals" %}

{% set title = "Planning appeals" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <label class="govuk-label govuk-label--l" for="email">
      {{ title }}
    </label>

    <p class="govuk-body">
      <a href="access" class="govuk-link">
        Who has access to these appeals?
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-full">

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Application number</th>
          {# <th scope="col" class="govuk-table__header">Type of application</th> #}
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Appeal reference</th>
          <th scope="col" class="govuk-table__header">Statements deadline</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            <a href="/lpa-questionnaire/v1/task-list?appeal=1021222" class="govuk-link govuk-link--no-visited-state">
              APP/01/22/0119871
            </a>
          </th>
          {# <td class="govuk-table__cell">Full planning</td> #}
          <td class="govuk-table__cell">1021222</td>

          <td class="govuk-table__cell">
            {{ 20 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              New
            </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">

          <th scope="row" class="govuk-table__cell">
            <a href="/lpa-questionnaire/v1/task-list?appeal=1287330" class="govuk-link govuk-link--no-visited-state">
              APP/03/22/0120039
            </a>
          </th>
          {# <td class="govuk-table__cell">Full planning</td> #}
          <td class="govuk-table__cell">1287330</td>

          <td class="govuk-table__cell">
            {{ 15 | daysInFuture }}
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              In progress
            </strong>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

{% endblock %}
