{% set pageref = "" %}
{% extends location+"_layout.html" %}

{% set serviceName = "Manage your planning inspectorate appeals" %}

{% set title = "Leeds planning appeals" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {# {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }} #}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-body-m">
      Planning appeals will be shown here. All users will be notified by email when a new appeal is added.
    </p>

    <p class="govuk-body-m">
      You can <a href="access?action=" class="govuk-link">add and remove account users</a>.
    </p>

    {# <p class="govuk-body">
      <a href="access?action=" class="govuk-link">
        People who can manage these appeals
      </a>
    </p> #}

    {# <p class="govuk-body">
      No questionnaires are due.
    </p> #}

  </div>

  <div class="govuk-grid-column-full">
    {# <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application number</th>
          <th scope="col" class="govuk-table__header">Appeal reference</th>
          <th scope="col" class="govuk-table__header">Due date</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">


      </tbody>
    </table> #}

    <!-- this is a prototype only link -->
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9 govuk-!-margin-top-9">
      <p class="govuk-body-s pins-prototype-only">
        <a href="appeals?quest-status=new&appeals=yes">
          Some time later appeals have been added
        </a>
      </p>
    </div>

  </div>
</div>

{% endblock %}
