{% extends "layouts/main.html" %}

{% set title = "Who will receive the invitation to access this appeal?" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "consent.html"
}) }}
{% endblock %}

{% block content %}

 <form method="post">
      <span class="govuk-caption-xl">
        Appeal {{ data['appealCode'] or '1345264' }} - change access
      </span>

      {{ govukRadios({
        name: "whowillreceiveinvite",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "The appellant",
            text: "The appellant"
          },
          {
            value: "The agent",
            text: "An agent"
          }
        ]
      }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
