{% extends '_layouts/layout-pins.html' %}

{% set title = "Appeal "+data['appealCode'] %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back to appeals",
    href: "/manage/appeals/v6/?action="
  }) }}
{% endblock %}

{% block content %}

<!-- SECTION -->
<!-- title and decision if there is one -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['questionnaire'] == 'overdue' %}
      <div class="govuk-notification-banner govuk-!-margin-bottom-3" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            This questionnaire was due {{ 1 | daysAgo }}
            <!-- <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This appeal is overdue
              </strong>
            </div> -->
          </p>
          <p class="govuk-body">
            <a href="/manage/questionnaire/v14/task-list?action=">Submit questionnaire</a>
          </p>
        </div>
      </div>
    {% elif data['questionnaire'] == 'due' %}
      <div class="govuk-notification-banner govuk-!-margin-bottom-3" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You must submit this questionnaire by 11:59pm on {{ 3 | daysInFuture }}
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/manage/questionnaire/v14/task-list?action=">Submit questionnaire</a>
              </li>
            </ul>
          </p>
        </div>
      </div>
    {% else %}
      <!-- due or completed appeal does not show a notification -->
    {% endif %}

    {% if data['statement'] == 'due' %}
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You must submit this statement by 11:59pm on {{ 4 | daysInFuture }}
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/manage/statement/v1/enter-statement?action=">Submit statement</a>
              </li>
            </ul>
          </p>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      Appeal {{ data['appealCode'] or '1345264' }}
    </h1>

  </div>

  <div class="govuk-grid-column-full">
    {% include "_includes/appeal-content/lpa-full-appeal-meta.html" %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>

  <div class="govuk-grid-column-two-thirds">
    {% if data['questionnaire'] == 'complete' %}
      {% include "_includes/questionnaire-content/lpa-table-has-questionnaire.html" %}
    {% endif %}

    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
    {% include "_includes/appeal-content/lpa-table-has-submission.html" %}
  </div>

</div>

{% endblock %}
