{% extends location+"_layout.html" %}

{% block questions %}
  {{ govukTextarea({
    name: 'procedure-reason',
    id: 'procedure-reason',
    value: data['procedure-reason'],
    rows: '5',
    label: {
      html: 'Why would you prefer an '+ (data['procedure'] | lower or 'inquiry') +'?',
      classes: 'govuk-label--l',
      isPageHeading: true
    }
  }) }}
{% endblock %}

{% block notes %}
  {# <h2 class="govuk-heading-m">
    Design notes
  </h2>
  <ul class="govuk-list">
    <li>

    </li>
  </ul> #}
{% endblock %}

{% block pageScripts %}{% endblock %}