{% extends '_layouts/layout-main.html' %}

{% set back = false %}

{% block questions %}
  <h1 class="govuk-heading-l">
    Check your email
  </h1>

  <p>We have sent a code to your email address. It might take a few minutes to arrive. The code will expire after 30 minutes.</p>

  {{ govukInput({
    id: 'save-return-code',
    name: 'save-return-code',
    value: data['save-return-code'],
    classes: 'govuk-input--width-4',
    label: {
      html: 'What is the 4 digit security code?',
      classes: 'govuk-label--m'
    }
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    html: 'Continue',
    href: 'final-comment-check'
  }) }}

  <p><a href="#0">Not received the code?</a></p>
{% endblock %}

{% block pageScripts %}{% endblock %}
