$department-color: govuk-colour("turquoise");

.app-c-layout-header .govuk-header__container {
	border-bottom-color: $department-color;
	padding-top: 5px;
}

.app-c-header__logo {
	white-space: nowrap;
	width: auto;
	margin-bottom: 5px;

	.govuk-header__logotype-text {
		font-size: 24px;
	}

	@include govuk-media-query($until: tablet) {
		.govuk-header__logotype-crown {
			width: 46px;
			height: 46px;
			padding: 4px 0 5px 0;
		}
	}

	@include govuk-media-query($from: tablet) {
		.govuk-header__link {
			line-height: 40px;
		}
	}
}

.app-c-header__content {
	width: auto;

	@include govuk-media-query($from: desktop) {
		float: right;
	}
}

// .app-c-header__product-name {
// 	position: absolute;
// 	top: 37px;
// 	left: 53px;
//
// 	@include govuk-media-query($from: tablet) {
// 		position: initial;
// 		display: inline-block;
//
// 			&:before {
// 				display: inline-block;
// 				content: "";
// 				background-color: #fff;
// 				width: 1px;
// 				height: 25px;
// 				position: relative;
// 				top: 5px;
// 				left: 0;
// 				margin-right: 10px;
// 			}
// 	}
// }

.app-c-header__product-name {
	position: absolute;
	top: 24px;
	left: 53px;

	@include govuk-media-query($from: tablet) {
		position: initial;
		display: inline-block;
		margin-top: 3px;

			&:before {
				display: inline-block;
				content: "";
				background-color: #fff;
				width: 1px;
				height: 25px;
				position: relative;
				top: 5px;
				left: 0;
				margin-right: 10px;
			}
	}
}

.govuk-header__navigation-item--collapsed-menu-only {
	@include govuk-media-query($from: desktop) {
		display: none;
	}
}


// The crown styles were removed as GOV.UK was added to the SVG, add them back in
.govuk-header__logotype-crown {
	position: relative;
	top: -1px;
	margin-right: 1px;
	fill: currentcolor;
	vertical-align: top;
}
