{% set pageref = "MVP-BYS-OOT-2" %}
{% extends "layouts/mvp-full-appeal/v2.html" %}

{% block pageTitle %}
  You cannot appeal - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot appeal
      </h1>

      <p class="govuk-body">
        Your deadline to appeal has passed.
      </p>

      <p class="govuk-body">
        Your deadline was {{ data['mvp-'+version+'-bys-deadline-day'] }} {{ data['mvp-'+version+'-bys-deadline-month'] | formatMonth }} {{ data['mvp-'+version+'-bys-deadline-year'] }}. This is 6 months from the date the decision was due.
      </p>

    </div>
  </div>

{% endblock %}
