{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Check your answers and submit your appeal - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="declaration" method="post">

        <span class="govuk-caption-l">
          Check your answers and submit your appeal
        </span>

        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>

        <!-- contact details -->
        <h2 class="govuk-heading-l">Tell us who was on the enforcement notice</h2>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Named on the notice
            </dt>
            <dd class="govuk-summary-list__value">
              {% for name in data['names'] %}
                {{ name.name }}
                <br>
              {% else %}
                Nic Davies
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> was the planning application made in your name?</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data["enforcement-your-email"] or 'nickydavies@jambon.co.uk' }}</p>
              <p class="govuk-body">{{ data['enforcement-telephone'] or '01179428242' }}</p>

            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


        </dl>

        <!-- appeal site -->
        <h2 class="govuk-heading-l govuk-!-margin-top-9">
          Tell us about the listed building
        </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Listed building grade
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["building-grade"] or 'Grade II*' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> listed building grade</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First listed date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["listed-building-listed-date-day"] %}
                {{ data["listed-building-listed-date-day"] }}
                {{ data["listed-building-listed-date-month"] | formatMonth  }}
                {{ data["listed-building-listed-date-year"] }}
              {% else %}
                2 February 1977
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> first listed date</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grant made under section 3A or 4 of the Historic Buildings and Ancient Monuments Ace 1953?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["listed-building-grant-made"] == "Yes" %}
                Yes
              {% else %}
                No
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> first listed date</span>
              </a>
            </dd>
          </div>



        </dl>

        <!-- appeal site -->
        <h2 class="govuk-heading-l govuk-!-margin-top-9">Tell us about the appeal site</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appeal site address
            </dt>
            <dd class="govuk-summary-list__value">

              {{ data["enforcement-site-address-line1"] or '1 Providence Avenue' }}

              {% if data["enforcement-site-address-line2"] %}
                <br>{{ data["enforcement-site-address-line2"] }}
              {% endif %}

              {% if data["enforcement-site-address-town"] %}
                <br>{{ data["enforcement-site-address-town"]}}
              {% else %}
                <br>Jamton
              {% endif %}

              {% if data["enforcement-site-address-county"] %}
                <br>{{ data["enforcement-site-address-county"] or '' }}
              {% endif %}

              {% if data["enforcement-site-address-postcode"] %}
                <br>{{ data["enforcement-site-address-postcode"] }}
              {% elseif data["enforcement-site-address-easting"] %}
                <br>{{ data["enforcement-site-address-easting"] }}
                <br>{{ data["enforcement-site-address-northing"] }}
              {% else %}
                <br>JM2 3BL
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> address of the appeal site</span>
              </a>
            </dd>
          </div>

          <!-- site visibility -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Visible from a public road
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {{ data["enforcement-site-visibility"] or 'Yes' }}
              </p>

              {% if data["enforcement-site-visibility"] == "No" %}
                <p class="govuk-body">
                  {{ data['enforcement-site-visibility-details'] }}
                </p>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> is the site visible from a public road?</span>
              </a>
            </dd>
          </div>

          <!-- health and safety -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Health and safety issues
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {{ data["enforcement-site-healthsafety"] or 'No' }}
              </p>

              {% if data["enforcement-site-healthsafety"] == "Yes" %}
                <p class="govuk-body">
                  {{ data['enforcement-site-healthsafety-details'] }}
                </p>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> is the site visible from a public road?</span>
              </a>
            </dd>
          </div>

          <!-- site interest -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Interest in the land or building
            </dt>
            <dd class="govuk-summary-list__value">

                {% if data['enforcement-interest'] != 'none' %}
                  <!-- one of the 4 -->
                  <p class="govuk-body">
                    {{ data['enforcement-interest'] or 'Owner' }}
                  </p>
                {% else %}
                  <!-- none of the above-->
                  {% if data['enforcement-site-owner-consent'] != "No" %}
                    <!-- one of the 4 -->
                    <p class="govuk-body">
                      Consent from the owner to occupy the land or building when the enforcement notice was issued.
                    </p>

                    <!-- none of the above-->
                    {% if data['enforcement-site-occupation'] == "Yes" %}
                      <!-- one of the 4 -->
                      <p class="govuk-body">
                        I occupy the land or building now.
                      </p>
                    {% endif %}


                  {% else %}
                    <!-- none -->
                    {{ data['enforcement-site-interest-details'] }}

                  {% endif %}

                {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> is the site visible from a public road?</span>
              </a>
            </dd>
          </div>

          {% if data['enforcement-other-appeals'] == "Yes" %}

            <!-- other appeals -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other appeals for this development or nearby sites
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                  {{ data["enforcement-other-appeals-details"] }}
                </p>

                {% if data["enforcement-site-healthsafety"] == "Yes" %}
                  <p class="govuk-body">
                    {{ data['enforcement-site-healthsafety-details'] }}
                  </p>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> is the site visible from a public road?</span>
                </a>
              </dd>
            </div>

          {% endif %}

        </dl>

        <!-- grounds of appeal -->
        <h2 class="govuk-heading-l govuk-!-margin-top-9">Choose your grounds of appeal</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grounds of appeal
            </dt>
            <dd class="govuk-summary-list__value">

              {% if data['grounds-1'] != null
                 or data['grounds-2'] != null
                 or data['grounds-3'] != null
                 or data['grounds-4'] != null
                 or data['grounds-5'] != null
                 or data['grounds-6'] != null
                 or data['grounds-7'] != null %}

                {% if data['grounds-1'] %}
                  <p class="govuk-body">
                    Ground A: Planning permission should be granted for the alleged breach in the enforcement notice.
                  </p>
                {% endif %}

                {% if data['grounds-2'] %}
                  <p class="govuk-body">
                    Ground B: The alleged breach of planning permission has not happened.
                  </p>
                {% endif %}

                {% if data['grounds-3'] %}
                  <p class="govuk-body">
                    Ground C: The alleged breach does not require planning permission.
                  </p>
                {% endif %}

                {% if data['grounds-4'] %}
                  <p class="govuk-body">
                    Ground D: It’s too late for the local authority to serve the enforcement notice.
                  </p>
                {% endif %}

                {% if data['grounds-5'] %}
                  <p class="govuk-body">
                    Ground E: Copies of the enforcement notice were not legally served to the right people.
                  </p>
                {% endif %}

                {% if data['grounds-6'] %}
                  <p class="govuk-body">
                    Ground F: The steps to comply with the enforcement notice are excessive.
                  </p>
                {% endif %}

                {% if data['grounds-7'] %}
                  <p class="govuk-body">
                    Ground G: I need more time to comply with the enforcement notice.
                  </p>
                {% endif %}

              {% else %}

                <p class="govuk-body">
                  Ground A: Planning permission should be granted for the alleged breach in the enforcement notice.
                </p>

              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> your grounds of appeal</span>
              </a>
            </dd>
          </div>


          <!-- facts and reasons -->

          <!-- if any grounds were selected -->

          {% if data['grounds-1'] != null
             or data['grounds-2'] != null
             or data['grounds-3'] != null
             or data['grounds-4'] != null
             or data['grounds-5'] != null
             or data['grounds-6'] != null
             or data['grounds-7'] != null %}

            <!-- list out the data -->

            {% if data['grounds-1'] %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reasons for Ground A
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body pins-line-clamp">
                  {{ data["enforcement-ground-a-reasons"] or "Ground A reasons" }}
                </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="javascript:preventDefault();">
                    Change<span class="govuk-visually-hidden"> ground A reasons</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            {% if data['grounds-2'] %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reasons for Ground B
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body pins-line-clamp">
                  {{ data["enforcement-ground-b-reasons"] or "Ground B reasons" }}
                </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="javascript:preventDefault();">
                    Change<span class="govuk-visually-hidden"> ground B reasons</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            {% if data['grounds-3'] %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reasons for Ground C
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body pins-line-clamp">
                  {{ data["enforcement-ground-c-reasons"] or "Ground C reasons" }}
                </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="javascript:preventDefault();">
                    Change<span class="govuk-visually-hidden"> ground C reasons</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            {% if data['grounds-4'] %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reasons for Ground D
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body pins-line-clamp">
                  {{ data["enforcement-ground-d-reasons"] or "Ground D reasons" }}
                </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="javascript:preventDefault();">
                    Change<span class="govuk-visually-hidden"> ground B reasons</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            {% if data['grounds-5'] %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reasons for Ground E
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body pins-line-clamp">
                  {{ data["enforcement-ground-e-reasons"] or "Ground E reasons" }}
                </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="javascript:preventDefault();">
                    Change<span class="govuk-visually-hidden"> ground E reasons</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            {% if data['grounds-6'] %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reasons for Ground F
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body pins-line-clamp">
                  {{ data["enforcement-ground-b-reasons"] or "Ground F reasons" }}
                </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="javascript:preventDefault();">
                    Change<span class="govuk-visually-hidden"> ground F reasons</span>
                  </a>
                </dd>
              </div>
            {% endif %}

            {% if data['grounds-7'] %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reasons for Ground G
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body pins-line-clamp">
                  {{ data["enforcement-ground-g-reasons"] or "Ground G reasons" }}
                </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="javascript:preventDefault();">
                    Change<span class="govuk-visually-hidden"> ground G reasons</span>
                  </a>
                </dd>
              </div>
            {% endif %}

          {% endif %}

          <!-- if there was an application -->
          {% if data["enforcement-application"] == "Yes" %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Planning application submitted
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["enforcement-retroapplication-date-day"] }}
                {{ data["enforcement-retroapplication-date-month"] | formatMonth  }}
                {{ data["enforcement-retroapplication-date-year"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> planning application submitted</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Planning application decision
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data["enforcement-application-decision"] == "Yes" %}
                  {{ data["enforcement-application-decision-date-day"] }}
                  {{ data["enforcement-application-decision-date-month"] | formatMonth  }}
                  {{ data["enforcement-application-decision-date-year"] }}
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> planning application decision</span>
                </a>
              </dd>
            </div>

          {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning application submitted
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> planning application submitted</span>
              </a>
            </dd>
          </div>

          {% endif %}

          <!-- if ground a, show fees answer -->
          {% if data['grounds-1'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Fee paid for the same development
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["enforcement-fees-paid"] or 'Yes' }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> fee paid for the same development</span>
                </a>
              </dd>
            </div>
          {% endif %}

        </dl>

        <!-- appeal procedure -->
        <h2 class="govuk-heading-l govuk-!-margin-top-9">Tell us how you would prefer us to decide your appeal</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How would you prefer us to decide your appeal?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['enforcement-procedure'] or 'Written representations'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> how would you prefer us to decide your appeal</span>
              </a>
            </dd>
          </div>

          {% if data['enforcement-procedure'] == "Hearing" %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why would you prefer a hearing?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['enforcement-procedure-why-hearing'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> why would you prefer a hearing</span>
                </a>
              </dd>
            </div>

          {% elif data['enforcement-procedure'] == "Inquiry" %}

            <!-- why inquiry -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Why would you prefer an inquiry?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['enforcement-procedure-why-inquiry'] or "So that I can give verbal evidence and call the architect as a witness."}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> why would you prefer an inquiry</span>
                </a>
              </dd>
            </div>

            <!-- inquiry days -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How many days would you expect an inquiry to last?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['enforcement-inquiry-days'] or '1' }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> how many days would you expect an inquiry to last</span>
                </a>
              </dd>
            </div>

            <!-- witnesses -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How many witnesses would you expect to give evidence at the inquiry?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['enforcement-inquiry-witnesses'] or '1' }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> how many witnesses would you expect to give evidence at the inquiry</span>
                </a>
              </dd>
            </div>

            <!-- statement of common ground -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Draft statement of common ground
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['enforcement-statement-common-ground'] or 'Providence-statement-of-common-ground.pdf' }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> your uploaded statement of common ground</span>
                </a>
              </dd>
            </div>

          {% endif %}

        </dl>

        <!-- uploaded documents -->
        <h2 class="govuk-heading-l govuk-!-margin-top-9">Upload documents for your appeal</h2>
        <dl class="govuk-summary-list">

          <!-- enforcement notice and plans -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Enforcement notice and additional plans
            </dt>
            <dd class="govuk-summary-list__value">
              <a href=''>
                {{ data['enforcement-uploaded-notice'] or 'Project-Providence-enforcement-notice.pdf' }}
              </a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> enforcement notice</span>
              </a>
            </dd>
          </div>

          <!-- planning obligation -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you plan to submit a planning obligation?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["enforcement-planning-obligation"] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> do you plan to submit a planning obligation</span>
              </a>
            </dd>
          </div>

          <!-- if use said yes to planning obligation -->
          {% if data['enforcement-planning-obligation'] == 'Yes' %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Planning obligation status
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['enforcement-planning-obligation-status'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> planning obligation status</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if data['enforcement-planning-obligation-status'] == 'Finalised and ready to submit' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your planning obligation
              </dt>
              <dd class="govuk-summary-list__value">
                <a href=''>
                  {{ data['enforcement-uploaded-planning-obligation'] }}
                </a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> your planning obligation</span>
                </a>
              </dd>
            </div>
          {% elif data['enforcement-planning-obligation-status'] == 'In draft' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your draft planning obligation
              </dt>
              <dd class="govuk-summary-list__value">
                <a href=''>
                  {{ data['enforcement-uploaded-draft-planning-obligation'] }}
                </a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> your draft planning obligation</span>
                </a>
              </dd>
            </div>
          {% endif %}


          <!-- extra documents -->
          {% if data['enforcement-supporting-documents'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Supporting documents
              </dt>
              <dd class="govuk-summary-list__value">
                <a href=''>
                  {{ data['enforcement-uploaded-documents'] or 'Project-Providence-costs.pdf' }}
                </a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> supporting documents</span>
                </a>
              </dd>
            </div>
          {% endif %}

        </dl>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            href: "",
            text: "Save and come back later",
            classes: "govuk-button--secondary"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
