{% extends "_layouts/layout-main.html" %}

{% set title = "Contact details" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <span class="govuk-caption-l">Prepare appeal</span>


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{ title }}
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-first-name">
            First name
          </label>
          <input class="govuk-input govuk-input--width-20" id="contact-first-name" name="contact-first-name" type="text" spellcheck="false" autocomplete="given-name" value="{{ data['contact-first-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-last-name">
            Last name
          </label>
          <input class="govuk-input govuk-input--width-20" id="contact-last-name" name="contact-last-name" type="text" spellcheck="false" autocomplete="family-name" value="{{ data['contact-last-name'] }}">
        </div>

       
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-company-name">
            Company name (optional)
          </label>
          <input class="govuk-input govuk-input--width-20" id="contact-company-name" name="contact-company-name" type="text" spellcheck="false" autocomplete="organization" value="{{ data['contact-company-name'] }}">
        </div>

      </fieldset>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="/appeal/ldc/v4/prepare-appeal/your-appeal">Return to your appeal</a>
    </p>

  </div>
</div>

{% endblock %}