{% extends location+"_layout.html" %}

{% block questions %}
  {% set agencyName %}
    {{ govukInput({
      id: 'agency-name',
      name: 'agency-name',
      value: data['agency-name'],
      label: {
        html: 'Company name'
      }
    }) }}
  {% endset -%}
  {{ govukRadios({
    idPrefix: 'agency-check',
    name: 'agency-check',
    fieldset: {
      legend: {
        html: 'Are you an agent working at a registered company?',
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('agency-check','Yes'),
        conditional: {
          html: agencyName
        }
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('agency-check','No')
      }
    ]
  }) }}
{% endblock %}

{% block notes %}{% endblock %}
{% block pageScripts %}{% endblock %}