{% extends location+"_layout.html" %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'appellant-check',
    name: 'appellant-check',
    classes: '',
    fieldset: {
      legend: {
        html: 'Are you representing yourself or your company in the appeal?',
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      html: 'If you are not the applicant, you must have their permission to submit an appeal on their behalf.'
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('appellant-check','Yes')
      },
      {
        html: 'No, I&rsquo;m acting on behalf of the applicant',
        value: 'No',
        checked: checked('appellant-check','No')
      }
    ]
  }) }}
{% endblock %}

{% block notes %}
  {# <h2 class="govuk-heading-m">
    Design notes
  </h2>
  <ul class="govuk-list">
    <li></li>
  </ul> #}
{% endblock %}

{% block pageScripts %}{% endblock %}