{% extends "layout-email.html" %}

{% block content %}
  <p>
    <strong>Subject:</strong> Your appeal is in progress - 9617 The Avenue, XM26 7YS
    <br>
    <strong>From:</strong> Appeal a planning decision
  </p>

  <img src="{{ asset_path }}images/pi-logo.png" width="150" class="govuk-!-margin-top-5"/>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-three-quarters">

      <p>Appeal site: ((appeal site address))</p>

      <p>Dear ((appellant named on the enforcement notice))</p>

      <p>We've checked your enforcement notice appeal and have everything we need from you.</p>

      <p>Your appeal is now in progress. This appeal will be decided by written representations.</p>

      <h2 class="govuk-heading-m">
        Appeal timeline
      </h2>
      <p>
        Receive copy of local planning department questionnaire: ((date 2 weeks after the appeal start))
        <br>
        Statement of case deadlines: ((date 6 weeks after appeal start))
        <br>
        Final comments deadline: ((date 9 weeks after appeal start))
      </p>

      <h2 class="govuk-heading-m">
        Your appeal reference
      </h2>
      <p>((reference no))</p>

      <h2 class="govuk-heading-m">
        Your case officer
      </h2>
      <p>
        ((case officer name))
        <br>
        ((case officer email address))
      </p>

      <h2 class="govuk-heading-m">
        Appeal start date
      </h2>
      <p>((date))</p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>((Local planning department) completes a questionnaire about your enforcement notice appeal and submits their case file. They'll forward a copy of this to you, for your information. This should happen in the next week.</p>

      <p>Then the Inspector will begin considering your appeal. We’ll contact you if you need to give the Inspector access during their site visit.</p>

      <p>You can expect a decision xx weeks from the date you submitted your appeal.</p>

      <h2 class="govuk-heading-m">
        What you need to do
      </h2>
      <p>
        You can rely on your appeal form and accompanying documents as your full case, however, if you want to make any further representations, these should be sent to us within 6 weeks of the start date. We will copy these further representations to the LPA.
        <br>
        ((<a href="return/">url for statement journey</a>))
      </p>
      {# <p>You do not need to do anything else at this stage. We have everything we need from you.</p> #}
      <p>If you contact us about your appeal, you should quote your appeal reference number.</a></p>

      <p>
        <br>
        Thank you,
        <br>
        The Planning Inspectorate
        <br>
        north1@planninginspectorate.gov.uk
      </p>

    </div>
  </div>
{% endblock %}
