{% macro appealRow(item) %}
<tr class="govuk-table__row">

  <th scope="row" class="govuk-table__header">
    <a class="govuk-link" href="#">{{ item.number }}</a>

    {% if item.role %}
      <br>
      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-1">{{ item.role }}</strong>
    {% endif %}
  </th>

  <td class="govuk-table__cell">{{ item.address }}</td>

  <td class="govuk-table__cell">{{ item.type }}</td>

  <td class="govuk-table__cell">{{ item.deadline }}</td>

  <td class="govuk-table__cell">
    {% if item.status %}
      <strong class="govuk-tag govuk-tag--{{ item.statusColour }}">
        {{ item.status }}
      </strong>
    {% endif %}
  </td>

  <td class="govuk-table__cell">
    {% if item.action %}
      <a href="#">{{ item.action }}</a>
    {% endif %}
  </td>

</tr>
{% endmacro %}