{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Find and comment on an appeal' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "5" %}

    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">
      This is the previous design work for interested parties, finding and commenting on an appeal.
    </p>

    <p class="govuk-body">
      Changes:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>moved the work to the new prototype (<a href="https://pins-appeals.herokuapp.com/interested-party/v4/guidance" class="govuk-link govuk-link--no-visited-state">see version 4</a>)</li>
      <li>updated the colour of the appeal tags to align them with GDS style</li>
      <li>iteration to follow to update some of the patterns here</li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/guidance',
      isStartButton: true
    }) }}

    {% set lpaForm %}

      <form method="get" action="v{{version}}/guidance">

        {{ govukInput({
          id: 'dashboard-lpa',
          name: 'dashboard-lpa',
          value: data['dashboard-lpa'],
          label: {
            html: 'LPA&rsquo;s name'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'lpa-email',
          name: 'lpa-email',
          value: data['lpa-email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'user-account',
          name: 'users[0][email]',
          value: data['users']['0']['email'],
          label: {
            html: 'Admin account email'
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: 'Add to URL',
          classes: 'govuk-!-margin-bottom-0'
        }) }}

      </form>
    {% endset -%}

    {{ govukDetails({
      summaryHtml: 'Change LPA details',
      html: lpaForm
    }) }}

  </div>
</div>
{% endblock %}
