{% extends '_layouts/layout-pins.html' %}

{% set prototypeLinks = [
  {
    href: './?current-appeals=no&submitted-appeals=no',
    text: 'No appeals'
  } if data['current-appeals'] != 'no' else
  {
    href: './?current-appeals=yes&submitted-appeals=yes',
    text: 'Show appeals'
  },
  {
    href: './?questionnaire=due&questionnaire-banner=no',
    text: 'Questionnaire to do'
  } if data['questionnaire'] == 'complete' else
  {
    href: './?questionnaire=complete&questionnaire-banner=yes',
    text: 'Questionnaire done'
  },
  {
    href: '/interested/find-appeal/v7/appeal-notice-email-full',
    text: 'Appeal notice'
  },
  {
    href: './?appeal-withdrawn=yes',
    text: 'Appeal withdrawn'
  }
  ]
%}

{% set back = false %}

{% set title = 'Manage your appeals' %}

{% block content %}
  <div class="govuk-grid-row">

    <!-- banners -->
    <div class="govuk-grid-column-two-thirds">

      {% if data['appeal-withdrawn'] == 'yes' %}

        {% set withdrawnBanner %}
          <h3 class="govuk-notification-banner__heading">
            Appeal 0123456 has been withdrawn
          </h3>
        {% endset %}

        {{ govukNotificationBanner({
          html: withdrawnBanner,
          type: 'success'
        }) }}

      {% endif %}

      {% if data['questionnaire-banner'] == 'yes' %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Questionnaire complete
          </h3>
          <p class="govuk-body">
            Questionnaire for appeal 1345264 has been submitted.
          </p>
        {% endset %}
        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

      {% endif %}

      {% if data['statement-banner'] == 'yes' %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Statement complete
          </h3>
          <p class="govuk-body">
            You’ve <a href="?statement-banner=&statement=complete&submitted-appeals=yes#submitted-appeals" class="govuk-link">submitted your statement</a> for appeal {{ data['appealCode'] or '0123456' }}.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

      {% endif %}

      {% if data['final-comments-banner'] == 'yes' %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Final comments complete
          </h3>
          <p class="govuk-body">
            Final comments for appeal {{ data['appealCode']}} has been <a href="?final-comments-banner=&final-comments=complete&submitted-appeals=yes#submitted-appeals" class="govuk-link"><span class="govuk-visually-hidden">View </span>submitted<span class="govuk-visually-hidden"> appeals</span></a>.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

      {% endif %}

      {% if data['proofs-banner'] == 'yes' %}

        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Proof of evidence complete
          </h3>
          <p class="govuk-body">
            Proof of evidence for appeal {{ data['appealCode']}} has been <a href="?final-comments-banner=&final-comments=complete&submitted-appeals=yes#submitted-appeals" class="govuk-link"><span class="govuk-visually-hidden">View </span>submitted<span class="govuk-visually-hidden"> appeals</span></a>.
          </p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}

      {% endif %}

    </div>

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          {{ data['dashboard-lpa'] }}
          <span class="govuk-visually-hidden"> - </span>
        </span>
        {{ title }}
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-margin-bottom-0">
        <a href="/manage/manage-users/v3/" class="govuk-link--no-visited-state">
          Add and remove users
        </a>
      </p>
    </div>

    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      <form method="post">

        <div class="govuk-form-group govuk-!-margin-bottom-2">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Filter
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--small govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                {% if data['appeals-list'] == 'Active' %}
                  <input class="govuk-radios__input" id="appeals-list" name="appeals-list" type="radio" value="Active" checked>
                {% else %}
                  <input class="govuk-radios__input" id="appeals-list" name="appeals-list" type="radio" value="Active" checked>
                {% endif %}
                <label class="govuk-label govuk-radios__label" for="appeals-list">
                  Action required
                </label>
              </div>
              <div class="govuk-radios__item">
                {% if data['appeals-list'] == 'Waiting' %}
                  <input class="govuk-radios__input" id="appeals-list-2" name="appeals-list" type="radio" value="Waiting" checked>
                {% else %}
                  <input class="govuk-radios__input" id="appeals-list-2" name="appeals-list" type="radio" value="Waiting">
                {% endif %}

                <label class="govuk-label govuk-radios__label" for="appeals-list-2">
                  Waiting
                </label>
              </div>
              <div class="govuk-radios__item">
                {% if data['appeals-list'] == 'Withdrawn' %}
                  <input class="govuk-radios__input" id="appeals-list-3" name="appeals-list" type="radio" value="Withdrawn" checked>
                {% else %}
                  <input class="govuk-radios__input" id="appeals-list-3" name="appeals-list" type="radio" value="Withdrawn">
                {% endif %}

                <label class="govuk-label govuk-radios__label" for="appeals-list-3">
                  Withdrawn
                </label>
              </div>
              <div class="govuk-radios__item">
                {% if data['appeals-list'] == 'Decided' %}
                  <input class="govuk-radios__input" id="appeals-list-4" name="appeals-list" type="radio" value="Decided" checked>
                {% else %}
                  <input class="govuk-radios__input" id="appeals-list-4" name="appeals-list" type="radio" value="Decided">
                {% endif %}

                <label class="govuk-label govuk-radios__label" for="appeals-list-4">
                  Decided
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Apply filter",
          classes: "govuk-button--secondary"
        }) }}

      </form>

      <!-- show the right list depending on 'appeals' -->

      {% if data['appeals-list'] == 'Active' %}
        {% include "/manage/appeals/v10/includes/current-appeals.html" %}
      {% elseif data['appeals-list'] == 'Waiting' %}
        {% include "/manage/appeals/v10/includes/waiting-appeals.html" %}
      {% elseif data['appeals-list'] == 'Withdrawn' %}
        {% include "/manage/appeals/v10/includes/withdrawn-appeals.html" %}
      {% else %}
        {% include "/manage/appeals/v10/includes/decided-appeals.html" %}
      {% endif %}

      {% if data['appeals-list'] == 'Active' or data['appeals-list'] == 'Decided' %}
        {{ govukPagination({
          previous: {
            href: "#"
          },
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              current: true,
              href: "#"
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}
