{% set pageref = "BYS-009" %}
{% extends "layouts/before-you-start/v10.html" %}

{% block pageTitle %}
  Was your planning application about any of the following? - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>

        {{ govukCheckboxes({
          idPrefix: "bys-"+version+"-appealabout",
          name: "bys-"+version+"-appealabout",
          fieldset: {
            legend: {
              text: "Was your planning application about any of the following?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "A listed building",
              text: "A listed building",
              checked: checked("bys-"+version+"-appealabout", "A listed building")
            },
            {
              value: "Major dwellings",
              text: "Major dwellings",
              checked: checked("bys-"+version+"-appealabout", "Major dwellings")
            },
            {
              value: "Major general industry, storage or warehousing",
              text: "Major general industry, storage or warehousing",
              checked: checked("bys-"+version+"-appealabout", "Major general industry, storage or warehousing")
            },
            {
              value: "Major retail and services",
              text: "Major retail and services",
              checked: checked("bys-"+version+"-appealabout", "Major retail and services")
            },
            {
              value: "Major travelling and caravan pitches",
              text: "Major travelling and caravan pitches",
              checked: checked("bys-"+version+"-appealabout", "Major travelling and caravan pitches")
            },
            {
              divider: "Or"
            },
            {
              value: "None of these",
              text: "None of these",
              behaviour: "exclusive",
              checked: checked("bys-"+version+"-appealabout", "None of these")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
