 {% extends "layouts/before-you-start/v10.html" %}

{% block pageTitle %}
  How would you like us to decide your appeal? - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>
        
        {{ govukRadios({
          idPrefix: "bys-"+version+"-appealprocedure",
          name: "bys-"+version+"-appealprocedure",
          fieldset: {
            legend: {
              text: "How would you like us to decide your appeal?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Written representations",
              text: "Written representations",
              checked: checked("bys-"+version+"-appealprocedure", "Written representations")
            },
            {
              value: "Hearing",
              text: "Hearing",
              checked: checked("bys-"+version+"-appealprocedure", "Hearing")
            },
            {
              value: "Inquiry",
              text: "Inquiry",
              checked: checked("bys-"+version+"-appealprocedure", "Inquiry")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
