{% set pageref = "BYS-006" %}
{% extends "layouts/before-you-start/v10.html" %}

{% block pageTitle %}
  Have you received an enforcement notice? - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>

        {{ govukRadios({
          idPrefix: "bys-"+version+"-enforcementnotice",
          name: "bys-"+version+"-enforcementnotice",
          fieldset: {
            legend: {
              text: "Have you received an enforcement notice?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("bys-"+version+"-enforcementnotice", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("bys-"+version+"-enforcementnotice", "No")
            }
          ]
        }) }}


        <!-- hacky hijack of this green button -->
        <!-- quick hack for the UR starting tomorrow -->
        <!-- only relevant for full appeals -->

        {% if data['saveDemo'] %}

          {{ govukButton({
            href: "/save-progress/v3/check-answers",
            text: "Continue"
          }) }}

        {% else %}

          {{ govukButton({
            text: "Continue"
          }) }}

        {% endif %}

      </form>

    </div>
  </div>

{% endblock %}
