{% extends "layouts/before-you-start/v10.html" %}

{% block pageTitle %}
  What type of planning application is your appeal about? - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>

        {{ govukRadios({
          idPrefix: "bys-"+version+"-whatareyouappealing",
          name: "bys-"+version+"-whatareyouappealing",
          fieldset: {
            legend: {
              text: "What type of planning application is your appeal about?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can check this on your planning application form."
          },
          items: [
            {
              value: "Full planning",
              text: "Full planning",
              checked: checked("bys-"+version+"-whatareyouappealing", "Full planning")
            },
            {
              value: "Householder planning",
              text: "Householder planning",
              checked: checked("bys-"+version+"-whatareyouappealing", "Householder planning")
            },
            {
              value: "Outline planning",
              text: "Outline planning",
              checked: checked("bys-"+version+"-whatareyouappealing", "Outline planning")
            },
            {
              value: "Prior approval",
              text: "Prior approval",
              checked: checked("bys-"+version+"-whatareyouappealing", "Prior approval")
            },
            {
              value: "Reserved matters",
              text: "Reserved matters",
              checked: checked("bys-"+version+"-whatareyouappealing", "Reserved matters")
            },
            {
              value: "Removal or variation of conditions",
              text: "Removal or variation of conditions",
              checked: checked("bys-"+version+"-whatareyouappealing", "Removal or variation of conditions")
            },
            {
              value: "Something else",
              text: "Something else",
              checked: checked("bys-"+version+"-whatareyouappealing", "Something else")
            },
            {
              divider: "or"
            },
            {
              value: "I have not made a planning application",
              text: "I have not made a planning application",
              checked: checked("bys-"+version+"-whatareyouappealing", "I have not made a planning application")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
