{% extends "layouts/appellant-submission/v12.html" %}

{% block pageTitle %}
  Upload an application for appeal costs - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Upload an application for appeal costs
        </span>
        <h1 class="govuk-heading-l">
          [Application for an award of appeal costs]
        </h1>

        <!--p class="govuk-body">
          Your appeal statement explains why you think the local planning department's decision was incorrect.
        </p>
        <p class="govuk-body">
          If you refer to any documents in your appeal statement, for example photographs, you can upload them in the next step.
        </p>
        <p class="govuk-body">
          You cannot include any sensitive information in your statement. If you do, you'll be asked to resubmit, which will delay your appeal.
        </p-->

<!--
        {% set sensitiveHtml %}
          <h3 class="govuk-heading-m">
            Use of language and sensitive information
          </h3>
          <p class="govuk-body">
            Your statement must not include racist, inflammatory or abusive language.
          <p>
          <p class="govuk-body">
            Do not include sensitive information in your statement, as you'll be asked to resubmit and this will delay your appeal.
          </p>
          <p class="govuk-body">
            Sensitive information refers to:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>comments from children</li>
            <li>information relating to children</li>
            <li>information relating to health</li>
            <li>information relating to crime</li>
            <li>
              Any information relating to an individual’s:
              <ul class="govuk-list govuk-list--bullet">
                <li>race</li>
                <li>ethnic origin</li>
                <li>politics</li>
                <li>religion</li>
                <li>trade union membership</li>
                <li>genetics</li>
                <li>physical characteristics</li>
                <li>sex life</li>
                <li>sexual orientation</li>
              </ul>
            </li>
          </ul>
        {% endset -%}
        
        {{ govukDetails({
          summaryText: "What is sensitive information?",
          html: sensitiveHtml
        }) }}
-->
        {{ govukFileUpload({
          id: "appealsub-"+version+"-claimingcosts-appealstatement",
          name: "appealsub-"+version+"-claimingcosts-appealstatement",
          label: {
            classes: "govuk-label--m",
            text: "Upload a file"
          }
        }) }}

        {{ govukInsetText({
          text: "File size should be no more than 15MB"
        }) }}

        {{ govukDetails({
          summaryText: "Help with file formats",
          html: '
            <p class="govuk-body">
              Your file must be in one of the following formats:
            <p>
            <ul class="govuk-list govuk-list--bullet">
              <li>pdf</li>
              <li>doc</li>
              <li>docx</li>
              <li>tif</li>
              <li>tiff</li>
              <li>jpg</li>
              <li>jpeg</li>
              <li>png</li>
            </ul>
          '
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
