{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'Check your answers' %}

{% set dummydod = 'In facilisis ex eu pretium blandit. Curabitur lacinia accumsan turpis, et vestibulum magna gravida ac. Suspendisse vel enim tincidunt, tempor quam nec, elementum dui. Donec sed ligula non ligula fringilla iaculis. Integer nec sem vitae lorem pharetra scelerisque pretium eget enim. Nullam venenatis lectus non nisi sodales vestibulum. Ut tempor id mi quis finibus. Fusce cursus scelerisque justo, eu condimentum leo sagittis in. lectus. Fusce cursus scelerisque justo, eu condimentum leo sagittis in.\n\nMaecenas nec dictum ligula, vitae cursus lectus. Maecenas et pulvinar velit, vel ultrices tellus. Donec ullamcorper mi vitae orci convallis, a efficitur eros dapibus. Duis tortor ligula, feugiat vitae maximus in, aliquet eu magna. Suspendisse potenti. Fusce ac est ligula. Fusce consequat massa vitae sapien placerat dapibus. Phasellus et blandit odio. Aliquam id nibh gravida massa mollis lacinia.' %}

{% set dummystatement = 'Suspendisse vel enim tincidunt, tempor quam nec, elementum dui. Donec sed ligula non ligula fringilla iaculis. Integer nec sem vitae lorem pharetra scelerisque pretium eget enim. Nullam venenatis lectus non nisi sodales vestibulum. Ut tempor id mi quis finibus. Fusce cursus scelerisque justo, eu condimentum leo sagittis in.\n\nMaecenas nec dictum ligula, vitae dapibus sed. Aliquam et lectus porttitor, rutrum nulla in, dignissim est. Aliquam a magna dignissim, molestie purus vitae, ultrices risus. Sed at ultrices elit, varius tincidunt ex. Nam fermentum eros a dui lobortis, non egestas enim blandit. Maecenas massa nibh, rhoncus sit amet magna vitae, ultrices condimentum nunc. Pellentesque fringilla nisi et nunc pulvinar feugiat. Sed a lorem sollicitudin, dapibus lectus et, pharetra est.' %}

{% set back = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <h2 class="govuk-heading-m">
        Prepare appeal
      </h2>

      {{ govukSummaryList({
        classes: "long-answers govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Who made the application?"
            },
            value: {
              html: data['appellant-check'] or 'A person'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "who made the application"
                }
              ]
            }
          },
          {
            key: {
              text: "Appellant name"
            },
            value: {
              html: data['appellant-full-name'] or 'Jan Fisher'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "appellant name"
                }
              ]
            }
          } if data['appellant-check'] == 'A person',
          {
            key: {
              text: "You are one of the appellants"
            },
            value: {
              html: data['agent-check'] or (data['appellant-full-name'] or 'Jan Fisher')
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "who you are"
                }
              ]
            }
          } if data['appellant-check'] == 'A person',
          {
            key: {
              text: "Appellants"
            },
            value: {
              html: 'Jan Fisher<br>Robin Fisher'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "named on the application"
                }
              ]
            }
          } if data['appellant-check'] == 'Joint application',
          {
            key: {
              text: "You are one of the appellants"
            },
            value: {
              html: data['agent-check-joint-application'] or (data['appellant-full-name'] or 'Jan Fisher')
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "who your are"
                }
              ]
            }
          } if data['appellant-check'] == 'Joint application',
          {
            key: {
              text: "Site address"
            },
            value: {
              html: (data['address-line-1'] or '3 Aubrey Road')+'<br>'+
                    (data['address-line-2'] or 'Bedminster')+'<br>'+
                    (data['address-town'] or 'Bristol')+'<br>'+
                    (data['address-postcode'] or 'BS3 3EX')
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Site area"
            },
            value: {
              html: (data['site-area-hectares'] or '24,000 square metres')
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site area"
                }
              ]
            }
          },

          {
            key: {
              text: "Green belt"
            },
            value: {
              html: (data['green-belt'] or 'No')
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "customer reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Own all the land"
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "own all the land"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspector will need to access your land or property?"
            },
            value: {
              html: (data['site-visibility'] or 'Yes')
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "visible from public road"
                }
              ]
            }
          },
          {
            key: {
              text: "How is visibility restricted"
            },
            value: {
              html: (data['site-visibility__details'] or 'It’s at the back')
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "visible from public road"
                }
              ]
            }
          } if data['site-visibility'] == 'No',
          {
            key: {
              text: "Application reference"
            },
            value: {
              html: data['application-reference'] or 'A person'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "who made the application"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of application"
            },
            value: {
              html: 31 | daysAgo
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of application"
                }
              ]
            }
          },
          {
            key: {
              text: "Description of development changed"
            },
            value: {
              html: data['application-desc-correct'] or 'Yes'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of application"
                }
              ]
            }
          },
          {
            key: {
              text: "Description of development"
            },
            value: {
              html: data['description-detail'] or dummydod | nl2br
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of application"
                }
              ]
            }
          },
          {
            key: {
              text: "Appeals near the site"
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "witnesses for inquiry"
                }
              ]
            }
          } if data['other-appeals-radio'] != 'Yes',
          {
            key: {
              text: "Appeals near the site"
            },
            value: {
              html: '0176256'+'<br>'+'0176257'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "witnesses for inquiry"
                }
              ]
            }
          } if data['other-appeals-radio'] == 'Yes'
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Upload documents
      </h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Application"
            },
            value: {
              html: "<a href='#'>Aubrey-Road-Application-2023.pdf</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "application"
                }
              ]
            }
          },
          {
            key: {
              text: "Proof of agreement to change description of development"
            },
            value: {
              html: "<a href='#'>Aubrey-Road-Description-Change.tiff</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "licence type"
                }
              ]
            }
          } if data['application-desc-correct'] == 'No',
          {
            key: {
              text: "Decision letter"
            },
            value: {
              html: "<a href='#'>Aubrey-Road-Bristol-Decision-Letter-2024.pdf</a>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "decision letter"
                }
              ]
            }
          }


        ]
      }) }}

      <!-- <h2 class="govuk-heading-m">Now send your application</h2> -->

      <!-- <p class="govuk-body">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p> -->

      {{ govukButton({
        html: 'Accept and submit',
        href: 'declaration'
      }) }}

    </div>
  </div>
{% endblock %}
