{% extends "layouts/case-officer/v1.html" %}

{% block pageTitle %}
 Review complete
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data["vo-v1-status"] == "Escalate" %}

        {{ govukPanel({
          classes: "govuk-!-margin-bottom-7",
          titleText: "Review complete",
          html: data["vo-v1-status"] + " appeal<br>20/500818/FULL"
        }) }}

      {% else %}

        {{ govukPanel({
          classes: "govuk-!-margin-bottom-7",
          titleText: "Review complete",
          html: "Appeal " + data["vo-v1-status"] | lower + "<br>20/500818/FULL"
        }) }}

      {% endif %}

      {% if data["vo-v1-status"] == "Valid" %}
        <p class="govuk-body">
          The appeal has been started and the LPA questionnaire email has been sent.
        <p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% endif %}

      {% if data["vo-v1-status"] == "Invalid" %}
        <p class="govuk-body">
          The appellant and LPA have been notified.
        <p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% endif %}

      {% if data["vo-v1-status"] == "Incomplete" %}
      {% endif %}

      {% if data["vo-v1-status"] == "Escalate" %}
      {% endif %}


      <h2 class="govuk-heading-m">What next?</h2>
      <ul class="govuk-list">
        <li>
          <a href="appeal-list" class="govuk-link">View list of appeals</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
