{% extends "_layouts/layout-pins.html" %}

{% set title = "Conservation area map and guidance" %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% call govukNotificationBanner({
      type: "success"
    }) %}
      <h3 class="govuk-notification-banner__heading">
        We have removed dummy-file-02934282
      </h3>
    {% endcall %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Manage folder</span>

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
<h2 class="govuk-heading-m">Add a document</h2>
<div class="govuk-!-margin-bottom-6">
  {{ govukButton({
    text: "Add document",
    href: "/patterns/file-list/v1/constraints/conservation-upload.html",
    classes: "govuk-button--secondary"
  }) }}
</div>

<h2 class="govuk-heading-m">Added documents</h2>
    <p class="govuk-body">
      There are no documents in this folder.
    </p>

  </div>
</div>

{% endblock %}
