<div class="ds-nav">
  <ul class="ds-nav-list">
    <li class="ds-nav-item{% if dssection == "home" %} ds-nav-item--current{% endif %}">
      <a href="/design-system" class="ds-nav-link">Home</a>
    </li>
    <li class="ds-nav-item{% if dssection == "components" %} ds-nav-item--current{% endif %}">
      <a href="/design-system/components" class="ds-nav-link">Components</a>
    </li>
    <li class="ds-nav-item{% if dssection == "patterns" %} ds-nav-item--current{% endif %}">
      <a href="/design-system/patterns" class="ds-nav-link">Patterns</a>
    </li>
  </ul>
</div>