{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'What are the appellant&rsquo;s contact details?' %}

{% block questions %}

  {% call govukFieldset({
    legend: {
    html: title,
    classes: 'govuk-fieldset__legend--l',
    isPageHeading: true
    }
  }) %}

    {{ govukInput({
      id: 'applicant-first-name',
      name: 'applicant-first-name',
      value: data['applicant-first-name'],
      classes: 'govuk-!-width-three-quarters',
      label: {
        html: 'First name'
      },
      autocomplete: 'given-name',
      spellcheck: false
    }) }}

    {{ govukInput({
      id: 'applicant-last-name',
      name: 'applicant-last-name',
      value: data['applicant-last-name'],
      classes: 'govuk-!-width-three-quarters',
      label: {
        html: 'Last name'
      },
      autocomplete: 'family-name',
      spellcheck: false
    }) }}

    {{ govukInput({
      id: 'agency-name',
      name: 'agency-name',
      value: data['agency-name'],
      label: {
        html: 'Company name (optional)'
      }
    }) }}

    {{ govukInput({
      id: 'appellant-enforcement-reference',
      name: 'appellant-enforcement-reference',
      value: data['appellant-enforcement-reference'],
      label: {
        html: 'Enforcement reference number'
      }
    }) }}

  {% endcall %}
{% endblock %}
