{% extends '_layouts/layout-email.html' %}

{% block pageTitle %}
  Submit appeal statements for 21/04125/FUL
{% endblock %}

{% block emailHeader %}
  <h1 class="govuk-heading-m">
    21/04125/FUL - Submit appeal statements
  </h1>
  <p>
    <strong>To:</strong> planning.appeals{{ data['lpa-email']}}
    <br>
    <strong>From:</strong> info@planninginspectorate.gov.uk
  </p>
{% endblock %}

{% block emailContent %}
  <p>
    Appeal site: 11 Gifford Way, Sampleford, BS15 2AP
    <br>
    Appeal reference: 21/04125/FUL
  </p>

  <br>

  <p>Dear {{ data['dashboard-lpa'] }},</p>

  <p>The appellant has submitted their appeal statements for planning application 1345172.</p>

  <p>We&rsquo;ve attached the statement for your information.</p>

  <p>This is due by {{ 7 | daysInFuture }}</p>

  <h2 class="govuk-heading-m">
    What you can do
  </h2>

  <p>To add your statement, you need to click the link to receive a secure code. We&rsquo;ll send you a code to sign into your account with.</p>

  <ol class="govuk-list govuk-list--number">
    <li>
      Go to the link to receive a code:<br>
      <a href="/manage/access/v1/enter-code?start=statements" class="govuk-link">https://manage-appeals.planninginspectorate.gov.uk/appeal/04125/statement?/lpa=1vW7td12</a>
    </li>
    <li>
      Enter the code we send in an email to you.
    </li>
  </ol>
{% endblock %}
