{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: 'Beta' },
    html: 'This is a new service &ndash; your <a class="govuk-link" href="#feedback">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-l">
          Give feedback
        </h1>

        <p>Your feedback will help us improve this service, it will not affect the outcome of your appeal in any way.</p>
        <p>This page is for feedback only. We are unable to reply to your feedback.</p>

        {{ govukRadios({
          idPrefix: 'overall',
          name: 'overall',
          fieldset: {
            legend: {
              html: 'Overall, how did you feel about the service you received today?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Very satisfied',
              value: 'Very satisfied',
              checked: checked('overall','Very satisfied')
            },
            {
              html: 'Satisfied',
              value: 'Satisfied',
              checked: checked('overall','Satisfied')
            },
            {
              html: 'Neither satisfied or dissatisfied',
              value: 'Neither satisfied or dissatisfied',
              checked: checked('overall','Neither satisfied or dissatisfied')
            },
            {
              html: 'Dissatisfied',
              value: 'Dissatisfied',
              checked: checked('overall','Dissatisfied')
            },
            {
              html: 'Very dissatisfied',
              value: 'Very dissatisfied',
              checked: checked('overall','Very dissatisfied')
            }
          ]
        }) }}

        {{ govukCharacterCount({
          name: 'improvements',
          id: 'improvements',
          value: data['improvements'],
          maxlength: '1200',
          label: {
            html: 'How could we improve this service?',
            classes: 'govuk-label--m'
          },
          hint: {
            html: 'Do not include any personal or financial information, for example your postal address or credit card numbers'
          }
        }) }}

        {{ govukRadios({
          idPrefix: 'agent',
          name: 'agent',
          fieldset: {
            legend: {
              html: 'Was the planning application made in your name?',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              html: 'Yes, the application was made in my name​',
              value: 'Yes, the application was made in my name​',
              checked: checked('agent','Yes, the application was made in my name​')
            },
            {
              html: 'No, I&rsquo;m an agent acting on behalf of the applicant​',
              value: 'No, I&rsquo;m an agent acting on behalf of the applicant​',
              checked: checked('agent','No, I&rsquo;m an agent acting on behalf of the applicant​')
            }
          ]
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
