{% set pageref = "SAR-011-AS15" %}
{% extends "layouts/appellant-submission/v16.html" %}

{% set title = "Code expired" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <span class="govuk-caption-l">{{ subServiceName }}</span>

    <div class="govuk-form-group">

      <label class="govuk-label govuk-label--l" for="postcode">
        {{ title }}
      </label>

      <p class="govuk-body">
        The code you're trying to enter has expired.
      </p>

      <p class="govuk-body">
        <a href="input-code" class="govuk-link">
          Send another code
        </a>
      </p>

    </div>

  </div>

</div>

{% endblock %}
