{% set pageref = "SAR-009-AS15" %}
{% extends "layout.html" %}

{% set title = "Enter the code we sent to your email address" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% if data["savereturn-v15-showbacklink"] == true %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">{{ subServiceName }}</span>

        <div class="govuk-form-group">

          <label class="govuk-label govuk-label--l" for="email">
            {{ title }}
          </label>

          {{ govukInput({
            id: "savereturn-"+version+"-code",
            name: "savereturn-"+version+"-code",
            classes: "govuk-input--width-5",
            value: data["savereturn-"+version+"-code"]
          }) }}

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body govuk-!-margin-bottom-9">
        <a href="request-code" class="">
          Not received the code?
        </a>
      </p>

      <!-- this is a prototype only link -->
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">
        <p class="govuk-body-s pins-prototype-only">
          <a href="email/email-with-code">
            Go to the email (your inbox)
          </a>
        </p>
      </div>


    </div>
  </div>

{% endblock %}
