{% extends '_layouts/layout-email.html' %}

{% block pageTitle %}
  Interested party full planning notification
{% endblock %}

{% block content %}

<!-- faux email header -->
<section>
  <p>
    <strong>Subject:</strong> You are invited to comment on a planning appeal
  </p>
  <p>
    <strong>To:</strong> example@email.com<br>
    <strong>From:</strong> planning@bristolcity.gov.uk
  </p>
  <!-- <p>
    <img src="{{ asset_path }}images/pi-logo.png" width="150"/>
  </p> -->
  <hr class="govuk-!-margin-bottom-6">
</section>

<p class="govuk-body">
  <strong>Appeal reference:</strong> 012726<br>
  <strong>Appeal site address:</strong> 2 Aubrey House, Aubrey Road, BS3 3EX
</p>

<p class="govuk-body">
  Dear [Your name],
</p>

<p class="govuk-body">
  Rachel Silver is appealing Bristol City Council’s decision to refuse planning application 22/065313/FUL.
</p>

<p class="govuk-body">
  Planning appeals are decided by The Planning Inspectorate.
</p>

<p class="govuk-body">
  The Planning Inspectorate is completely independent of Bristol City Council.
</p>

<p class="govuk-body">
  The decision on the appeal is based on evidence given by Rachel Silver, Bristol City Council and anyone who is affected by this appeal (also known as an ‘interested party’).
</p>

<h2 class="govuk-heading-m">
  What you can do
</h2>

<p class="govuk-body">
  Commenting on an appeal is optional.
</p>

<p class="govuk-body">
  We’ve already sent your comments from the application to the planning inspector. You do not need to send them again.
</p>

<p class="govuk-body">
  You can submit any new comments, relevant to the appeal, by following the link.
</p>

<p class="govuk-body">
  <a href="appeal-details?status=open&appeal=1&appealCode=012726" class="govuk-link">
    https://appeal-planning-decision.service.gov.uk/full-appeal/submit-comments?appeal=012726
  </a>
</p>

<p class="govuk-body">
  You must submit your comments by {{ '14' | daysInFuture }}.
</p>

<h2 class="govuk-heading-m">
  Request a visit to your property
</h2>

<p class="govuk-body">
  If the inspector cannot see the appeal site from the road, you can request a visit to your property. If they agree, they’ll visit your property with Rachel Silver and the planning officer from Bristol City Council. They’ll do this on the same day as the appeal site visit.
</p>

<p class="govuk-body">
  You can request a visit to your property by emailing enquiries@planninginspectorate.gov.uk
</p>

<h2 class="govuk-heading-m">
  What happens next
</h2>

<p class="govuk-body">
  The inspector will review all the evidence and make their decision on the appeal. The Planning Inspectorate will send you an email explaining the final decision.
</p>

<p class="govuk-body">
  Thank you,
</p>

<p class="govuk-body">
  Bristol City Council
</p>

{% endblock %}
