{% extends '_layouts/layout-main.html' %}

{% set serviceName = "Find and comment on planning appeals" %}
{% set title = "Enter the appeal reference" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="appeal-details?status=open" method="post">

        <div class="govuk-form-group">

          <label class="govuk-label govuk-label--l" for="postcode">
            {{ title }}
          </label>

          <p class="govuk-body">
            This can be found on the letter you received from the local planning department. If you did not receive a letter, you can find the appeal reference on the local planning department’s website.
          </p>

          <p class="govuk-hint">
            For example, 0221532.
          </p>

          <input class="govuk-input govuk-input--width-10" id="appealCode-input" name="appealCode" type="number">

        </div>

        <p class="govuk-body">
          <a href="appeal-search-postcode?version=">
            Search for an appeal using a postcode
          </a>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
