{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Save and return' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "5" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'Ready for review'
      }) }}
    </h2>

    <p>Improvements to the feature that was developed and released, some functionality was missing or didn&rsquo;t work as intended and some changes to try and improve the process.</p>

    <p><a href="https://miro.com/app/board/uXjVPD6q8IM=/?share_link_id=504329325803">Review of what is in live on Miro</a>.</p>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/govuk-start',
      isStartButton: true
    }) }}

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="v{{version}}/email--saved">Email: Your appeal has been saved</a></li>
      <li><a href="v{{version}}/email--code">Email: Your security code</a></li>
    </ul>

  </div>
</div>
{% endblock %}
