{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}

{% set title = "Enter the email address that you used for the appeal" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="magic-link-email-sent" method="post">

        <span class="govuk-caption-l">{{ subServiceName }}</span>

        <div class="govuk-form-group">

          <label class="govuk-label govuk-label--l" for="email">
            {{ title }}
          </label>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="email" name="email" type="text" spellcheck="false" autocomplete="email" value="{{ data['email'] }}">
          </div>

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
<!-- 
      <p class="govuk-body">
        <a href="appeal-start">
          Start a new planning appeal
        </a>
      </p> -->

    </div>
  </div>

{% endblock %}
