{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}

{% set title = "What’s your planning application number?" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="task-list" method="post">

        <span class="govuk-caption-l">{{ subServiceName }}</span>

        <div class="govuk-form-group">

          <label class="govuk-label govuk-label--l" for="applicationNumber">
            {{ title }}
          </label>

          <div id="applicationNumber-hint" class="govuk-hint">
            You can find this on the decision letter from your local planning department.
          </div>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-10" id="applicationNumber" name="applicationNumber" type="number" spellcheck="false" autocomplete="false" value="{{ data['applicationNumber'] }}">
          </div>

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
