{% extends '_layouts/layout-pins.html' %}

{% set title = 'Checking the user wants to upload documents' %}

{% set nav = false %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-body">
      We use this when we do not require documents from the user but there is an option for them to upload documents.
    </p>

    <p class="govuk-body">
      <a href="https://github.com/Planning-Inspectorate/appeals-prototype/tree/main/app/views/patterns/code/documents-check" class="govuk-link">
        View the code on GitHub
      </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

    {{ govukRadios({
      idPrefix: 'adding-documents',
      name: 'adding-documents',
      fieldset: {
        legend: {
          html: 'Do you have additional documents to support your final comments?',
          classes: 'govuk-fieldset__legend--l',
          isPageHeading: true
        }
      },
      hint: {
        text: 'You must not add new evidence to the appeal'
      },
      items: [
        {
          html: 'Yes',
          value: 'Yes',
          checked: checked('adding-documents','Yes')
        },
        {
          html: 'No',
          value: 'No',
          checked: checked('adding-documents','No')
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
