{% extends "layouts/cst/v2.html" %}

{% block pageTitle %}
  Appeal details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "/cst/"+version+"/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!--<span class="govuk-caption-xl">8 The Chase, Findon, BN14 0TT</span>-->
      <h1 class="govuk-heading-xl">
        Appeal details
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal reference
          </dt>
          <dd class="govuk-summary-list__value">
            APP/2020/56789/01234
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site address
          </dt>
          <dd class="govuk-summary-list__value">
            8 The Chase, Findon, BN14 0TT
          </dd>
        </div>      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Target date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 12 | daysInFuture }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local planning department
          </dt>
          <dd class="govuk-summary-list__value">
            Bradford Council
          </dd>
        </div>
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal stage
          </dt>
          <dd class="govuk-summary-list__value">
            ???
          </dd>
        </div>        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal received
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 12 | daysInFuture }}
          </dd>
        </div>        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal validated
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 12 | daysInFuture }}
          </dd>
        </div>        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal started
          </dt>
          <dd class="govuk-summary-list__value">
            {{ 12 | daysInFuture }}
          </dd>
        </div> -->      
      </dl>

      {{ govukAccordion({
        id: "cst-"+v+"-casedetails",
        items: [
          {
            heading: {
              text: "Case details"
            },
            content: {
              html: '
                <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Appellant name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Maria Sharma
                    </dd>
                  </div>  
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Agent name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No agent for this appeal
                    </dd>
                  </div> 
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Contact email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a class="govuk-link" href="#">maria.sharma@gmail.com</a>
                    </dd>
                  </div>                            
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date appeal received
                    </dt>
                    <dd class="govuk-summary-list__value">
                      12 December 2020
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Description of development
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Description of development here
                    </dd>
                  </div>
                </dl>
              '
            }
          },
          {
            heading: {
              text: "Appellant case"
            },
            content: {
              html: '
                <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Appeal statement
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Appealstatement.doc</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Supporting documents
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">appellant-photos.png</a>
                    </dd>
                  </div>
                </dl>
              '
            }
          },
          {
            heading: {
              text: "Local planning department documents"
            },
            content: {
              html: '
                <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Plans used to reach decision
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Plans-uploaded-by-lpa.pdf</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Planning application form	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">planning-application.pdf</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Planning Officers report	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Planning-officers-report.pdf</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Decision notice	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Decisionletter.pdf</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Extra conditions
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Details of planning history	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Document1.pdf</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Supporting documents
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-list">
                        <li>
                          <a href="#">Supportingdocument1.pdf</a>
                        </li>
                        <li>
                          <a href="#">Supportingdocument2.pdf</a>
                        </li>
                        <li>
                          <a href="#">Supportingdocument3.pdf</a>
                        </li>
                      </ul>
                    </dd>
                  </div>
                </dl>
              '
            }
          },
          {
            heading: {
              text: "Constraints"
            },
            content: {
              html: '
                <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Affects listed building	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      In green belt
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      In or near a conservation area
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                  </div>
                </dl>
              '
            }
          },
          {
            heading: {
              text: "Policies"
            },
            content: {
              html: '
                <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Statutory development plan policy	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Policy1.pdf</a>
                    </dd>
                  </div>
                  <!--<div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Adoption details for supplementary planning documents provided
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">adoption-detail.pdf</a>
                    </dd>
                  </div>-->
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Other relevant policies
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Policy2.pdf</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Supplementary planning documents
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-list">
                        <li>
                          <a href="#">County Council Rights of Way.pdf</a>
                          <p class="govuk-body govuk-!-margin-bottom-3">Adopted on 21 Oct 2007</p>
                        </li>
                        <li>
                          <a href="#">County Council Highways</a>
                          <p class="govuk-body govuk-!-margin-bottom-0">Not adopted - Final draft</p>
                        </li>
                      </ul>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Emerging development plan or neighbourhood plan	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body govuk-!-margin-bottom-3">Yes</p>
                      <p>This is text confirms any substantive changes in the progress of the emerging plan, and their relevance to this appeal (if the plan may not be adopted before the Inspector issues their decision).</p>
                    </dd>
                  </div>
                </dl>
              '
            }
          },
          {
            heading: {
              text: "Representations"
            },
            content: {
              html: '
                <dl class="govuk-summary-list govuk-!-margin-bottom-5">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Representations
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Representations.pdf</a>
                    </dd>
                  </div>
                  <!--<div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Statatory consultee representations
                    </dt>
                    <dd class="govuk-summary-list__value">
                      None
                    </dd>
                  </div>-->
                </dl>
              '
            }
          },
          {
            heading: {
              text: "Correspondence"
            },
            content: {
              html: '
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Application notification
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-list">
                        <li>
                          <a href="#">Letter1.pdf</a>
                        </li>
                        <li>
                          <a href="#">Letter2.pdf</a>
                        </li>
                      </ul>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Application publicity
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Example.pdf</a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Appeal notification
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="#">Notificationletter.pdf</a>
                    </dd>
                  </div>
                  <!--<div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Original planning application publicised?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                  </div>-->
                </dl>
              '
            }
          }
        ]
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="pins-related-items">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Status
        </h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Appeal stage
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-1">
          Questionnaire
        </p>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Appeal received
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-1">
          {{ 2 | daysAgoShortMonth }}
        </p>
        <!--<h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Appeal validated
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-1">
          {{ 2 | daysAgoShortMonth }}
        </p>-->
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Appeal started
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-1">
          {{ 7 | daysInFuture }}
        </p>
      </div> 

      <div class="pins-related-items">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Case officer details
        </h3>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li>
            Tom Smith
          </li>
          <li>
            <a class="govuk-link" href="#">tom.smith@gmail.com</a>
          </li>
          <li>
            01234 567890
          </li>
        </ul>
      </div>     

      <!--<div class="pins-related-items">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Site visit
        </h3>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Provisional date
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-1">
          Week of 12 September 2021<!--{{ 2 | daysAgoShortMonth }}
        </p>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Time
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-1">
          9am to 10am
        </p>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
          Provisional type
        </h4>
        <p class="govuk-body govuk-!-margin-bottom-1">
          Accompanied
        </p>
      </div>-->

    </div>

  </div>

{% endblock %}