{% extends '_layouts/layout-includes.html' %}

{# Add the title(h1) to page title if it's set, add to each page with:
{% set title = 'Example' %} #}
{% block pageTitle %}
	{{ (title+' –') | safe if title }} {{ serviceName }} – GOV.UK
{% endblock %}

{# Add the phase banner and back link to each page #}
{% block beforeContent %}

	{% block betaBanner %}
		{{ govukPhaseBanner({
			tag: { text: 'Beta' },
			html: 'This is a new service – your <a class="govuk-link--no-visited-state" href="#feedback">feedback</a> will help us to improve it.'
		}) if beta != false }}
	{% endblock %}

	{# Add a back link block to just override that and not the phase banner #}
	{% block backLink %}
		{# Add a javascript back link, remove on pages that don't need it with:
		{% set back = false %} #}
		{{ govukBackLink({
			html: 'Back',
			href: 'javascript:history.back()'
		}) if back != false }}
	{% endblock %}

{% endblock %}

{# Setup form question pages by default, override by using content block if not needed #}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-three-quarters govuk-grid-column-two-thirds-from-desktop">

			{# Forms all post to themselves, action controlled by _routes.js in each prototype #}
			<form method="post">

				{# Use the questions block on each page without needing to add in the rest of this block #}
				{% block questions %}{% endblock %}

				{# Set default button to continue, use buttons block to override #}
				{% block buttons %}
					{{ govukButton({
						text: 'Continue'
					}) }}

					{# Option to add a return to task list link
					Add on pages that with:
						{% set return = true %}

					or add for whole prototype in routes.js with:
						res.locals['return'] = true
					#}
					{% if return == true %}
						<p class="govuk-body"><a href="../task-list" class="govuk-link--no-visited-state">Return to questionnaire homepage</a></p>
					{% endif %}
				{% endblock %}

			</form>

			{% block afterContent %}
				{# Option to add things after the green button / form #}
			{% endblock %}

		</div>
	</div>
{% endblock %}

{% block footer %}
	{# Add prototype links if set in page, use with:
	{% set prototypeLinks = [{href: '#0', text: 'Link to this page'}] %} #}

	{# Add link to Heroku app if running locally #}
	{{ govukFooter({
		navigation: [
			{
				items: prototypeLinks
			}
		] if prototypeLinks,
		meta: {
			items: [
				{
					href: '/manage-prototype',
					text: 'Manage prototype'
				} if local,
				{
					href: '/manage-prototype/clear-data',
					text: 'Clear data'
				},
				{
					href: 'https://appeals-prototype.herokuapp.com' + currentURL,
					text: "View page on Heroku (opens in new tab)",
					attributes: {
						target: 'blank'
					}
				} if local
			] | cleanArray,
			visuallyHiddenTitle: 'Footer links'
		}
	}) }}
{% endblock %}
