{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block bodyEnd %}
	<style>
		.govuk-width-container {
			max-width: 560px
		}
		a {
			word-wrap: break-word
		}
	</style>
{% endblock %}

{% block content %}
	{% block emailHeader %}{% endblock %}

	<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

	{% block emailContent %}{% endblock %}

	<p>Thank you,</p>
	<p>
		The Planning Inspectorate
		<br>
		<a href="#0">enquiries@planninginspectorate.gov.uk</a>
	</p>
{% endblock %}