{% extends 'govuk-prototype-kit/layouts/govuk-branded.html' %}

{% from 'govuk/components/accordion/macro.njk'           import govukAccordion %}
{% from 'govuk/components/back-link/macro.njk'           import govukBackLink %}
{% from 'govuk/components/breadcrumbs/macro.njk'         import govukBreadcrumbs %}
{% from 'govuk/components/button/macro.njk'              import govukButton %}
{% from 'govuk/components/character-count/macro.njk'     import govukCharacterCount %}
{% from 'govuk/components/checkboxes/macro.njk'          import govukCheckboxes %}
{% from 'govuk/components/cookie-banner/macro.njk'       import govukCookieBanner %}
{% from 'govuk/components/date-input/macro.njk'          import govukDateInput %}
{% from 'govuk/components/details/macro.njk'             import govukDetails %}
{% from 'govuk/components/error-message/macro.njk'       import govukErrorMessage %}
{% from 'govuk/components/error-summary/macro.njk'       import govukErrorSummary %}
{% from 'govuk/components/fieldset/macro.njk'            import govukFieldset %}
{% from 'govuk/components/file-upload/macro.njk'         import govukFileUpload %}
{% from 'govuk/components/input/macro.njk'               import govukInput %}
{% from 'govuk/components/inset-text/macro.njk'          import govukInsetText %}
{% from 'govuk/components/notification-banner/macro.njk' import govukNotificationBanner %}
{% from 'govuk/components/panel/macro.njk'               import govukPanel %}
{% from 'govuk/components/phase-banner/macro.njk'        import govukPhaseBanner %}
{% from 'govuk/components/radios/macro.njk'              import govukRadios %}
{% from 'govuk/components/select/macro.njk'              import govukSelect %}
{% from 'govuk/components/skip-link/macro.njk'           import govukSkipLink %}
{% from 'govuk/components/summary-list/macro.njk'        import govukSummaryList %}
{% from 'govuk/components/table/macro.njk'               import govukTable %}
{% from 'govuk/components/tabs/macro.njk'                import govukTabs %}
{% from 'govuk/components/tag/macro.njk'                 import govukTag %}
{% from 'govuk/components/textarea/macro.njk'            import govukTextarea %}
{% from 'govuk/components/warning-text/macro.njk'        import govukWarningText %}

{% block pageTitle %}
	{{ title+' –' if title }} {{ serviceName }}
{% endblock %}

{% block header %}
	{{ govukHeader({
		serviceName: serviceName,
		serviceUrl: serviceUrl or "/"
	}) }}
{% endblock %}

{% block beforeContent %}
	{{ govukPhaseBanner({
		tag: {
			text: 'Prototype',
			classes: 'govuk-tag--pink'
		},
		html: 'This is not a real service, it is only for testing ideas.'
	}) }}

	{# Add a javascript back link, remove on pages that don't need it with:
	{% set back = false %} #}
	{{ govukBackLink({
		html: 'Back',
		href: 'javascript:history.back()'
	}) if back != false }}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-three-quarters govuk-grid-column-two-thirds-from-desktop">

			<form method="post">

				{% block questions %}{% endblock %}

				{% block buttons %}
					{{ govukButton({
						text: 'Continue'
					}) }}
				{% endblock %}

			</form>

		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ govukFooter({
		navigation: [
			{
				items: prototypeLinks
			}
		] if prototypeLinks,
		meta: {
			items: [
				{
					href: '/manage-prototype',
					text: 'Manage prototype'
				},
				{
					href: '/manage-prototype/clear-data',
					text: 'Clear data'
				},
				{
					href: 'https://pins-appeals.herokuapp.com' + currentURL,
					text: "View page on Heroku (opens in new tab)",
					attributes: {
						target: 'blank'
					}
				} if local
			],
			visuallyHiddenTitle: 'Footer links'
		}
	}) }}
{% endblock %}

{% block bodyEnd %}
	{% block scripts %}
		<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
		{% include 'govuk-prototype-kit/includes/scripts.html' %}
		{% block pageScripts %}{% endblock %}
	{% endblock %}
{% endblock %}
