{% extends '_layouts/layout-main.html' %}

{# Add a body class to override things if needed #}
{% set bodyClasses = 'internal' %}

{# Add the title(h1) to page title if it's set, add to each page with:
{% set title = 'Example' %} #}
{% block pageTitle %}
	{{ (title+' –') | safe if title }} {{ serviceName }} – Planning Inspectorate
{% endblock %}

{% block header %}
	{# Change the header for PINS apps, eg LPA product #}

	{# Add nav, remove on pages that don't need it with:
	{% set nav = false %} #}
	{{ appHeader({
		serviceName: {
			text: serviceName
		},
		navigation: {
			label: 'Primary navigation',
			items: [
				{
					text: 'Sign out',
					href: '/#0'
				}
			]
		} if nav != false
	}) }}
{% endblock %}