{% extends '_layouts/layout-pins.html' %}

{% set nav = true %}
{% set title = 'Emails to the LPA' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "1" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--blue govuk-!-margin-left-2',
        text: 'Researched'
      }) }}
    </h2>

    <p>
      Researched October 2024<br>
      <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1056768031" class="govuk-link">
        Confluence user research notes
      </a>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a href="v1/service-invite" class="govuk-link">Invite to the service</a></li> -->
      <li><a href="v1/appeal-valid" class="govuk-link">Appeal valid, do the questionnaire</a></li>
      <li><a href="v1/appeal-statements" class="govuk-link">Appeal statements (cross-copy)</a></li>
    </ul>

    <!-- {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/',
      isStartButton: true
    }) }} -->

    {% set lpaForm %}
      <form method="get" action="v{{version}}/">

        {{ govukInput({
          id: 'dashboard-lpa',
          name: 'dashboard-lpa',
          value: data['dashboard-lpa'],
          label: {
            html: 'LPA&rsquo;s name'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'lpa-email',
          name: 'lpa-email',
          value: data['lpa-email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'user-account',
          name: 'users[0][email]',
          value: data['users']['0']['email'],
          label: {
            html: 'Admin account email'
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: 'Add to URL',
          classes: 'govuk-!-margin-bottom-0'
        }) }}

      </form>
    {% endset -%}

    {{ govukDetails({
      summaryHtml: 'Change LPA details',
      html: lpaForm
    }) }}

  </div>
</div>
{% endblock %}
