{% set pageref = "BYS-CYA-AS16" %}
{% extends "layout.html" %}

{% block pageTitle %}
  You can appeal using this service - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <h1 class="govuk-heading-l">
          You can appeal using this service
        </h1>

        <p class="govuk-body">
          Based on your answers, you can appeal using this service.
        </p>
        <p class="govuk-body">
          Your deadline to appeal is 11.59pm on Monday {{ data["appealsub-"+version+"-bys-deadline-day"] }} {{ data["appealsub-"+version+"-bys-deadline-month"] | formatMonth }} {{ data["appealsub-"+version+"-bys-deadline-year"] }}.
        </p>

        <h1 class="govuk-heading-m">
          Check your answers
        </h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local planning department
            </dt>
            <dd class="govuk-summary-list__value">
              {% for lpa in data['lpas'] %}
                {% if lpa.key == data["appealsub-"+version+"-bys-planningdepartment"] %}
                  {{lpa['official-name']}}
                {% endif %}
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="planning-department">
                Change<span class="govuk-visually-hidden"> local planning department</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of application
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["appealsub-"+version+"-bys-whatareyouappealing"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-are-you-appealing">
                Change<span class="govuk-visually-hidden"> type of application</span>
              </a>
            </dd>
          </div>

          {% if data["appealsub-"+version+"-bys-whatareyouappealing"] == "Removal or variation of conditions" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What type of planning permission do the conditions apply to?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["appealsub-"+version+"-bys-removalvariationconditions"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="what-are-you-appealing">
                  Change<span class="govuk-visually-hidden"> conditions for householder planning permission</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if (data["appealsub-"+version+"-bys-whatareyouappealing"] == "Prior approval") or (data["appealsub-"+version+"-bys-removalvariationconditions"] == "Prior approval") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Did you apply for prior approval to extend an existing home?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["appealsub-"+version+"-bys-priorapproval"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="what-are-you-appealing">
                  Change<span class="govuk-visually-hidden"> prior approval to extend an existing home</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if
              (data["appealsub-"+version+"-bys-whatareyouappealing"] == "Householder planning") or
              (
                (data["appealsub-"+version+"-bys-whatareyouappealing"] == "Prior approval") and
                (data["appealsub-"+version+"-bys-priorapproval"] == "Yes")
              ) or
              (
                (data["appealsub-"+version+"-bys-whatareyouappealing"] == "Removal or variation of conditions") and
                (data["appealsub-"+version+"-bys-removalvariationconditions"] == "Yes")
              )
          %}
            <!-- expedited written representations route -->
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Was the planning application about a major development?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["appealsub-"+version+"-bys-appealabout"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="appeal-about">
                  Change<span class="govuk-visually-hidden"> what your appeal is not about</span>
                </a>
              </dd>
            </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was your planning application granted or refused?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["appealsub-"+version+"-bys-permissiongrantedrefused"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="permission-granted-refused">
                Change<span class="govuk-visually-hidden"> what you're appealing</span>
              </a>
            </dd>
          </div>

          {% if (data["appealsub-"+version+"-bys-permissiongrantedrefused"] == "I have not received a decision") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date decision due
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["appealsub-"+version+"-bys-decisiondatedue-day"] }}
                {{ data["appealsub-"+version+"-bys-decisiondatedue-month"] | formatMonth }}
                {{ data["appealsub-"+version+"-bys-decisiondatedue-year"] }}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="decision-date-due">
                  Change<span class="govuk-visually-hidden"> date decision due</span>
                </a>
              </dd>
            </div>
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of decision
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["appealsub-"+version+"-bys-decisiondate-day"] }}
                {{ data["appealsub-"+version+"-bys-decisiondate-month"] | formatMonth }}
                {{ data["appealsub-"+version+"-bys-decisiondate-year"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="notice-decision-date">
                  Change<span class="govuk-visually-hidden"> date of decision</span>
                </a>
              </dd>
            </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have you received an enforcement notice?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["appealsub-"+version+"-bys-enforcementnotice"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="enforcement-notice">
                Change<span class="govuk-visually-hidden"> have you received an enforcement notice</span>
              </a>
            </dd>
          </div>

          {% if data["appealsub-"+version+"-bys-enforcementnotice"] == "Yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is your enforcement notice about?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["appealsub-"+version+"-bys-enforcementnoticeabout"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="enforcement-notice-about">
                  Change<span class="govuk-visually-hidden"> what is your enforcement notice about</span>
                </a>
              </dd>
            </div>
          {% endif %}

          {% if ((data['bys-'+version+'-whatareyouappealing'] == "Householder planning") and (data['bys-'+version+'-permissiongrantedrefused'] == "Refused")) or ((data['bys-'+version+'-whatareyouappealing'] == "Prior approval") and (data['bys-'+version+'-priorapproval'] == "Yes")) or ((data['bys-'+version+'-whatareyouappealing'] == "Removal or variation of conditions") and (data['bys-'+version+'-removalvariationconditions'] == "Yes")) %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you claiming costs as part of your appeal?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["appealsub-"+version+"-bys-claimingcosts"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="claiming-costs">
                  Change<span class="govuk-visually-hidden"> claiming costs</span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>

        {{ govukButton({
          text: "Continue to my appeal"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
