{% set pageref = "BYS-011-AS16" %}
{% extends "layout.html" %}

{% block pageTitle %}
What type of planning permission do the conditions apply to? - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>

        {{ govukRadios({
          idPrefix: "appealsub-"+version+"-bys-removalvariationconditions",
          name: "appealsub-"+version+"-bys-removalvariationconditions",
          fieldset: {
            legend: {
              text: "What type of planning permission do the conditions apply to?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can check this on your original planning application form."
          },
          items: [
            {
              value: "Full planning",
              text: "Full planning",
              checked: checked("appealsub-"+version+"-bys-removalvariationconditions", "Full planning")
            },
            {
              value: "Householder planning",
              text: "Householder planning",
              checked: checked("appealsub-"+version+"-bys-removalvariationconditions", "Householder planning")
            },
            {
              value: "Listed building consent",
              text: "Listed building consent",
              checked: checked("appealsub-"+version+"-bys-removalvariationconditions", "Listed building consent")
            },
            {
              value: "Outline planning",
              text: "Outline planning",
              checked: checked("appealsub-"+version+"-bys-removalvariationconditions", "Outline planning")
            },
            {
              value: "Prior approval",
              text: "Prior approval",
              checked: checked("appealsub-"+version+"-bys-removalvariationconditions", "Prior approval")
            },
            {
              value: "Reserved matters",
              text: "Reserved matters",
              checked: checked("appealsub-"+version+"-bys-removalvariationconditions", "Reserved matters")
            },
            {
              value: "Something else",
              text: "Something else",
              checked: checked("appealsub-"+version+"-bys-removalvariationconditions", "Something else")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
