{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'How many days would you expect the inquiry to last?' %}

{% block questions %}
  <span class="govuk-caption-l">
{{serviceName}}  </span>
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukInput({
  label: {
    text: title,
    classes: "govuk-label--l",
    isPageHeading: true
  },
  classes: "govuk-input--width-5",
  id: "inquiry-days",
  name: "inquiry-days",
  value: data['inquiry-days']
}) }}

{% endblock %}
{% block afterContent %}

  <p class="govuk-body govuk-!-margin-bottom-6">
     <a href="/appeal/ldc/v4/lpaq/task-list">Return to questionnaire homepage</a>
    </p>

{% endblock %}