{% extends '_layouts/layout-main.html' %}

{% set title = 'Was your application about any of the following?' %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">
				Before you start
			</span>

			<h1 class="govuk-heading-l">
		    {{ title }}
		  </h1>

			<ul class="govuk-list govuk-list--bullet">
			  <li>
					change of use
				</li>
			  <li>
					a change to the number of units in a building
				</li>
			  <li>
					a development that is not wholly at ground floor level
				</li>
			  <li>
					a development that would increase the gross internal area of a building
				</li>
			</ul>

		  <form method="post">

			  {{ govukRadios({
			    name: "commercial-check",
			    fieldset: {
			      legend: {
			        text: "Was your application about any of these?",
			        isPageHeading: false,
			        classes: "govuk-fieldset__legend--m"
			      }
			    },
			    items: [
			      {
			        value: "Yes",
			        text: "Yes"
			      },
			      {
			        value: "No",
			        text: "No"
			      }
			    ]
			  }) }}

			  {{ govukButton({
			    text: "Continue"
			  }) }}

			</form>

		</div>
	</div>

{% endblock %}
