{% extends '_layouts/layout-main.html' %}

{% set title = 'Have you received an enforcement notice?' %}

{% block questions %}


{% from "govuk/components/radios/macro.njk" import govukRadios %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: 'enforcementStatus',
    name: 'enforcementStatus',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('enforcementStatus','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('enforcementStatus','No')
      }
    ]
  }) }}

{% endblock %}
