{% set pageref = "" %}
{% set fromhas = "From HAS" %}
{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Are there any health and safety issues on the appeal site? - Tell the Inspector about site access - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell the Inspector about site access
        </span>
        <h1 class="govuk-heading-xl">
          Are there any health and safety issues on the appeal site?
        </h1>

        <p class="govuk-body">
          Tell us about any health and safety issues on the appeal site that an Inspector would need to know to carry out a site visit.
        </p>

        {{ govukDetails({
          summaryText: "List of health and safety concerns",
          html: "
            <p class='govuk-body'>
              Tell us about:
            </p>
            <ul class='govuk-list govuk-list--bullet'>
              <li>animals at the site, for example pets or livestock</li>
              <li>poor mobile signal at the site</li>
              <li>access issues for people with limited mobility</li>
              <li>overgrown vegetation that could restrict access to the site</li>
              <li>building works or other operations taking place on the site</li>
              <li>site-specific safety arrangements that are in place</li>
              <li>areas of the site that require specialist equipment or training for access, for example heights or confined spaces</li>
              <li>requirements to view the site from a height, for example from a roof or balcony</li>
              <li>risk of exposure to chemicals, asbestos or radiation</li>
              <li>unmarked changes in level or missing fittings</li>
            </ul>
          "
        }) }}

        {% set whyHtml %}
          {{ govukTextarea({
            id: "lpaq-"+version+"-siteaccess-healthsafety-details",
            name: "lpaq-"+version+"-siteaccess-healthsafety-details",
            label: {
              text: "Tell us about any health and safety issues on the appeal site"
            },
            value: data["lpaq-"+version+"-siteaccess-healthsafety-details"]
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "lpaq-"+version+"-siteaccess-healthsafety",
          name: "lpaq-"+version+"-siteaccess-healthsafety",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("lpaq-"+version+"-siteaccess-healthsafety", "Yes"),
              conditional: {
                html: whyHtml
              }
            },
            {
              value: "No",
              text: "No",
              checked: checked("lpaq-"+version+"-siteaccess-healthsafety", "No")
            }
          ]
        }) }}

         <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link" href="../task-list">Skip this question</a>
        </div>

      </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
  </div>
</div>

{% endblock %}
