{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}

{% set title = "You’ll need to submit some documents with your appeal" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ subServiceName }}</span>

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <section class="govuk-!-margin-bottom-6">

      <p class="govuk-body">
        Before you appeal, make sure you have:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          your enforcement notice
        </li>
        <li>
          any other documents to support your appeal
        </li>
      </ul>

    </section>

    <p class="govuk-body">
      You should have already chosen how you think the Planning Inspectorate should decide your appeal.
    </p>

    <div class="govuk-button-group">

      <div class="govuk-button-group">
        {{ govukButton({
          href: "task-list",
          text: "Continue to the appeal"
        }) }}

        {{ govukButton({
          href: "appeal-saved",
          text: "Save and come back later",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </div>

  </div>

</div>
{% endblock %}
