{% extends "layouts/appellant-submission/v11.html" %}

{% set title = "Which grounds apply to your case?" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {{ govukCheckboxes({
          idPrefix: 'grounds',
          name: 'grounds',
          classes: '',
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-l">Choose your grounds of appeal</span>'+title,
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          hint: {
            text: 'Select all that apply.'
          },
          items: [
            {
              html: '<span class="govuk-!-font-weight-bold">Ground A</span>',
              value: 'Ground A',
              hint: {
                html: 'The supposed breach of planning control should be allowed'
              },
              checked: checked('grounds','Ground A')
            },
            {
              html: '<span class="govuk-!-font-weight-bold">Ground B</span>',
              value: 'Ground B',
              hint: {
                html: 'The supposed breach of planning control never happened, or is not being used in the way that the local planning department says it is'
              },
              checked: checked('grounds','Ground B')
            },
            {
              html: '<span class="govuk-!-font-weight-bold">Ground C</span>',
              value: 'Ground C',
              hint: {
                html: 'The supposed breach of planning control does not need planning permission'
              },
              checked: checked('grounds','Ground C')
            },
            {
              html: '<span class="govuk-!-font-weight-bold">Ground D</span>',
              value: 'Ground D',
              hint: {
                html: 'The local planning department missed its deadline to take action'
              },
              checked: checked('grounds','Ground D')
            },
            {
              html: '<span class="govuk-!-font-weight-bold">Ground E</span>',
              value: 'Ground E',
              hint: {
                html: 'The local planning department did not serve copies of the enforcement notice as they&rsquo;re legally required to'
              },
              checked: checked('grounds','Ground E')
            },
            {
              html: '<span class="govuk-!-font-weight-bold">Ground F</span>',
              value: 'Ground F',
              hint: {
                html: 'There&rsquo;s more work to do than is needed to undo the supposed breach of planning control'
              },
              checked: checked('grounds','Ground F')
            },
            {
              html: '<span class="govuk-!-font-weight-bold">Ground G</span>',
              value: 'Ground G',
              hint: {
                html: 'More time is needed to undo the supposed breach of planning control'
              },
              checked: checked('grounds','Ground G')
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
