{% extends "layouts/appellant-submission/v11.html" %}

{% set title = "Upload your reasons" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post">

      <span class="govuk-caption-l">
        Choose your grounds of appeal
      </span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p>You need to upload one or more documents explaining why each ground applies to your case. If you explain all grounds in one document make sure it is clear which explanation is for each.</p>

      <!-- <div class="govuk-inset-text"> -->
        <p class="govuk-!-margin-bottom-1">Based on your previous answer, you need to tell us reasons for:</p>
        <ul class="govuk-list govuk-list--bullet">
          {% for ground in data['grounds'] %}
            <li>{{ ground | safe }}</li>
          {% endfor %}
        </ul>
      <!-- </div> -->

      <p>You do not need to repeat the local planning department&rsquo;s reasons for issuing the enforcement notice.<p>



      {{ govukFileUpload({
        id: 'enforcement-reasons',
        name: 'enforcement-reasons',
        classes: 'pins-file-upload',
        label: {
          text: 'Drag and drop or choose files',
          classes: 'govuk-label--m govuk-!-margin-top-8'
        },
        hint: {
          text: 'The files must be a DOC, DOCX, PDF, JPG, PNG, or TIF and be smaller than 15MB'
        },
        attributes: { multiple: '' }
      }) }}

      {{ govukButton({
        href: "application",
        text: "Continue"
      }) }}



    </form>

  </div>
</div>

{% endblock %}
