{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Simplified appeal procedure / S78E' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {{ govukInsetText({
      html: '
        <p class="govuk-body">
          Linked resources:
          <ul class="govuk-list">
            <li>
              <a href="https://app.mural.co/t/allpins6990/m/allpins6990/1745403946298/5b6e3324bb5ee3e4e45a2f3ef8677e724fb7a9bf">
                Design Mural board
              </a> for S78E
            </li>
            <li>
              <a href="https://pins-ds.atlassian.net/browse/A2-2639">
                Jira epic ticket
              </a>
            </li>
          </ul>

        </p>'

    }) }}

    {% set version = "2" %}

    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">
      Showing grounds of appeal as a text submission.
    </p>

    {{ govukButton({
      html: 'View prototype',
      href: '/appeal/s78e/v'+version+'/before-you-continue',
      isStartButton: true
    }) }}


    {% set v1HTML %}

      {% set version = "1" %}

      <p class="govuk-body">
        Showing the appeal submission form for an S78E (expedited S78) appeal.
      </p>

      {{ govukButton({
        html: 'View prototype',
        href: '/appeal/s78e/v'+version+'/before-you-continue',
        isStartButton: true
      }) }}

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-3',
      items: [
        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
