{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Design patterns' %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <span class="govuk-caption-l">
      Manage LPA appeals
    </span> -->
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p class="govuk-body-l">
      Service patterns and components
    </p>

    <h2 class="govuk-heading-l">
      Service patterns
    </h2>

    <p class="govuk-!-margin-bottom-2">Jump to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/patterns/contact-details?contact-details-completed=">contact details</a></li>
    </ul>

    <h2 class="govuk-heading-l">
      Component patterns
    </h2>

    {% set version = "1" %}
    <h3 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h3>

    <!-- <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>first version</li>
    </ul> -->

    <p class="govuk-!-margin-bottom-2">Jump to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a href="file-upload/file-upload">service headers</a></li>
      <li><a href="file-upload/file-upload">H1 scale</a></li> -->
      <li><a href="input/name">name input</a></li>
      <li><a href="input/address">address input</a></li>
      <li><a href="file-upload/single-file-upload">single-file upload</a></li>
      <li><a href="file-upload/multi-file-upload">multi-file upload</a></li>
      <li><a href="file-upload/documents-check">check for file upload</a></li>
    </ul>


  </div>
</div>
{% endblock %}
