{% extends '_layouts/layout-pins.html' %}

{% set title = 'Tell us your email address' %}

{% set prototypeLinks = [
  {
    href: 'email--code',
    text: 'Email with a code'
  }
] %}

{% set back = false %}

{% block questions %}
  {{ govukInput({
    id: 'email',
    name: 'email',
    value: data['email'],
    label: {
      html: title,
      classes: 'govuk-label--l',
      isPageHeading: true
    },
    hint: {
      html: 'If we recognise this address, we will send you a code.'
    },
    type: 'email',
    autocomplete: 'email',
    spellcheck: false
  }) }}
{% endblock %}
