{% extends '_layouts/layout-email.html' %}

{% block pageTitle %}
  Invitation to your new account
{% endblock %}

{% block emailHeader %}
  <h1 class="govuk-heading-m">
    Invitation to join the service
  </h1>
  <p class="govuk-body">
    <strong>To:</strong> planning.appeals{{ data['lpa-email']}}
    <br>
    <strong>From:</strong> info@planninginspectorate.gov.uk
  </p>
{% endblock %}

{% block emailContent %}
  <p class="govuk-body">Dear {{ data['dashboard-lpa'] }},</p>

  <p class="govuk-body">
    The Planning Inspectorate would like to invite you to join their service for managing planning appeals.
  </p>

  <p class="govuk-body">
    You can use the service to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      view and manage planning inspectorate appeals that are in progress
    </li>
    <li>
      complete and submit an appeal questionnaire
    </li>
    <li>
      add statements, documentation and comments to a case
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    What you can do
  </h2>

  <ol class="govuk-list govuk-list--number">
    <li>
      Go to the link and get a code:<br>
      <a href="/manage/access/v1/enter-code?start=invite" class="govuk-link">https://manage-appeals.planninginspectorate.gov.uk/service-invite?lpa=1vW7td12</a>
    </li>
    <li>
      The code will be sent to your email address
    </li>
    <li>
      We will tell you how to use this code to verify your account for the service
    </li>
  </ol>
{% endblock %}
