{% extends "layout.html" %}

{% set title = "Which statements apply to your case?" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <span class="govuk-caption-l">
          Choose your grounds of appeal
        </span>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <p class="govuk-hint">
              Select all that apply.
            </p>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-1" name="grounds-1" type="checkbox" value="groundA">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-1">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground A</span> -->
                  Ground A: That the building is not of special architectural or historic interest.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-2" name="grounds-2" type="checkbox" value="groundB">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-2">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground B</span> -->
                  Ground B: That the matters alleged to constitute a contravention of section 9(1) or (2) have not occured.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-3" name="grounds-3" type="checkbox" value="groundC">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-3">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground C</span> -->
                  Ground C: That those matters (if they occured) do not constitute such a contravention.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-4" name="grounds-4" type="checkbox" value="groundD">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-4">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground D</span> -->
                  Ground D: That works to the building were urgently necessary in the interests of safety or health or for the preservation of the building, that it was not practicable to secure safety or health or, as the case may be, the preservation of the building by works of repair or works for affording temporary support or shelter, and that the works carried out were limited to the minimum measures immediately necessary.
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="grounds-5" name="grounds-5" type="checkbox" value="groundE">
                <label class="govuk-label govuk-checkboxes__label" for="grounds-5">
                  <!-- <span class="govuk-heading-s govuk-!-margin-bottom-0">Ground E</span> -->
                  Ground E: That listed building consent ought to be granted for the works, or that any relevant condition of such consent which has been granted ought to be discharged, or different conditions substituted.
                </label>
              </div>
                
            </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            href: "",
            text: "Save and come back later",
            classes: "govuk-button--secondary"
          }) }}

        </div>

      </form>

    </div>
  </div>

{% endblock %}
