{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Enforcement listed building' %}

{% block backLink %}
{{ govukBackLink({
html: 'Back to all prototypes',
href: '/#appeal'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "1" %}

    <p class="govuk-body">
      <!-- Improvements to the process that was developed and released. Brings full planning in line with design changes made in the time since release. -->
    </p>

    {{ govukInsetText({
    html: '<p class="govuk-body"><a
        href="https://app.mural.co/t/allpins6990/m/allpins6990/1749120110050/acce8963b62ade4f3e09bebd8cd2f320098d9984">Design
        board plans for this work</a></p>'
    }) }}

    <h2 class="govuk-heading-m">
      Latest version
      {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
      })}}
    </h2>

    {{ govukButton({
      html: 'View prototype',
      href: 'enforcement-listed-building-2025/v1/task-list',
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Features:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
      </li>
    </ul>

  </div>
</div>
{% endblock %}