{% extends "layout.html" %}

{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}
{% set subServiceName = "" %}

{% if data['appealCode'] != "true" %}
  {% set appealCode = "0166327" %}
{% endif %}

{% if data['appealCode'] %}
  {% set title = "Appeal "+data['appealCode']+" decision" %}
{% else %}
  {% set title = "Appeal 0166327 decision" %}
{% endif %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ subServiceName }}</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
    </div>

    <div class="govuk-grid-column-full">

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Inspector
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              C J Ford BA (Hons) BTP MRTPI
            </p>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              2 February 2022
            </p>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision issued
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              Allowed
            </p>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal site
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              {% if data['site-address'] %}
                {{ data['site-address'] }}
              {% else %}
                2 Aubrey House, Aubrey Road, BS3 3EX
              {% endif %}
            </p>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key ">
            Applicant
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['appellantName'] %}
              {{ data['appellantName'] }}
            {% else %}
              J. M. Wigstone
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
            Description of development
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
            Loft conversion of roof to existing dwelling (Certificate of Lawfulness of Proposed Use).
          </dd>
        </div>

        <div class="govuk-summary-list__row pins-summary-list__row--last">
          <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
            Local planning department
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
            Bristol City Council
          </dd>
        </div>

      </dl>



    </div>
  </div>

{% endblock %}
