{% extends "layout.html" %}

{% set pageref = "###" %}
{% extends "layout.html" %}

{% set title = "Do you have an appeal number?" %}

{% set serviceName = "Find out about planning appeals" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="appealOption" method="post" class="form" id="question">

        {% if data['error'] %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %}

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
            </legend>

            <p class="govuk-body">
              (Appeal number if you got a letter)
            </p>

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hasAppealNumber-1" name="hasAppealNumber" type="radio" value="appealNumber">
                <label class="govuk-label govuk-radios__label" for="hasAppealNumber-1">
                  Yes, I have an appeal number
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hasAppealNumber-2" name="hasAppealNumber" type="radio" value="appealAddress">
                <label class="govuk-label govuk-radios__label" for="hasAppealNumber-2">
                  No, search with an address
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
