{% extends "layout.html" %}

{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "" %}

{% if data['appealCode'] != "true" %}
  {% set appealCode = "0166327" %}
{% endif %}

{% if data['appealCode'] %}
  {% set title = "Appeal "+data['appealCode'] %}
{% else %}
  {% set title = "Appeal 0166327" %}
{% endif %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ subServiceName }}</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
    </div>

    <div class="govuk-grid-column-full">
      {% if data['status'] == "open" %}
        <!-- comments are open -->
        <section class="govuk-!-margin-bottom-3">
          <strong class="govuk-tag govuk-tag--green">
            Open for comments
          </strong>
        </section>

        <p class="govuk-body">
          You can comment on this appeal until 11:59pm on 4 May 2022.
        </p>

      {% elseif data['status'] == "closed" %}
        <!-- closed / can not comment -->
        <section class="govuk-!-margin-bottom-3">
          <strong class="govuk-tag govuk-tag--blue">
            Closed for comments
          </strong>
        </section>

        <p class="govuk-body">
          The deadline for comments was 4 January 2022. You cannot add comments.
        </p>

      {% else %}
        <!-- closed / decision made -->
        <section class="govuk-!-margin-bottom-3">
          <strong class="govuk-tag govuk-tag--black">
            Decision made
          </strong>
        </section>
      {% endif %}

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal site
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              {% if data['site-address'] %}
                {{ data['site-address'] }}
              {% else %}
                2 Aubrey House, Aubrey Road, BS3 3EX
              {% endif %}
            </p>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key ">
            Applicant
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['appellantName'] %}
              {{ data['appellantName'] }}
            {% else %}
              J. M. Wigstone
            {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
            Description of development
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
            Loft conversion of roof to existing dwelling (Certificate of Lawfulness of Proposed Use).
            <p class="govuk-body">
              <a href="https://www.bristol.gov.uk/planning-and-building-regulations" target="_blank">
                View the application details on the local planning department’s website (opens in new tab)
              </a>
            </p>
          </dd>
        </div>

        {% if data['status'] != "completed" %}
          <div class="govuk-summary-list__row pins-summary-list__row--last">
        {% else %}
          <div class="govuk-summary-list__row">
        {% endif %}

          <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
            Local planning department
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
            Bristol City Council
          </dd>
        </div>

        {% if data['status'] == "completed" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
              Decision issued
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
              {% if data['decision'] == "allowed" %}
                Allowed
              {% elseif data['decision'] == "disallowed" %}
                Disallowed
              {% elseif data['decision'] == "split" %}
                Split decision
              {% elseif data['decision'] == "invalid" %}
                Invalid
              {% else %}
                Allowed
              {% endif %}

            </dd>
          </div>

          <div class="govuk-summary-list__row pins-summary-list__row--last">
            <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
              Decision date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
              2 February 2022
            </dd>
          </div>

          <!-- <div class="govuk-summary-list__row pins-summary-list__row--last">
            <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-third">
              Decision document
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
              <a href="#">
                See the appeal decision
              </a>
            </dd>
          </div> -->

        {% endif %}

      </dl>

      {% if data['status'] == "completed" %}
        <p class="govuk-body">
          View the decision document for this appeal<br>
          <a href="{{ asset_path }}files/blank.pdf">
             Decision-letter-0166327.pdf
          </a>
        </p>
      {% endif %}

    </div>

    <div class="govuk-grid-column-two-thirds">

      {% if data['status'] == "open" %}

        <!-- user can comment -->
        {{ govukButton({
          text: "Comment on this appeal",
          classes: "govuk-!-margin-bottom-9",
          href: "appeal-comment-name?checking="
        }) }}

      {% endif %}

    </div>
  </div>

{% endblock %}
