{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "Find out about planning appeals" %}

{% set title = "Closed appeals" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-body">
      {% if data['postcode'] %}
        33 closed appeals found for {{ data['postcode'] }}. You cannot comment on closed appeals. <a href="appeal-search-address?version=" class="govuk-link">Search by a different postcode</a>
      {% else %}
        33 closed appeals found for BS3 3EX. You cannot comment on closed appeals. <a href="appeal-search-address?version=" class="govuk-link">Search by a different postcode</a>
      {% endif %}
    </p>

  </div>

  <!-- main table -->
  <div class="govuk-grid-column-full">

  {{ govukTable({
    caption: "1 to 10 of closed appeals",
    captionClasses: "govuk-table__caption--m",

    head: [

      {
        text: "Site address",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Applicant",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Appeal reference",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Date closed",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          text: "102 Aubrey Road, BS3 3EX"
        },
        {
          text: "Mel Pickins"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=closed&appealCode=0166002&site-address=102%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Mel%20Pickins">APP/Q999/D/20/0166002</a>'
        },
        {
          text: "21 January 2022"
        }
      ],
      [
        {
          text: "77 Aubrey Road, BS3 3EX"
        },
        {
          text: "Nic Soonez"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=closed&appealCode=0141289&site-address=77%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Nic%20Soonez">APP/Q999/D/20/0141289</a>'
        },
        {
          text: "21 January 2022"
        }
      ],
      [
        {
          text: "19 Aubrey Road, BS3 3EX"
        },
        {
          text: "Talisan Creedance"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0165971&site-address=19%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Talisan%20Creedance">APP/Q999/D/20/0165971</a>'
        },
        {
          text: "12 January 2022"
        }
      ],
      [
        {
          text: "2 Aubrey House, Aubrey Road, BS3 3EX"
        },
        {
          text: "J. M. Wigstone"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0165791&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone">APP/Q999/D/21/0165791</a>'
        },
        {
          text: "20 December 2021"
        }
      ],

      [
        {
          text: "1 Aubrey House, Aubrey Road, BS3 3EX"
        },
        {
          text: "Jan Fish"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0166241&site-address=1%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Jan%20Fish">APP/Q999/D/21/0166241</a>'
        },
        {
          text: "11 July 2021"
        }
      ],
      [
        {
          text: "22 Aubrey Road, BS3 3EX"
        },
        {
          text: "P. J. Thames"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0166111&site-address=22%20Aubrey%20Road%2C%20BS3%203EX&appellantName=P.%20J.%20Thames">APP/Q999/D/21/0166111</a>'
        },
        {
          text: "13 June 2021"
        }
      ],
      [
        {
          text: "155 Aubrey Road, BS3 3EX"
        },
        {
          text: "Danny Fiakkas"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0166102&site-address=155%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Danny%20Fiakkas">APP/Q999/D/21/0166102</a>'
        },
        {
          text: "13 April 2021"
        }
      ],
      [
        {
          text: "32 Vicarage Court, Aubrey Road, BS3 3EX"
        },
        {
          text: "Pavarthi Sagar"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0165854&site-address=32%20Vicarage%20Court%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Pavarthi%20Sagar">APP/Q999/D/21/0165854</a>'
        },
        {
          text: "13 April 2021"
        }
      ],
      [
        {
          text: "8 Aubrey Road, BS3 3EX"
        },
        {
          text: "Ash Davenant"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0165921&site-address=8%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Ash%20Davenant">APP/Q999/D/21/0165921</a>'
        },
        {
          text: "8 March 2021"
        }
      ],
      [
        {
          text: "1 Vicarage Court, Aubrey Road, BS3 3EX"
        },
        {
          text: "Charlie Agadosi"
        },
        {
          html: '<a class="govuk-link" href="appeal-details?status=completed&appealCode=0166013&site-address=1%20Vicarage%20Court%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Charlie%20Agadosi">APP/Q999/D/21/0166013</a>'
        },
        {
          text: "18 February 2021"
        }
      ]
    ]
  }) }}

  <ul class="govuk-list">
    <li>
      <!-- <p class="govuk-body-l"> -->
        <a class="govuk-link" href="#">
          Next 10 closed appeals
        </a>
      <!-- </p> -->
    </li>
  </ul>

</div>

{% endblock %}
