{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "" %}

{% set title = "Guidance" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p class="govuk-body">
        This is a service for searching, viewing and commenting on planning appeals.
      </p>

      <p class="govuk-body">
        You can use this service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          view appeals that are open for comments and submit your comments
        </li>

        <li>
          view appeals that are closed for comments
        </li>

        <li>
          view appeals that are complete and view the decision for those appeals
        </li>

      </ul>

      <p class="govuk-body">
        If you want to comment on an appeal, you'll need:
      </p>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          the 7-digit reference number that can be found on your letter from the local planning department. This can also be found on the local planning department's website
        </li>

        <li>
          an email address so we can contact you if we have any questions
        </li>

        <li>
          your comments saved in a document
        </li>

      </ul>

      <h2 class="govuk-heading-m">
        Guidance about your comments
      </h2>

      <p class="govuk-body">
        Any previous comments that you submitted as part of an application will be considered by the Inspector. The local planning department shares these with the Planning Inspectorate, so there is no need to submit repeat comments.
      </p>

      <p class="govuk-body">
        We will share any comments you submit with the applicant and the local planning department.
      </p>

      <p>
        You should only include personal information if it's relevant to the appeal.
      </p>

      <p>
        Personal information includes health, race and gender.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            See a full list of what counts as personal information
          </span>
        </summary>
        <div class="govuk-details__text">

          <!-- <p class="govuk-body">
            Other examples of personal information
          </p> -->

          <h3 class="govuk-heading-s">
            Other examples of personal information
          </h3>

          <ul class="govuk-list govuk-list--bullet">

            <li>
              comments from children
            </li>
            <li>
              information relating to children
            </li>
            <li>
              information relating to health
            </li>
            <li>
              information relating to crime
            </li>
          </ul>

          <p class="govuk-body">
            It also includes any information relating to an individual's:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              race
            </li>
            <li>
              ethnic origin
            </li>
            <li>
              politics
            </li>
            <li>
              religion
            </li>
            <li>
              trade union membership
            </li>
            <li>
              genetics
            </li>
            <li>
              physical characteristics
            </li>
            <li>
              sex life
            </li>
            <li>
              sexual orientation
            </li>
          </ul>

        </div>
      </details>

      <p class="govuk-body">
        If you include any personal information that's not relevant, we'll ask you to resubmit. This could mean that you miss the deadline to submit comments.
      </p>

      <p class="govuk-body">
        Your comments must not include inflammatory or abusive language.
      </p>

      {{ govukButton({
        classes: "govuk-!-margin-top-5",
        href: "appeal-number",
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete/accessible-autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#appealsub-{{version}}-beforeyoustart-planningdepartment')
    })
  </script>
{% endblock %}
