{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}
{% set subServiceName = "Comment on an appeal" %}

{% set title = "Select the appeal" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ subServiceName }}</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-body">
      {% if data['postcode'] %}
        3 open appeals found for {{ data['postcode'] }}.<br><a href="appeal-search-address?version=" class="govuk-link">Search by a different postcode</a>
      {% else %}
        3 open appeals found for BS3 3EX.<br><a href="appeal-search-address?version=" class="govuk-link">Search by a different postcode</a>
      {% endif %}
    </p>

  </div>

  <!-- main table -->
  <div class="govuk-grid-column-full">

    <!-- includes linked appeal reference -->
    {% if data['version'] == "linked-appeal-ref-first" %}

      {{ govukTable({
        caption: "Open appeals",
        captionClasses: "govuk-table__caption--m govuk-visually-hidden",

        head: [

          {
            text: "Appeal reference",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Site address",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Applicant",
            classes: 'govuk-!-width-one-quarter'
          }
        ],
        rows: [
          [
            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166327&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F3256411"><span class="govuk-visually-hidden">Appeal reference </span>APP/Q999/D/21/0166327</a>'
            },
            {
              text: "2 Aubrey House, Aubrey Road, BS3 3EX"
            },
            {
              text: "J. M. Wigstone"
            }
          ],
          [

            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166328&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F3256412">APP/Q999/D/21/0166328</a>'
            },
            {
              text: "2 Aubrey House, Aubrey Road, BS3 3EX"
            },
            {
              text: "J. M. Wigstone"
            }
          ],
          [
            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166451&site-address=4%20Vicarage%20Court%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Sam%20Bidbod&appealReference=APP%2F2021%2F56789%2F3226514">APP/Q999/D/21/0166451</a>'
            },
            {
              text: "4 Vicarage Court, Aubrey Road, BS3 3EX"
            },
            {
              text: "Sam Bidbod"
            }
          ]
        ]
      }) }}

    <!-- includes appeal reference, address is key data -->
    {% elseif data['version'] == "linked-address-first" %}

      {{ govukTable({
        caption: "Open appeals",
        captionClasses: "govuk-table__caption--m govuk-visually-hidden",

        head: [

          {
            text: "Site address",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Applicant",
            classes: 'govuk-!-width-one-quarter'
          },
          {
            text: "Appeal reference",
            classes: 'govuk-!-width-one-quarter'
          }
        ],
        rows: [
          [
            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166327&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F3256411">2 Aubrey House, Aubrey Road, BS3 3EX</a>'
            },
            {
              text: "J. M. Wigstone"
            },
            {
              text: "APP/Q999/D/21/0166327"
            }
          ],
          [

            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166328&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F3256412">2 Aubrey House, Aubrey Road, BS3 3EX</a>'
            },
            {
              text: "J. M. Wigstone"
            },
            {
              text: "APP/Q999/D/21/0166328"
            }
          ],
          [
            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166451&site-address=4%20Vicarage%20Court%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Sam%20Bidbod&appealReference=APP%2F2021%2F56789%2F3226514">4 Vicarage Court, Aubrey Road, BS3 3EX</a>'
            },
            {
              text: "Sam Bidbod"
            },
            {
              text: "APP/Q999/D/21/0166451"
            }
          ]
        ]
      }) }}

    <!-- includes appeal reference, address is key data -->
    {% elseif data['version'] == "simple" %}

      <!-- more simple results -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Open appeals
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">
              Appeal site
            </th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
              Applicant
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="appeal-details?status=open&appealCode=0166327&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F3256411">
                {% if data['postcode'] %}
                  2 Aubrey House, Aubrey Road, {{ data['postcode'] }}
                {% else %}
                  2 Aubrey House, Aubrey Road, BS3 3EX
                {% endif %}
              </a>
            </td>
            <td class="govuk-table__cell">
              J. M. Wigstone
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="appeal-details?status=open&appealCode=0166328&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F3256412">
                {% if data['postcode'] %}
                  2 Aubrey House, Aubrey Road, {{ data['postcode'] }}
                {% else %}
                  2 Aubrey House, Aubrey Road, BS3 3EX
                {% endif %}
              </a>
            </td>
            <td class="govuk-table__cell">
              J. M. Wigstone
            </td>
          </tr>
          <tr class="govuk-table__row pins-govuk-table__row--last">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="appeal-details?status=open&appealCode=0167022&site-address=4%20Vicarage%20Court%2C%20Aubrey%20Road%2C%20BS3%203EX&ApplicantName=Sam%20Bidbod&appealReference=APP%2F2021%2F56789%2F3226514">
                {% if data['postcode'] %}
                  4 Vicarage Court, Aubrey Road, {{ data['postcode'] }}
                {% else %}
                  4 Vicarage Court, Aubrey Road, BS3 3EX
                {% endif %}
              </a>
            </td>
            <td class="govuk-table__cell">
              Sam Bidbod
            </td>
          </tr>

        </tbody>
      </table>

    {% else %}

      <!-- preferred option -->

      <!-- address first -->
      <!-- linked appeal reference -->

      {{ govukTable({
        caption: "Open appeals",
        captionClasses: "govuk-table__caption--m govuk-visually-hidden",

        head: [

          {
            text: "Site address",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Applicant",
            classes: 'govuk-!-width-one-third'
          },
          {
            text: "Appeal reference",
            classes: 'govuk-!-width-one-third'
          }
        ],
        rows: [
          [
            {
              text: "2 Aubrey House, Aubrey Road, BS3 3EX"
            },
            {
              text: "J. M. Wigstone"
            },
            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166327&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F0166327">APP/Q999/D/21/0166327</a>'
            }
          ],
          [
            {
              text: "2 Aubrey House, Aubrey Road, BS3 3EX"
            },
            {
              text: "J. M. Wigstone"
            },
            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166327&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=APP%2F2021%2F56789%2F0166328">APP/Q999/D/21/0166328</a>'
            }
          ],
          [
            {
              text: "4 Vicarage Court, Aubrey Road, BS3 3EX"
            },
            {
              text: "Sam Bidbod"
            },
            {
              html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166451&site-address=4%20Vicarage%20Court%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Sam%20Bidbod&appealReference=APP%2F2021%2F56789%2F3226514">APP/Q999/D/21/0166451</a>'
            }
          ]
        ]
      }) }}

    {% endif %}

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-s">
      Cannot see the appeal you're looking for?
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-7">

        <a href="closed-appeals" class="govuk-link">
          {% if data['postcode'] %}
            33 closed appeals found for {{ data['postcode'] }}
          {% else %}
            33 closed appeals found for BS3 3EX
          {% endif %}
        </a>
    </p>
  </div>

{% endblock %}
