{% extends location+"_layout.html" %}
{% set prototypeLinks = [{href: 'errors/lpa-not-available', text: 'LPA not available'}] %}

{% block questions %}
  {# Create an array for the LPA select below #}
  {% set lpaList = [{value: '',text: 'Select LPA'}] %}

  {# Include all of the LPA's which are set in default data #}
  {% for lpa in data['lpas'] %}
    {% set lpaList = lpaList | push ({
      value: lpa['official-name'],
      text: lpa['official-name']
    }) %}
  {% endfor %}

  {# Adds all items from the array then progressively enhanced with the script at the bottom of the file #}
  {{ govukSelect({
    id: 'lpa',
    name: 'lpa',
    label: {
      html: 'Which local planning authority (LPA) do you want to appeal against?',
      classes: 'govuk-label--l',
      isPageHeading: true
    },
    items: lpaList,
    attributes: {
      'data-default-value': data['lpa']
    }
  }) }}
{% endblock %}

{% block pageScripts %}
  {# Enhance the select to a typeahead #}
  <script>
    let selectElement = document.querySelector('#lpa')

    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: selectElement.getAttribute('data-default-value'),
      selectElement: selectElement
    })
  </script>
{% endblock %}