{% extends "layout.html" %}

{% block pageTitle %}
  Applicant name | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form action="task-list" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About you</span>
        
        {{ govukInput({
          label: {
            text: "Who are you appealing on behalf of?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "applicant-names",
          name: "applicant-names",
          autocomplete: "name",
          spellcheck: false
        }) }}

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>

        <input type="hidden" name="sections-completed" value="1">
        <input type="hidden" name="applicant-name-completed" value="govuk-tag app-task-list__tag">
        <input type="hidden" name="applicant-name-completed-text" value="Completed">
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
    

  </div>
{% endblock %}
