{% extends "layout-print.html" %}

{% block pageTitle %}
  Check answers | Appeal a householder planning decision
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-l">
        Householder planning appeal
      </h1>
      <p>Submitted to the Planning Inspectorate on {{ 0 |daysAgo }}</p>


      {% include "../appellant-submission/_check-answers-list.html" %}
      


    </div>

    
  </div>
  


<style>
@media print {

  .govuk-summary-list__key {
    page-break-after: avoid;
  }

}

.govuk-link {
  display: none;
}

</style>

{% endblock %}


