{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Confirmation | Appeal a householder planning decision
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Appeal submitted
          </h1>
        </div>
         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <p class="govuk-body">Your appeal has been submitted to the Planning Inspectorate.</p>
    <p class="govuk-body">You'll need to send a copy of your appeal to your local planning department.</p>

        <h2 class="govuk-heading-m">What happens next?</h2>
        <ol class="govuk-list govuk-list--number">
          <li>We will check we have everything we need to continue with your appeal. We'll contact you if we need more information.</li>
          <li>Your local planning department will send you a copy of their questionnaire and supporting documents for your information only, you do not need to do anything.</li>
          <li>An Inspector will need to make a site visit. We'll be in touch if the Inspector needs you to provide access.</li>
          <li>The Inspector will then consider all the evidence to make their decision.</li>
        </ol>

        <p class="govuk-body">
          We aim to make a decision on your appeal in around 8 weeks.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Help us improve this service by taking a short survey <a> (takes 2 minutes)
        </p>
      </div>
    </div>


{% endblock %}
