{% extends "layout.html" %}

{% block pageTitle %}
  Local Planning authority details
{% endblock %}

{% block content %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#date-error">Enter a decision date</a>
      </li>
    </ul>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="decision-date-post" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Before you start</span>
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="has-permission-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What's the decision date on the letter from the Local Planning Authority?​
              </h1>
            </legend>
          <span id="passport-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a decision date
          </span>
          <div class="govuk-date-input" id="decision-date">
            <span id="passport-issued-hint" class="govuk-hint">
                    For example, 20 04 2020
                  </span>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="decision-date-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="decision-date-day" name="decision-date-day" value="{{data['decision-date-day']}}" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="decision-date-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="decision-date-month" name="decision-date-month" value="{{data['decision-date-month']}}" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="decision-date-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="decision-date-year" name="decision-date-year" value="{{data['decision-date-year']}}" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>

        </div>
        <p class="govuk-form-group govuk-!-padding-bottom-2"><a href="applicant-out">I have not received a decision from my Local Planning Authority​</a></p>

         <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>


  </div>

{% endblock %}
