{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="listed-building-post" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Before you start</span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is your appeal about a listed building?
              </h1>
            </legend>
        
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="listed-building" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-2" name="listed-building" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
