{% extends "layout.html" %}

{% block pageTitle %}
  Other active appeals | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <form action="task-list" method="post" novalidate>
    <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Your appeal</span>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Do you have any other active appeals at this address?</h1></legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="other-appeals-conditional" name="other-appeals" type="radio" value="yes" {{ checked('other-appeals', 'yes') }} data-aria-controls="conditional-other-appeals-conditional">
          <label class="govuk-label govuk-radios__label" for="other-appeals-conditional">
            Yes
          </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-appeals-conditional">
            <div class="govuk-form-group">
              <label class="govuk-label" for="other-appeals-more-detail">
                Enter appeal reference numbers
              </label>
              <span id="other-appeals-more-detail-hint" class="govuk-hint">
                You can add multiple reference numbers separated by commas
              </span>
              <input value="{{ data['other-appeals-more-detail'] }}" class="govuk-textarea" id="other-appeals-more-detail" name="other-appeals-more-detail" rows="5" aria-describedby="other-appeals-more-detail-hint">
            </div>
          </div>
        
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="other-appeals-conditional-2" name="other-appeals" type="radio" value="no" {{ checked('other-appeals', 'no') }}>
            <label class="govuk-label govuk-radios__label" for="other-appeals-conditional-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
    <input type="hidden" name="sections-completed" value="2">
    <input type="hidden" name="other-appeal-completed" value="govuk-tag app-task-list__tag">
    <input type="hidden" name="other-appeal-completed-text" value="Completed">
  </form>
</div>

<div class="govuk-grid-column-one-third">
    
  </div>
{% endblock %}
