{% extends "layout.html" %}

{% block pageTitle %}
  Site address | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <form action="site-ownership" method="post" novalidate>
      
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Visiting the appeal site</span>
        
          

{% call govukFieldset({
  legend: {
    text: "What is the address of the appeal site?",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

<p>The appeal site is the area of property or land that your original planning application relates to.</p>

  {{ govukInput({
    label: {
      html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
    },
    id: "address-line-1",
    value: data["address-line-1"],
    name: "address-line-1",
    autocomplete: "address-line1"
  }) }}

  {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
    },
    id: "address-line-2",
    value: data["address-line-2"],
    name: "address-line-2",
    autocomplete: "address-line2"
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    value: data["address-town"],
    name: "address-town",
    autocomplete: "address-level2"
  }) }}

  {{ govukInput({
    label: {
      text: "County"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-county",
    value: data["address-county"],
    name: "address-county"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode"
    },
    classes: "govuk-input--width-10",
    id: "address-postcode",
    value: data["address-postcode"],
    name: "address-postcode",
    autocomplete: "postal-code"
  }) }}

{% endcall %}


        
        <input type="hidden" name="site-location-completed" value="govuk-tag app-task-list__tag">
        <input type="hidden" name="site-location-completed-text" value="Completed">

    <div class="govuk-form-group">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </div>  
</form>
        </div>

      <div class="govuk-grid-column-one-third">
    
    </div>
    

{% endblock %}
