{% extends "layout.html" %}

{% block pageTitle %}
  Access to site | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form action="site-access-safety" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Visiting the appeal site</span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="inspector-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">Can the Inspector see the whole of the appeal site from a public road?</h1>
            </legend>
            <p id="inspector-hint">The Inspector needs to see the whole of the appeal site. This is the area of property or land that your original planning application relates to.</p>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="site-access" type="radio" value="yes" {{ checked('site-access', 'yes')}} data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  Yes, they can see the appeal site
                </label>
              </div>
              
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="site-access-conditional" name="site-access" type="radio" value="no" {{ checked('site-access', 'no')}} data-aria-controls="conditional-site-access-conditional">
                  <label class="govuk-label govuk-radios__label" for="site-access-conditional">
                    No, I would need to give them access
                  </label>
                </div>
               <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-site-access-conditional">
                  <div class="govuk-form-group">
                    <label id="site-access-conditional-hint" class="govuk-label" for="more-detail">
                      Tell us how access is restricted.
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="site-access-more-detail" rows="5" aria-describedby="more-detail-hint">{{ data['site-access-more-detail'] }}</textarea>
                  </div>

                </div>


            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">    
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
        <input type="hidden" name="site-access-completed" value="govuk-tag app-task-list__tag">
        <input type="hidden" name="site-access-completed-text" value="Completed">
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
    
  </div>
{% endblock %}
