\{% extends "layout.html" %}

{% block pageTitle %}
  Site address | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Visiting the appeal site</span>
      <form action="site-ownership" method="post" novalidate>
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="sort">
                What is the address of the appeal site?
              </label>
            </h1>

        <div class="govuk-form-group">
          <select class="govuk-select" id="sort" name="sort">
            <option value="published">1 address found</option>
            <option value="published">Buckingham Palace, London</option>
          </select>
        </div>

      <div class="govuk-form-group">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Enter address manually</span>
          </summary>
          <div class="govuk-details__text">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <input value="{{ data['address-line-1'] }}" class="govuk-input" id="address-line-1" name="address-line-1" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                </label>
                <input value="{{ data['address-line-2'] }}" class="govuk-input" id="address-line-2" name="address-line-2" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input value="{{ data['address-town'] }}" class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input value="{{ data['address-county'] }}" class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input  value="{{ data['postcode'] }}"class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
              </div>
            </fieldset>

          </div>
        </details>
      </div>
      </fieldset>
      

      <div class="govuk-form-group">
        
      </div>
      <form action="site-location-green-belt" method="post" novalidate>
      <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <input type="hidden" name="site-location-completed" value="govuk-tag app-task-list__tag">
          <input type="hidden" name="site-location-completed-text" value="Completed">
        </form>
    </div>

  </div>
{% endblock %}
