{% extends "layout.html" %}

{% block pageTitle %}
  Health and safety | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form action="task-list-complete" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Visiting the appeal site</span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">Are there any health and safety issues on the appeal site?</h1>
            </legend>
            <p> Tell us about any health and safety issues on the appeal site in case an Inspector needs to carry out a site visit.</p>
<p>The appeal site is the area of property or land that your original planning application relates to.</P>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                   List of health and safety concerns
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul>
                  <li>There are animals (for example pets or livestock) at the site</li>
                  <li>The site is in an area likely to have poor mobile phone signal</li>
                  <li>The site isn't accessible for people with limited mobility</li>
                  <li>There is overgrown vegetation that could restrict access to the site</li>
                  <li>The Inspector will need to wear personal protective equipment (PPE)</li>
                  <li>There are building works or other operations taking place on the site</li>
                  <li>There are site-specific safety arrangements in place</li>
                  <li>There are areas on the site that require specialist equipment or training for access, for example heights or confined spaces</li>
                  <li>It will be necessary to view the site from a height, for example a roof or balcony</li>
                  <li>There is risk of exposure to chemicals, asbestos or radiation</li>
                  <li>There are unmarked changes in level or missing fittings</li>
              </div>
            </details>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="safety" {{ checked('safety', 'yes') }} type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="safety-detail">
                    Tell us about any health and safety concerns
                  </label>
                  <textarea value="{{ data['safety-detail'] }}" class="govuk-textarea" id="safety-detail" name="safety-detail" rows="5" aria-describedby="more-detail-hint">{{ data['safety-detail'] }}</textarea>
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-2" name="safety" {{ checked('safety', 'no') }} type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
        <input type="hidden" name="health-option" value="{{ data['safety'] }}">
        <input type="hidden" name="safety-access-completed" value="govuk-tag app-task-list__tag">
        <input type="hidden" name="safety-access-completed-text" value="Completed">
      </form>
    </div>

  </div>
{% endblock %}
