{% extends "layout.html" %}

{% block pageTitle %}
  Site notes | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form action="site-access-safety" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Access to the appeal site</span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="inspector-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l">Is there anything in particular that the Inspector should look at on the site visit?</h1>
            </legend>
            <p><label id="site-access-conditional-hint" class="govuk-label" for="more-detail">
                      The Inspector will not be able to discuss the appeal during the site visit. If there’s something you think they should pay particular attention to, you can tell us about it here.
                    </label></p>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input value="{{ data['site-access'] }}" class="govuk-radios__input" id="site-access-conditional" name="site-access" type="radio" value="no" data-aria-controls="conditional-site-access-conditional">
                  <label class="govuk-label govuk-radios__label" for="site-access-conditional">
                    Yes
                  </label>
                </div>
               <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-site-access-conditional">
                  <div class="govuk-form-group">
                    <textarea value="{{ data['site-access-more-detail'] }}" class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>

                </div>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input value="{{ data['site-access'] }}" class="govuk-radios__input" id="how-contacted-conditional" name="site-access" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">    
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
        <input type="hidden" name="site-access-info-completed" value="govuk-tag app-task-list__tag">
        <input type="hidden" name="site-access-info-completed-text" value="Completed">
      </form>
    </div>
  </div>
{% endblock %}
