{% extends "layout.html" %}

{% block pageTitle %}
  Upload the decision notice | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <form action="task-list" method="post" novalidate>
    <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Required documents</span>
    <h1 class="govuk-heading-l">
      Decision letter
    </h1>
    <p>This is the letter from the local planning department telling you about the decision on the planning application.</p>
    <div class="govuk-inset-text">File size should be no more than 15MB</div>
    <div class="govuk-form-group">
      <label class="govuk-heading-m" for="decision-notice">
        Upload the decision letter
      </label>
      <input value="{{ data['decision-notice'] }}" class="govuk-file-upload" id="decision-notice" name="decision-notice" type="file">
    </div>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with file formats
        </span>
      </summary>
      <div class="govuk-details__text">
        Please upload your statement in one of the following formats:
        <ul class="govuk-list--bullets">
          <li>PDF &ndash; <strong>.pdf</strong></li>
          <li>Microsoft Word &ndash; <strong>.doc</strong> or <strong>.docx</strong></li>
          <li>TIF &ndash; <strong>.tif</strong> or <strong>.tiff</strong></li>
          <li>JPEG &ndash; <strong>.jpg</strong> or <strong>.jpeg</strong></li>
          <li>PNG &ndash; <strong>.png</strong></li>
        </ul>
      </div>
    </details>
    <button class="govuk-button" data-module="govuk-button">
        Save and continue
    </button>
    <input type="hidden" name="sections-completed" value="3">
    <input type="hidden" name="decision-notice-completed" value="govuk-tag app-task-list__tag">
    <input type="hidden" name="decision-notice-completed-text" value="Completed">
  </form>
</div>

<div class="govuk-grid-column-one-third">
    
  </div>
{% endblock %}
