{% extends "layout.html" %}

{% block pageTitle %}
  Your details | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="{{data.saveReturnUrl}}" method="post" novalidate="">
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About you</span>
        <h1 class="govuk-heading-l">
          Your details
        </h1>
        <p>We ask for your name and email address so we can contact you about your appeal.</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="appellant-name">
            Your name
          </label>
          <input class="govuk-input" id="appellant-name" name="appellant-name" value="{{data['appellant-name']}}" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="appellant-email">
            Your email
          </label>
          <input class="govuk-input" id="appellant-email" name="appellant-email" value="{{data['appellant-email']}}" type="text">
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>

        <input type="hidden" name="sections-completed" value="1">
        <input type="hidden" name="your-details-completed" value="govuk-tag app-task-list__tag">
        <input type="hidden" name="your-details-completed-text" value="Completed">
      </form>


    
    </div>

    <div class="govuk-grid-column-one-third">
    

  </div>
{% endblock %}
