{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}
{% set subServiceName = "Comment on an appeal" %}

{% set title = "Guidance for submitting comments" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ subServiceName }}</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p class="govuk-body">
        You can use this service to comment on an appeal.
      </p>

      <h2 class="govuk-heading-m">
        Your comments
      </h2>

      <p class="govuk-body">
        Any previous comments that you submitted as part of an application will be considered by the Inspector. The local planning department shares these with the Planning Inspectorate, so there is no need to submit repeat comments.
      </p>

      <p class="govuk-body">
        We will share any comments you submit with the applicant and the local planning department.
      </p>

      <p class="govuk-body">
        Your comments must not include:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>the appeal reference number</li> -->
        <li>inflammatory or abusive language</li>
        <li>sensitive information</li>
      </ul>

      <p class="govuk-body">
        If you include anything you should not, we may ask you to resubmit your comments. This would delay the appeal.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            See a full list of what you should not include
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body">
            You should not include:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <!-- <li>the appeal reference number</li> -->
            <li>
              comments from children
            </li>
            <li>
              information relating to children
            </li>
            <li>
              information relating to health
            </li>
            <li>
              information relating to crime
            </li>
            <li>
              any information relating to an individual’s:

              <ul class="govuk-list govuk-list--bullet">
                <li>
                  comments from children
                </li>
                <li>
                  race
                </li>
                <li>
                  ethnic origin
                </li>
                <li>
                  politics
                </li>
                <li>
                  religion
                </li>
                <li>
                  trade union membership
                </li>
                <li>
                  genetics
                </li>
                <li>
                  physical characteristics
                </li>
                <li>
                  sex life
                </li>
                <li>
                  sexual orientation
                </li>
              </ul>
            </li>

          </ul>

        </div>
      </details>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">
        You will need:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>the appeal reference number</li> -->
        <!-- <li>the 7 digit appeal reference number</li> -->
        <li>
          the 7-digit appeal reference that can be found on your letter from the local planning department.
        </li>
        <li>
          an email address so we can contact you if we have any questions
        </li>
        <li>
          your comments saved in a document
        </li>
      </ul>

      {{ govukButton({
        classes: "govuk-!-margin-top-5",
        href: "appeal-search-reference",
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete/accessible-autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#appealsub-{{version}}-beforeyoustart-planningdepartment')
    })
  </script>
{% endblock %}
