{% extends "layout-email.html" %}

{% block pageTitle %}
  Interested party full planning notification
{% endblock %}


Dear [IP NAME]Site detailsSite Address:[INSERT HERE]Description of development:[INSERT HERE]Application reference:[INSERT HERE]An appeal has been made against the decision of [LPD]to [insert reason for appeal, i.e. refuse to grant planning permission].[The appeal will be determined on the basis of written representations.][The appeal will be determined on the basis of a hearing.] [The appeal will be determined on the basis of an inquiry.] Interested individuals that want to take part in the Inquiry can do so by applying for Rule 6 status.Rule 6 status means that you would be able to present your evidence on a formal basis and cross examine the evidence of others.You can learn more about Rule 6 at:https://www.gov.uk/government/publications/apply-for-rule-6-status-on-a-planning-appeal-or-called-in-applicationWhat happens next** TO BE ADDED **Thank you,The Planning Inspectorate



{% block content %}
<p><strong>Subject:</strong> 9617 The Avenue, XM26 7YS – appeal started </p>
<p><strong>From:</strong> planningappeals@bristolcitycouncil.gov.uk</p>

<!-- <img src="{{ asset_path }}images/pi-logo.png" width="150"/> -->

<hr>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">

    <!-- <p class="govuk-body">Planning appeal reference: A/1234567</p> -->
    <p class="govuk-body">Dear Sam Phipps,</p>
    <!-- <p class="govuk-body">We’ve started a full appeal against the refusal of planning application <strong>A/10112454</strong>.</p> -->

    <p class="govuk-body">J. M. Wigstone is appealling our decision to refuse planning application <strong>A/10112454</strong>.</p>

    <!-- <p class="govuk-body">
      <strong>Applicant name:</strong><br>
      J. M. Wigstone
    </p> -->

    <p class="govuk-body">
      <strong>Appeal site:</strong><br>
      22 Avenue Grove<br>
      Somerset<br>
      BS72 7YS
    </p>

    <p class="govuk-body">
      <strong>Appeal reference:</strong><br>
      0172631
    </p>

    <!-- <p class="govuk-body">This will be decided by written representations.</p> -->

    <h2 class="govuk-heading-m">
      What you can do
    </h2>

    <p class="govuk-body">You can comment on the appeal until 11.59pm on 4 May 2022.</p>

    <p class="govuk-body">Submit your comments to the Planning Inspectorate at <a href="guidance">https://www.gov.uk/appeal-planning-decision/comment-on-an-appeal/appeal-search</a>.</p>

    <!-- <a href="javascript:preventDefault();">caseofficers@planninginspectorate.gov.uk</a> -->

    <p class="govuk-body">
      Thank you,​<br>
      Bristol City Council Planning Department<br>
      <!-- <a href="javascript:preventDefault();">CaseOfficers@PlanningInspectorate.gov.uk</a> -->
      <!-- <a href="javascript:preventDefault();">caseofficers@planninginspectorate.gov.uk</a> -->
    </p>

  </div>
</div>
{% endblock %}
