{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}
{% set subServiceName = "Comment on an appeal" %}

{% set title = "Select the site address" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="appeal-details?status=open" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            <span class="govuk-caption-l">{{ subServiceName }}</span>
            <h1 class="govuk-fieldset__heading">
              {{ title }}
            </h1>
          </legend>

          <p class="govuk-body">
            4 addresses found for BS3 3EX and Aubrey House. <a href="appeal-search-address?version=address-filter" class="govuk-link">Change</a>
          </p>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-address" name="site-address" type="radio" value="1 Aubrey House, Aubrey Road, BS3 3EX">
              <label class="govuk-label govuk-radios__label" for="select-address">
                1 Aubrey House, Aubrey Road, BS3 3EX
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-address-2" name="site-address" type="radio" value="2 Aubrey House, Aubrey Road, BS3 3EX">
              <label class="govuk-label govuk-radios__label" for="select-address-2">
                2 Aubrey House, Aubrey Road, BS3 3EX
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-address-3" name="site-address" type="radio" value="3 Aubrey House, Aubrey Road, BS3 3EX">
              <label class="govuk-label govuk-radios__label" for="select-address-3">
                3 Aubrey House, Aubrey Road, BS3 3EX
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="select-address-4" name="site-address" type="radio" value="4 Aubrey House, Aubrey Road, BS3 3EX">
              <label class="govuk-label govuk-radios__label" for="select-address-4">
                4 Aubrey House, Aubrey Road, BS3 3EX
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <p class="govuk-body-m">
        <a href="address" class="govuk-link">Enter the address manually</a>
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
