{% extends "layout.html" %}

{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}
{% set subServiceName = "Comment on an appeal" %}

{% if data['appeal-code'] %}
  {% set title = "Appeal "+data['appeal-code'] %}
{% else %}
  {% set title = "Appeal number 1234567" %}
{% endif %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ subServiceName }}</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key--no-border govuk-!-width-one-half">
            Local planning department
          </dt>
          <dd class="govuk-summary-list__value govuk-summary-list__value--no-border">
            Bristol City Council
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key ">
            Applicant’s name
          </dt>
          <dd class="govuk-summary-list__value">
            J. M. Wigstone
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application number
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- <p class="govuk-body">{{ data.user.completeAppeal['application-number'] }}</p> -->
            <p class="govuk-body">
              APP/2021/56789/3256412
            </p>
          </dd>
        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--last">
          <dt class="govuk-summary-list__key">
            Appeal site
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              22 Avenue Grove<br>
              Somerset<br>
              BS72 7YS
            </p>
          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row govuk-summary-list__row--last">
          <dt class="govuk-summary-list__key">
            Related appeals
          </dt>
          <dd class="govuk-summary-list__value">
            <p>
              None
            </p>
          </dd>
        </div> -->

      </dl>

      {% if data['status'] == "open" %}

        <section class="govuk-!-margin-bottom-3">
          <strong class="govuk-tag govuk-tag--green">
            Open for comments
          </strong>
        </section>

        <p class="govuk-body">
          You can comment on this appeal until 11:59pm on 4 May 2022.
        </p>

        {{ govukButton({
          text: "Comment on this appeal",
          classes: "govuk-!-margin-bottom-9",
          href: "appeal-comment-name?checking="
        }) }}

      {% elseif data['status'] == "closed" %}

        <section class="govuk-!-margin-bottom-3">
          <strong class="govuk-tag govuk-tag--blue">
            Closed for comments
          </strong>
        </section>

        <p class="govuk-body">
          This appeal was closed on 4 January 2022. You cannot add comments.
        </p>

      {% else %}

        <section class="govuk-!-margin-bottom-3">
          <strong class="govuk-tag govuk-tag--black">
            Appeal closed
          </strong>
        </section>

        <p class="govuk-body">
          <a href="#">See the decision for this appeal</a>.
        </p>

      {% endif %}

    </div>
  </div>

{% endblock %}
