{% extends "layout.html" %}

{% set pageref = "###" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}
{% set subServiceName = "Comment on an appeal" %}

{% set title = "Check your answers" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ subServiceName }}</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <!-- <h2 class="govuk-heading-m">Your comment</h2> -->

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] or "Sam Phipps"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="appeal-comment-name?checking=1">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] or "samphips@email.com" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="appeal-comment-email?checking=1">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Comment
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Avenue appeal comments - 12 Jan 2022.txt (0.21MB file)</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="comment-upload?checking=1">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      {{ govukButton({
        text: "Continue",
        href: "comment-received"
      }) }}

    </div>
  </div>

{% endblock %}
