<h2 class="govuk-visually-hidden">
  Proof of evidence and witnesses
</h2>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Your proof of evidence and summary',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal all proof of evidence and summary.pdf</a>'
      }
    },
    {
      key: {
        html: 'Added witnesses'
      },
      value: {
        html: 'Yes'
      }
    },
    {
      key: {
        html: 'Witnesses and evidence',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal witnesses and witness evidence.pdf</a><br>'
      }
    }

  ]
}) }}
