<h2 class="govuk-visually-hidden">
  Witness timings
</h2>

<h3 class="govuk-heading-l">
  Other party 1
</h3>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Other witness timings',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Haggis_Farm_witness_timings.doc</a>'
      }
    }

  ]
}) }}

<h3 class="govuk-heading-l">
  Other party 2
</h3>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Other witness timings',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Appeal witness timings.odt</a>'
      }
    }

  ]
}) }}

<h3 class="govuk-heading-l">
  Other party 3
</h3>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Other witness timings',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Haggis-farm-witness-timings.pdf</a>'
      }
    }

  ]
}) }}
