<h2 class="govuk-heading-l">
  Other party 1
</h2>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Proof of evidence and summary',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Haggis_farm_evidence.pdf</a>'
      }
    },
    {
      key: {
        html: 'Added witnesses'
      },
      value: {
        html: 'Yes'
      }
    },
    {
      key: {
        html: 'Witnesses',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Haggis_farm_witnesses.pdf</a>'
      }
    }

  ]
}) }}

<h2 class="govuk-heading-l">
  Other party 2
</h2>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Proof of evidence and summary',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Haggis Farm summary of evidence December 2023.doc</a>'
      }
    },
    {
      key: {
        html: 'Added witnesses'
      },
      value: {
        html: 'No'
      }
    }

  ]
}) }}

<h2 class="govuk-heading-l">
  Other party 3
</h2>

{{ govukSummaryList({
  classes: 'long-answers govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: 'Proof of evidence and summary',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Haggis-Farm-proof-of-evidence.pdf</a>'
      }
    },
    {
      key: {
        html: 'Added witnesses'
      },
      value: {
        html: 'No'
      }
    },
    {
      key: {
        html: 'Witnesses',
        classes: 'govuk-!-width-one-third'
      },
      value: {
        html: '<a href="#" class="govuk-link">Haggis-Farm-witnesses-01.pdf</a><br>
               <a href="#" class="govuk-link">Haggis-Farm-witnesses-02.pdf</a>'
      }
    }

  ]
}) }}
