{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}

{% set title = "Enter the code we sent to your email address" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form action="task-list?progress=yes" method="post">

        <span class="govuk-caption-l">{{ subServiceName }}</span>

        <div class="govuk-form-group">

          <label class="govuk-label govuk-label--l" for="email">
            {{ title }}
          </label>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-5" id="email" name="email" type="text" spellcheck="false" autocomplete=none value="" style="text-transform:uppercase">
          </div>

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a href="request-code" class="">
          Not received the code?
        </a>
      </p>


    </div>
  </div>

{% endblock %}
