{% set pageref = "BYS-CYA" %}
{% extends "layouts/before-you-start/v10.html" %}

{% set version = "v11" %}

{% block pageTitle %}
  You can appeal using this service - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <h1 class="govuk-heading-l">
          You can appeal using this service
        </h1>

        <p class="govuk-body">
          Based on your answers, you can appeal using this service.
        </p>
        <p class="govuk-body">
          Your deadline to appeal is 11.59pm on Monday
          {% if data["bys-v11-enforcementeffectivedate-day"] %}
          {{ data["bys-v11-enforcementeffectivedate-day"] }}
          {{ data["bys-v11-enforcementeffectivedate-month"] | formatMonth }}
          {{ data["bys-v11-enforcementeffectivedate-year"] }}
          {% else %}
            {{ 20 | daysInFuture }}.
          {% endif %}
        </p>

        <h1 class="govuk-heading-m">
          Check your answers
        </h1>

        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What do you want to appeal?
            </dt>
            <dd class="govuk-summary-list__value">
              An enforcement notice
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-do-you-want-to-appeal">
                Change<span class="govuk-visually-hidden"> type of application</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What were you served with?
            </dt>
            <dd class="govuk-summary-list__value">
              An enforcement notice
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="notice-type">
                Change<span class="govuk-visually-hidden"> type of application</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local planning department
            </dt>
            <dd class="govuk-summary-list__value">
              City of Bradford Metropolitan District Council
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="planning-department">
                Change<span class="govuk-visually-hidden"> local planning department</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of issue
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["bys-enforcement-issue-date-day"] %}
                {{ data["bys-enforcement-issue-date-day"] }}
                {{ data["bys-enforcement-issue-date-month"] | formatMonth }}
                {{ data["bys-enforcement-issue-date-year"] }}
              {% else %}
                {{ 8 | daysAgo }}.
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="notice-decision-date">
                Change<span class="govuk-visually-hidden"> date of decision</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Effective date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["bys-v11-enforcementeffectivedate-day"] %}
              {{ data["bys-v11-enforcementeffectivedate-day"] }}
              {{ data["bys-v11-enforcementeffectivedate-month"] | formatMonth }}
              {{ data["bys-v11-enforcementeffectivedate-year"] }}
              {% else %}
                {{ 20 | daysInFuture }}.
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="notice-decision-date">
                Change<span class="govuk-visually-hidden"> date of decision</span>
              </a>
            </dd>
          </div>

          {% if data['intent'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Intent to appeal submitted date
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data["enforcement-intent-date-day"] %}
                  {{ data["enforcement-intent-date-day"] }}
                {{ data["enforcement-intent-date-month"] | formatMonth }}
                {{ data["enforcement-intent-date-year"] }}
                {% else %}
                  {{ 2 | daysAgo }}.
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="notice-decision-date">
                  Change<span class="govuk-visually-hidden"> date of decision</span>
                </a>
              </dd>
            </div>
          {% endif %}


        </dl>


        {{ govukButton({
          href: "/enforcement/v1/before-you-continue",
          text: "Continue to my appeal"
        }) }}


<!--
        {% if data['appealsub-'+version+'-route'] == "full" %}
          {{ govukButton({
            text: "Continue to my appeal",
            href: "/before-you-start/"+version+"/task-list/full"
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue to my appeal",
            href: "/before-you-start/"+version+"/task-list/expedited"
          }) }}
        {% endif %}
-->

      </form>

    </div>
  </div>

{% endblock %}
