<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "layouts/before-you-start/v11.html" %}

{% extends "layout.html" %}

{% set title = "When was the enforcement notice issued?" %}
{% set version = "v11" %}

{% block pageTitle %}
  {{title}} - Before you start - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <span class="govuk-caption-l">
          Before you start
        </span>

        {{ govukDateInput({
          id: "bys-"+version+"-enforcementissuedate",
          namePrefix: "bys-"+version+"-enforcementissuedate",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              value: data["bys-"+version+"-enforcementissuedate-day"]
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              value: data["bys-"+version+"-enforcementissuedate-month"]
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              value: data["bys-"+version+"-enforcementissuedate-year"]
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
