<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "layout.html" %}

{% set title = "What were you served?" %}

{% block pageTitle %}
  {{title}} - Before you start - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/noticetype" method="post">

      <span class="govuk-caption-l">
        Before you start
      </span>

      {{ govukRadios({
        idPrefix: "bys-"+version+"-notice",
        name: "notice",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "enforcement",
            text: "An enforcement notice"
          },
          {
            value: "listedbuilding",
            text: "A listed building enforcement notice"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
