{% extends "_layouts/layout-main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        <span class="govuk-caption-l">
          Choose your grounds of appeal
        </span>
        {{ govukRadios({
          idPrefix: 'supporting-check',
          name: 'supporting-check',
          classes: '',
          fieldset: {
            legend: {
              html: 'Do you want to upload supporting documents for your grounds?',
              classes: 'govuk-fieldset__legend--l',
              isPageHeading: true
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('supporting-check','Yes')
            },
            {
              html: 'No',
              value: 'No',
              checked: checked('supporting-check','No')
            }
          ]
        }) }}


        <div class="govuk-button-group">

          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            href: "",
            text: "Save and come back later",
            classes: "govuk-button--secondary"
          }) }}

        </div>

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}{% endblock %}