{% extends "layout-email.html" %}

{% block pageTitle %}
  Full appeal started email
{% endblock %}

{% block content %}
<p><strong>Subject:</strong> 9617 The Avenue, XM26 7YS – full appeal started </p>
<p><strong>From:</strong> appeals@planninginspectorate.gov.uk</p>

<img src="{{ asset_path }}images/pi-logo.png" width="150"/>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Planning appeal reference: A/1234567</p>
    <p class="govuk-body">Dear [Name of local planning department]</p>
    <p class="govuk-body">We’ve started a full appeal against the refusal of planning application <strong>21/05058/FUL</strong>.</p>
    <p class="govuk-body">
      <strong>Appeal site:</strong><br>
      9617 The Avenue <br>
      Maidstone<br>
      XM26 7YS
    </p>
    <p class="govuk-body">This will be decided by written representations.</p>

    <h2 class="govuk-heading-m">
      What you need to do
    </h2>
    <p class="govuk-body">You need to submit your questionnaire and documents for the appeal.</p>
    <p class="govuk-body">Your deadline is {{ 7 | daysInFuture }}.</p>
    <p class="govuk-body">Complete the questionnaire: <a href="/lpa-questionnaire/fullv1/security/email">[View questionnaire URL]</a></p>
    <p class="govuk-body">Once you've submitted your questionnaire, you need to email a copy to the appellant at: appellant@email.com</p>

    <p class="govuk-body">
      Thank you,​<br>
      The Planning Inspectorate​<br>
      <a href="javascript:preventDefault();">CaseOfficers@PlanningInspectorate.gov.uk</a>
    </p>

  </div>
</div>
{% endblock %}
