{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Final comments for full planning' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "4" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--green govuk-!-margin-left-2',
        text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        moved to the new prototype
      </li>
      <li>
        added question for adding comments
      </li>
      <li>
        updated check answers to show the answer to ‘Do you want to add final comments?’
      </li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/lpa-email',
      isStartButton: true
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <p class="govuk-body">
      <a href="https://appeals-prototype-archive.herokuapp.com/final-comments/v3/submit/appellant-email" class="govuk-link">Previous version of final comments</a> (in the prototype archive)
    </p>

  </div>
</div>
{% endblock %}
