{% extends "layouts/cst/v5a.html" %}

{% block pageTitle %}
  Appeal details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "../"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="postcode">
            Which local planning department dealt with your planning application?
          </label>

          <p class="govuk-hint">This is the same thing as your 'local planning authority' or 'LPA'.</p>
          <select class="govuk-select govuk-input--width-20" id="cst-{{version}}-planningdepartment" name="cst-{{version}}-planningdepartment">
            <option value="" selected></option>
            {% for lpa in data['lpas'] %}
              <option value="{{lpa.key}}"{% if lpa.key == data["cst-"+version+"-planningdepartment"] %} selected{% endif %}>{{lpa['official-name']}}</option>
            {% endfor %}
          </select>
        </div>

        {{ govukButton({
          text: "Save changes"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="assets/javascripts/accessible-autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#cst-{{version}}-planningdepartment')
    })
  </script>
{% endblock %}