{# from inside _includes to sibling _macros #}
{% from "../_macros/appeal-row.njk" import appealRow %}

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Appeal number</th>
      <th scope="col" class="govuk-table__header">Address</th>
      <th scope="col" class="govuk-table__header">Appeal type</th>
      <th scope="col" class="govuk-table__header">Deadline</th>
      <th scope="col" class="govuk-table__header">Due in</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for item in appeals %}
      {{ appealRow(item) }}
    {% endfor %}
  </tbody>
</table>
