{% extends '_layouts/layout-main.html' %}

{% set title = 'What’s the company name?' %}

{% block questions %}
  <span class="govuk-caption-l">
    Tell us about you
  </span>
  {% call govukFieldset({
    legend: {
    html: title,
    classes: 'govuk-fieldset__legend--l',
    isPageHeading: true
    }
  }) %}

  <p class="govuk-hint">This should match the name on the application to the local planning authority</p>

  {{ govukInput({
    id: 'appellant-company-name',
    name: 'appellant-company-name',
    value: data['appellant-company-name'],
    classes: 'govuk-!-width-three-quarters',
    spellcheck: false
  }) }}

  {% endcall %}
{% endblock %}
