{% extends '_layouts/layout-main.html' %}

{% set return = false %}

{% block questions %}
  <h1 class="govuk-heading-l">
    Check your answers and submit your planning obligation
  </h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: 'Do you have a planning obligation to support your appeal?'
        },
        value: {
          html: 'Yes'
        },
        actions: {
          items: [
            {
              href: 'final-planning-obligation-check',
              text: 'Change'
            }
          ]
        }
      } if data['adding-planning-obligation'] != 'No',
      {
        key: {
          text: 'Do you have a planning obligation to support your appeal?'
        },
        value: {
          html: 'No'
        },
        actions: {
          items: [
            {
              href: 'final-planning-obligation-check',
              text: 'Change'
            }
          ]
        }
      } if data['adding-planning-obligation'] == 'No',
      {
        key: {
          text: 'Planning obligation'
        },
        value: {
          html: data['planning-obligation'] or '<a href="#">appeal-planning-obligation.doc</a>'
        },
        actions: {
          items: [
            {
              href: 'final-comment',
              text: 'Change'
            }
          ]
        }
      } if data['adding-planning-obligation'] != 'No'
    ]
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    text: 'Submit planning obligation',
    href: 'confirmation'
  }) }}
{% endblock %}
