{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Enforcement' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>


      {% set version = "1" %}

      <p class="govuk-body">
        <!-- Improvements to the process that was developed and released. Brings full planning in line with design changes made in the time since release. -->
      </p>

      {{ govukInsetText({
        html: '<p class="govuk-body"><a href="#">Design board plans for this work</a></p>'
      }) }}

      {{ govukButton({
        html: 'View prototype',
        href: 'enforcement/v'+version+'/task-list',
        isStartButton: true
      }) }}



  </div>
</div>
{% endblock %}
