{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Enforcement' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "1" %}

    <p class="govuk-body">
      <!-- Improvements to the process that was developed and released. Brings full planning in line with design changes made in the time since release. -->
    </p>

    {{ govukInsetText({
      html: '<p class="govuk-body"><a href="https://app.mural.co/t/allpins6990/m/allpins6990/1749120110050/acce8963b62ade4f3e09bebd8cd2f320098d9984">Design board plans for this work</a></p>'
    }) }}

    {{ govukButton({
      html: 'View prototype',
      href: 'enforcement/v2/task-list',
      isStartButton: true
    }) }}

    <p class="govuk-body"><a href="enforcement-2022/v8/task-list">Previous version</a></p>

  </div>
</div>
{% endblock %}
