{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Enforcement' %}

{% block backLink %}
{{ govukBackLink({
html: 'Back to all prototypes',
href: '/#appeal'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "1" %}

    <p class="govuk-body">
      <!-- Improvements to the process that was developed and released. Brings full planning in line with design changes made in the time since release. -->
    </p>

    {{ govukInsetText({
    html: '<p class="govuk-body"><a
        href="https://app.mural.co/t/allpins6990/m/allpins6990/1749120110050/acce8963b62ade4f3e09bebd8cd2f320098d9984">Design
        board plans for this work</a></p>'
    }) }}

    <h2 class="govuk-heading-m">
      Version 5 (latest)
      {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag"
      })}}
    </h2>

    {{ govukButton({
      html: 'View prototype',
      href: 'enforcement/v5/task-list',
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Features</h2>
    <p class="govuk-body">Updated Grounds flow based on stakeholder feedback:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Updated content from "Did you appeal the decision?" to "Did you submit an appeal?" to cover scenario where appellant has not received a decision yet on their application
      </li>
      <li>
        New question added after question above: "Did you appeal the decision?"
      </li>
      <li>
        Updates to flow for when ground (a) is selected, the user will always be asked if they have paid the ground (a) fee
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Version 4
    </h2>

    {{ govukButton({
      html: 'View prototype',
      href: 'enforcement/v4/task-list',
      isStartButton: false
    }) }}

    {{ govukDetails({
      summaryText: "Features",
      html: '<ul class="govuk-list govuk-list--bullet">
        <li>
          Different task list layout to match enforcement questionnaire
        </li>
        <li>
          New questions added
        </li>
      </ul>'
    }) }}

    {# Size modifiers: xl, l, m #}
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break">

    <h2 class="govuk-heading-m">Previous versions:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="enforcement/v3/task-list">Version 3: October 2025</a>
      </li>
      <li>
        <a href="enforcement/v2/task-list">Version 2: September 2025</a>
      </li>
      <li>
        <a href="enforcement-2022/v8/task-list">Previous version (2022)</a>
      </li>
    </ul>
    <p class="govuk-body"></p>

  </div>
</div>
{% endblock %}