{% extends '_layouts/layout-main.html' %}

{% set title = 'Sorry, there is a problem with the service' %}

{% block backLink %}{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{title}}
  </h1>
  <p class="govuk-body">
    We’re having trouble connecting to the database right now.
  </p>

  <p class="govuk-body">
    You can try again, or continue without your reference number.
  </p>

  {% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Try again",
    href:"loading"
  }) }}

  <a class="govuk-link" href="enforcement-notice">Continue without application reference number</a>
</div>
  
{% endblock %}

{# Override the default "Continue" button with nothing #}
{% block buttons %}{% endblock %}