{% extends '_layouts/layout-main.html' %}

{% set title = 'Check your answers before submitting your appeal' %}

<!-- need to add a link to quickly complete the task list -->


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <form method="post">

        <h2 class="govuk-heading-m">
          Tell us about you
        </h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: 'Your name'
              },
              value: {
                html: (data['applicant-first-name'] or 'Sam') + ' ' + (data['applicant-last-name'] or 'Agent')
              },
              actions: {
                items: [
                  {
                    href: 'about-you/contact-details',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Company name'
              },
              value: {
                html: data['agency-name']
              },
              actions: {
                items: [
                  {
                    href: 'about-you/contact-details',
                    text: 'Change'
                  }
                ]
              }
            } if data['agency-name'],
            {
              key: {
                text: 'The applicant'
              },
              value: {
                html: data['appellant-check']
              },
              actions: {
                items: [
                  {
                    href: 'about-you/appellant-check',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Appellant'
              },
              value: {
                html: data['appellant-first-name'] + ' ' + (data['appellant-last-name'] or 'Appellant')
              },
              actions: {
                items: [
                  {
                    href: 'about-you/appellant-name',
                    text: 'Change'
                  }
                ]
              }
            } if data['appellant-check'] == 'Another individual',
            {
              key: {
                text: 'Company name'
              },
              value: {
                html: data['appellant-company-name']
              },
              actions: {
                items: [
                  {
                    href: 'about-you/company-name',
                    text: 'Change'
                  }
                ]
              }
            } if data['appellant-check'] == 'A company'

          ]
        }) }}

        <h2 class="govuk-heading-m">
          Tell us about the site
        </h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: 'Site address'
              },
              value: {
                html: (data['address-line-1'] or '3 Cheers Drive')
                     +('<br>'+data['address-line-2'] if data['address-line-2'])
                     +('<br>'+(data['address-town'] or 'Bristol'))
                     +('<br>'+(data['address-postcode'] or 'BS5 7FQ'))
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/address',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Owns all the land'
              },
              value: {
                html: data['own-all'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/own-all',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Owns some of the land'
              },
              value: {
                html: data['own-some'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/own-some',
                    text: 'Change'
                  }
                ]
              }
            } if data['own-all'] == 'No',
            {
              key: {
                text: 'Knows other land owners'
              },
              value: {
                html: data['own-others'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/own-others',
                    text: 'Change'
                  }
                ]
              }
            } if data['own-all'] == 'No',
            {
              key: {
                text: 'Other owners notified'
              },
              value: {
                html: 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/owners-notified',
                    text: 'Change'
                  }
                ]
              }
            } if data['own-others'] == 'Yes',
            {
              key: {
                text: 'Other owners searched'
              },
              value: {
                html: 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/owners-notified',
                    text: 'Change'
                  }
                ]
              }
            } if data['own-others'] != 'Yes',
            {
              key: {
                text: 'Appeal advertised'
              },
              value: {
                html: data['owners-searched'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/owners-notified',
                    text: 'Change'
                  }
                ]
              }
            } if data['own-others'] != 'Yes',
            {
              key: {
                text: 'Other owners notified'
              },
              value: {
                html: 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/owners-notified',
                    text: 'Change'
                  }
                ]
              }
            } if data['own-others'] == 'Some',
            {
              key: {
                text: 'Agricultural holding'
              },
              value: {
                html: data['agricultural-holding'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/agricultural-holding',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Agricultural tenant'
              },
              value: {
                html: data['agricultural-tenant'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/agricultural-tenant',
                    text: 'Change'
                  }
                ]
              }
            } if data['agricultural-holding'] == 'Yes',
            {
              key: {
                text: 'Other agricultural tenants'
              },
              value: {
                html: data['agricultural-others'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/agricultural-tenant',
                    text: 'Change'
                  }
                ]
              }
            } if data['agricultural-tenant'] == 'Yes',
            {
              key: {
                text: 'Other agricultural tenants have been notified'
              },
              value: {
                html: 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/agricultural-notified',
                    text: 'Change'
                  }
                ]
              }
            } if data['agricultural-others'] == 'Yes',
            {
              key: {
                text: 'Site visibility'
              },
              value: {
                html: data['site-visibility'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/site-visibility',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Site visibility details'
              },
              value: {
                html: data['site-visibility__details'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/site-visibility',
                    text: 'Change'
                  }
                ]
              }
            } if data['site-visibility'] == 'No',
            {
              key: {
                text: 'Health and safety issues'
              },
              value: {
                html: data['health-and-safety'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/health-and-safety',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Health and safety details'
              },
              value: {
                html: data['health-and-safety__details'] or 'Yes'
              },
              actions: {
                items: [
                  {
                    href: 'about-the-site/health-and-safety',
                    text: 'Change'
                  }
                ]
              }
            } if data['health-and-safety'] == 'Yes'


          ]
        }) }}

        <h2 class="govuk-heading-m">
          Tell us about the appeal
        </h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: 'Your name'
              },
              value: {
                html: data['interested-first-name'] + '<br>' + data['interested-last-name']
              },
              actions: {
                items: [
                  {
                    href: 'your-name',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Your email'
              },
              value: {
                html: data['email'] or 'sample@test.com'
              },
              actions: {
                items: [
                  {
                    href: 'your-email',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Your comments'
              },
              value: {
                html: data['comments'] or 'Your comments go here etc etc'
              },
              actions: {
                items: [
                  {
                    href: 'add-comments',
                    text: 'Change'
                  }
                ]
              }
            }

          ]
        }) }}

        <h2 class="govuk-heading-m">
          Tell us about the application
        </h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: 'Your name'
              },
              value: {
                html: data['interested-first-name'] + ' ' + data['interested-last-name']
              },
              actions: {
                items: [
                  {
                    href: 'your-name',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Your email'
              },
              value: {
                html: data['email'] or 'sample@test.com'
              },
              actions: {
                items: [
                  {
                    href: 'your-email',
                    text: 'Change'
                  }
                ]
              }
            },
            {
              key: {
                text: 'Your comments'
              },
              value: {
                html: data['comments'] or 'Your comments go here etc etc'
              },
              actions: {
                items: [
                  {
                    href: 'add-comments',
                    text: 'Change'
                  }
                ]
              }
            }

          ]
        }) }}

        {{ govukButton({
          html: 'Submit comments'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block buttons %}
  {{ govukButton({
    text: 'Submit your comments',
    href: 'confirmation'
  }) }}
{% endblock %}
