{% extends "layout-ds.html" %}
{% set dssection = "patterns" %}

{% block pageTitle %}
  {{ serviceName }} Design System
{% endblock %}

{% block beforeContent %}
  {% include "design-system/_nav.html" %} 
{% endblock %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-one-quarter">
        {% include "design-system/patterns/_nav.html" %}
      </div>

      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-l">
          Patterns
        </h2>
        <p class="govuk-body">
          Patterns are best practice design solutions for specific user-focused tasks and page types.
        </p>
        <p class="govuk-body">
          All of the patterns in this section are supported by written guidance and contain coded examples where possible.
        </p>
        <p class="govuk-body">
          Patterns often use one or more <a href="/design-system/components">components</a> and explain how to adapt them to the context.
        </p>

      </div>
      
    </div>

  </div>

{% endblock %}
