{% extends '_layouts/layout-main.html' %}

{% set title = 'Which section of law is relevant to your application?' %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'section',
    name: 'section',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      html: 'You can find this on the letter confirming your application from your local planning authority'
    },
    items: [
      {
        html: 'Section 191: the existing use, operations or activity is legal',
        value: '191',
        checked: checked('section','191')
      },
      {
        html: 'Section 192: the proposed use, operations or activity is legal',
        value: '192',
        checked: checked('section','192')
      },
      {
        html: 'Section 26H: the proposed work to a listed building is legal',
        value: '26H',
        checked: checked('section','26H')
      }
    ]
  }) }}
{% endblock %}