{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Notifying interested parties' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "2" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--green govuk-!-margin-left-2',
        text: 'Ready for research'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>content updates</li>
      <li>notification counter fix</li>
      <li>adding meta data for the appeal</li>
      <li>adding printable  preview of notice</li>
      <li>adding <a href='https://design-system.service.gov.uk/components/notification-banner/' class='govuk-link'>notification banners</a> to appeal detail screen</li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/send-new',
      isStartButton: true
    }) }}

    {% set v1HTML %}

      {% set version = "1" %}

      <p>
        Researched January 2023<br>
        <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1088356353" class="govuk-link">
          Confluence user research notes
        </a>
      </p>

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added a print option</li>
        <li>Combined check recipients list</li>
        <li>Dummy counting logic for sent notices</li>
        <li>Preview of the comment on the appeal notice</li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/send-new',
        isStartButton: true
      }) }}

      <p class="govuk-!-margin-bottom-2">Jump to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="v{{version}}/send-email">add email notices</a></li>
        <li><a href="v{{version}}/postcode-search">add postal notices</a></li>
      </ul>

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [

        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
