{% extends '_layouts/layout-pins.html' %}
<!-- {% set prototypeLinks = [{href: './?no-appeals=true', text: 'No appeals'}] if data['no-appeals'] != 'true' else [{href: './?no-appeals=false&questionnaire=&finalcomments=&statement=', text: 'Show appeals'}]%} -->
{% set prototypeLinks = [
  {
    href: './?no-appeals=true',
    text: 'No appeals'
  },
  {
    href: './?no-appeals=false&questionnaire=&statement=&finalcomments=',
    text: 'Reset appeals'
  }

  ] if data['no-appeals'] != 'true' else [{
    href: './?no-appeals=false&questionnaire=&finalcomments=&statement=',
    text: 'Show appeals'
  }]
%}



{% set serviceName = "Manage your planning inspectorate appeals" %}
{% set nav = true %}

{% set title = 'Planning appeals' %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        {{ data['dashboard-lpa'] }}
        <span class="govuk-visually-hidden"> - </span>
      </span>
      {{ title }}
    </h1>

    <p>
      <a href="/manage/manage-users/v2/" class="govuk-link--no-visited-state">
        Add and remove account users
      </a>
    </p>
  </div>

  {% if data['no-appeals'] != 'true' %}
    <div class="govuk-grid-column-full">
      {{ govukTable({
        classes: 'govuk-!-margin-top-3',
        caption: 'Current appeals',
        captionClasses: 'govuk-table__caption--m govuk-!-padding-top-6 app-border-top-big',
        firstCellIsHeader: false,
        head: [
          {
            html: 'Application number'
          },
          {
            html: 'Appeal reference'
          },
          {
            html: 'Deadline'
          },
          {
            html: 'Due in',
            format: 'numeric'
          },
          {
            html: 'To do',
            format: 'numeric'
          }
        ],
        rows: [
          [
            {
              html: '22/05058/FUL'
            },
            {
              html: 'APP/Q9999/D/22/1345264'
            },
            {
              html: '3' | daysInFuture
            },
            {
              html: '3 days',
              format: 'numeric'
            },
            {
              html: '<span class="govuk-visually-hidden">Submit </span><a href="/manage/questionnaire/v11/task-list">Questionnaire</a>',
              format: 'numeric'
            }
          ] if data['questionnaire'] != 'complete',
          [
            {
              html: '22/03021/FUL'
            },
            {
              html: 'APP/Q9999/D/22/1345127'
            },
            {
              html: '4' | daysInFuture
            },
            {
              html: '4 days',
              format: 'numeric'
            },
            {
              html: '<span class="govuk-visually-hidden">Submit </span><a href="/manage/final-comments/v1/add-comments">Final comments</a>',
              format: 'numeric'
            }
          ] if data['finalcomments'] != 'complete',
          [
            {
              html: '21/02939/FUL'
            },
            {
              html: 'APP/Q9999/D/21/1345260'
            },
            {
              html: '6' | daysInFuture
            },
            {
              html: '6 days',
              format: 'numeric'
            },
            {
              html: '<span class="govuk-visually-hidden">Submit </span><a href="/manage/questionnaire/v11/task-list">Questionnaire</a>',
              format: 'numeric'
            }
          ],
          [
            {
              html: '21/04125/FUL'
            },
            {
              html: 'APP/Q9999/D/21/1345172'
            },
            {
              html: '7' | daysInFuture
            },
            {
              html: '7 days',
              format: 'numeric'
            },
            {
              html: '<span class="govuk-visually-hidden">Submit </span><a href="/manage/questionnaire/v11/task-list">Questionnaire</a>',
              format: 'numeric'
            }
          ],
          [
            {
              html: '21/05057/FUL'
            },
            {
              html: 'APP/Q9999/D/21/1345222'
            },
            {
              html: '27' | daysInFuture
            },
            {
              html: '27 days',
              format: 'numeric'
            },
            {
              html: '<span class="govuk-visually-hidden">Submit </span><a href="/manage/statement/v1/enter-statement">Statement</a>',
              format: 'numeric'
            }
          ]  if data['statement'] != 'complete',
          [
            {
              html: '22/04782/FUL'
            },
            {
              html: 'APP/Q9999/D/22/1345331'
            },
            {
              html: '31' | daysInFuture
            },
            {
              html: '31 days',
              format: 'numeric'
            },
            {
              html: '<span class="govuk-visually-hidden">Submit </span><a href="/manage/statement/v1/enter-statement">Statement</a>',
              format: 'numeric'
            }
          ] if data['questionnaire'] == 'complete'
        ]
      }) }}

    </div>
  {% endif %}

</div>
{% endblock %}
