.ds-nav {
  background: #f8f8f8;
  font-size: 19px;
}

.ds-nav-list {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
}

.ds-nav-item {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}

.ds-nav-item--current {
  border-bottom: 4px solid #1d70b8;
}

.ds-nav-link,
.ds-nav-link:link,
.ds-nav-link:active,
.ds-nav-link:visited {
  color: $govuk-link-colour;
  display: inline-block;
  font-weight: bold;
  margin: 10px 0 10px 0;
  text-decoration: none;
}

.ds-subnav {
  font-size: 1rem;
}
.ds-subnav-item {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
}

.ds-subnav-item--current {
  border-left: 4px solid #1d70b8;
  //margin-left: -14px;
  padding-left: 10px;
  .ds-subnav-link {
    font-weight: bold;
  }
}

.ds-subnav-link,
.ds-subnav-link:link,
.ds-subnav-link:active,
.ds-subnav-link:visited {
  color: $govuk-link-colour;
  text-decoration: none;
}

.ds-example {
  border: 1px solid $govuk-border-colour;
  margin-bottom: 30px
}

.ds-example__titlebar {
  padding: 10px;
}
.ds-example__rendered {
  padding: 20px;
}
.ds-example__html {
  padding: 10px 20px;
}

.ds-example__titlebar,
.ds-example__rendered {
  border-bottom: 1px solid $govuk-border-colour;
}


// Syntax highlighting from highlightjs.org
/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#f3f3f3;color:#444}.hljs-comment{color:#697070}.hljs-punctuation,.hljs-tag{color:#444a}.hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}.hljs-section,.hljs-title{color:#800;font-weight:700}.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#ab5656}.hljs-literal{color:#695}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta .hljs-string{color:#38a}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}