.pins-file-list {

	@include govuk-font($size: 19);
	@include govuk-responsive-margin(9, "bottom");
	list-style: none;
	padding-left: 0;

	&__item {
	 	@include govuk-font($size: 19);
  		border-bottom: 1px solid $govuk-border-colour;

	 	display: flex;
	 	justify-content: space-between;

		border-bottom: 1px solid $govuk-border-colour;
		margin-bottom: 0 !important;
		padding-top: govuk-spacing(2);
		padding-bottom: govuk-spacing(2);
		@include govuk-clearfix;
		

	}

	&__link {
		@extend .govuk-link;
		flex: 1;
	}

	&__delete-link {
		@extend .govuk-link;
		
		flex: 0;

	}

}