// Questions are too long for task list

ol.lpaq {
  .app-task-list__task-name {
    max-width: 450px;
  }
}

@media (min-width: 40.0625em){

	.govuk-summary-list-lpaq .govuk-summary-list__key {
		width: 50%;
	}
	.govuk-summary-list-lpaq .govuk-summary-list__value {
		width: 40%;
	}
	.govuk-summary-list-lpaq .govuk-summary-list__actions {
		width: 10%;
	}

}

@media (min-width: 28.125em) {
	// Stop text wrappning above tags in task list
	.app-task-list__task-name {
		max-width: calc(100% - 140px);
	}
}