#part-title,
.pins-guidance-h2 {
	font-size: 18px !important;
}

.pins-guidance-h3 {
	font-size: 15px !important;
}

// styles for bigger screens

@media(min-width: 768px) {
	#part-title {
		font-size: 27px !important;
	}
	.pins-guidance-h2 {
		font-size: 24px !important;
	}
	.pins-guidance-h3 {
		font-size: 19px !important;
	}
}
