.upload {
	background-color: govuk-colour("light-grey");
	border: dashed 2px govuk-colour("black");
	padding: 3em;
	 &:focus {
	padding: 3em;
	}
}

.pins-file-upload-multiple {
	border: black 3px dashed;
	margin-left: 3px;
	padding: 50px;
}