{% extends '_layouts/layout-pins.html' %}

{% set title = 'Are there any other appeals next to or close to the site still being considered?' %}

{% block questions %}

  <span class="govuk-caption-l">
    Appeal process
  </span>

  {% set appealRefs %}
    {{ govukInput({
      id: 'appeal-refs',
      name: 'appeal-refs',
      value: data['appeal-refs'],
      label: {
        html: 'Appeal reference number(s)'
      },
      hint: {
        html: 'You can enter more than one, separated by commas'
      }
    }) }}
  {% endset -%}
  {{ govukRadios({
    idPrefix: 'other-appeals',
    name: 'other-appeals',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('other-appeals','Yes'),
        conditional: {
          html: appealRefs
        }
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('other-appeals','No')
      }
    ]
  }) }}
{% endblock %}
