{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}

{% set title = "Incomplete appeals" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">

      <label class="govuk-label govuk-label--l" for="email">
        {{ title }}
      </label>

      <p class="govuk-body">
        Select an appeal to continue with it or <a href="/appellant-submission/v13/">
          start a new planning appeal
        </a>.
      </p>

    </div>



  </div>


  <div class="govuk-grid-column-full">

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Planning application number</th>
          <th scope="col" class="govuk-table__header">Type of application</th>
          <th scope="col" class="govuk-table__header">Local planning department</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Days left to submit appeal</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <a href="task-list?application=1234567&progress=yes&continue=yes" class="govuk-link govuk-link--no-visited-state">
              1234567
            </a>
          </td>
          <td class="govuk-table__cell">Full planning</td>
          <td class="govuk-table__cell">City of Bradford Metropolitan District Council</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">17 days</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <a href="task-list?application=2345678&progress=yes&continue=yes" class="govuk-link govuk-link--no-visited-state">
              2345678
            </a>
          </td>
          <td class="govuk-table__cell">Householder planning</td>
          <td class="govuk-table__cell">City of Bradford Metropolitan District Council</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">33 days</td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <a href="task-list?application=3456789&progress=yes&continue=yes" class="govuk-link govuk-link--no-visited-state">
              3456789
            </a>
          </td>
          <td class="govuk-table__cell">Full planning</td>
          <td class="govuk-table__cell">City of Bradford Metropolitan District Council</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">52 days</td>
        </tr>
      </tbody>
    </table>

    {{ govukButton({
      href: "appeal-saved?savedOn=appeals",
      text: "Save and come back later",
      classes: "govuk-button--secondary"
    }) }}

  </div>
</div>

{% endblock %}
