{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}

{% set title = "We’ve sent you another email" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ subServiceName }}</span>

    <div class="govuk-form-group">

      <label class="govuk-label govuk-label--l" for="postcode">
        {{ title }}
      </label>

      <p class="govuk-body">
        We’ve emailed a link to:<br>
        {{ data['email'] or 'sam@mac.com'}}
      </p>

      <p class="govuk-body">
        Go to the link in the email to continue with the appeal submission.
      </p>

      <h2 class="govuk-heading-m">
        If you’re having problems
      </h2>

      <p class="govuk-body">
        Check that the email has not gone into your spam or junk folder.
      </p>

      <p class="govuk-body">
        If you’re still having problems, you can contact our customer support team:
      </p>

      <p class="govuk-body">
        Email: <a href="mailto:enquiries@planninginspectorate.gov.uk">enquiries@planninginspectorate.gov.uk</a><br>
        We aim to respond within 5 working days.
      </p>

      <p class="govuk-body">
        Telephone: 0303 444 5000<br>
        Monday to Friday, 9am to 5pm (except public holidays)<br>
      </p>

      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>

    </div>
  </div>

  <!-- this is a prototype only link -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
    <p class="govuk-body-s">
      <a href="inbox-3">
        Go to the email (your inbox)
      </a>
    </p>
  </div>

</div>

{% endblock %}
