{% extends "layouts/save-progress/v3-no-back.html" %}

{% block pageTitle %}
  Task list - Appeal a planning decision for application number 1234567 - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Appeal a planning decision
      </h1>

      <!-- Count completed tasks -->
      {% set taskcount = 0 %}
      {% if data["contactdetails-"+version+"-taskliststatus-contactdetails"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["contactdetails-"+version+"-taskliststatus-appealsite"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["contactdetails-"+version+"-taskliststatus-proceduretype"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["contactdetails-"+version+"-taskliststatus-planningapplicationdocuments"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["contactdetails-"+version+"-taskliststatus-appealdocuments"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}
      {% if data["contactdetails-"+version+"-taskliststatus-claimingcosts"] == "Complete" %}
        {% set taskcount = taskcount + 1 %}
      {% endif %}

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Appeal incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{taskcount}} of 6 tasks.</p>

      <div class="app-task-list app-task-list--fullappeal">
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="contact-details/who-are-you">
                Provide your contact details
              </a>
            </span>
            <!-- grubby logic -->
            {% if data['progress'] == 'yes' %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>

            {% else %}

              <!-- the existing logic -->
              {% if data["appealsub-"+version+"-taskliststatus-contactdetails"] == "Complete" %}
                <strong class="app-task-list__tag govuk-tag">Complete</strong>
              {% elseif data["appealsub-"+version+"-taskliststatus-contactdetails"] == "In progress" %}
                <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
              {% else %}
                <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
              {% endif %}

            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="appeal-site/site-address">
                Tell us about the appeal site
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-appealsite"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-appealsite"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="procedure-type/decide">
                Tell us how you would prefer us to decide your appeal
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-proceduretype"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-proceduretype"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="planning-application-documents/application-number">
                Upload documents from your planning application
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-planningapplicationdocuments"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-planningapplicationdocuments"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="appeal-documents/appeal-statement">
                Upload documents for your appeal
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-appealdocuments"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% elseif data["appealsub-"+version+"-taskliststatus-appealdocuments"] == "In progress" %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--blue">In progress</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% endif %}
          </li>
          <!--li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="claiming-costs">
                Submit a claim for costs
              </a>
            </span>
            {% if data["appealsub-"+version+"-taskliststatus-claimingcosts"] == "Complete" %}
              <strong class="app-task-list__tag govuk-tag">Complete</strong>
            {% else %}
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Optional</strong>
            {% endif %}
          </li-->
          <li class="app-task-list__item">
            {% if (data["appealsub-"+version+"-taskliststatus-contactdetails"] == "Complete")
                and data["appealsub-"+version+"-taskliststatus-appealsite"] == "Complete"
                and data["appealsub-"+version+"-taskliststatus-proceduretype"] == "Complete"
                and data["appealsub-"+version+"-taskliststatus-planningapplicationdocuments"] == "Complete"
                and data["appealsub-"+version+"-taskliststatus-appealdocuments"] == "Complete"
            %}
              <span class="app-task-list__task-name">
                <a href="check-your-answers">
                  Check your answers and submit your appeal
                </a>
              </span>
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Not started</strong>
            {% else %}
              <span class="app-task-list__task-name">
                Check your answers and submit your appeal
              </span>
              <strong class="app-task-list__tag govuk-tag govuk-tag--grey">Cannot start yet</strong>
            {% endif %}
          </li>
        </ul>
      </div>

      {{ govukButton({
        href: "appeal-saved?savedOn=task",
        text: "Save and come back later",
        classes: "govuk-button--secondary"
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      <dl class="govuk-summary-list govuk-summary-list-appealdetails">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning application number
          </dt>
          <dd class="govuk-summary-list__value">
            22/12345/FUL
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal site address
          </dt>
          <dd class="govuk-summary-list__value">
            74 Cannellini Drive<br>
            Buttertown<br>
            B3 4NS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Deadline to appeal
          </dt>
          <dd class="govuk-summary-list__value">
            12 May 2022
          </dd>
        </div>
      </dl>
    </div>
  </div>

{% endblock %}
