{% extends location+"_layout.html" %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'conservation-check',
    name: 'conservation-check',
    fieldset: {
      legend: {
        html: 'Is the appeal site in or next to a conservation area?',
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes, it is in a conservation area',
        value: 'In a conservation area',
        checked: checked('conservation-check','In a conservation area')
      },
      {
        html: 'Yes, it is next to a conservation area',
        value: 'Next to a conservation area',
        checked: checked('conservation-check','Next to a conservation area')
      },
      {
        html: 'No, it is not in or next to a conservation area',
        value: 'Not in or next to a conservation area',
        checked: checked('conservation-check','Not in or next to a conservation area')
      }
    ]
  }) }}
{% endblock %}