{% extends location+"_layout.html" %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'outstanding-natural-beauty',
    name: 'outstanding-natural-beauty',
    fieldset: {
      legend: {
        html: 'Is the appeal site in an area of outstanding natural beauty?',
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('outstanding-natural-beauty','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('outstanding-natural-beauty','No')
      }
    ]
  }) }}
{% endblock %}