{% extends location+"_layout.html" %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'protected-species',
    name: 'protected-species',
    fieldset: {
      legend: {
        html: 'Would the development affect a protected species?',
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('protected-species','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('protected-species','No')
      }
    ]
  }) }}
{% endblock %}