{% extends '_layouts/layout-main.html' %}

{% set title = 'Before you start' %}
{% set back = true %}

{% block questions %}
<span class="govuk-caption-l">
		Appeal a planning decision
	</span>
  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  <p class="govuk-body">You must submit your documents before the deadline or we cannot review them with the appeal.  </p>
<p>You’ll need your:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>application form</li>
    <li>plans, drawings and supporting documents for your application</li>
    <li>decision letter from the local authority</li>
    <li>any other relevant correspondence with the local authority</li>
  </ul>




{% endblock %}