{% extends '_layouts/layout-main.html' %}

{% set nav = true %}

{% set title = "Enter the code we sent to your email address" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}


{% block questions %}

  <span class="govuk-caption-l">{{ subServiceName }}</span>

  <div class="govuk-form-group">

    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
    

    <div class="govuk-form-group">
      <input class="govuk-input govuk-input--width-5" id="email" name="email" type="text" spellcheck="false" autocomplete=none value="" style="text-transform:uppercase">
    </div>
  </div>

 

{% endblock %}
{% block afterContent %}

 <h2 class="govuk-heading-m">
      If you’re having problems
    </h2>

    <p class="govuk-body">
<a href="/email-address" class="govuk-link">Change your email address</a> if you entered it incorrectly.</p>

    <p class="govuk-body">

Check if the email has gone to your spam or junk folder. If it’s not there, we can
<a href="/request-new-code" class="govuk-link">send a new code</a>
    </p>

  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    If you’re still having problems
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>You can contact our customer support team. <br>Telephone: 0303 444 5000 </p> Monday to Friday, 9am to midday (except public holidays)
<a href="/www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
</p>
  </div>
</details>
{% endblock %}
