{% set pageref = "MVP-FUL-AAS-002" %}
{% extends "layouts/mvp-full-appeal/v1.html" %}

{% block pageTitle %}
  Do you own all the land involved in the appeal? - Tell us about the appeal site - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell us about the appeal site
        </span>

        {{ govukRadios({
          idPrefix: "mvp-"+version+"-appealsite-ownland",
          name: "mvp-"+version+"-appealsite-ownland",
          fieldset: {
            legend: {
              text: "Do you own all the land involved in the appeal?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("mvp-"+version+"-appealsite-ownland", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("mvp-"+version+"-appealsite-ownland", "No")
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
