{% extends "layouts/appellant-submission/v12.html" %}

{% block pageTitle %}
  Upload an application for appeal costs - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell us how you would prefer us to decide your appeal
        </span>
        <h1 class="govuk-heading-l">
          Upload your draft statement of common ground
        </h1>   

        {% if data["appealsub-"+version+"-proceduretype-commonground"] and data["appealsub-"+version+"-proceduretype-commonground"] != "" %}
          <h3 class="govuk-heading-m govuk-!-margin-top-6">
            Uploaded file
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-8">
            <a href="javascript:preventDefault();" class="govuk-link">{{ data["appealsub-"+version+"-proceduretype-commonground"] }}</a>
          </p>
        {% endif %}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="appealsub-{{version}}-proceduretype-commonground">
            {% if data["appealsub-"+version+"-proceduretype-commonground"] and data["appealsub-"+version+"-proceduretype-commonground"] != "" %}
              Replace the file
            {% else %}
              Drag and drop or choose a file
            {% endif %}
          </label>
          <input class="govuk-file-upload pins-file-upload" id="appealsub-{{version}}-proceduretype-commonground" name="appealsub-{{version}}-proceduretype-commonground" type="file">
        </div>

        {{ govukDetails({
          summaryText: "Files you can upload",
          html: '
            <p class="govuk-body">
              You can upload the following types of file:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>DOC or DOCX</li>
              <li>JPG or JPEG</li>
              <li>PDF</li>
              <li>PNG</li>
              <li>TIF or TIFF</li>
            </ul>
            <p class="govuk-body">
              Your file must be smaller than 15MB.
            </p>
          '
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
