{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/applicant-eligibility-v7" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Before you start</span>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What are you appealing against?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-relationship-conditional" name="appeal-relationship" type="radio" value="me" data-aria-controls="conditional-appeal-relationship-conditional">
                <label class="govuk-label govuk-radios__label" for="appeal-relationship-conditional">
                  I'm appealing a decision I received
                </label>
                <span id="appeal-relationship-conditional-hint" class="govuk-hint govuk-radios__hint">
                  Choose this option if you made the original application.​
                </span>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-relationship-conditional-2" name="appeal-relationship" type="radio" value="company" data-aria-controls="conditional-appeal-relationship-conditional-2">
                <label class="govuk-label govuk-radios__label" for="appeal-relationship-conditional-2">
                  I'm appealing a decision my company received
                </label>
                <span id="appeal-relationship-conditional-2-hint" class="govuk-hint govuk-radios__hint">
                  Choose this option if the application was made in the company name.​
                </span>
              </div>
                
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appeal-relationship-conditional-3" name="appeal-relationship" type="radio" value="agent" data-aria-controls="conditional-appeal-relationship-conditional-3">
                <label class="govuk-label govuk-radios__label" for="appeal-relationship-conditional-3">
                  I'm appealing on someone's behalf and have their permission
                </label>
                <span id="appeal-relationship-conditional-3-hint" class="govuk-hint govuk-radios__hint">
                  Choose this option if you are an agent acting on behalf of the original applicant and the planning application was made in their name.​
                </span>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
        <input type="hidden" name="your-relationship-completed" value="{{ data['appeal-relationship'] }}">
      </form>
    </div>
  </div>

{% endblock %}
