{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#consent-error">You need to select a response</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/consent-eligibility-v7" method="post" novalidate>
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Before you start</span>
         <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="has-permission-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Did you apply for householder planning permission?
              </h1>
            </legend>
            <span id="has-permission-hint" class="govuk-hint">
              You can check what type of permission you applied for on your original planning application form.
            </span>
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <span id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> You need to select a response
    </span>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input govuk-input--error" id="how-contacted-conditional" name="how-contacted" type="radio" value="yes" data-aria-controls="conditional-how-contacted-conditional">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input govuk-input--error" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What is householder planning permission?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>'Householder planning permission' is a specific type of planning permission for alterations to a single house.</p>
            <p>These include:​</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>conservatories​</li>
              <li>dormer windows​</li>
              <li>extensions​</li>
              <li>garages, car ports and outbuildings​</li>
              <li>loft conversions</li>
            </ul>
          </div>
        </details>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
