{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Local Planning authority details
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>Before you start</span>
        <form action="/eligibility-list-check-v7" method="post" novalidate>
          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

          {{ govukCheckboxes({
            idPrefix: "nationality",
            name: "nationality",
            fieldset: {
              legend: {
                text: "Check you can use this service",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "This service is for householder planning appeals. You can use it if the following 5 statements apply to you:"
            },
            items: [
              {
                value: "notlisted",
                text: "Your appeal is not about a listed building"
              },
              {
                value: "planningdepartment",
                text: "You're making a planning appeal in East Sussex, West Sussex or Kent"
              }
            ]
          }) }}
          <p class="govuk-body">
            <a class="govuk-link" href="https://acp.planninginspectorate.gov.uk/myportal/default.aspx">If any of these do not apply to you, you need to use our Appeal a Planning Decision service</a>.​
          </p>
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Continue"
          }) }}
      </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
