{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "You need to select a response",
      href: "#consent-error"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/enforcement-eligibility-v7" method="post" novalidate>
        <span class="govuk-caption-xl"><span class="govuk-visually-hidden">Section. </span>Before you start</span>
        <div class="govuk-form-group govuk-form-group--error">
          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "enforcement-notice",
            name: "enforcement-notice",
            fieldset: {
              legend: {
                text: "Have you received an enforcement notice?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "An enforcement notice is issued if your local planning department thinks you have carried out building work without the correct planning permission."
            },
            errorMessage: {
              text: "You need to select a response"
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
       </div> 

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
