{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data.planningError %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#select-council">You need to provide the local planning deparment</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}

      <form action="planning-department-post" method="post" novalidate>
        <div class="govuk-form-group {{'govuk-form-group--error' if data.planningError }}">
          <label class="govuk-label govuk-label--l" for="postcode">
          What is the name of your local planning department?

        </label>
        {% if data.planningError %}
        <span id="planning-department-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You need to provide the local planning deparment
        </span>
        {% endif %}

        <p class="govuk-hint">Enter the name of the local planning department (sometimes called a Local Planning Authority or LPA) that dealt with your original planning application.</p>
        <select class="govuk-select govuk-input--width-20" id="select-council" data-councilpicker name="planning-department">
          <option value=""></option>
          {% for council in councils %}
            <option value="{{council.key}}" {{ checked('council', council.key) }}>{{council['official-name']}}</option>
          {% endfor %}
        </select>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>
      
      </form>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script>
$(document).ready(function(){

  
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#select-council'),
    showAllValues: true,
    defaultValue: ""
  })
  

})
</script>
{% endblock %}