{% extends '_layouts/layout-pins.html' %}

{% set title = 'Tell us the list entry number' %}

{% block questions %}

  <span class="govuk-caption-l">
    Constraints, designations and other issues
  </span>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="listedplanning">
        {{ title }}
      </label>
    </h1>

    <p class='govuk-body'>
      Add the Historic England listed entry number for the building or site.
    </p>

    <p class='govuk-body'>
      You can add another building or site later, if needed.
    </p>

    {{ govukInput({
      label: {
        text: "Seven digit number"
      },
      classes: "govuk-input--width-10",
      id: "historicenglandsearchnumber",
      name: "historicenglandsearchnumber"
    }) }}


  </div>
{% endblock %}
