{% extends "layout.html" %}

{% set title = "Your final comments" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <div class="govuk-form-group">

        <!-- reasons by file -->
        <label class="govuk-label govuk-label--l" for="final-comments">
          {{ title  }}
        </label>

        <div class="govuk-body">
          Comments should be related to the local planning authority’s statement or comments from interested parties.
        </div>

        <p class="govuk-body">
          You do not need to repeat the local planning authority’s reasons.
        <p>

        <p class="govuk-body">
          You can upload documents to support your appeal or provide a statement later.
        <p>

        <textarea class="govuk-textarea govuk-js-character-count" id="final-comments" name="final-comments" rows="5" aria-describedby="final-comments-hint"></textarea>

      </div>

      {% include "includes/button-and-save-link.html" %}

    </div>
  </div>
{% endblock %}
