{% extends "layout-notify.html" %}

{% block pageTitle %}
  Email - Your planning appeal
{% endblock %}

{% block content %}

  <p><strong>Subject:</strong> Your planning appeal</p>
  <p><strong>From:</strong> info@planninginspectorate.gov.uk</p>

  <img src="{{ asset_path }}images/pi-logo.png" width="150"/>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">

      <p>Dear [name]</p>
      <p>The status of your planning appeal has been updated.</p>
      <p>The local planning department has submitted their case file.</p>
      <p>You can <a href="../appeal-stage">view your planning appeal</a> to see a copy of the information they have submitted.</p>
      <br><br>
      
      <p>Thank you,<br>The Planning Inspectorate​</p>
    </div>
  </div>

{% endblock %}