{% extends '_layouts/layout-main.html' %}

{% set serviceName = "Find and comment on planning appeals" %}
{% set title = "Appeals in progress at (postcode)" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

{{ data['postcode'] }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {% if data['postcode'] %}
        Appeals in progress at {{ data['postcode'] }}
      {% else %}
        Appeals in progress at BS3 3EX
      {% endif %}
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-6">
      Select an appeal to go to the appeal details.
    </p>

    <!-- another pattern where the postcode and link to change it is called out more -->

    <!-- <h1 class="govuk-heading-l">
      Appeals in progress
    </h1>

    <section class="govuk-!-margin-bottom-9">
      <p class="govuk-body">
        {% if data['postcode'] %}
          3 appeals found at {{ data['postcode'] }}.
        {% else %}
          3 appeals found at BS3 3EX.
        {% endif %}
      </p>

      <p class="govuk-body">
        <a href="appeal-search-address?version=" class="govuk-link">Search by a different postcode</a>
      </p>
    </section> -->

    <h2 class="govuk-heading-m">
      Open for comments
    </h2>

    <!-- <p class="govuk-body">
      {% if data['postcode'] %}
        3 open appeals found for {{ data['postcode'] }}.<br><a href="appeal-search-address?version=" class="govuk-link">Search by a different postcode</a>
      {% else %}
        3 open appeals found for BS3 3EX.<br><a href="appeal-search-address?version=" class="govuk-link">Search by a different postcode</a>
      {% endif %}
    </p> -->

  </div>

  <!-- main table -->
  <div class="govuk-grid-column-full">

    {{ govukTable({
      caption: "Open appeals",
      captionClasses: "govuk-table__caption--m govuk-visually-hidden",

      head: [

        {
          text: "Appeal site",
          classes: 'govuk-!-width-one-half'
        },
        {
          text: "Applicant",
          classes: 'govuk-!-width-one-quarter'
        },
        {
          text: "Appeal reference",
          classes: 'govuk-!-width-one-quarter',
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "2 Aubrey House, Aubrey Road, Bristol BS3 3EX"
          },
          {
            text: "J. M. Wigstone"
          },
          {
            html: '<a class="govuk-link" href="appeal-details?status=open&appealCode=0166321&site-address=2%20Aubrey%20House%2C%20Aubrey%20Road%2C%20BS3%203EX&appellantName=J.%20M.%20Wigstone&appealReference=0166321">0166321</a>',
            format: "numeric"
          }
        ]
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Closed for comments
    </h2>

    <p class="govuk-body">
      The deadline to comment on these appeals has passed. The Inspector will make a decision soon.
    </p>

  </div>

  <!-- main table -->
  <div class="govuk-grid-column-full">

    {{ govukTable({
      caption: "Open appeals",
      captionClasses: "govuk-table__caption--m govuk-visually-hidden",

      head: [

      {
        text: "Appeal site",
        classes: 'govuk-!-width-one-half'
      },
      {
        text: "Applicant",
        classes: 'govuk-!-width-one-quarter'
      },
      {
        text: "Appeal reference",
        classes: 'govuk-!-width-one-quarter',
        format: "numeric"
      }
      ],
      rows: [
        [
          {
            text: "103 Aubrey Road, Bristol BS3 3EX"
          },
          {
            text: "Mel Pickins"
          },
          {
            html: '<a class="govuk-link" href="appeal-details?status=closed&appealCode=0166327&site-address=103%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Mel%20Pickins&appealReference=0166327">0166327</a>',
            format: "numeric"
          }
        ],
        [
          {
            text: "103 Aubrey Road, Bristol BS3 3EX"
          },
          {
            text: "Mel Pickins"
          },
          {
            html: '<a class="govuk-link" href="appeal-details?status=closed&appealCode=0166328&site-address=103%20Aubrey%20Road%2C%20BS3%203EX&appellantName=Mel%20Pickins&appealReference=0166328">0166328</a>',
            format: "numeric"
          }
        ]
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-two-thirds">

    <!-- <h2 class="govuk-visually-hidden"> -->
    <h2 class="govuk-heading-m">
      Completed appeals
    </h2>

    <p class="govuk-body">
      If you cannot find the appeal you're looking for, it might be complete and a decision made.
    </p>

    <p>
      <a href="closed-appeals" class="govuk-link">
        {% if data['postcode'] %}
          View 33 completed appeals for {{ data['postcode'] }}
        {% else %}
          View 33 completed appeals for BS3 3EX
        {% endif %}
      </a>
    </p>

  </div>

{% endblock %}
