{% extends '_layouts/layout-pins.html' %}

{% set title = 'You have added a listed building' %}

{% set prototypeLinks = [
  {
    href: '?extrabuildings=yes',
    text: 'Add a second building'
  },
  {
    href: '?extrabuildings=',
    text: 'One building'
  }
] %}

{% block questions %}

  <span class="govuk-caption-l">
    Constraints, designations and other issues
  </span>

  <section class="govuk-!-margin-bottom-6">

      {% if data['extrabuildingsaffected'] %}
        <h1 class="govuk-heading-l">
          You have added 2 listed buildings
        </h1>
      {% else %}
        <h1 class="govuk-heading-l">
          {{ title }}
        </h1>
      {% endif %}

      {{ govukSummaryList({
        classes: 'appeal-details govuk-!-margin-bottom-0 govuk-!-margin-top-0',
        rows: [

            {
              key: {
                visuallyHiddenText: 'Listed building ',
                text: (data['historicenglandsearchnumber'] or '1282038')

              },
              value: {
                html:
                      'Grade II listed building'+
                      '<br>138-142, York Road, Bedminster, Bristol, BS3 4AL'
              },
              actions: {
                items: [
                  {
                    href: "listed-building-details",
                    text: "Remove",
                    visuallyHiddenText: '138-142, York Road, Bedminster, Bristol, BS3 4AL'
                  }
                ]
              }
            },
            {
              key: {
                visuallyHiddenText: 'Listed building',
                text: (data['historicenglandsearchnumber'] or '1282032')
              },
              value: {
                html: 'Grade II listed building'+
                      '<br>144, York Road, Bedminster, Bristol, BS3 4AL'
              },
              actions: {
                items: [
                  {
                    href: "?extrabuildings=",
                    text: "Remove",
                    visuallyHiddenText: '144, York Road, Bedminster, Bristol, BS3 4AL'
                  }
                ]
              }
            } if data['extrabuildings'] == 'yes'

        ]
      }) }}

  </section>

  {{ govukRadios({
    idPrefix: 'listed-buildings',
    name: 'listed-buildings',
    fieldset: {
      legend: {
        html: 'Do you want to add another listed building?',
        classes: 'govuk-fieldset__legend--m',
        isPageHeading: false
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('listed-buildings','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('listed-buildings','No')
      }
    ]
  }) }}

{% endblock %}
