{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'What is the name of the individual who made the planning application?' %}

{% set pageName = title + ' - Planning Inspectorate'%} {% block questions %}

  {% call govukFieldset({
    legend: {
    html: title,
    classes: 'govuk-fieldset__legend--l',
    isPageHeading: true
    }
  }) %}

  <p class="govuk-hint">
     Enter the name of each individual on the planning application. You can add more names later.
  </p>

  {{ govukInput({
    id: 'new-appellant-first-name',
    name: 'new-appellant-first-name',
    value: data['new-appellant-first-name'],
    classes: 'govuk-!-width-three-quarters',
    label: {
      html: 'First name'
    },
    autocomplete: 'given-name',
    spellcheck: false
  }) }}

  {{ govukInput({
    id: 'new-appellant-last-name',
    name: 'new-appellant-last-name',
    value: data['new-appellant-last-name'],
    classes: 'govuk-!-width-three-quarters',
    label: {
      html: 'Last name'
    },
    autocomplete: 'family-name',
    spellcheck: false
  }) }}

  {% endcall %}
{% endblock %}
