{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'Enter a summary of your appeal statement' %}

{% set pageName = title + ' - Planning Inspectorate'%} {% block questions %}

  {{ govukCharacterCount({
    name: "appeal-summary",
    id: "appeal-summary",
    maxlength: 200,
    label: {
      text: title,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "Give a summary of your appeal statement. You can upload your full appeal statement (also called a ‘grounds of appeal’) later."
    }
  }) }}

{% endblock %}
