{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'What is your phone number?' %}

{% set pageName = title + ' - Planning Inspectorate'%} {% block questions %}

  {% call govukFieldset({
    legend: {
    html: title,
    classes: 'govuk-fieldset__legend--l',
    isPageHeading: true
    }
  }) %}

  <p class="govuk-body">
    We may use your phone number to contact you about the appeal.
  </p>

  {{ govukInput({
    label: {
      text: "UK telephone number"
    },
    id: "telephone-number",
    name: "telephone-number",
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-input--width-20"
  }) }}

  {% endcall %}

{% endblock %}
