{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Proofs of evidence' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "1" %}

    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-body">
      Main parties can tell us what witnesses they want to bring to an inquiry and what evidence will be heard.
    </p>

    <!-- <p>
      Researched May 2023<br>
      <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1184858113" class="govuk-link">
        Confluence user research notes
      </a>
    </p> -->

    <!-- <p class="govuk-!-margin-bottom-2">List of proposed changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        use a code instead of a link to confirm the email address
      </li>
    </ul> -->

    {{ govukButton({
      html: 'View prototype',
      href: '/appeal/proofs-of-evidence/'+'v'+version+'/before-you-continue',
      isStartButton: true
    }) }}

  </div>
</div>
{% endblock %}
