{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Proof of evidence' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>


    <p class="govuk-body">
      Main parties can tell us what what evidence will be heard, what witnesses they want to call and what their witness evidence will be.
    </p>

    {% set version = "2" %}

    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    {{ govukButton({
      html: 'View prototype',
      href: '/appeal/proofs-of-evidence/'+'v'+version+'/before-you-continue',
      isStartButton: true
    }) }}

    {% set v1HTML %}

      {% set version = "1" %}

      {{ govukButton({
        html: 'View prototype',
        href: '/appeal/proofs-of-evidence/'+'v'+version+'/before-you-continue',
        isStartButton: true
      }) }}

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [

        {
          heading: {
            html: 'Version 1 <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-left-2">In progress</strong>'
          },
          content: {
            html: v1HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
