{% extends "layouts/mvp-full-appeal/v1.html" %}

{% block pageTitle %}
  What is the applicant's name? - Provide your contact details - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Provide your contact details
        </span>
        <h1 class="govuk-heading-l">
          What is the applicant's name?
        </h1>
        
        {{ govukInput({
          id: "mvp-"+version+"-contactdetails-applicantname",
          name: "mvp-"+version+"-contactdetails-applicantname",
          label: {
            text: "Applicant's name"
          },
          hint: {
            text: "Enter this as it's written on the planning application form."
          },
          classes: "govuk-!-width-two-thirds",
          value: data["mvp-"+version+"-contactdetails-applicantname"]
        }) }}
        
        {{ govukInput({
          id: "mvp-"+version+"-contactdetails-applicantcompany",
          name: "mvp-"+version+"-contactdetails-applicantcompany",
          label: {
            text: "Company name (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["mvp-"+version+"-contactdetails-applicantcompany"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
