{% set pageref = "MVP-FUL-PYC-003" %}
{% extends "layouts/mvp-full-appeal/v1.html" %}

{% block pageTitle %}
  Contact details - Provide your contact details - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Provide your contact details
        </span>
        <h1 class="govuk-heading-l">
          Contact details 
        </h1>
        <!--p class="govuk-body">
          We ask for your name and email address so we can contact you about your appeal.
        <p-->

        {% if data["mvp-"+version+"-contactdetails-applicationinyourname"] == "Yes" %}
          {% set hintHtml %}
            <p class="govuk-body">
              Enter your name as it's written on your planning application form.
            <p>
          {% endset -%}
        {% endif %}        
        
        {{ govukInput({
          id: "mvp-"+version+"-contactdetails-yourname",
          name: "mvp-"+version+"-contactdetails-yourname",
          label: {
            text: "Your full name"
          },
          hint: {
            html: hintHtml
          },
          classes: "govuk-!-width-two-thirds",
          value: data["mvp-"+version+"-contactdetails-yourname"]
        }) }}
        
        {{ govukInput({
          id: "mvp-"+version+"-contactdetails-company",
          name: "mvp-"+version+"-contactdetails-company",
          label: {
            text: "Company name (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          value: data["mvp-"+version+"-contactdetails-company"]
        }) }}
        
        {{ govukInput({
          id: "mvp-"+version+"-contactdetails-youremail",
          name: "mvp-"+version+"-contactdetails-youremail",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          label: {
            text: "Your email address"
          },
          value: data["mvp-"+version+"-contactdetails-youremail"]
        }) }}
        
        {{ govukInput({
          label: {
            text: "Your telephone number"
          },
          id: "mvp-"+version+"-contactdetails-telephone",
          name: "mvp-"+version+"-contactdetails-telephone",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-10",
          value: data["mvp-"+version+"-contactdetails-telephone"]
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
