
{% extends "layout.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if verificationError %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: verificationMessage,
            href: "#verification-code"
          }
        ]
      }) }}
      {% endif %}


        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About you</span>
        <h1 class="govuk-heading-l">
          Confirm your email address
        </h1>

        <p>We've sent an email with a verification code to: <strong>{{ data['appealsubsecurity-email'] }}</strong></p>

        <form action="" method="post" novalidate>

          {{ govukInput({
            label: {
              text: "Enter one-time passcode",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            classes: "govuk-input--width-5",
            id: "appealsubsecurity-passcode",
            name: "appealsubsecurity-passcode"
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h4 class="govuk-heading-s">If you're having problems</h4>
        <ul class="govuk-list">
          <li>Check the email hasn't gone into your spam/bulk folder.</li>
          <li>We can <a href="your-email">resend the email.</a></li>
          <li><a class="govuk-link" href="#">Email our customer support team</a> or call them on 0303 44 5000.</li>
        </ul>

        <br><br><br><br><br><br>
        <p><a href="email/passcode" target="_blank">(View verification email)</a></p>
        </div>
  </div>

{% endblock %}
