{% extends "layout.html" %}

{% block pageTitle %}
  Your details | Appeal a householder planning decision
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" novalidate="">
        <span class="govuk-caption-l"><span class="govuk-visually-hidden">Section. </span>About you</span>

        {{ govukInput({
          id: "appealsubsecurity-name",
          name: "appealsubsecurity-name",
          label: {
            classes: "govuk-label--l",
            isPageHeading: true,
            text: "Your name"
          },
          hint: {
            text: "We ask for your name so we can contact you about your appeal."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>

    <div class="govuk-grid-column-one-third"></div>
    

  </div>
{% endblock %}
