{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'What is the applicant’s name?' %}

{% block questions %}

  {% call govukFieldset({
    legend: {
    html: title,
    classes: 'govuk-fieldset__legend--l',
    isPageHeading: true
    }
  }) %}

  <p class="govuk-hint">
    Enter the name as it’s written on the planning application form.
  </p>

  {{ govukInput({
    id: 'new-appellant-first-name',
    name: 'new-appellant-first-name',
    value: data['new-appellant-first-name'],
    classes: 'govuk-!-width-three-quarters',
    label: {
      html: 'First name'
    },
    autocomplete: 'given-name',
    spellcheck: false
  }) }}

  {{ govukInput({
    id: 'new-appellant-last-name',
    name: 'new-appellant-last-name',
    value: data['new-appellant-last-name'],
    classes: 'govuk-!-width-three-quarters',
    label: {
      html: 'Last name'
    },
    autocomplete: 'family-name',
    spellcheck: false
  }) }}

  {{ govukInput({
    id: 'optional-appellant-company-name',
    name: 'optional-appellant-company-name',
    value: data['optional-appellant-company-name'],
    classes: 'govuk-!-width-three-quarters',
    label: {
      html: 'Organisation name (optional)'
    },
    spellcheck: false
  }) }}

  {% endcall %}
{% endblock %}
