{% extends "layout.html" %}

{% set title = "Add someone else to the appeal" %}

{% block pageTitle %}
  {{title}} - Additional people - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="added-people" method="post">

      <span class="govuk-caption-l">
        Tell us about any additional people
      </span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        {{ title }}
      </h1>

      <p class="govuk-hint">
        You must add 1 person at a time.
      </p>

      {{ govukInput({
        id: "enforcement-added-person",
        name: "enforcement-added-person",
        label: {
          text: "Full name"
        },
        hint: {
          html: hintHtml
        },
        classes: "govuk-!-width-two-thirds"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
