{% set pageref = "" %}
{% extends "layout.html" %}

{% set serviceName = "Appeal a planning decision" %}

{% set title = "We’ve sent you another link" %}

{% block pageTitle %}
  {{ title }} - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

    <span class="govuk-caption-l">{{ subServiceName }}</span>

    <div class="govuk-form-group">

      <label class="govuk-label govuk-label--l" for="postcode">
        {{ title }}
      </label>

      <p class="govuk-body">
        We’ve sent an email to:<br>{{ data['email'] or 'sam@mac.com'}}
      </p>

      <p>
        Go to your inbox to confirm that this is the correct email address.
      </p>

      <h2 class="govuk-heading-m">
        If you’re having problems
      </h2>

      <p class="govuk-body">
        Check that the email has not gone into your spam or junk folder.
      </p>

      <p class="govuk-body">
        If you’re still having problems, you can contact our customer support team:
      </p>

      <p class="govuk-body">
        Email: <a href="">enquiries@planninginspectorate.gov.uk</a><br>
        Telephone: 0303 444 5000
      </p>

    </div>
  </div>

  <!-- this is a prototype only link -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
    <p class="govuk-body-s">
      <a href="confirmation-email">
        Go to the email (your inbox)
      </a>
    </p>
  </div>

</div>

{% endblock %}
