{% extends '_layouts/layout-pins.html' %}

{% set title = 'Did you send letters and emails to neighbours?' %}

{% block questions %}
  <span class="govuk-caption-l">
    Notifying relevant parties of the application
  </span>
  {{ govukRadios({
    idPrefix: 'letters-check',
    name: 'letters-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('letters-check','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('letters-check','No')
      }
    ]
  }) }}
{% endblock %}
