{% extends '_layouts/layout-main.html' %}

{% set title = 'Was your listed building consent application granted or refused?' %}


{% block questions %}
<h1 class="govuk-heading-l">Was your listed building consent application granted or refused?</h1>

	{{ govukRadios({
		
		idPrefix: 'decision',
		name: 'decision',
		fieldset: {
			legend: {
				html: title,
				classes: 'govuk-visually-hidden',
				isPageHeading: true
			}
		},
		items: [
			{
				html: 'Granted',
				value: 'Granted',
				checked: checked('decision','Granted')
			},
			{
				html: 'Refused',
				value: 'Refused',
				checked: checked('decision','Refused')
			},
			{
				divider: 'or'
			},
			{
				html: 'I have not received a decision',
				value: 'I have not received a decision',
				checked: checked('decision','I have not received a decision')
			}
		]
	}) }}
{% endblock %}
