{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Lawful development certificate' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <span class="govuk-caption-l">
      Manage LPA appeals
    </span> -->
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% set version = "4" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <!-- <p class="govuk-!-margin-bottom-2">Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>first version</li>
    </ul> -->

    <p class="govuk-!-margin-bottom-2">For apellants & agents:</p>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a href="file-upload/file-upload">service headers</a></li>
      <li><a href="file-upload/file-upload">H1 scale</a></li> -->
      <li><a href="/appeal/ldc/v4/ldc-bys/before-you-start">Before you start</a></li>
      <li><a href="/appeal/ldc/v4/prepare-appeal/application-name">Prepare appeal</a></li>
      <li><a href="/appeal/ldc/v4/upload-documents/application-form">Upload documents</a></li>
    </ul>

      <p class="govuk-!-margin-bottom-2">For LPAs:</p>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li><a href="file-upload/file-upload">service headers</a></li>
      <li><a href="file-upload/file-upload">H1 scale</a></li> -->
     <li><a href="/appeal/ldc/v4/lpaq/task-list">LPAQ</a></li>
    </ul>

      {{ govukButton({
        html: 'View prototype',
        isStartButton: true,
        href: '/appeal/ldc/v4/reset'
      }) }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% set version = "3" %}
    Version {{version}}
    <h2 class="govuk-heading-m">
      {{ govukTag({
        classes: 'govuk-tag--green govuk-!-margin-left-2',
        text: 'Ready for dev'
      }) }}
    </h2>

    <form action="v{{version}}/task-list" method="post">
      {% call govukFieldset({
        legend: {
        html: 'Variations',
        classes: 'govuk-fieldset__legend--s'
        }
      }) %}

        {{ govukRadios({
          idPrefix: 'decision-check',
          name: 'decision-check',
          classes: 'govuk-radios--small',
          fieldset: {
            legend: {
              html: 'Decision'
            }
          },
          items: [
            {
              html: 'Yes',
              value: 'Yes',
              checked: checked('decision-check','Yes')
            },
            {
              html: 'No (non-detirmination)',
              value: 'No',
              checked: checked('decision-check','No')
            }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: 'section',
          name: 'section',
          classes: 'govuk-radios--small',
          fieldset: {
            legend: {
              html: 'Section of law'
            }
          },
          items: [
            {
              html: 'Section 191: the existing use, operations or activity is legal',
              value: '191',
              checked: checked('section','191')
            },
            {
              html: 'Section 192: the proposed use, operations or activity is legal',
              value: '192',
              checked: checked('section','192')
            },
            {
              html: 'Section 26H: the proposed work to a listed building is legal',
              value: '26H',
              checked: checked('section','26H')
            }
          ]
        }) }}

      {% endcall %}

      {{ govukButton({
        html: 'View prototype',
        isStartButton: true
      }) }}
    </form>

  </div>
</div>
{% endblock %}
