{% set pageref = "LB-PLA-005-AS15" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Design and access statement - Upload documents from your planning application - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Upload documents from your planning application
        </span>
        <h1 class="govuk-heading-l">
          Design and access statement
        </h1>
        
        {% if data["appealsub-"+version+"-applicationdocs-designaccess-file"] and data["appealsub-"+version+"-applicationdocs-designaccess-file"] != "" %}
          <h3 class="govuk-heading-m govuk-!-margin-top-6">
            Uploaded file
          </h3>
          <p class="govuk-body govuk-!-margin-bottom-8">
            <a href="javascript:preventDefault();" class="govuk-link">{{ data["appealsub-"+version+"-applicationdocs-designaccess-file"] }}</a>
          </p>
        {% endif %}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="appealsub-{{version}}-applicationdocs-designaccess-file">
            {% if data["appealsub-"+version+"-applicationdocs-designaccess-file"] and data["appealsub-"+version+"-applicationdocs-designaccess-file"] != "" %}
              Replace the file
            {% else %}
              Drag and drop or choose a file
            {% endif %}
          </label>
          <input class="govuk-file-upload pins-file-upload" id="appealsub-{{version}}-applicationdocs-designaccess-file" name="appealsub-{{version}}-applicationdocs-designaccess-file" type="file">
        </div>

        {{ govukDetails({
          summaryText: "Files you can upload",
          html: '
            <p class="govuk-body">
              You can upload the following types of file:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>DOC or DOCX</li>
              <li>JPG or JPEG</li>
              <li>PDF</li>
              <li>PNG</li>
              <li>TIF or TIFF</li>
            </ul>
            <p class="govuk-body">
              Your file must be smaller than 15MB.
            </p>
          '
        }) }}

<div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      {{ govukButton({
        href: "/appellant-submission/"+version+"/save-return/appeal-saved?savedOn=task",
        text: "Save and come back later",
        classes: "govuk-button--secondary"
      }) }}
</div>

      </form>

    </div>
  </div>

{% endblock %}
