{% extends "_layouts/layout-main.html" %}

{% set title = "Is the site visible from a public road?" %}

{% block pageTitle %}
  {{title}} - Tell us about the appeal site - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="site-interest" method="post">

      <span class="govuk-caption-l">
        Tell us about the appeal site
      </span>

      <h1 class="govuk-heading-l">
        Are there any health and safety issues on the appeal site?
      </h1>

      <p class="govuk-body">
        Tell us about any health and safety issues on the appeal site in case an Inspector needs to carry out a site visit.
      </p>
      <p class="govuk-body">
        The appeal site is the area of property or land that your enforcement notice relates to.
      </p>
      {{ govukDetails({
        summaryText: "List of health and safety concerns",
        html: "
          <p class='govuk-body'>
            Tell us about:
          </p>
          <ul class='govuk-list govuk-list--bullet'>
            <li>animals at the site, for example pets or livestock</li>
            <li>poor mobile signal at the site</li>
            <li>access issues for people with limited mobility</li>
            <li>overgrown vegetation that could restrict access to the site</li>
            <li>building works or other operations taking place on the site</li>
            <li>site-specific safety arrangements that are in place</li>
            <li>areas of the site that require specialist equipment or training for access, for example heights or confined spaces</li>
            <li>requirements to view the site from a height, for example from a roof or balcony</li>
            <li>risk of exposure to chemicals, asbestos or radiation</li>
            <li>unmarked changes in level or missing fittings</li>
          </ul>
        "
      }) }}

      {% set infoHtml %}
        {{ govukTextarea({
          id: "enforcement-site-healthsafety-details",
          name: "enforcement-site-healthsafety-details",
          label: {
            text: "Tell us about the health and safety issues"
          },
          value: data["enforcement-site-healthsafety-details"]
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "enforcement-site-healthsafety",
        name: "enforcement-site-healthsafety",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("enforcement-site-healthsafety", "Yes"),
            conditional: {
              html: infoHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("enforcement-site-healthsafety", "No")
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        <p>
          <a href="../appeal-saved">
            Save and come back later
          </a>
        </p>
      </div>

    </form>

  </div>
</div>

{% endblock %}
