

      <h3 class="govuk-heading-m">Appeal details</h3>

      <dl class="govuk-summary-list govuk-summary-list-appealdetails">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning application number
          </dt>
          <dd class="govuk-summary-list__value">
            21/05058/FUL
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal site address
          </dt>
          <dd class="govuk-summary-list__value">
            14 Fox Lane<br>
            Upper Brushton<br>
            LA12 6UX
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appellant name
          </dt>
          <dd class="govuk-summary-list__value">
            Basil Longstocking
          </dd>
        </div>
      </dl>