{% extends "layouts/case-officer/v7.html" %}

{% block pageTitle %}
  Case officer dashboard - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Case officer dashboard"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row pins-dashboard-row">
    <div class="govuk-grid-column-one-half pins-dashboard-column">
      <div class="pins-card">
        <form method="post" action="">
          <div class="govuk-form-group govuk-!-margin-bottom-0">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="search">
                Search appeals
              </label>
            </h2>
            <div id="search-hint" class="govuk-hint">
              Enter reference, site address, appellant or agent name
            </div>
            <input class="govuk-input" id="search" name="search" type="text" aria-describedby="search-hint">
            <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="govuk-grid-column-one-half pins-dashboard-column">
      <div class="pins-card">
        <h3 class="govuk-heading-l govuk-!-margin-bottom-3">
          Full appeals in progress
        </h3>
        <table class="govuk-table govuk-!-margin-bottom-0 pins-table--questionnaires">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Awaiting statements</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">4 appeals</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Awaiting final comments</th>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">6 appeals</a></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  {# Size modifiers: xl, l, m #}
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="pins-card">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">
          Incoming questionnaires
        </h2>

        {% set questionnairesincomplete = 0 %}
        {% for item in data['caseOfficerQuestionnaires'] %}
          {% if item.outcome == "Incomplete" %}
            {% set questionnairesincomplete = questionnairesincomplete + 1 %}
          {% endif %}
        {% endfor %}

        <table class="govuk-table govuk-!-margin-bottom-0 pins-table--questionnaires">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pins-table-questionnaires--ref">Appeal reference</th>
                <th scope="col" class="govuk-table__header pins-table-questionnaires--date">Date due</th>
                <th scope="col" class="govuk-table__header pins-table-questionnaires--address">Appeal site</th>
                <th scope="col" class="govuk-table__header pins-table-questionnaires--status">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

              {% for item in data['caseOfficerQuestionnaires']|sort(false,true,'dueInDays') %}
                {% if item.status == "New" and item.outcome == "" %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      
                      {% if item.received %}
                        <a href="/case-officer/{{version}}/goto-questionnaire/{{item.ref}}" class="govuk-link">APP/Q9999/D/21/{{ item.ref }}</a>
                      {% else %}
                        APP/Q9999/D/21/{{ item.ref }}
                      {% endif %}
                    </td> 
                    <td class="govuk-table__cell" nowrap>
                      {{ item.dueInDays | dateDue }}
                    </td>
                    <td class="govuk-table__cell">
                      {{ item.addressLine1 }}{% if item.addressLine2 %}, {% endif %}{{ item.addressLine2 }}{% if item.addressTown %}, {% endif %}{{ item.addressTown }}{% if item.addressCounty %}, {% endif %}{{ item.addressCounty }}{% if item.postcode %}, {% endif %}{{ item.postcode }}
                    </td>
                    <td class="govuk-table__cell">
                      {% if item.received %}
                        {{ govukTag({
                          classes: "govuk-tag--green",
                          text: "Received"
                        }) }}
                      {% else %}
                        {% if item.dueInDays < 0 %}
                          {{ govukTag({
                            classes: "govuk-tag--red",
                            text: "Overdue"
                          }) }}
                        {% else %}
                          {{ govukTag({
                            classes: "govuk-tag--blue",
                            text: "awaiting"
                          }) }}
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}

          </tbody>
        </table>

      </div>
      <div class="pins-card">

        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">
          Incomplete questionnaires
        </h2>

        <table class="govuk-table govuk-!-margin-bottom-0">
          {% if questionnairesincomplete > 0 %}
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header pins-table-questionnaires--ref">Appeal reference</th>
                <th scope="col" class="govuk-table__header pins-table-questionnaires--date">Date due</th>
                <th scope="col" class="govuk-table__header pins-table-questionnaires--address">Appeal site</th>
                <th scope="col" class="govuk-table__header pins-table-questionnaires--status">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

                {% for item in data['caseOfficerQuestionnaires']|sort(false,true,'dueInDays') %}
                  {% if item.status == "New" and item.outcome == "Incomplete" %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href="/case-officer/{{version}}/goto-incomplete-questionnaire/{{item.ref}}" class="govuk-link">APP/Q9999/D/21/{{ item.ref }}</a>
                      </td>
                      <td class="govuk-table__cell" nowrap>{{ item.dueInDays | dateDue }}</td>
                      <td class="govuk-table__cell">{{ item.addressLine1 }}{% if item.addressLine2 %}, {% endif %}{{ item.addressLine2 }}{% if item.addressTown %}, {% endif %}{{ item.addressTown }}{% if item.addressCounty %}, {% endif %}{{ item.addressCounty }}{% if item.postcode %}, {% endif %}{{ item.postcode }}</td>
                      <td class="govuk-table__cell">
                        {{ govukTag({
                          classes: "govuk-tag--yellow",
                          text: "Incomplete"
                        }) }}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}

            </tbody>
          {% else %}
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-9" style="text-align: center; background-color: #f3f2f1;">
                  No incomplete questionnaires
                </td>
              </tr>
            </tbody>
          {% endif %}
        </table>

      </div>

    </div>
  </div>
{% endblock %}
