{% extends '_layouts/layout-pins.html' %}

{% set title = 'Is the site in or next to a conservation area?' %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'conservation-check',
    name: 'conservation-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'In a conservation area',
        value: 'In a conservation area',
        checked: checked('conservation-check','In a conservation area')
      },
      {
        html: 'Next to a conservation area',
        value: 'Next to a conservation area',
        checked: checked('conservation-check','Next to a conservation area')
      },
      {
        divider: 'or'
      },
      {
        html: 'No, it is not in or next to a conservation area',
        value: 'Not in or next to a conservation area',
        checked: checked('conservation-check','Not in or next to a conservation area')
      }
    ]
  }) }}
{% endblock %}
