{% extends '_layouts/layout-pins.html' %}

{% set title = 'Did you issue a scoping opinion?' %}

{% block questions %}

  <span class="govuk-caption-l">
    Environmental impact assessment
  </span>

  {{ govukRadios({
    idPrefix: 'scoping-check',
    name: 'scoping-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('scoping-check','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('scoping-check','No')
      }
    ]
  }) }}
{% endblock %}
