{% extends '_layouts/layout-main.html' %}
{% set prototypeLinks = [{href: 'errors/lpa-not-available', text: 'LPA not available'}] %}

{% set title = 'Which local planning authority (LPA) do you want to appeal against?' %}

{% block questions %}
  {# Create an array for the LPA select below #}
  {% set lpaList = [{value: '',text: 'Select LPA'}] %}

  {# Include all of the LPA's which are set in default data #}
  {% for lpa in data['lpas'] %}
    {% set lpaList = lpaList | push ({
      value: lpa,
      text: lpa
    }) %}
  {% endfor %}

  <p class="govuk-caption-l">Before you start</p>

  {# Adds all items from the array then progressively enhanced with the script at the bottom of the file #}
  {{ govukSelect({
    id: 'lpa',
    name: 'lpa',
    classes: 'js-autocomplete',
    label: {
      html: title,
      classes: 'govuk-label--l',
      isPageHeading: true
    },
    items: lpaList,
    attributes: {
      'data-default-value': data['lpa']
    }
  }) }}

{{ govukButton({
  text: "Continue",
  href: "application-ref"
}) }}

{% endblock %}

{# Override the default "Continue" button with nothing #}
{% block buttons %}{% endblock %}