{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Error: Please complete | Appeal a planning decision
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">



{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Your file is still uploading",
      href: "#file-2"
    }
  ]
}) }}

<h1 class="govuk-heading-l">Upload files</h1>

<form action="/components/file-upload/confirm" method="post" enctype="multipart/form-data">

<div class="govuk-summary-list moj-multi-file-upload__list">
  {% set uploadHtml %}
    {{ govukFileUpload({
      id: "documents",
      name: "documents",
      classes: 'moj-multi-file-upload__input',
      label: {
        text: "Upload a file",
        classes: 'govuk-label--m'
      },
      attributes: { multiple: '' },
      errorMessage: errorMessage
    }) }}

    {{govukButton({
      text: 'Upload file',
      classes: 'govuk-button--secondary moj-multi-file-upload__button'
    })}}
  {% endset %}



  <div class="govuk-inset-text">File size should be no more than 15MB</div>
<div class="moj-multi-file-upload" >
  <div class="moj-multi-file__uploaded-files">
    <h2 class="govuk-heading-m">Files added</h2>
    <div class="govuk-summary-list moj-multi-file-upload__list">
      <div class="moj-multi-file__uploaded-files govuk-form-group govuk-form-group--error">

        <div class="govuk-summary-list__row moj-multi-file-upload__row">  
          <dd class="govuk-summary-list__value moj-multi-file-upload__message">
            <span class="moj-multi-file-upload__success"> <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg> 
            <a href="/public/uploads/b71746802afcdc62984d81d5e902b36a8d2b.pdf" download="" class="govuk-link"> plans 2.pdf</a> has been uploaded</span>
          </dd>  
          <dd class="govuk-summary-list__actions moj-multi-file-upload__actions">
              <button class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0" type="button" name="delete" value="b71746802afcdc62984d81d5e902b36a8d2b.pdf">Delete <span class="govuk-visually-hidden">plans 2.pdf</span></button>
          </dd>
        </div>
        <div class="govuk-summary-list__row moj-multi-file-upload__row" id="file-2">  <dd class="govuk-summary-list__value moj-multi-file-upload__message"><span class="moj-multi-file-upload__filename">other documents 3.pdf</span><span class="moj-multi-file-upload__progress"> 6%</span>  </dd>  <dd class="govuk-summary-list__actions moj-multi-file-upload__actions"></dd></div>
        <div class="govuk-summary-list__row moj-multi-file-upload__row">  
          <dd class="govuk-summary-list__value moj-multi-file-upload__message">
            <span class="moj-multi-file-upload__success"> <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg> 
            <a href="/public/uploads/82a91d2bb2a83b15ae233645ebf96532c2cc.pdf" download="" class="govuk-link"> other documents 1.pdf</a> has been uploaded</span>
          </dd>  <dd class="govuk-summary-list__actions moj-multi-file-upload__actions">
            <button class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0" type="button" name="delete" value="82a91d2bb2a83b15ae233645ebf96532c2cc.pdf">Delete <span class="govuk-visually-hidden">other documents 1.pdf</span></button>
          </dd>
        </div>
        <div class="govuk-summary-list__row moj-multi-file-upload__row">  
          <dd class="govuk-summary-list__value moj-multi-file-upload__message">
            <span class="moj-multi-file-upload__success"> <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg> 
            <a href="/public/uploads/6f39619e4183c2cf69f3803fa6fc06fcba76.pdf" download="" class="govuk-link"> other documents 2.pdf</a> has been uploaded</span>
          </dd>  <dd class="govuk-summary-list__actions moj-multi-file-upload__actions">
            <button class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0" type="button" name="delete" value="6f39619e4183c2cf69f3803fa6fc06fcba76.pdf">Delete <span class="govuk-visually-hidden">other documents 2.pdf</span></button>
          </dd>
        </div>
      </div>
    </div>
  </div>

  <div class="moj-multi-file-upload__upload">
    {{ uploadHtml | safe }}
  </div>

  <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Accepted file formats
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list--bullets">
              <li>PDF &ndash; <strong>.pdf</strong></li>
              <li>Microsoft Word &ndash; <strong>.doc</strong> or <strong>.docx</strong></li>
              <li>TIF &ndash; <strong>.tif</strong> or <strong>.tiff</strong></li>
              <li>JPEG &ndash; <strong>.jpg</strong> or <strong>.jpeg</strong></li>
              <li>PNG &ndash; <strong>.png</strong></li>
            </ul>
          </div>
        </details>
</div>



  {{govukButton({
    text: 'Continue'
  })}}
</form>
</div>
</div> 

{% endblock %}


{% block pageScripts %}
<script>
if(typeof MOJFrontend.MultiFileUpload !== 'undefined') {
  new MOJFrontend.MultiFileUpload({
    container: $('.moj-multi-file-upload'),
    uploadUrl: '/ajax-upload',
    deleteUrl: '/ajax-delete',
    fieldName: 'documents'
    });
  }
</script>
{% endblock %}

