{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Full planning' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "5" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    <p class="govuk-!-margin-bottom-2">Changes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        additional questions
      </li>
      <li>
        changes to description of development
      </li>
      <li>
        new task list model to help users know what files they need to upload
      </li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/task-list',
      isStartButton: true
    }) }}

    {% set v4HTML %}

      {% set version = "4" %}

      <p class="govuk-!-margin-bottom-2">Changes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          new version of description of development
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list',
        isStartButton: true
      }) }}


    {% endset -%}

    {% set v3HTML %}

    {% set version = "3" %}

      <p class="govuk-!-margin-bottom-2">Changes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          changed ‘consultancy name’ to ‘company name’
        </li>
        <li>
          adding guidance about costs on the <a href="v3/upload-documents/appeal-statement?action=" class="govuk-link">upload statement page</a>
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v2HTML %}

      {% set version = "2" %}

      <p class="govuk-body">
        Improvements to the process that was developed and released. Brings full planning in line with design changes made in the time since release.
      </p>

      {{ govukInsetText({
        html: '<p class="govuk-body"><a href="https://miro.com/app/board/uXjVP-GI0CQ=/?share_link_id=633705051384">Design Miro board</a> with notes from review of live and changes.</p>'
      }) }}

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/task-list',
        isStartButton: true
      }) }}

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [
        {
          heading: {
            html: 'Version 4 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v4HTML
          }
        },
        {
          heading: {
            html: 'Version 3 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v3HTML
          }
        },
        {
          heading: {
            html: 'Version 2 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v2HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
