<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "_layouts/layout-main.html" %}

{% set title = "Who’s named on the enforcement notice?" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      <span class="govuk-caption-l">
        Tell us who was on the enforcement notice
      </span>

      {{ govukRadios({
        idPrefix: "enforcement-identity",
        name: "enforcement-identity",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You can add 1 person or company at a time."
        },
        items: [
          {
            value: "person",
            text: "An individual"
          },
          {
            value: "company",
            text: "A company"
          }
        ]
      }) }}

      <div class="govuk-button-group">

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          href: "../appeal-saved",
          text: "Save and come back later",
          classes: "govuk-button--secondary"
        }) }}

      </div>

    </form>

  </div>
</div>

{% endblock %}
