<nav>
  <ul class="govuk-list ds-subnav">
    <li class="ds-subnav-item{% if dspage == "file-upload-single"%} ds-subnav-item--current{% endif %}">
      <a href="/design-system/components/file-upload-single" class="ds-subnav-link">File upload - single</a>
    </li>
    <li class="ds-subnav-item{% if dspage == "file-upload-multiple"%} ds-subnav-item--current{% endif %}">
      <a href="/design-system/components/file-upload-multiple" class="ds-subnav-link">File upload - multiple</a>
    </li>
  </ul>
</nav>