{% extends "layout-ds.html" %}
{% set dssection = "components" %}
{% set dspage = "file-upload-multiple" %}

{% block pageTitle %}
  {{ serviceName }} Design System
{% endblock %}

{% block beforeContent %}
  {% include "design-system/_nav.html" %} 
{% endblock %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        {% include "design-system/components/_nav.html" %}
      </div>

      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-l">
          File upload - multiple
        </h2>
        <p class="govuk-body">
          
        </p>

      </div>
      
    </div>

  </div>

{% endblock %}
