{% extends "layout-ds.html" %}
{% set dssection = "components" %}

{% block pageTitle %}
  {{ serviceName }} Design System
{% endblock %}

{% block beforeContent %}
  {% include "design-system/_nav.html" %} 
{% endblock %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        {% include "design-system/components/_nav.html" %}
      </div>

      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-l">
          Components
        </h2>
        <p class="govuk-body">
          Components are reusable parts of the user interface that have been made specifically for the Planning Inspectorate's Appeal a planning decision service.
        </p>
        <p class="govuk-body">
          You can use individual components in many different patterns and contexts.
        </p>
        <p class="govuk-body">
          Each component in this Design System has coded examples for use with the GOV.UK Prototype Kit.
        </p>

      </div>
      
    </div>

  </div>

{% endblock %}
