{% extends '_layouts/layout-pins.html' %}

{% set title = "Did the applicant submit any other documents with the application?" %}

{% block questions %}

  <span class="govuk-caption-l">
    Original evidence
  </span>

  {{ govukRadios({
    idPrefix: 'other-documents-check',
    name: 'other-documents-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('other-documents-check','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('other-documents-check','No')
      }
    ]
  }) }}
{% endblock %}
