{% extends "layout.html" %}

{% block pageTitle %}
  Prototypes for {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!--span class="govuk-caption-xl">Appeal a householder planning decision</span-->

      <h1 class="govuk-heading-xl">
        {{serviceName}} prototypes
      </h1>

      <h2 class="govuk-heading-l">Introduction</h2>
      <p class="govuk-body">
        Users make a planning application to their local planning authority (LPA), which is usually their local council. If the LPA makes a decision that the user thinks is incorrect, legislation says they can appeal the decision. They can also appeal if the LPA takes too long to make a decision.
      </p>
      <p class="govuk-body">
        These prototypes cover different journeys for users of the appeal a planning decision service. This includes appellants, agents acting on behalf of appellants, LPAs, case officers, and inspectors.
      </p>

      <h2 class="govuk-heading-l">Private Beta Prototypes</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-appellant" aria-expanded="true">
                Interested party can comment on appeal
              </span>
            </h2>
          </div>

          <div id="accordion-default-content-appellant" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-appellant">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <div class="govuk-inset-text govuk-!-margin-top-0">
                  {{ govukTag({
                    classes: "govuk-tag--red govuk-!-margin-bottom-3",
                    text: "WIP"
                  }) }}
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    Draft - Interested party journey from email notice
                  </h3>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Jira Tickets (6)
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <h4 class="govuk-heading-s">
                        Content tickets
                      </h4>
                      <ul class="govuk-list govuk-list-bulleted govuk-!-margin-bottom-3">
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-4209" target="_blank">AS-4209</a> - Householder appeal notification letter (LPD template)</li>
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-4215" target="_blank">AS-4215</a> - Full Planning appeal notification letter (LPD template)</li>
                      </ul>
                      <h4 class="govuk-heading-s">
                        Design tickets
                      </h4>
                      <ul class="govuk-list govuk-list-bulleted">
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-4210" target="_blank">AS-4210</a> - Search for an appeal</li>
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-4211" target="_blank">AS-4211</a> - View appeal details</li>
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-4213" target="_blank">AS-4213</a> - Submit representation</li>
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-4214" target="_blank">AS-4214</a> - Submission confirmation email (Gov Notify)</li>
                      </ul>

                    </div>
                  </details>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/interested-party/v1/householder-appeal-first-notice">Householder appeal first notice (email)</a>
                    </li>
                    <li>
                      <a href="/interested-party/v1/full-planning-appeal-first-notice">Full Planning appeal first notice (email)</a>
                    </li>

                    <br>
                    <li>
                      <!-- <a href="/interested-party/v1/appeals-guidance">Guidance for appeals</a> -->
                      Guidance for appeals
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/search-for-appeal">Search for an appeal</a> -->
                      Search for an appeal
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/search-for-appeal-results">Results</a> -->
                      Results
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/search-for-appeal-no-results">No results</a> -->
                      No results
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/appeal">Appeal public/IP view</a> -->
                      Appeal public/IP view
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/your-name">Your name</a> -->
                      Your name
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/appeal-add-comment-email">Your email address</a> -->
                      Your email address
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/appeal-add-comment">Add comment</a> -->
                      Add comment
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/appeal-add-comment-check-email">Check your answers</a> -->
                      Check your answers
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/appeal-add-comment-confirmed">Confirmation</a> -->
                      Comment received confirmation
                    </li>
                    <li>
                      <!-- <a href="/interested-party/v1/appeal-ip-comment-added-notify">Notify message about comment</a> -->
                      Notify message about comment
                    </li>

                  </ul>

                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-appellant">
                Appellant submission
              </span>
            </h2>
          </div>

          <div id="accordion-default-content-appellant" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-appellant">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <div class="govuk-inset-text govuk-!-margin-top-0">

                  <h3 class="govuk-heading-m">
                    Version history
                  </h3>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Standalone appeal submission security journeys
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/standalone/appeal-submission-security/who-are-you" target="_blank" title="">One-time passcode</a>
                        </li>
                        <li>
                          <a href="https://has-appeal.herokuapp.com/standalone/appeal-submission-security-magiclink/who-are-you" target="_blank" title="">Magic link</a>
                        </li>
                      </ul>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2318" target="_blank">AS-2318</a> - Alternative version of security for appellant</li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 7 - End to end appellant submission journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/guidance/before-you-appeal" target="_blank">Start journey from guidance pages</a>
                        </li>
                        <li>
                          <a href="https://has-appeal.herokuapp.com/appellant-submission/v7/householder" target="_blank">Start journey from first eligibility question</a>
                        </li>
                        <li>
                          <a href="https://has-appeal.herokuapp.com/appellant-submission/v7/task-list" target="_blank">Start journey from task list</a>
                        </li>
                        <li>
                          <a href="https://has-appeal.herokuapp.com/public/images/decisionnotice_plsrd.pdf" target="_blank">Decision notice (PDF)</a>
                        </li>
                      </ul>
                      <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Email verification journeys
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <form action="https://has-appeal.herokuapp.com/appellant-submission/v7/start-your-appeal" target="_blank" method="post" novalidate="">
                            <input type="hidden" name="saveReturnUrl" value="/verify-email-post">
                            <input type="hidden" name="saveRecoveryUrl" value="/appellant-submission/v7/save-return/recovery">
                            <button class="govuk-button" href="appellant-submission/start-your-appeal">
                            Email verification code prototype
                            </button>
                          </form>
                          <form action="https://has-appeal.herokuapp.com/appellant-submission/v7/start-your-appeal" target="_blank" method="post" novalidate="">
                            <input type="hidden" name="saveReturnUrl" value="/appellant-submission/v7/save-return/create-password">
                            <input type="hidden" name="saveRecoveryUrl" value="/appellant-submission/v7/save-return/recovery-password">
                            <button class="govuk-button govuk-!-margin-bottom-0" href="https://has-appeal.herokuapp.com/appellant-submission/start-your-appeal">
                              Email verification by password prototype
                            </button>
                          </form>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            JIRA Tickets (3)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list--bullet">
                            <li>
                              <a href="https://pins-ds.atlassian.net/browse/AS-749" target="_blank">AS-749</a> - simplified appeal statement
                            </li>
                            <li>
                              <a href="https://pins-ds.atlassian.net/browse/AS-1188" target="_blank">AS-1188</a> - 404 error page
                            </li>
                            <li>
                              <a href="https://pins-ds.atlassian.net/browse/AS-950" target="_blank">AS-950</a> - eligibility changes, add costs question
                            </li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 6 - 25 February 2021
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Git tag: "v6"</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="https://has-appeal-archive-6.herokuapp.com/appellant-submission/start-your-appeal" target="_blank">Email verification code journey</a></li>
                        <li><a href="https://has-appeal-archive-6.herokuapp.com/appellant-submission/start-your-appeal" target="_blank">Email verification by password</a></li>
                        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/494534657/Sprint+9+UR" target="_blank">User research</a></li>
                      </ul>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            JIRA Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list--bullet">
                            <li>Updated save and return &amp; email verification <br><a href="https://pins-ds.atlassian.net/browse/AS-236" target="_blank">AS-236</a></li>
                            <li>Content updates</li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 5 - Sprint 6
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Git tag: "v5"</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Removed question about other appeal.</li>
                      </ul>
                      <ul class="govuk-list">
                        <li><a href="https://has-appeal-archive-5.herokuapp.com/appellant-submission/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
                        <li>No user research findings</li>
                      </ul>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 4 - Sprint 4
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Git tag: "v4"</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Added PDF print view of appeal submission (for internal use only)</li>
                        <li>Added LPA/decision date to check answers page</li>
                        <li>Content updates</li>
                      </ul>
                      <ul class="govuk-list">
                        <li><a href="https://has-appeal-archive-4.herokuapp.com/appellant-submission/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
                        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/336855045/Sprint+4+UR" target="_blank">User research findings</a></li>
                      </ul>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 3 - Sprint 3
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Git tag: "v3"</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Capture whether submission is from agent, and to ensure we capture the name of the person bringing the appeal to add to the case file.</li>
                        <li>Added save and return</li>
                      </ul>
                      <ul class="govuk-list">
                        <li><a href="https://has-appeal-archive-3.herokuapp.com/appellant-submission/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
                        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/336855045/Sprint+4+UR" target="_blank">User research findings</a></li>
                      </ul>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 2 - Sprint 2
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Re-work of submission prototype based on MVP story map. Git tag: "v2"</p>
                      <ul class="govuk-list">
                        <li><a href="https://has-appeal-archive-2.herokuapp.com/appellant-submission/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
                        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/313655361/Sprint+2+UR" target="_blank">User research findings</a></li>
                      </ul>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 1 - Sprint 1
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">Re-work of submission prototype based on MVP story map. Git tag: "v1"</p>
                      <ul class="govuk-list">
                        <li><a href="https://has-appeal-archive-1.herokuapp.com/appellant-submission/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
                        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/288882922/Sprint+1+UR" target="_blank">User research findings</a></li>
                      </ul>
                    </div>
                  </details>

                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-trackmyappeal">
                Track my appeal
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-trackmyappeal" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-trackmyappeal">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                <div class="govuk-inset-text govuk-!-margin-top-0">

                  <h3 class="govuk-heading-m">
                    Version 3 - Track my appeal with security
                    <!--{{ govukTag({
                      classes: "govuk-tag--grey govuk-!-margin-left-1",
                      text: "Archived"
                    }) }}-->
                  </h3>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="https://has-appeal.herokuapp.com/track-my-appeal/v3/stage1-mvp/email/your-planning-appeal" target="_blank">Stage 1 - Appeal received (MVP)</a>
                    </li>
                    <li>
                      <a href="https://has-appeal.herokuapp.com/track-my-appeal/v3/stage1/email/your-planning-appeal" target="_blank">Stage 1 - Appeal received with appeal details</a>
                    </li>
                    <li>
                      <a href="https://has-appeal.herokuapp.com/track-my-appeal/v3/stage2/email/council-evidence" target="_blank">Stage 2 - Case file submitted by LPA</a>
                    </li>
                  </ul>

                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Jira Tickets (2)
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list-bulleted">
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-2129">AS-2129</a> - Security - Accessing Track my Appeal</li>
                        <li><a href="https://pins-ds.atlassian.net/browse/AS-1355">AS-1355</a> - Appellant's view of appeal status following LPA Questionnaire submission (stage 2)</li>
                      </ul>
                    </div>
                  </details>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-lpaq">
                LPA questionnaire
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-lpaq" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-lpaq">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                <div class="govuk-inset-text govuk-!-margin-top-0">

                  <h3 class="govuk-heading-m">
                    Version history
                  </h3>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 8 - LPA Questionnaire journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/lpa-questionnaire/v8/email/started" target="_blank" title="">Start journey from 'Householder appeal started' email</a>
                        </li>
                        <li><a href="https://has-appeal.herokuapp.com/lpa-questionnaire/v8/jump/tasks-complete" target="_blank" class="govuk-link">Jump to Check You Answers</a></li>
                      </ul>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2283" target="_blank">AS-2283</a> - Amendments to bring LPA Questionnaire v8 prototype in line with current dev build</li>
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2119" target="_blank">AS-2119</a> - LPA Submission - Appeal Site Question iteration</li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        LPA Questionnaire security journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/standalone/lpa-questionnaire-security/email/started" target="_blank" title="">Start journey from 'Householder appeal started' email</a>
                        </li>
                      </ul>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2123" target="_blank">AS-2123</a> - LPA Accessing Questionnaire</li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Upload supporting documents journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/standalone/as-2078/lpa-task-list" target="_blank" title="">Start journey from task list</a>
                        </li>
                      </ul>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2078" target="_blank">AS-2078</a> - Upload supporting documents journeys for user testing</li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 7
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/lpa-account/appeal-list" target="_blank" title="">Local Planning Department appeals list</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://has-appeal.herokuapp.com/lpa-submission/email-received" target="_blank">View email (received)</a>
                        </li>
                        <li>
                          <a class="govuk-link" href="https://has-appeal.herokuapp.com/lpa-submission/email-started" target="_blank">View email (started)</a>
                        </li>
                      </ul>

                      <p class="govuk-body">
                        <a href="https://miro.com/app/board/o9J_lL1ezzs=/?moveToWidget=3074457358042359104&cot=14" target="_blank" class="govuk-link">UR findings for Sprint 13 (Miro)</a>
                      <p>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (2)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-1126" target="_blank">AS-1126</a> - iterations following testing with LPA users</li>
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-1581" target="_blank">AS-1581</a> -  basic log in to appeal using email</li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version/Archive 6 - 25 February 2021
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="https://has-appeal-archive-6.herokuapp.com/lpa-submission/email-received" target="_blank" class="govuk-link">View email received</a></li>
                        <li><a href="https://has-appeal-archive-6.herokuapp.com/lpa-submission/email-started" target="_blank" class="govuk-link">View email started</a></li>
                        <li><a href="https://has-appeal-archive-6.herokuapp.com/lpa-account" target="_blank" class="govuk-link">Appeal list</a></li>
                        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/430866595/Week+1+Sprint+9+Discussion+Guide+-+Beta+LPA" target="_blank">User research</a></li>
                      </ul>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (3)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list--bullet">
                            <li>Improvements to prototype <a href="https://pins-ds.atlassian.net/browse/AS-152" target="_blank">AS-152</a></li>
                            <li>Update to supplementary planning docs <a href="https://pins-ds.atlassian.net/browse/AS-323" target="_blank">AS-323</a></li>
                            <li>List of submitted appeals <a href="https://pins-ds.atlassian.net/browse/AS-788" target="_blank">AS-788</a></li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version/Archive 5 - Sprint 4
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="https://has-appeal-archive-5.herokuapp.com/lpa-submission/email-received" target="_blank" class="govuk-link">View email received</a></li>
                        <li><a href="https://has-appeal-archive-5.herokuapp.com/lpa-submission/email-started" target="_blank" class="govuk-link">View email started</a></li>
                        <li>No user research</li>
                      </ul>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Updates (3)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list--bullet">
                          <li>Iteration based on user research by Liam</li>
                          <li>Multiple file uploader added by Jamie</li>
                          <li>2nd iteration based on user research by Liam</li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Version 1 - Alpha sprint 20
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">
                        First version of questionnaire based on <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/154337658/Revised+LPA+Questionnaire+for+beta+service+feedback" target="_blank">Picasso service questions</a>
                      <p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a target="_blank" href="https://has-appeal-alpha.herokuapp.com/lpa-submission/email" target="_blank" class="govuk-link">View prototype</a></li>
                        <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/260571176/Sprint+20+UR" target="_blank">User research findings</a></li>
                      </ul>
                    </div>
                  </details>

                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-caseofficer">
                Case Officer
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-caseofficer" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-caseofficer">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                <div class="govuk-inset-text govuk-!-margin-top-0">

                  <h3 class="govuk-heading-m">
                    Version history
                  </h3>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Review LPA questionnaire v4
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/case-officer/v4/list-questionnaires" target="_blank" title="">List of  questionnaires for review</a>
                        </li>
                      </ul>
                      <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            User research links (2)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list--bullet">
                            <li>
                              <a href="https://miro.com/app/board/o9J_l4WFZmE=/" target="blank" title="">Findings from co-design session - 4th Aug 2021</a>
                            </li>
                            <li>
                              <a href="https://web.microsoftstream.com/video/8fbd9a6c-e3bc-40e5-ab99-7c2679c4c1c9" target="_blank">Recording of co-design session</a>
                            </li>
                          </ul>
                        </div>
                      </details>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (5)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-3065" target="_blank">AS-3065 Review of LPA Q - Add Decision Notice to Documents</a></li>
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-3066" target="_blank">AS-3066 Review of LPA Q - Removal of Data</a></li>
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-3067" target="_blank">AS-3067 Review of LPA Q - Add what policies are missing</a></li>
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-3068" target="_blank">AS-3068 Review of LPA Q - Re-ordering of how Questions/Documents appear</a></li>
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-3070" target="_blank">AS-3070 Review of LPA Q - Replace 'Change outcome' from Check and Confirm page</a></li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Review LPA questionnaire v3
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">
                        This review process shows all questionnaire data on one screen, with inline checkboxes to highlight incomplete information
                      <p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/case-officer/v3/list-questionnaires" target="_blank" title="">List of  questionnaires for review</a>
                        </li>
                      </ul>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://miro.com/app/board/o9J_l60CI9Y=/?moveToWidget=3074457361377013762&cot=14" target="_blank" target="blank" title="">User research findings</a>
                        </li>
                      </ul>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2401" target="_blank">AS-2401 Case Officer - Review LPA Submission</a></li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Review LPA questionnaire v2
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">
                        This review process shows all questionnaire data on one screen, with the options to select the outcome and reasons at the bottom of the screen
                      <p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/case-officer/v2/list-questionnaires" target="_blank" title="">List of  questionnaires for review</a>
                        </li>
                      </ul>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://miro.com/app/board/o9J_l60CI9Y=/?moveToWidget=3074457361377013762&cot=14" target="blank" title="">User research findings</a>
                        </li>
                      </ul>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2401" target="_blank">AS-2401 Case Officer - Review LPA Submission</a></li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                  <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Review LPA questionnaire v1
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p class="govuk-body">
                        This review process displays each task on a separate screen, each with their own yes/no answer.
                      <p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <a href="https://has-appeal.herokuapp.com/case-officer/v1/list-questionnaires" target="_blank" title="">List of  questionnaires for review</a>
                        </li>
                      </ul>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Jira Tickets (1)
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list-bulleted">
                            <li><a href="https://pins-ds.atlassian.net/browse/AS-2401" target="_blank">AS-2401 Case Officer - Review LPA Submission</a></li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>

                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-idox">
                User journey for LPA/Idox integration
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-idox" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-idox">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <p class="govuk-body">Full user journey for proposed beta, from start page through to appeal submit.</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Select South Gloucestershire Council</li>
                    <li>P20/12345/F - Refused. Able to appeal</li>
                    <li>P20/56789/F - Refused. Over deadline.</li>
                  </ul>

                <a class="govuk-button" href="https://has-appeal.herokuapp.com/eligibility/start-your-appeal" target="_blank">View prototype</a>
                <p class="govuk-body">Skip to:</p>
                <ul class="govuk-list">
                  <li><a href="https://has-appeal.herokuapp.com/submit-appeal/task-list" target="_blank">Task list</a></li>
                  <li><a href="https://has-appeal.herokuapp.com/complete-appeal-task-list" target="_blank">Completed task list</a></li>
                </ul>
              </div>
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Current version</h4>
                <p class="govuk-body">Last updated: Sprint 3</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Added questions for information not provided by local planning department's website.</li>
                  <li>Added task list</li>
                </ul>

                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Version 1 - Sprint 3
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p class="govuk-body">User journey created based on proof of concept for idox integration.</p>
                    <ul class="govuk-list">
                      <li><a href="https://has-appeal-archive-2.herokuapp.com/eligibility/start-your-appeal" target="_blank" class="govuk-link">View prototype</a></li>
                      <li><a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/313753678/Sprint+3+UR" target="_blank">User research findings</a></li>
                    </ul>
                  </div>
                </details>
              </div>
            </div>

          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-footererror">
                Footer and error pages
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-footererror" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-footererror">

            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="https://has-appeal.herokuapp.com/help/accessibility-statement" target="_blank">accessibility statement</a></li>
              <li><a class="govuk-link" href="https://has-appeal.herokuapp.com/help/contact" target="_blank">contact</a></li>
              <li><a class="govuk-link" href="https://has-appeal.herokuapp.com/help/privacy" target="_blank">privacy</a></li>
              <li><a class="govuk-link" href="https://has-appeal.herokuapp.com/help/terms-and-conditions" target="_blank">terms and conditions</a></li>
              <li><a class="govuk-link" href="https://has-appeal.herokuapp.com/error/not-found" target="_blank">page not found - 404</a></li>
              <li><a class="govuk-link" href="https://has-appeal.herokuapp.com/error/unhandled-exception" target="_blank">unhandled exception - 500</a></li>
              <li><a href="https://has-appeal.herokuapp.com/error/500-error-service-unavailable" target="_blank" class="govuk-link">500 error - service unavailable (AS-1644)</a>
            </ul>

          </div>
        </div>

      </div>


      <h2 class="govuk-heading-l govuk-!-margin-top-9">Alpha Prototypes</h2>
      <p class="govuk-body">Prototypes developed during alpha have been moved to a separate server:</p>
      <p class="govuk-body"><a href="https://has-appeal-alpha.herokuapp.com/" target="_blank">View alpha prototypes</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Components</h2>
      <p class="govuk-body">Examples of design patterns, for reference, not user testing. </p>
      <p class="govuk-body"><a href="https://has-appeal.herokuapp.com/components" target="_blank">View prototypes</a></p>

    </div>
  </div>


{% endblock %}
