{% extends '_layouts/layout-pins.html' %}

{% set beta = false %}
{% set back = false %}
{% set nav = false %}

{% set title = 'Appeal service prototypes' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% set appealHTML %}
      <h2 class="govuk-heading-l">
        Appeal a planning decision
      </h2>

      <h3 class="govuk-heading-m">
        Appellant service
      </h3>

      {{govukButton({
        text: 'Appeals hub (dashboard)',
        classes: 'govuk-button--secondary',
        href: 'appeal/more-than-one-appeal/v5/your-appeals'
      })}}

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
        Common journeys and patterns
      </h4>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="appeal/before-you-start/">Before you start</a>
        </li>
        <li>
          <a href="appeal/save-and-return/">Save and return</a>
        </li>
        <li>
          <a href="/service/messages/">Service messages</a>
        </li>
        <li>
          <a href="appeal/more-than-one-appeal/">More than one appeal</a>
        </li>
        <li>
          GOV.UK guidance (needs review)
        </li>
        <li>
          Service offline (needs review)
        </li>
        <li>
          <a href="appeal/contact-details/">Contact details</a>
        </li>
        <li>
          <a href="appeal/withdraw-appeal/">Withdraw an appeal</a>
        </li>
        <li>
          <a href="appeal/proofs-of-evidence">
            Proof of evidence and witnesses
          </a>
        </li>
        <li>
          <a href="appeal/witness-timings">
            Witness timings
          </a>
        </li>
      </ul>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
        Appeal types
      </h4>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/appeal/has/">Householder</a>
        </li>
        <li>
          <a href="/appeal/full/">Full planning (S78)</a>
        </li>
        <li>
          <a href="/appeal/final-comments/">Final comments for full planning (S78)</a>
        </li>
        <li>
          <a href="/appeal/s78e/">Simplified full planning (S78E)</a>
        </li>
        <li>
          <a href="/appeal/lbc/">Listed building consent</a>
        </li>
        <li>
          <a href="/appeal/cas-adverts/">CAS and adverts</a>
        </li>
        <li>
          <a href="/appeal/enforcement">Enforcement</a>
        </li>
        <li>
          <a href="/appeal/enforcement-2022/v8/before-you-continue">Enforcement v8 from 2022</a>
        </li>
        <li>
          <a href="/appeal/enforcement-listed-building-2022/v1/before-you-continue">Enforcement listed building work from 2022</a>
        </li>
        <li>
          <a href="/appeal/ldc/">Lawful development certificate</a>
        </li>
        <li>
          <a href="/appeal/s78e/">Simplified full planning (S78E)</a>
        </li>
      </ul>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">
        Appeal details
      </h4>
      <p class="govuk-body">
        These show the appellant’s view of their appeal in its different stages.
      </p>

      <!-- appellant appeal details -->
      {{ govukDetails({
        summaryText: "Appellant appeal details in different stages",
        html: '
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=none&questionnaire=&lpa-statement=&other-statements=&final-comments=&other-final-comments=&proofs=&other-proofs=&timings=&other-timings=&appeal-decided=">
              New appeal
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=written&questionnaire=complete&lpa-statement=complete&other-statements=&final-comments=due&other-final-comments=&proofs=&other-proofs=&timings=&other-timings=&appeal-decided=">
              Statements and IP comments done / Final-comments due
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=written&questionnaire=complete&lpa-statement=complete&other-statements=&final-comments=complete&other-final-comments=&proofs=&other-proofs=&timings=&other-timings=&appeal-decided=">
              Appellant final comments done
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=written&questionnaire=complete&lpa-statement=complete&other-statements=&final-comments=complete&other-final-comments=complete&proofs=&other-proofs=&timings=&other-timings=&appeal-decided=">
              All final comments done
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=written&questionnaire=complete&lpa-statement=complete&other-statements=&final-comments=complete&other-final-comments=complete&proofs=&other-proofs=&timings=&other-timings=&appeal-decided=complete">
              Written representations appeal decided
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=inquiry&questionnaire=complete&lpa-statement=complete&other-statements=complete&final-comments=&other-final-comments=&proofs=due&other-proofs=&timings=&other-timings=&appeal-decided=">
              Inquiry: all statements and IP comments done, proof due
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=inquiry&questionnaire=complete&lpa-statement=complete&other-statements=complete&final-comments=complete&other-final-comments=&proofs=complete&other-proofs=&timings=&other-timings=&appeal-decided=">
              Inquiry: proof of evidence done
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=inquiry&questionnaire=complete&lpa-statement=complete&other-statements=complete&appellant-statement=complete&final-comments=complete&other-final-comments=complete&proofs=complete&other-proofs=complete&timings=due&other-timings=&appeal-decided=">
              Inquiry: all proof of evidence done, witness timings due
            </a>
          </li>

          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=inquiry&questionnaire=complete&lpa-statement=complete&other-statements=complete&appellant-statement=complete&final-comments=complete&other-final-comments=complete&proofs=complete&other-proofs=complete&timings=complete&other-timings=&appeal-decided=">
              Inquiry: appellant witness timings done
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=inquiry&questionnaire=complete&lpa-statement=complete&other-statements=complete&appellant-statement=complete&final-comments=complete&other-final-comments=complete&proofs=complete&other-proofs=complete&timings=complete&other-timings=complete&appeal-decided=">
              Inquiry: all witness timings done
            </a>
          </li>
          <li>
            <a href="/appeal/appeals/v2/appeal-details?appeal-type=inquiry&questionnaire=complete&lpa-statement=complete&other-statements=complete&final-comments=&other-final-comments=&proofs=complete&other-proofs=complete&timings=complete&other-timings=complete&appeal-decided=complete">
              Inquiry appeal decided
            </a>
          </li>
        </ul>'
      }) }}

      <h3 class="govuk-heading-m">
        Rule 6 service
      </h3>

      {{govukButton({
        text: 'Rule 6 hub (dashboard)',
        classes: 'govuk-button--secondary',
        href: 'appeal/rule-6/v1/your-appeals'
      })}}

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2" id="rule-6">
        Rule 6 access
      </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/appeal/rule-6/v1/appeal-email?hub=">
              Rule 6 status granted (direct)
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-email?hub=true">
              Rule 6 status granted (hub)
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-revoked-email?">
              Rule 6 status revoked
            </a>
          </li>
        </ul>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2" id="rule-6-details">
        Rule 6 appeal details
      </h4>

      <p class="govuk-body">
        These show the Rule 6 party view of their appeal in its different stages.
      </p>

      <!-- Rule 6 appeal details -->
      {{ govukDetails({
        summaryText: "Rule 6 appeal details in different stages",
        html: '
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=&rule6-statement=due&r6-statement=&ip-comments=&proofs=&lpa-proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
              Rule 6 status granted, appeal started and statements due
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=&rule6-statement=complete&r6-statement=&ip-comments=&proofs=&lpa-proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
              Rule 6 statement done
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=complete&rule6-statement=complete&r6-statement=complete&ip-comments=complete&proofs=due&lpa-proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
              All statements and IP comments done, proof of evidence due
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=complete&rule6-statement=complete&r6-statement=complete&ip-comments=complete&proofs=complete&lpa-proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
              Proof of evidence done
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=complete&rule6-statement=complete&r6-statement=complete&ip-comments=complete&proofs=complete&lpa-proofs=complete&appellant-proofs=complete&timings=due&other-timings=&appeal-decided=">
              All proof done witness timings due
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=complete&rule6-statement=complete&r6-statement=complete&ip-comments=complete&proofs=complete&lpa-proofs=&appellant-proofs=&timings=complete&other-timings=&appeal-decided=">
              Witness timings done
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=complete&rule6-statement=complete&r6-statement=complete&ip-comments=complete&proofs=complete&lpa-proofs=complete&appellant-proofs=complete&timings=complete&other-timings=complete&appeal-decided=">
              All witness timings done
            </a>
          </li>
          <li>
            <a href="/appeal/rule-6/v1/appeal-details?questionnaire=complete&lpa-statement=complete&rule6-statement=complete&r6-statement=complete&ip-comments=complete&proofs=complete&lpa-proofs=complete&appellant-proofs=complete&timings=complete&other-timings=complete&appeal-decided=complete">
              Appeal decided
            </a>
          </li>
        </ul>'
      }) }}

      <h3 class="govuk-heading-m">
        Appeals as data
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="appeal/before-you-start/aad/successful/">Successful API call</a>
        </li>
        <li>
          <a href="appeal/before-you-start/aad/partial-success/">Partially successful API call</a>
        </li>
        <li>
          <a href="appeal/before-you-start/aad/application-not-found/">Failure – application not found</a>
        </li>
        <li>
          <a href="appeal/before-you-start/aad/invalid-ref-error/">Failure – invalid reference number</a>
        </li>
        <li>
          <a href="appeal/before-you-start/aad/api-error/">Failure – API error (timeout, server error, etc.)</a>
        </li>
      </ul>

    {% endset -%}

    {% set manageHTML %}
      <h2 class="govuk-heading-l">
        Manage LPA appeals
      </h2>

      {{govukButton({
        text: 'Appeals hub (dashboard)',
        classes: 'govuk-button--secondary',
        href: 'manage/appeals/v9/'
      })}}

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        LPA dashboard and manage access
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="manage/appeals/?questionnaire-banner=&statement-banner=&final-comments-banner=&proofs-banner=&questionnaire=&statement=&finalcomments=&proofs=&appellant-proofs=">
            Planning appeals (summary of progress)
          </a>
        </li>
        <li>
          <a href="manage/appeals/v9/?questionnaire-banner=&statement-banner=&final-comments-banner=&proofs-banner=&questionnaire=&statement=&finalcomments=&proofs=&appellant-proofs=">
            Planning appeals (list of appeals)
          </a>
        </li>
        <li>
          <a href="manage/appeals/v10/?questionnaire-banner=&statement-banner=&final-comments-banner=&proofs-banner=&questionnaire=&statement=&finalcomments=&proofs=&appellant-proofs=">
            Planning appeals (list of appeals) navigation / filter concept
          </a>
        </li>
        <li>
          <a href="/manage/appeals/v9/?questionnaire-banner=yes&statement-banner=&final-comments-banner=&proofs-banner=&questionnaire=complete&statement=due&final-comments=&appellant-final-comments=&proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
            Appeals list, questionnaire done
          </a>
        </li>
        <li>
          <a href="/manage/appeals/v9/?questionnaire-banner=&statement-banner=yes&final-comments-banner=&proofs-banner=&questionnaire=complete&statement=due&final-comments=&appellant-final-comments=&proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
            Appeals list, statement done
          </a>
        </li>
        <li>
          <a href="/manage/appeals/v9/?questionnaire-banner=&statement-banner=&final-comments-banner=yes&proofs-banner=&questionnaire=complete&statement=due&final-comments=&appellant-final-comments=&proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
            Appeals list, final comments done
          </a>
        </li>
        <li>
          <a href="/manage/appeals/v9/?questionnaire-banner=&statement-banner=&final-comments-banner=&proofs-banner=yes&questionnaire=complete&statement=due&final-comments=&appellant-final-comments=&proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
            Appeals list, proof of evidence done
          </a>
        </li>
        <li>
          <a href="manage/manage-users/">Manage users</a>
        </li>
        <li>
          <a href="manage/manage-users/v4/">Manage users with multiple domains</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Appeal details
      </h3>

      <!-- LPA appeal details -->
      {{ govukDetails({
        summaryText: "LPA appeal details in different stages",
        html: '
          <h4 class="govuk-heading-s">
            Written representations
          </h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=&statement=&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                New appeal
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=due&statement=due&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                Questionnaire due
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=complete&statement=due&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                Questionnaire valid, statement due
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=complete&statement=complete&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                LPA statement done
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=due&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                All statements and comments done / final comments due
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=complete&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                LPA final comments done
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=complete&appellant-final-comments=complete&case-conference-date=&proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                All final comments done
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=written&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=complete&appellant-final-comments=complete&case-conference-date=&proofs=&appellant-proofs=&timings=&other-timings=&appeal-decided=complete">
                Appeal decided
              </a>
            </li>
          </ul>

          <h4 class="govuk-heading-s">
            Hearing
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=hearing&questionnaire=&statement=&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&case-conference-date=&inquiry-date=&proofs=&appellant-proofs=&timings=&other-timings=&socg=&hearing-date=&appeal-decided=">
                New appeal
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=hearing&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=due&final-comments=&appellant-final-comments=complete&case-conference-date=complete&inquiry-date=&proofs=&appellant-proofs=&timings=&other-timings=&socg=due&hearing-date=complete&appeal-decided=">
                <!-- Statement of common ground due, IP comments due -->
                Event date available
              </a>
            </li>
          </ul>
          <h4 class="govuk-heading-s">
            Inquiry
          </h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=&statement=&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                New appeal
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=due&statement=due&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                Questionnaire due
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=due&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                Questionnaire valid, statement due
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=complete&r6-statement=&ip-comments=&final-comments=&appellant-final-comments=&proofs=&case-conference-date=&inquiry-date=&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                LPA statement done
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=&appellant-final-comments=&case-conference-date=&inquiry-date=complete&proofs=due&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                Proof of evidence due
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=complete&appellant-final-comments=&case-conference-date=&inquiry-date=complete&proofs=complete&appellant-proofs=&timings=&other-timings=&appeal-decided=">
                LPA proof of evidence complete
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=complete&appellant-final-comments=complete&case-conference-date=&inquiry-date=complete&proofs=complete&appellant-proofs=complete&timings=due&other-timings=&appeal-decided=">
                Witness timings due
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=&appellant-final-comments=&case-conference-date=&inquiry-date=complete&proofs=complete&appellant-proofs=complete&timings=complete&other-timings=&appeal-decided=">
                LPA witness timings complete
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=&appellant-final-comments=&case-conference-date=&inquiry-date=complete&proofs=complete&appellant-proofs=complete&timings=complete&other-timings=complete&appeal-decided=">
                All witness timings complete
              </a>
            </li>
            <li>
              <a href="/manage/appeals/v9/appeal-details?appeal-type=inquiry&questionnaire=complete&statement=complete&r6-statement=complete&ip-comments=complete&final-comments=&appellant-final-comments=&case-conference-date=&inquiry-date=complete&proofs=complete&appellant-proofs=complete&timings=complete&other-timings=complete&appeal-decided=complete">
                Appeal decided
              </a>
            </li>
          </ul>
        '
      }) }}

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Access and emails about appeals
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/manage/access/">Accessing the service</a>
        </li>
        <li>
          <a href="/manage/emails/">Appeal action notifications</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Householder appeals
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="manage/questionnaire-has/">Householder questionnaire</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Full appeals (S78)
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="manage/notify/">Notify interested parties</a>
        </li>
        <li>
          <a href="manage/questionnaire/">S78 questionnaire</a>
        </li>
        <li>
          <a href="manage/statement/">Appeal statement</a>
        </li>
        <li>
          <a href="manage/final-comments/">Final comments</a>
        </li>
      </ul>
    {% endset -%}

    {% set commentHTML %}
      <h2 class="govuk-heading-l">
        Interested parties
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/interested/" class="govuk-link govuk-link--no-visited-state">Interested in a planning appeal (summary of progress)</a>
        </li>
        <li>
          <a href="/interested/comment" class="govuk-link govuk-link--no-visited-state">Comment on a planning appeal (summary of progress)</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        Accessing the service
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="interested/find-appeal/v11/appeal-notice-email-full">Notice of an appeal from LPA</a>
        </li>
        <li>
          <a href="interested/find-appeal/v11/guidance">Guidance: Comment on a planning appeal</a>
        </li>
      </ul>
      <h3 class="govuk-heading-s">
        Finding an appeal
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="interested/find-appeal/v10/appeal-search-number">Appeal search</a>
        </li>
        <li>
          <a href="interested/find-appeal/v10/open-appeals?address=postcode">Search results (postcode)</a>
        </li>
        <li>
          <a href="interested/find-appeal/v10/appeal-search-no-results?search=postcode">No results (postcode)</a>
        </li>
        <li>
          <a href="interested/find-appeal/v10/open-appeals?address=grid">Search results (grid reference)</a>
        </li>
        <li>
          <a href="interested/find-appeal/v10/appeal-search-no-results?search=grid">No results (grid reference)</a>
        </li>
        <li>
          <a href="interested/find-appeal/v10/appeal-search-no-results?search=number">No results (appeal reference)</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        Commenting on an appeal
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="interested/find-appeal/v10/appeal-details?status=open&appeal=1&appealCode=012726">Appeal open for comments</a>
        </li>
        <li>
          <a href="interested/comment/v10/your-name">Comment on an appeal</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        Closed for comment
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="interested/find-appeal/v10/appeal-details?status=closed&appeal=1&appealCode=011362">Appeal closed for comments</a>
        </li>
        <li>
          <a href="interested/find-appeal/v10/closed-appeals?status=completed&appeal=1&appealCode=010234">Decided appeals</a>
        </li>
        <li>
          <a href="interested/find-appeal/v10/appeal-details?status=completed&appeal=1&appealCode=010234">Decided appeal</a>
        </li>
      </ul>

    {% endset -%}

    {% set officeHTML %}

      <h2 class="govuk-heading-l">
        Back office appeals
      </h2>

      <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        Service start points
      </h3> -->

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/office/casework/">Appeal casework</a>
        </li>
      </ul>

    {% endset -%}


    {{ govukTabs({
      items: [
        {
          label: 'Appeal a planning decision',
          id: 'appeal',
          panel: {
            html: appealHTML
          }
        },
        {
          label: 'Manage LPA appeals',
          id: 'manage',
          panel: {
            html: manageHTML
          }
        },
        {
          label: 'Comment on a planning appeal',
          id: 'comment',
          panel: {
            html: commentHTML
          }
        }
      ]
    }) }}

</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Design patterns
    </h2>

    <p class="govuk-body">
      Identified service patterns and page components used in the appeal service.
    </p>
    <p class="govuk-body">
      <a href="/patterns/">View design patterns</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Prototype archive
    </h2>

    <p class="govuk-body">
      The previous prototype is hosted in another place as it uses a different version of the prototype kit.
    </p>
    <p class="govuk-body">
      <a href="https://appeals-prototype-archive.herokuapp.com/">View the archive</a>
    </p>

  </div>
</div>
{% endblock %}
