{% extends '_layouts/layout-appellant-main.html' %}

{% set title = 'Enter the description of development' %}

{% block questions %}

  {{ govukTextarea({
    name: "description-detail",
    id: "description-detail",
    value: data['description-detail'],
    label: {
      text: title,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "Enter the description of development that you submitted in your planning application. You can upload evidence of your agreement to change the description of development later."
    }
  }) }}

{% endblock %}
