{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Manage users' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "5" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--blue govuk-!-margin-left-2',
        text: 'Content needed'
      }) }}
    </h2>
    <p class="govuk-!-margin-bottom-2">Here we've added new functions for LPA users to manage users. Now they can edit user email addresses and set email notifications for users based on appeal type</p>

    <p class="govuk-!-margin-bottom-2"><strong>Updated pages</strong></p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/manage/manage-users/v5/email-notifications" class="govuk-link">
          Manage users
        </a></li>
         <li><a href="./manage-users/v5/detailed-email-notifications" class="govuk-link">
          Select appeal types for email notifications
        </a></li>
    </ul>

    {{ govukButton({
      html: 'View prototype',
      href: '/manage/manage-users/v5/index.html',
      isStartButton: true
    }) }}

        {% set v4HTML %}

      {% set version = "4" %}
      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Notes not yet added</li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: "/manage/manage-users/v5/index.html",
        isStartButton: true
      }) }}
    {% endset -%}

      {% set v3HTML %}

      {% set version = "3" %}
      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Content updates</li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    {% endset -%}

    {% set v2HTML %}

      {% set version = "2" %}

      <p>
        Researched October 2024<br>
        <a href="https://pins-ds.atlassian.net/wiki/spaces/AAPDS/pages/1056768031" class="govuk-link">
          Confluence user research notes
        </a>
      </p>

      <p class="govuk-!-margin-bottom-2">Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Moved version 2 of this here (<a href="https://pins-appeals.herokuapp.com/lpa/v1/access?action=" class="govuk-link govuk-link--no-visited-state" title="Link to version 1">see version 1</a>)</li>
        <li>Now you can add more than one person</li>
        <li>Small UI update</li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    {% endset -%}
    
    

    
    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [

       {
          heading: {
            html: 'Version 4 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Not set</strong>'
          },
          content: {
            html: v4HTML
          }
        },

       {
          heading: {
            html: 'Version 3 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v3HTML
          }
        },

        {
          heading: {
            html: 'Version 2 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
          },
          content: {
            html: v2HTML
          }
        }
      ]
    }) }}




    {% set lpaForm %}
      <form method="get" action="v{{version}}/">

        {{ govukInput({
          id: 'dashboard-lpa',
          name: 'dashboard-lpa',
          value: data['dashboard-lpa'],
          label: {
            html: 'LPA&rsquo;s name'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'lpa-email',
          name: 'lpa-email',
          value: data['lpa-email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'user-account',
          name: 'users[0][email]',
          value: data['users']['0']['email'],
          label: {
            html: 'Admin account email'
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: 'Add to URL',
          classes: 'govuk-!-margin-bottom-0'
        }) }}

      </form>
    {% endset -%}

    {{ govukDetails({
      summaryHtml: 'Change LPA details',
      html: lpaForm
    }) }}

  </div>
</div>
{% endblock %}
