{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Final comments' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#manage'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Manage LPA appeals
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% set version = "1" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--yellow govuk-!-margin-left-2',
        text: 'In progress'
      }) }}
    </h2>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/add-comments',
      isStartButton: true
    }) }}

    {% set lpaForm %}
      <form method="get" action="v{{version}}/">

        {{ govukInput({
          id: 'dashboard-lpa',
          name: 'dashboard-lpa',
          value: data['dashboard-lpa'],
          label: {
            html: 'LPA&rsquo;s name'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'lpa-email',
          name: 'lpa-email',
          value: data['lpa-email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: 'user-account',
          name: 'users[0][email]',
          value: data['users']['0']['email'],
          label: {
            html: 'LPA&rsquo;s email'
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: 'Add to URL',
          classes: 'govuk-!-margin-bottom-0'
        }) }}

      </form>
    {% endset -%}

    {{ govukDetails({
      summaryHtml: 'Change LPA details',
      html: lpaForm
    }) }}

  </div>
</div>
{% endblock %}
