{% set pageref = "" %}
{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Schedule 2 development category - Tell us if it's an environmental impact assessment development - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell us if it's an environmental impact assessment development
        </span>

        {{ govukSelect({
          id: "lpaq-"+version+"-environmentalimpact-descriptionofdevelopment",
          name: "lpaq-"+version+"-environmentalimpact-descriptionofdevelopment",
          label: {
            text: "Description of development",
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
          items: [
            {
              value: "",
              text: "Select the description of development"
            },
            {
              value: "1. Agriculture and aquaculture",
              text: "1. Agriculture and aquaculture",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '1. Agriculture and aquaculture')
            },
            {
              value: "2. Extractive industry",
              text: "2. Extractive industry",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '2. Extractive industry')
            },
            {
              value: "3. Energy industry",
              text: "3. Energy industry",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '3. Energy industry')
            },
            {
              value: "4. Production and processing of metals",
              text: "4. Production and processing of metals",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '4. Production and processing of metals')
            },
            {
              value: "5. Mineral industry",
              text: "5. Mineral industry",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '5. Mineral industry')
            },
            {
              value: "6. Chemical industry (unless included in Schedule 1)",
              text: "6. Chemical industry (unless included in Schedule 1)",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '6. Chemical industry (unless included in Schedule 1)')
            },
            {
              value: "7. Food industry",
              text: "7. Food industry",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '7. Food industry')
            },
            {
              value: "8. Textile, leather, wood and paper industries",
              text: "8. Textile, leather, wood and paper industries",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '8. Textile, leather, wood and paper industries')
            },
            {
              value: "9. Rubber industry",
              text: "9. Rubber industry",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '9. Rubber industry')
            },
            {
              value: "10. Infrastructure projects",
              text: "10. Infrastructure projects",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '10. Infrastructure projects')
            },
            {
              value: "11. Other projects",
              text: "11. Other projects",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '11. Other projects')
            },
            {
              value: "12. Tourism and leisure",
              text: "12. Tourism and leisure",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '12. Tourism and leisure')
            },
            {
              value: "13. Changes and extensions",
              text: "13. Changes and extensions",
              selected: (data["lpaq-"+version+"-environmentalimpact-descriptionofdevelopment"] == '13. Changes and extensions')
            }
          ]
        }) }}

         <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link" href="sensitive-area">Skip this question</a>
        </div>

      </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
  </div>
</div>

{% endblock %}
