{% set pageref = "" %}
{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Outstanding notifications or consultations - Tell us about the development's environmental impact - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell us about the development's environmental impact
        </span>
        <h1 class="govuk-heading-xl">
          Outstanding notifications or consultations
        </h1>

        <p class="govuk-body">
          You must inform the appropriate bodies about the appeal immediately.
        </p>
        <p class="govuk-body">
          Ask for all comments to be sent to the Planning Inspectorate by {{ 28 | daysInFuture }}.<!--[date the LPA's statement is due]-->
        </p>

        {{ govukButton({
          text: "Accept and continue"
        }) }}

      </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
  </div>
</div>

{% endblock %}
