{% set pageref = "" %}
{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Upload the screening opinion and any other correspondence - Tell us if it's an environmental impact assessment development - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Tell us if it's an environmental impact assessment development
        </span>
        <h1 class="govuk-heading-xl">
          Upload the screening opinion and any other correspondence
        </h1>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="lpaq-{{version}}-environmentalimpact-screeningopinion-details">
            Drag and drop or choose files
          </label>
          <input class="govuk-file-upload pins-file-upload" id="lpaq-{{version}}-environmentalimpact-screeningopinion-details" name="lpaq-{{version}}-environmentalimpact-screeningopinion-details" type="file" multiple>
        </div>

        {{ govukDetails({
          summaryText: "Files you can upload",
          html: '
            <p class="govuk-body">
              You can upload the following types of file:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>DOC or DOCX</li>
              <li>JPG or JPEG</li>
              <li>PDF</li>
              <li>PNG</li>
              <li>TIF or TIFF</li>
            </ul>
            <p class="govuk-body">
              Your file must be smaller than 15MB.
            </p>
          '
        }) }}
<!--
        {{ govukRadios({
          idPrefix: "lpaq-"+version+"-environmentalimpact-screeningopinion-eia",
          name: "lpaq-"+version+"-environmentalimpact-screeningopinion-eia",
          fieldset: {
            legend: {
              text: "Did the screening opinion say the development needs an environmental impact assessment?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("lpaq-"+version+"-environmentalimpact-screeningopinion-eia", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("lpaq-"+version+"-environmentalimpact-screeningopinion-eia", "No")
            }
          ]
        }) }}
-->
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link" href="environmental-statement">Skip this question</a>
        </div>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
    </div>
  </div>

{% endblock %}
