{% set pageref = "" %}
{% set fromhas = "From HAS" %}
{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  Do you have a community infrastructure levy? - Upload the Planning Officer's report and relevant policies - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Upload the Planning Officer's report and relevant policies
        </span>

        {{ govukRadios({
          idPrefix: "lpaq-"+version+"-relevantpolicies-cil",
          name: "lpaq-"+version+"-relevantpolicies-cil",
          fieldset: {
            legend: {
              text: "Do you have a community infrastructure levy?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Tell us about any levy that is formally adopted or due to be adopted."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("lpaq-"+version+"-relevantpolicies-cil", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("lpaq-"+version+"-relevantpolicies-cil", "No")
            }
          ]
        }) }}
        
         <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link" href="../task-list">Skip this question</a>
        </div>

      </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
  </div>
</div>

{% endblock %}
