{% extends "layouts/lpa-questionnaire/fullv1.html" %}

{% block pageTitle %}
  Check your answers - Full planning appeal questionnaire - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back to task list",
    href: "/lpa-questionnaire/"+version+"/task-list"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>
    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        Before you submit your evidence, take a moment to make sure you're happy with the answers you've provided.
      <p>

      <h2 class="govuk-heading-l">The proposed development</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site plan
          </dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{ data["lpaq-"+version+"-proposeddevelopment-siteplan"] }}</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Involves changing a listed building
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["lpaq-"+version+"-proposeddevelopment-listedbuilding"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      
      </dl>

      {% if data["lpaq-"+version+"-proposeddevelopment-listedbuilding"] == "Yes" %}
        <div class="govuk-inset-text govuk-!-padding-top-0 govuk-!-margin-top-0 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0 govuk-!-padding-right-0">
          <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Listed building details</h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Grade
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-proposeddevelopment-listedbuildingdetails-grade"]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Listed on
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-proposeddevelopment-listedbuildingdetails-date-day"]}}
                {{data["lpaq-"+version+"-proposeddevelopment-listedbuildingdetails-date-month"] | formatMonth }}
                {{data["lpaq-"+version+"-proposeddevelopment-listedbuildingdetails-date-year"]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Description
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-proposeddevelopment-listedbuildingdetails-description"]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Historic England consulted
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-proposeddevelopment-listedbuildingdetails-historicengland"]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Response from Historic England
              </dt>
              <dd class="govuk-summary-list__value">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-proposeddevelopment-historicengland-response"]}}</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      {% endif %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relates to someone claiming Gypsy or Traveller status
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-proposeddevelopment-traveller"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Requires stopping up or diverting a public right of way
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-proposeddevelopment-rightofway"]}}<br>
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-proposeddevelopment-rightofway-mapstatement"]}}</a><br>
            {{data["lpaq-"+version+"-proposeddevelopment-rightofway-details"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Part of the appeal site is subject to a tree preservation order
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-proposeddevelopment-tpo"]}}<br>
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-proposeddevelopment-tpo-siteplan"]}}</a><br>
            {{data["lpaq-"+version+"-proposeddevelopment-tpo-details"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">The surrounding area</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appeal has other appeals nearby
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-appealsimmediatearea"]}}<br>
            {{data["lpaq-"+version+"-surroundingarea-appealsimmediatearea-details"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site is in a green belt
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-greenbelt"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site is in a or near a conservation area
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-conservationarea"]}}<br>
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-surroundingarea-conservationarea-upload"]}}</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site is in an area of outstanding natural beauty
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-aonb"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Site is in, near or likely to affect a designated site
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-sssi"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      </dl>

      {% if data["lpaq-"+version+"-surroundingarea-sssi"] == "Yes" %}
        <div class="govuk-inset-text govuk-!-padding-top-0 govuk-!-margin-top-0 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0 govuk-!-padding-right-0">
          <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Designation details</h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Designation
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-surroundingarea-sssi-designation"]}} -
                {{data["lpaq-"+version+"-surroundingarea-sssi-designation-other"]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Natural England consulted
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-surroundingarea-sssi-consulted"]}}<br>
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-surroundingarea-sssi-consultation-upload"]}}</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

          </dl>
        </div>
      {% endif %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Development affects the setting of a listed building
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-affectslistedbuilding"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      </dl>

      {% if data["lpaq-"+version+"-surroundingarea-affectslistedbuilding"] == "Yes" %}
        <div class="govuk-inset-text govuk-!-padding-top-0 govuk-!-margin-top-0 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0 govuk-!-padding-right-0">
          <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Listed building details</h3>
          <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Listing description
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-surroundingarea-affectslistedbuilding-description"]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Historic England consulted
              </dt>
              <dd class="govuk-summary-list__value">
                {{data["lpaq-"+version+"-surroundingarea-affectslistedbuilding-consulted"]}}<br>
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-surroundingarea-sssi-consultation-upload"]}}</a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                  Change<span class="govuk-visually-hidden"> </span>
                </a>
              </dd>
            </div>

          </dl>
        </div>
      {% endif %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Development affects an ancient monument
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-ancientmonument"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Consulted Historic England about the effect on the ancient monument
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-ancientmonument"]}}<br>
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-surroundingarea-ancientmonument-consultation-upload"]}}</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Development affects protected species
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-protectedspecies"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Advice from Natural England
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-surroundingarea-protectedspecies"]}}<br>
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-surroundingarea-protectedspecies-consultation"]}}</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">Environmental impact</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Development is a schedule 1 or schedule 2 development
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-environmentalimpact-schedule"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-environmentalimpact-schedule"] != "It is neither a schedule 1 or schedule 2 development" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Development category
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data["lpaq-"+version+"-environmentalimpact-schedule"] == "Schedule 1" %}
                {{data["lpaq-"+version+"-environmentalimpact-scheduleone"]}}
              {% else %}
                {{data["lpaq-"+version+"-environmentalimpact-scheduletwo"]}}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if data["lpaq-"+version+"-environmentalimpact-schedule"] == "Schedule 2" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Development is within a sensitive area
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["lpaq-"+version+"-environmentalimpact-scheduletwo-sensitive"]}}<br>
              {{data["lpaq-"+version+"-environmentalimpact-scheduletwo-sensitive-details"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Column 2 threshold or criteria met or exceeded
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["lpaq-"+version+"-environmentalimpact-scheduletwo-criteria"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you issued a screening opinion?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-environmentalimpact-screeningopinion"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-environmentalimpact-screeningopinion"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Screening opinion details
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-environmentalimpact-screeningopinion-details"]}}</a><br>
              {% if data["lpaq-"+version+"-environmentalimpact-screeningopinion-eia"] == "Yes" %}
                Screening opinion said the development needs an environmental impact assessment
              {% else %}
                Screening opinion said the development does not need an environmental impact assessment
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did the appellant provide an environmental statement?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-environmentalimpact-environmentalstatement"]}}<br>
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-environmentalimpact-environmentalstatement-details"]}}</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-environmentalimpact-environmentalstatement"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site notice or advertisment
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-environmentalimpact-environmentalstatement-sitenotice"]}}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you made all notifications or consultations under any Act, Order or Departmental Circular, necessary before granting permission?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-environmentalimpact-notificationsconsultations"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-l">Your decision</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning Officer's report
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-yourdetails-planningofficersreport"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What your decision notice would have said
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-yourdetails-decisionnotice"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plans, documents and drawings
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-yourdetails-plansdocumentsdrawings"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have any extra conditions?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-yourdetails-extraconditions"]}}<br>
            {{data["lpaq-"+version+"-yourdetails-extraconditions-details"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-l">How you informed interested parties</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did you publicise the planning application?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-interestedparties-publiciseapplication"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-interestedparties-publiciseapplication"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site notice and local advertisement
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["lpaq-"+version+"-interestedparties-publiciseapplication-sitenotice"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did you tell any interested parties about the planning application?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-interestedparties-tellapplication"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-interestedparties-tellapplication"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site notice and local advertisement
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["lpaq-"+version+"-interestedparties-tellapplication-letter"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Did you tell any interested parties about the appeal?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-interestedparties-toldappeal"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-interestedparties-toldappeal"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Letter sent to interested parties, and their addresses
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["lpaq-"+version+"-interestedparties-toldappeal-letter"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl>


      <h2 class="govuk-heading-l">Representations</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Parties you received representations from
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-representations-whichparties"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if "Site owners" in data["lpaq-"+version+"-representations-whichparties"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site owner representations
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-representations-siteowner"]}}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if "Statutory consultees" in data["lpaq-"+version+"-representations-whichparties"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Statutory consultee representations
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-representations-statutoryconsultee"]}}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if "Other parties" in data["lpaq-"+version+"-representations-whichparties"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other representations
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-representations-other"]}}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl>


      <h2 class="govuk-heading-l">Local plans and policies</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Statutory development plan policy
          </dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-localplanspolicies-statutorydevelopment"]}}</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has any Development Plan Document or Neighbourhood Plan relevant to this appeal been submitted for examination or is awaiting a referendum?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-localplanspolicies-neighbourhoodplan"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other relevant policies
          </dt>
          <dd class="govuk-summary-list__value">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{data["lpaq-"+version+"-localplanspolicies-other"]}}</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Supplementary planning documents
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['lpaq-'+version+'-localplanspolicies-supplementary-files'] %}
                {% set i = 0 %}
                {% for file in data['lpaq-'+version+'-localplanspolicies-supplementary-files'] %}
                  {% set i = i + 1 %}
                  <p class="govuk-body">
                    <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">{{ file.name }}</a><br>
                    {% if file.adopted == "yes" %}
                      (Adopted on {{file['adopted_day']}} {{file['adopted_month']}} {{file['adopted_year']}})
                    {% else %}
                      (Not adopted - {{ file.adopted_stage | capitalize }})
                    {% endif %}
                  </p>
                {% endfor %}
            {% else %}
              No files uploaded
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have a community infrastructure levy?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-localplanspolicies-cil"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-localplanspolicies-cil"] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Community infrastructure levy details?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["lpaq-"+version+"-localplanspolicies-cil-details"]}}<br>
              {% if data["lpaq-"+version+"-localplanspolicies-cil-details-adopted"] == "Yes" %}
                (Adopted on {{data["lpaq-"+version+"-localplanspolicies-cil-details-adopted-date-day"]}} {{data["lpaq-"+version+"-localplanspolicies-cil-details-adopted-date-month"] | formatMonth }} {{data["lpaq-"+version+"-localplanspolicies-cil-details-adopted-date-year"]}})
              {% else %}
                (Not adopted - {{data["lpaq-"+version+"-localplanspolicies-cil-details-adopted-stage"] | capitalize }})
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl>


      <h2 class="govuk-heading-l">Local plans and policies</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Can the Inspector see the relevant parts of the appeal site from public land?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-siteaccess-publicland"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Will the Inspector need to enter the appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-siteaccess-entersite"]}}
            {% if data["lpaq-"+version+"-siteaccess-entersite"] == "Yes" %}<br>{{data["lpaq-"+version+"-siteaccess-entersite-details"]}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are there any health and safety issues on the appeal site?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-siteaccess-healthsafety"]}}
            {% if data["lpaq-"+version+"-siteaccess-healthsafety"] == "Yes" %}<br>{{data["lpaq-"+version+"-siteaccess-healthsafety-details"]}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-l">Procedure type</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you agree with written representations?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["lpaq-"+version+"-proceduretype-decidedby"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        {% if data["lpaq-"+version+"-proceduretype-decidedby"] == "No, I recommend an inquiry" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How many inquiry witnesses do you plan to call?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data["lpaq-"+version+"-proceduretype-inquirywitnesses"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--disabled" href="javascript:preventDefault();">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl> 

      {{ govukWarningText({
        text: "By submitting this questionnaire, you confirm that all details are correct to the best of your knowledge.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        href: "confirmation",
        text: "Confirm and submit"
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
    </div>
  </div>
{% endblock %}
