<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "layouts/before-you-start/v12.html" %}

{% set title = "Did you submit an intent to appeal?" %}

{% block pageTitle %}
  {{title}} - Before you start - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/intent-v12" method="post">

      <span class="govuk-caption-l">
        Before you start
      </span>

      {{ govukRadios({
        idPrefix: "enforcement-intent",
        name: "enforcement-intent",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "intent",
            text: "Yes, I did submit an intent to appeal"
          },
          {
            value: "nointent",
            text: "No, I did not submit an intent to appeal"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
