{% set pageref = "BYS-INTRO" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Before you start
      </h1>
      <p class="govuk-body">
        This is a new service to appeal a planning decision or an enforcement notice.
        <!-- This is a new service. It’s only for appeals about certain local planning departments. -->
        <!-- This is a new service. It’s only for appeals about certain local planning departments and planning application types. -->
      </p>

      <h2 class="govuk-heading-m">
        Check if you can use this service
      </h2>
      <p class="govuk-body">
        Before you start, we’ll check if you can use this service by asking some questions about your appeal.
      </p>
      <p class="govuk-body">
        If you cannot use this service, you can still appeal using the existing service.
      </p>

      {{ govukButton({
        classes: "govuk-!-margin-top-5",
        href: "v12/what-do-you-want-to-appeal",
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}

<!-- {% block pageScripts %}
  <script type="text/javascript" src="/public/javascripts/autocomplete/accessible-autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#bys-{{version}}-planningdepartment')
    })
  </script>
{% endblock %} -->
