<!-- needs page ref -->
<!-- {% set pageref = "BYS-002" %} -->

{% extends "layouts/before-you-start/v12.html" %}

{% block pageTitle %}
  What do you want to appeal? - Before you start - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/appealtype-v12" method="post">

      <span class="govuk-caption-l">
        Before you start
      </span>

      {{ govukRadios({
        idPrefix: "bys-"+version+"-whatareyouappealing",
        name: "appealing",
        fieldset: {
          legend: {
            text: "What do you want to appeal?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "planning",
            text: "A planning decision"
          },
          {
            value: "enforcement",
            text: "An enforcement notice"
          },
          {
            value: "listedenforcement",
            text: "A listed building enforcement notice"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
