{% extends "layouts/layout-guidance.html" %}

{% block pageTitle %}
  Appeal a planning decision
{% endblock %}

{% block content %}
<img class="pins-fake-search" src="/public/images/search.png" />
 <div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Housing and local services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Planning permission and building regulations</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Appeal a planning decision</h1>
        <aside role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
            <h2 class="govuk-body gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="overview"> Overview</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="when-you-can-appeal"> When you can appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="before-you-appeal"> Before you appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="your-appeal-statement">Your appeal statement</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active govuk-body-s govuk-!-margin-bottom-0" aria-current="true">
                Submit an appeal
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="stages-of-an-appeal">The stages of an appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="your-appeal-decision">Your appeal decision</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="claim-costs-for-your-appeal">Claim costs for your appeal</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="comment-on-planning-appeal">Comment on a planning appeal</a>
              </li>
            </ol>
          </nav>
        </aside>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l" id="part-title">
          Submit an appeal
        </h2>

        <p class="govuk-body">
          Before you appeal, make sure you have:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your appeal statement</li>
          <li>your planning application form</li>
          <li>the site plan for your appeal site</li>
          <li>the plans, drawings and supporting documents for your application</li>
          <li>your design and access statement, if you have one</li>
          <li>the decision letter from the local planning department, if you have one</li>
          <li>your draft statement of common ground, if you need one</li>
        </ul>
        <p class="govuk-body">
          Find out more about the <a href="before-you-appeal#documents-to-prepare" class="govuk-link">documents you need to prepare</a>.
        </p>
        <p class="govuk-body">
          You should have already:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>chosen how you think the Planning Inspectorate should decide your appeal</li>
          <li>told any other landowners about your appeal</li>
        </ul>
        <p class="govuk-body">
          Find out more about <a href="before-you-appeal" class="govuk-link">what you should do before you appeal</a>.
        </p>

        <a href="/before-you-start/v10/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Appeal now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <h2 class="govuk-heading-l pins-guidance-h2">
          If you cannot use the online service
        </h2>
        <p class="govuk-body">
          Contact the Planning Inspectorate's customer support team.
        </p>
        <p class="govuk-body">
          Email: <a href="mailto:enquiries@planninginspectorate.gov.uk">enquiries@planninginspectorate.gov.uk</a><br>
          We aim to respond within 5 working days.
        </p>
        <p class="govuk-body">
          Telephone: 0303 444 5000<br>
          Monday to Friday, 9am to 5pm (except public holidays)
        </p>

        <p class="govuk-body">
          <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </p>

        <!-- Navigation-->
        <nav class="gem-c-pagination govuk-!-margin-top-9" role="navigation" aria-label="Pagination">
          <ul class="gem-c-pagination__list" data-module="track-click">

            <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="your-appeal-statement" class="gem-c-pagination__link" rel="prev">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">Your appeal statement</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="stages-of-an-appeal" class="gem-c-pagination__link" rel="next">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Next
                  </span>
                </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">The stages of an appeal</span>
              </a>
            </li>

          </ul>
        </nav>

        <div class="app-c-print-link">
          <a href="javascript:preventDefault();" class="app-c-print-link__link govuk-link" rel="alternate">
            Print entire guide
          </a>
        </div>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="gem-c-contextual-footer">
          <div class="gem-c-related-navigation">
            <nav role="navigation" class="gem-c-related-navigation__nav-section">
              <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>
              <ul class="gem-c-related-navigation__link-list" data-module="track-click">
                <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Local councils and services</a></li>
                <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Planning permission and building regulations</a></li>
                <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="javascript:preventDefault();">Planning permission and appeals</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}
