{% set pageref = "" %}
{% extends "layouts/lpa-questionnaire/fullv2.html" %}

{% block pageTitle %}
  This appeal will be decided by written representations - Review the procedure type - {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="" method="post">

        <span class="govuk-caption-l">
          Review the procedure type
        </span>
        <h1 class="govuk-heading-xl">
          This appeal will be decided by written representations.
        </h1>

        {% set witnessesHtml %}
          {{ govukInput({
            id: "lpaq-"+version+"-proceduretype-decidedby-witnesses",
            name: "lpaq-"+version+"-proceduretype-decidedby-witnesses",
            label: {
              text: "How many inquiry witnesses would you intend to call?"
            },
            classes: "govuk-input--width-3",
            value: data["lpaq-"+version+"-proceduretype-decidedby-witnesses"]
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "lpaq-"+version+"-proceduretype-decidedby",
          name: "lpaq-"+version+"-proceduretype-decidedby",
          fieldset: {
            legend: {
              text: "Do you agree with this procedure type?",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes, we agree",
              text: "Yes, we agree",
              checked: checked("lpaq-"+version+"-proceduretype-decidedby", "Yes, we agree")
            },
            {
              value: "No, we recommend a hearing",
              text: "No, we recommend a hearing",
              checked: checked("lpaq-"+version+"-proceduretype-decidedby", "No, we recommend a hearing")
            },
            {
              value: "No, we recommend an inquiry",
              text: "No, we recommend an inquiry",
              checked: checked("lpaq-"+version+"-proceduretype-decidedby", "No, we recommend an inquiry"),
              conditional: {
                html: witnessesHtml
              }
            }
          ]
        }) }}
        
         <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link" href="../task-list">Skip this question</a>
        </div>

      </form>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "lpa-questionnaire/"+version+"/_appeal-details.html" %} 
  </div>
</div>

{% endblock %}
