{% extends "layouts/eligibility/v8.html" %}

{% block pageTitle %}
  You need to use a different service - Eligibility - Appeal a householder planning decision - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You need to use a different service
      </h1>

      <p class="govuk-body">
        This is a new service. It is currently only available for appeals about refused planning permission.
      </p>
      <p class="govuk-body">
        You can <a href="javascript:preventDefault();">appeal using our appeals casework portal</a>.
      <p>

    </div>
  </div>

{% endblock %}
