{% extends "layouts/eligibility/v8.html" %}

{% block pageTitle %}
  This service is not available for listed buildings - Eligibility - Appeal a householder planning decision - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This service is not available for listed buildings</h1>
        <p class="govuk-body">
          This is a new service, not available for listed buildings. You can still appeal using our <a class="govuk-link" href="javascript:preventDefault();">appeal a planning decision service</a>.
        </p>
      </div>
    </div>

{% endblock %}
