{% extends '_layouts/layout-pins.html' %}

{% set title = 'Do you have any consultation responses or standing advice from statutory consultees to upload?' %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'consultation-responses-check',
    name: 'consultation-responses-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('consultation-responses-check','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('consultation-responses-check','No')
      }
    ]
  }) }}
{% endblock %}