{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Before you start' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <section class="govuk-!-margin-bottom-6">

      {% set version = "15" %}
      <h2 class="govuk-heading-m">
        Version {{version}}
        {{ govukTag({
          classes: 'govuk-tag--blue govuk-!-margin-left-2',
          text: 'Ready for review'
        }) }}
      </h2>

      <p class="govuk-!-margin-bottom-2">
        Changes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          new routing for listed building consent appeals
        </li>
        <li>
          removed listed building questions from other appeal routes
        </li>
        <li>
          listed buidling appeal only shows when there is a relation to a listed building
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    </section>

    <section class="govuk-!-margin-bottom-6">

      {% set version = "14" %}
      <h2 class="govuk-heading-m">
        Version {{version}}
        {{ govukTag({
          classes: 'govuk-tag--blue govuk-!-margin-left-2',
          text: 'Ready for review'
        }) }}
      </h2>

      <p class="govuk-!-margin-bottom-2">
        Changes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          appeal type question is now checkboxes to allow for multiple appeals
        </li>
        <li>
          added routes for listed building appeals
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    </section>

    {% set version = "13" %}
    <h2 class="govuk-heading-m">
      Version {{version}}
      {{ govukTag({
        classes: 'govuk-tag--blue govuk-!-margin-left-2',
        text: 'Ready for review'
      }) }}
    </h2>

    <p class="govuk-body">An updated before you start with all pages in. You can pass in a variable to use it across other prototypes, if viewing from here it will end at the check your answers.</p>

    {{ govukButton({
      html: 'View prototype',
      href: 'v'+version+'/',
      isStartButton: true
    }) }}

  </div>
</div>
{% endblock %}
