{% extends '_layouts/layout-pins.html' %}

{% set nav = false %}
{% set title = 'Before you start' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to all prototypes',
    href: '/#appeal'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <section class="govuk-!-margin-bottom-6">

      {% set version = "16" %}
      <h2 class="govuk-heading-m">
        Version {{version}}
        {{ govukTag({
          classes: 'govuk-tag--green govuk-!-margin-left-2',
          text: 'Ready for research'
        }) }}
      </h2>

      <p class="govuk-!-margin-bottom-2">
        Changes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          HAS and S78 routing (not listed building consent)
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    </section>

    {% set v15HTML %}
    <section>
      {% set version = "15" %}
      <p class="govuk-!-margin-bottom-2">
        Changes:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          new routing for listed building consent appeals
        </li>
        <li>
          filters for unsupported appeal types are left
        </li>
        <li>
          check your answers updates to reflect the changes
        </li>
        <li>
          updated task list (changed order of data)
        </li>
        <li>
          meta data for appeal added to task list
        </li>
        <li>
          removed listed building questions from other appeal routes
        </li>
        <li>
          removed enforcement question in planning appeal types (while it is unsupported)
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    </section>
    {% endset -%}

    {% set v14HTML %}
    <section>

      {% set version = "14" %}

      <p class="govuk-!-margin-bottom-2">
        Changes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          appeal type question is now checkboxes to allow for multiple appeals
        </li>
        <li>
          added routes for listed building appeals
        </li>
      </ul>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    </section>
    {% endset -%}

    {% set v13HTML %}

      {% set version = "13" %}

      <p class="govuk-body">An updated ‘Before you start’ with all pages in. You can pass in a variable to use it across other prototypes, if viewing from here it will end at the check your answers.</p>

      {{ govukButton({
        html: 'View prototype',
        href: 'v'+version+'/',
        isStartButton: true
      }) }}

    {% endset -%}

    {{ govukAccordion({
      id: 'previous',
      classes: 'govuk-!-margin-top-9',
      items: [

        {
          heading: {
            html: 'Version 15 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v15HTML
          }
        },
        {
          heading: {
            html: 'Version 14 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v14HTML
          }
        },
        {
          heading: {
            html: 'Version 13 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Ready for research</strong>'
          },
          content: {
            html: v13HTML
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
