{% extends '_layouts/layout-pins.html' %}

{% set title = 'What is their email address?' %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block questions %}
  {{ govukInput({
    id: 'add-user-email',
    name: 'add-user-email',
    classes: 'govuk-!-width-two-thirds',
    label: {
      html: title,
      classes: 'govuk-label--l',
      isPageHeading: true
    },
    suffix: {
      html: data['lpa-email']
    },
    spellcheck: false
  }) }}
{% endblock %}
