{% extends '_layouts/layout-pins.html' %}

{% set title = 'Manage account users' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back to planning appeals',
    href: '../../appeals/v2/'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set added %}
        <mark role="alert">
          <h3 class="govuk-notification-banner__heading">
            {{ data['add-user-email'] or 'example' }}{{ data['lpa-email'] }} has been added to the account
          </h3>
          <p>They will receive an email with a link to the service.</p>
        </mark>
      {% endset %}

      {% set removed %}
        <mark role="alert">
          <h3 class="govuk-notification-banner__heading">
            {{ data['remove-email'] }} has been removed
          </h3>
        </mark>
      {% endset %}

      {% if notification %}
        {{ govukNotificationBanner({
          html: added if notification == 'added' else removed,
          type: 'success'
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ title }}
        test: {{notification}}
      </h1>

      <p>All users can add information to appeals and will receive email notifications about new appeals.</p>

      <p><a href="add-user" class="govuk-link--no-visited-state">Add a user</a></p>



      <h2 class="govuk-heading-m app-border-top-big govuk-!-padding-top-6 govuk-!-margin-top-6">
        Current users
      </h2>

      <dl class="govuk-summary-list">
        {% for user in data['users'] %}
          {% if user != null %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                {{ user.email }}
              </dt>
              <dd class="govuk-summary-list__actions">
                {% if loop.last != true %}
                <a href="remove-user?id={{ loop.index0 }}&remove-email={{ user.email }}">
                  Remove<span class="govuk-visually-hidden"> {{ user.email }}</span>
                </a>
                {% endif %}
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>
    </div>

  </div>
{% endblock %}
