{% extends '_layouts/layout-main.html' %}

{% set title = "Check your answers and submit your witness timings" %}

{% set nav = true %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    html: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: 'Witness timings'
        },
        value: {
          html: '<a href="#">Appeal-timings.pdf</a>'
        },
        actions: {
          items: [
            {
              href: 'upload-evidence',
              text: 'Change'
            }
          ]
        }
      }

    ]
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    text: 'Submit proof of evidence',
    href: 'confirmation'
  }) }}
{% endblock %}
