{% extends '_layouts/layout-pins.html' %}

{% set title = 'What is the email address you used to save the appeal?' %}

{% set prototypeLinks = [
  {
    href: 'email--code',
    text: 'Email with a code'
  }
] %}

{% set back = false %}

{% block questions %}
  {{ govukInput({
    id: 'email',
    name: 'email',
    value: data['email'],
    label: {
      html: title,
      classes: 'govuk-label--l',
      isPageHeading: true
    },
    hint: {
      html: 'We&rsquo;ll send you a code to confirm you still have access to the email address'
    },
    type: 'email',
    autocomplete: 'email',
    spellcheck: false
  }) }}
{% endblock %}
